<th:block th:fragment="popup_select_user_code">
<script type="text/x-tmpl" id="select-user-code-template">
    <div class="content_wrap popup">
        <section class="pt-2">
            <div class="table_box search" name="select-user-code-info">
            </div>
            <div class="table_box sub" name="select-user-code-manual">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t4" data-commonCd="직접입력">직접입력</span>
                            </div>
                            <input class="form-control2" type="text" value="" name="select-user-code-manual-input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_box">
                <div class="h-220" data-ax5grid="select-user-code-grid" ></div>
            </div>
        </section>

        <section class="popupcontent" >
            <div class="align_left">
                <button type="button" class="btn-popup" name="btn-select-user-code"><span data-commonCd="선택">선택</span></button>
                <button type="button" class="btn-popup" name="btn-close-user-code"><span data-commonCd="닫기">닫기</span></button>
            </div>
        </section>

    </div>
</script>

<script type="text/javascript">

    class PopupSelectUserCodePage {
        constructor(_option) {
            this.option = {
                'title': '사용자코드',
                'parentCode': '',
                'infoData': [],
                'showManual': true,
                'popupWidth': 850,
                'popupHeight': 400,
                'selectBtnLabel': '선택',
                'gridColumns': [
                    { key: 'id', label: 'ID', width: 0 },
                    { key: 'Code', label: '코드', width: '15%', align: 'center', sortable: false, hidden: true },
                    { key: 'Value', label: '코드명', width: '85%', align: 'left', sortable: false },
                ],
                'gridShowCode': false,
                'gridCodeLabel': '',
                'gridValueLabel': '',
                'closeManual': false,
            };

            $.extend(this.option, _option);

            let _this = this;
            if (this.option.gridShowCode) {
                $.each(this.option.gridColumns, function (index, item) {
                    if (item.key == 'Code') {
                        item.hidden = false;
                    }
                });
            }
            if (this.option.gridCodeLabel != '') {
                $.each(this.option.gridColumns, function (index, item) {
                    if (item.key == 'Code') {
                        item.label = _this.option.gridCodeLabel;
                    }
                });
            }
            if (this.option.gridValueLabel != '') {
                $.each(this.option.gridColumns, function (index, item) {
                    if (item.key == 'Value') {
                        item.label = _this.option.gridValueLabel;
                    }
                });
            }

            this.grid = null;
            this.selectedItem = null;
            this.callback = null;
            this.modalContainer = new PopupDraggable(this.option.title);
        }

        show(callback) {
            let _this = this;

            this.callback = callback;

            let content = tmpl('select-user-code-template', {});
            let $content = $(content);
            this.modalContainer.open({ width: this.option.popupWidth, height: this.option.popupHeight, $content });

            if (this.option.infoHtml == '') {
                $($content.find('[name=select-user-code-info]:eq(0)')).hide();
            } else {
                $($content.find('[name=select-user-code-info]:eq(0)')).show();
                $($content.find('[name=select-user-code-info]:eq(0)')).html(this.option.infoHtml)
            }

            if (this.option.showManual) {
                $($content.find('[name=select-user-code-manual]:eq(0)')).show();
            } else {
                $($content.find('[name=select-user-code-manual]:eq(0)')).hide();
            }

            if (this.option.infoData.length > 0) {
                $($content.find('[name=select-user-code-info]:eq(0)')).show();
                let $row = $('<div class="row"></div >');

                $.each(this.option.infoData, function (index, item) {
                    let o = {
                        'label': '-',
                        'value': '-',
                        'width': '6',
                    }

                    $.extend(o, item);

                    let html = '<div class="col-' + o.width + '">'
                    html += '   <div class="input-group">'
                    html += '      <div class="input-group-prepend">'
                    html += '          <span class="input-group-text fit_box_t4" data-commonCd="' + o.label + '">' + o.label + '</span>'
                    html += '      </div>'
                    html += '      <input class="form-control2" type="text" value="' + o.value + '" disabled />'
                    html += '   </div>'
                    html += '</div>';

                    $row.append($(html));
                });

                $($content.find('[name=select-user-code-info]:eq(0)')).append($row);
            } else {
                $($content.find('[name=select-user-code-info]:eq(0)')).hide();
            }

            $($content.find('[name=btn-select-user-code]:eq(0)')).html('<span data-commonCd="' + this.option.selectBtnLabel + '">' + this.option.selectBtnLabel + '</span>');
            $($content.find('[name=btn-select-user-code]:eq(0)')).click(function () {
                _this.select();
            });
            $($content.find('[name=btn-close-user-code]:eq(0)')).click(function () {
                _this.close();
            });

            let config = {
                target: $('[data-ax5grid="select-user-code-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function () {
                        _this.grid.select(this.dindex);
                        _this.selectedItem = this.item;
                    },
                    onDBLClick: function () {
                        _this.grid.select(this.dindex);
                        _this.selectedItem = this.item;
                        _this.select();
                    },
                },
                page: {
                    display: false,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: this.option.gridColumns,
            };

            this.grid = new ax5.ui.grid(config);

            let url = '/api/popup/search_user_code/read';
            let data = {
                'parent_code': this.option.parentCode,
            };

            let result = AjaxUtil.getSyncData(url, data);
            if (result != null) {
                _this.grid.setData({
                    list: result,
                    page: {
                        display: true,
                        totalElements: result.length,
                    }
                });
            }
            //setTimeout(function(){_this.grid.align();}, 1000);
        }

        select() {
            if (this.option.showManual) {
                let $input = $($('[name=select-user-code-manual-input]:eq(0)'));
                if (this.selectedItem == null && $input.val() == '') {
                    Alert.alert('', '직접입력 및 선택된 항목이 없습니다.');
                } else {
                    this.callback({ 'selected': this.selectedItem, 'input': $input.val() });
                    if (this.option.closeManual == false) {
                        this.close();
                    }
                }
            } else {
                if (this.selectedItem == null) {
                    Alert.alert('', '선택된 항목이 없습니다.');
                } else {
                    this.callback({ 'selected': this.selectedItem, 'input': '' });
                    if (this.option.closeManual == false) {
                        this.close();
                    }
                }
            }
        }

        close() {
            this.modalContainer.close();
        }
    }
</script>