<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">

<div class="content_wrap">  

    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="업체정보">업체정보</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>
 
        <div class="table_box search" >
            <div class="row">

                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="업체구분">업체구분</span>
                        </div>
                        <select class="form-control2" id="cboCompanyType" name="cboCompanyType"></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="분류">분류</span>
                        </div>
                        <select class="form-control2" id="cboGroupName" name="cboGroupName"></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="업체명">업체명</span>
                        </div>
                        <input class="form-control2" id="txtCompany" name="txtCompany"/>
                    </div>
                </div>

                <div class="col-1">
                    <button type="button" class="btn-default" id="btnSearch"><i class="fas fa-search"></i></button>
                </div>

            </div>
        </div>

    </section>
 
    <section class="section">

        <div class="grid_box">
            <div class="title_box">
                    <span class="right_align rpt" data-labelCd="업체정보">업체정보</span>
                <button type="button" class="btn-default" id="btnExcel1"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting1" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>

            </div>
            <div class="h-350" data-ax5grid="company-grid" ></div>  
        </div>

    </section>


            <section class="section">
                    <div class="title_box">
                            <span class="right_align rpt" data-labelCd="상세정보">상세정보</span>
                        <button type="button" class="btn-default" id="btnNew"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn-danger y_write_auth" id="btnDelete"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn-default y_write_auth" id="btnSave"><i class="fas fa-save"></i></button>

                    </div>

                <div class="tabs" data-tab="tabWrap">
                    <div class="title_box">
                        <div class="left_align">
                            <ul class="tab_links">
                                <li><a href="#" data-tablink="#tabs_basic_tab" id="tabs_basic" class="tab" data-labelCd="기본정보">기본정보</a></li>
                                <li><a href="#" data-tablink="#tabs_manage_tab" id="tabs_manage" class="tab" data-labelCd="관리정보">관리정보</a></li>
                                <li><a href="#" data-tablink="#tabs_price_tab" id="tabs_unitcost" class="tab" data-labelCd="품목단가">품목단가</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab" id="tabs_basic_tab">
                            <div class="tab_con_box">

                            </div>
                            <div class="table_box sub">
                                <form id="basicForm">
                                    <input type="hidden" id="id" name="id" readonly>
                                    <div class="row">

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="*업체명">*업체명</span>
                                                </div>
                                                    <input class="form-control2" type="text" id="name" name="name" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="업체구분">업체구분</span>
                                                </div>
                                                    <select class="form-control2" id="company_type" name="company_type"disabled="disabled" required></select>

                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="영문명">영문명</span>
                                                </div>
                                                <input class="form-control2" type="text" id="eng_name" name="eng_name" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="*업체코드">*업체코드</span>
                                                </div>
                                                <input class="form-control2" type="text" id="comp_code" name="comp_code" disabled="disabled">

                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="코드2">코드2</span>
                                                </div>
                                                <input class="form-control2" type="text" id="comp_code2" name="comp_code2" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="*사업자번호">사업자번호</span>
                                                </div>
                                                <input class="form-control2" type="text" id="business_number" name="business_number" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="연락처">연락처</span>
                                                </div>
                                                <input class="form-control2" type="text" id="tel_number" name="tel_number" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="팩스">팩스</span>
                                                </div>
                                                <input class="form-control2" type="text" id="fax_number" name="fax_number" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="업태">업태</span>
                                                </div>
                                                <input class="form-control2" type="text" id="business_type" name="business_type" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="대표자">대표자</span>
                                                </div>
                                                <input class="form-control2" type="text" id="ceo_name" name="ceo_name"  disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="이메일">이메일</span>
                                                </div>
                                                <input class="form-control2" type="text" id="email" name="email" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="홈페이지">홈페이지</span>
                                                </div>
                                                <input class="form-control2" type="text" id="homepage" name="homepage" disabled="disabled">

                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="종목">종목</span>
                                                </div>
                                                <input class="form-control2" type="text" id="business_item" name="business_item" disabled="disabled">

                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="분류">분류</span>
                                                </div>
                                                <input class="form-control2" type="text" id="group_name" name="group_name" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="우편번호">우편번호</span>
                                                </div>
                                                <input class="form-control2" type="text" id="zip_code" name="zip_code" disabled="disabled">

                                            </div>
                                        </div>

                                       <div class="col-6 col-md-6 col-lg-6" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="주소">주소</span>
                                                </div>
                                                <input class="form-control2" type="text" id="address" name="address" disabled="disabled">

                                            </div>
                                        </div>



                                        <div class="col-12" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_md" data-labelCd="설명">설명</span>
                                                </div>
                                                <textarea class="form-control2 h-26" id="description" name="description" disabled="disabled"></textarea>

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab" id="tabs_manage_tab">
                            <div class="tab_con_box">
                            </div>
                            <div class="table_box">
                                <form id="manageForm">
                                    <input type="hidden" id="id" name="id" /> <!--{#<input type="hidden" id="id" name="id" />#}-->
                                    <div class="row">

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="자사담당자">자사담당자</span>
                                                </div>
                                                    <input class="form-control2" type="text" id="our_manager" name="our_manager" placeholder="" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="영업담당자">영업담당자</span>
                                                </div>
                                                    <input class="form-control2" type="text" id="sales_manager" name="sales_manager" placeholder="" disabled="disabled">
                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="영업담당자연락처">영업담당자연락처</span>
                                                </div>
                                                <input class="form-control2" type="text" id="sales_manager_phone" name="sales_manager_phone" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="거래개시일">거래개시일</span>
                                                </div>
                                                <input class="form-control2" type="date" id="first_trading_day" name="first_trading_day" placeholder="" disabled="disabled">

                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="매입매출마감일">매입매출마감일</span>
                                                </div>
                                                <input class="form-control2" type="text" id="purchase_sales_deadline" name="purchase_sales_deadline" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="경리담당자">경리담당자</span>
                                                </div>
                                                <input class="form-control2" type="text" id="account_manager" name="account_manager" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="경리담당자연락처">경리담당자연락처</span>
                                                </div>
                                                <input class="form-control2" type="text" id="account_manager_phone" name="account_manager_phone" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="최종거래일">최종거래일</span>
                                                </div>
                                                <input class="form-control2" type="date" id="last_trading_day" name="last_trading_day" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="미수금액">미수금액</span>
                                                </div>
                                                <input class="form-control2" type="number" id="receivable_amount" name="receivable_amount" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="미지급금액">미지급금액</span>
                                                </div>
                                                <input class="form-control2" type="number" id="unpaid_amount" name="unpaid_amount" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="예신한도금액">예신한도금액</span>
                                                </div>
                                                <input class="form-control2" type="number" id="credit_limit_amount" name="credit_limit_amount" placeholder="" disabled="disabled">

                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="거래은행">거래은행</span>
                                                </div>
                                                <input class="form-control2" type="text" id="tranding_bank" name="tranding_bank" placeholder="" disabled="disabled">

                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="예금주">예금주</span>
                                                </div>
                                                <input class="form-control2" type="text" id="account_holder" name="account_holder" placeholder="" disabled="disabled">

                                            </div>
                                        </div>


                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="계좌번호">계좌번호</span>
                                                </div>
                                                <input class="form-control2" type="text" id="account_number" name="account_number" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-2" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="대금결제조건">대금결제조건</span>
                                                </div>
                                                <input class="form-control2" type="text" id="payment_condition" name="payment_condition" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                        <div class="col-12" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t9" data-labelCd="관리비고">관리비고</span>
                                                </div>
                                                <input class="form-control2" type="text" id="manage_remark" name="manage_remark" placeholder="" disabled="disabled">

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab" id="tabs_price_tab">
                        <div class="tab_con_box">

                            <div class="grid_box">
                                <div class="title_box">
                                        <span class="right_align rpt" data-labelCd="거래품목 단가정보">거래품목 단가정보 </span>
                                        <button type="button" class="btn-default" id="btnPriceHistory"><span data-labelCd="히스토리조회">히스토리조회</span></button>
                                        <button type="button" class="btn-default" id="btnNewPrice"><span data-labelCd="신규">신규</span></button>
                                        <button type="button" class="btn-default y_write_auth" id="btnSavePrice"><span data-labelCd="단가등록/변경">단가등록/변경</span></button>
                                        <button type="button" class="btn-danger y_write_auth" id="btnDeletePrice"><span data-labelCd="단가삭제">단가삭제</span></button>
                                        <button type="button" class="btn-default y_write_auth" id="btnUpdatePrice"><span data-labelCd="단가수정">단가수정</span></button>
                                        <button type="button" class="btn-default" id="btnExcel2"><i class="fas fa-file-excel"></i></button>
                                        <button type="button" class="btn-default" id="btnGridSetting2" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                                        <small2>*단가정보는 왼쪽 버튼을 통해 별도로 저장됩니다. 기존 이력을 남기려면 단가등록/변경 버튼을 누르시고 이력을 남기지 않으시려면 단가 수정 버튼을 누르십시오.</small2>
                                </div>
                                <div class="h-300" data-ax5grid="price-grid" ></div>  
                            </div>
                                  

                            <div class="tab_box">
                                <div class="title_box mb-2">
                                    <span class="right_align rpt" data-labelCd="품목 단가 입력">품목 단가 입력</span>
                                </div>
                                <form id="priceForm">
                                    <input type="text" id="price_id" name="price_id" hidden/>

                                    <div class="table_box sub" id="table_box">
                                        <div class="row">
                                            <div class="col-6 col-md-3 col-lg-3" >
                                                <div class="input-group" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md" data-labelCd="품목그룹">품목그룹</span>
                                                    </div>
                                                    <select class="form-control2" id="MaterialGroup_id" name="MaterialGroup_id" required></select>

                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3 col-lg-3" >
                                                <div class="input-group" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md" data-labelCd="품목명">품목명</span>
                                                    </div>
                                                    <select class="form-control2" id="Material_id" name="Material_id" required></select>

                                                </div>
                                            </div>

                                            <div class="col-6 col-md-3 col-lg-3" >
                                                <div class="input-group" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md" data-labelCd="*변경단가">*변경단가</span>
                                                    </div>
                                                    <input class="form-control2" type="number" id="UnitPrice" name="UnitPrice" required>

                                                </div>
                                            </div>

                                            <div class="col-6 col-md-3 col-lg-3" >
                                                <div class="input-group" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md" data-labelCd="*적용시작일">*적용시작일</span>
                                                    </div>
                                                    <input class="form-control2" type="date" id="ApplyStartDate" name="ApplyStartDate" required>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>

</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<script type="text/javascript">
    let optionMap = {};

    class CompanyPage {
        constructor() {
            this.grid1 = null;
            this.price_grid = null;
            this.optionVals = {};
            this.url = '/api/definition/company'
            //this.setCboItem();
            this.init();
        }


        init() {
            let _this = this;
            let config1 = {
                target: $('[data-ax5grid="company-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid1.select(this.dindex);
                        _this.showDetail(e.item.id);
                        _this.price_grid.setData([]);
                        $('#priceForm')[0].reset();
                        page.setPriceButtonState();

                        if (_this.current_tab == 'tabs_unitcost') {
                            let comp_id = $('#basicForm').find('#id').val();
                            _this.showPriceList(comp_id);
                        }
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'comp_code', label: '업체코드', width: 100, align: 'center', },
                    { key: 'name', label: '업체명', width: 150, align: 'left' },
                    { key: 'eng_name', label: '업체영문명', width: 100, align: 'left',  },
                    { key: 'comp_code2', label: '코드2', width: 100, align: 'center',  },
                    { key: 'company_type_name', label: '업체구분', width: 150, align: 'center',  },
                    { key: 'group_name', label: '분류', width: 150, align: 'left',  },
                    { key: 'business_number', label: '사업자번호', width: 150, align: 'left',  },
                    { key: 'description', label: '비고', width: 150, align: 'left',  },
                    { key: 'ceo_name', label: '대표자', width: 150, align: 'left',  },
                    { key: 'zip_code', label: '우편번호', width: 150, align: 'left',  },
                    { key: 'address', label: '주소', width: 150, align: 'left',  },
                    { key: 'tel_number', label: '연락처', width: 150, align: 'left',  },
                    { key: 'fax_number', label: '팩스', width: 150, align: 'left',  },
                    { key: 'business_type', label: '업태', width: 150, align: 'left',  },
                    { key: 'business_item', label: '종목', width: 150, align: 'left',  },
                    { key: 'email', label: '이메일', width: 150, align: 'left',  },
                    { key: 'purchase_sales_deadline', label: '매입매출마감일', width: 150, align: 'center',  },
                    { key: 'last_trading_day', label: '최종거래일', width: 150, align: 'center',  },
                    { key: 'our_manager', label: '자사담당자', width: 150, align: 'left',  },
                    { key: 'sales_manager', label: '영업담당자', width: 150, align: 'left',  },
                    { key: 'sales_manager_phone', label: '영업담당자 연락처', width: 150, align: 'left',  },
                    { key: 'account_manager', label: '경리담당자', width: 150, align: 'left',  },
                    { key: 'account_manager_phone', label: '경리담당자 연락처', width: 150, align: 'left',  },
                    { key: 'tranding_bank', label: '거래은행', width: 150, align: 'left',  },
                    { key: 'account_holder', label: '예금주', width: 150, align: 'left',  },
                    { key: 'account_number', label: '계좌번호', width: 150, align: 'left',  },
                    { key: 'credit_limit_amount', label: '예신한도금액', width: 150, align: 'right',  },
                    { key: 'payment_condition', label: '대금결제조건', width: 150, align: 'left',  },
                ]
            };
           
            let price_config = {
                target: $('[data-ax5grid="price-grid"]'),
                frozenColumnIndex: 4, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.price_grid.select(this.dindex);
                        _this.showPriceDetail(e.item.mcu_id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'mat_type_name', label: '품목유형', width: 100, align: 'center',  },
                    { key: 'mat_grp_name', label: '품목그룹', width: 100, align: 'center',  },
                    { key: 'mat_code', label: '품목코드', width: 100, align: 'center',  },
                    { key: 'mat_name', label: '품목명', width: 150, align: 'left', },
                    { key: 'unit_name', label: '단위', width: 80, align: 'center', },
                    { key: 'unit_price', label: '단가', width: 120, align: 'right', formatter:'money', },
                    { key: 'former_unit_price', label: '이전단가', width: 120, align: 'right', formatter:'money',},
                    { key: 'apply_start_date', label: '적용시작일', width: 120, align: 'center', },
                    { key: 'apply_end_date', label: '적용종료일', width: 120, align: 'center', },
                    { key: 'changer_name', label: '변경자', width: 120, align: 'left', },
                    { key: 'change_date', label: '변경일', width: 120, align: 'center', },
                ]
            };

            this.grid1 = new ax5.ui.grid(config1);
            this.price_grid = new ax5.ui.grid(price_config);
            this.grid_config1 = config1;
            this.grid_config2 = price_config;

        }

        setButtonState() {
            let pk = $('#basicForm').find('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDelete').prop('disabled', false);
            }
            else {
                $('#btnDelete').prop('disabled', true);
            }
        }

        setPriceButtonState() {
            let comp_pk = $('#basicForm').find('#id').val();
            let price_pk = $('#priceForm').find('#price_id').val();
            $('#btnNewPrice').prop('disabled', false);
            $('#btnSavePrice').prop('disabled', false);
            if (comp_pk && price_pk) {
                $('#btnUpdatePrice').prop('disabled', false);
                $('#btnDeletePrice').prop('disabled', false);
            }
            else {
                $('#btnUpdatePrice').prop('disabled', true);
                $('#btnDeletePrice').prop('disabled', true);
            }
            
        }

        showDetail(id) {
            let param = { 'company_id': id, "action": 'detail' };
            let result = AjaxUtil.getSyncData(this.url+'/detail', param);
            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#basicForm'));
                FormUtil.BindDataForm(result.data, $('#manageForm'));
            }
            page.setButtonState();
        }

        searchMainData1() {
            let _this = this;
            let data = {
                'action': 'read',
                'comp_type' : $('#cboCompanyType').val(),
                'group_name': $('#cboGroupName').val(),
                'keyword': $('#txtCompany').val(),
            };
            let result = AjaxUtil.getSyncData(this.url+'/read', data);
            if (result != null) {
                _this.grid1.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: result.data.length,
                    }
                });
            }

            //기본정보, 관리정보, 여신정보, 구매품목 탭 초기화
            $('#basicForm')[0].reset();
            $('#basicForm').find('#id').val('');
            $('#manageForm')[0].reset();
            
            $('#priceForm')[0].reset();
            $('#priceForm').find('#price_id').val('');
            $('#priceForm').find('#Material_id').val('');
            this.price_grid.setData([]);

            page.setButtonState();
            page.setPriceButtonState();
        }

        showPriceList() {
            let _this = this;
            let company_id = $('#basicForm').find('#id').val();
            let url = '/api/definition/company';
            let data = {
                'action': 'mat_price_list',
                'company_id': company_id
            };
            let result = AjaxUtil.getSyncData(this.url+'/mat_price_list', data);
            if (result != null) {
                _this.price_grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: result.data.length,
                    }
                });
            }
            page.setPriceButtonState();
        }

        // 품목별 단가히스토리 리스트 조회
        showPriceHistoryList(comp_id) {
            let _this = this;

            let url = '/api/definition/company';
            let data = {
                'comp_id': comp_id
            };

            let result = AjaxUtil.getSyncData(this.url+'/read_price_history', data);
            if (result != null) {
                let recordsTotal = result.data.length;
                _this.price_grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });

                $('#priceForm')[0].reset();
                $('#priceForm').find('#price_id').val('');
                $('#priceForm').find('input, select').each(function () {
                    if (!$(this).is(':disabled')) {
                        $(this).attr('disabled', 'disabled');
                    }
                });

                page.setPriceButtonState();
            }
        }

        // 단가 상세 조회
        showPriceDetail(mcu_id) {
            let param = {
                'id': mcu_id,
                'action': 'detail_price'
            };
            let url = '/api/definition/company';
            let result = AjaxUtil.getSyncData(this.url+'/detail_price', param);
            if (result != null) {
                //FormUtil.BindDataForm(result, $('#priceForm'));
                
                $('#priceForm').find('#price_id').val(result.data.price_id);
                $('#priceForm').find('#MaterialGroup_id').val(result.data.MaterialGroup_id);
                $('#priceForm').find('#MaterialGroup_id').trigger('change');
                $('#priceForm').find('#Material_id').val(result.data.Material_id);
                $('#priceForm').find('#UnitPrice').val(result.data.UnitPrice);
                $('#priceForm').find('#ApplyStartDate').val(result.data.ApplyStartDate);
            }

            page.setPriceButtonState();
        }

        // 단가 정보 등록/변경
        savePriceData() {
            let _this = this;
            let validate = true;
            let $target = null;
            let comp_id = $('#basicForm').find('#id').val();
            let url = this.url+'/save_price';
            let data = FormUtil.extractForm($('#priceForm'));
            data['Company_id'] = comp_id;
            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다');
                    _this.showPriceList(comp_id);
                }
            };

            $('#priceForm').find('input, select').each(function () {
                if ($(this).is(':required')) {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            let mat_id = $('#Material_id').val();
            let price_grid = this.price_grid.list;
            for (let i = 0; i < price_grid.length; i++) {

                if (price_grid[i].mat_id == mat_id) {
                    if (price_grid[i].apply_start_date == data.ApplyStartDate) {
                        Alert.alert('', '적용 시작일을 확인해주세요.')
                        $('#ApplyStartDate').focus();
                        return;
                    }
                }
            }


            //if ($('#ApplyStartDate').val() > $('#ApplyEndDate').val()) {
            //    Alert.alert('', '적용기간을 확인해주세요.', function () {
            //        $('#ApplyStartDate').focus();
            //    });
            //    return false;
            //}

            //data['Material_id'] = mat_id;
            data['ChangerName'] = userinfo.username;

            if (validate) {
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목을 입력해주세요.', function () {
                    $target.focus();
                });
            }
        }

        // 단가 정보 수정
        updatePriceData() {
            let _this = this;
            let validate = true;
            let $target = null;
            let url = this.url+'/update_price';
            let data = FormUtil.extractForm($('#priceForm'));
            let comp_id = $('#basicForm').find('#id').val();
            data['Company_id'] = comp_id;
            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다');
                    _this.showPriceList(comp_id);
                }
            };

            $('#priceForm').find('input, select').each(function () {
                if ($(this).is(':required')) {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            //if ($('#ApplyStartDate').val() > $('#ApplyEndDate').val()) {
            //    Alert.alert('', '적용기간을 확인해주세요.', function () {
            //        $('#ApplyStartDate').focus();
            //    });
            //    return false;
            //}

            //data['Material_id'] = mat_id;
            data['ChangerName'] = userinfo.username;

            if (validate) {
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목을 입력해주세요.', function () {
                    $target.focus();
                });
            }
        }

        // 단가 정보 삭제
        deletePriceData() {
            let _this = this;
            let url = this.url+'/delete_price';
            let id = $('#priceForm').find('#price_id').val()
            let comp_id = $('#basicForm').find('#id').val();
            let data = { id: id };
            let fnSuccess = function () {
                Notify.success('삭제되었습니다'); // Notification
                _this.showPriceList(comp_id);
            };

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        saveData() {
            let _this = this;
            let data1 = FormUtil.extractForm($('#basicForm'));
            let data2 = FormUtil.extractForm($('#manageForm'));
            let data = $.extend({}, data1, data2);

            if (!data.name) {
                Alert.alert('', '업체명을 입력해주세요.');
                return;
            } else if (!data.comp_code) {
                Alert.alert('', '업체 코드을 입력해주세요.');
                return;
            }else if(!data.business_number){
				Alert.alert('', '사업자번호를 입력해주세요.');
                return;
			}

            let fnSuccess = function (res) {
                Notify.success('저장되었습니다');
                _this.searchMainData1();
            };
            AjaxUtil.postAsyncData(this.url+'/save', data, fnSuccess);
        }
        

        deleteData() {
            let _this = this;
            let url = this.url + '/delete';
            let id = $('#basicForm').find('#id').val()
            let data = { id: id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData1();
                } else {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);

            page.setButtonState();
        }
        
        checkApplyDate() {
            let _this = this;

            let url = '/api/definition/company';
            let data = {
                'action': 'checkDate',
                'id': $('#price_id').val(),
                'company_id': $('#id').val(),
                'material_id': $('#Material_id').val(),
                'apply_start_date': $('#ApplyStartDate').val(),
                //'apply_end_date': $('#apply_end_date').val()
            };
            let result = AjaxUtil.getSyncData(url, data);
            if (result != null) {
                if (result.cnt > 0)
                    return true;
            }
            return false;
        }
    }

    let page = null;

    $(document).ready(function (e) {
        page = new CompanyPage();
                
        AjaxUtil.fillSelectOptions($('#cboCompanyType'), 'system_code', 'choose', false, 'company_type');

        AjaxUtil.fillSelectOptions($('#company_type'), 'system_code', 'choose', false, 'company_type');

        AjaxUtil.fillSelectOptions($('#MaterialGroup_id'), 'material_group', 'choose', false);
        //AjaxUtil.fillSelectOptions($('#Material_id'), 'material', 'choose', false);
        $('#MaterialGroup_id').change(function (ex) {
            let mat_grp_pk = $('#MaterialGroup_id').val();
            AjaxUtil.fillSelectOptions($('#Material_id'), 'material', 'choose', false, mat_grp_pk);
        });

        $('#btnSearch').click(function (ex) {
            page.searchMainData1();
        });

        $('.tab_links .tab').click(function (e) {
            let target = e.currentTarget.id;
            if (target == 'tabs_unitcost') {
                let comp_id = $('#basicForm').find('#id').val();
                if (comp_id)
                    page.showPriceList(comp_id);
            }

            page.current_tab = target;

        });

        $('#btnNew').click(function (e) {
            $('#basicForm')[0].reset();
            $('#basicForm').find('#id').val('');
            $('#company_type').removeAttr('disabled');
            $('#basicForm input, textarea').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            $('#manageForm input').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            //page.setButtonDisable1(true, false, true);
            page.setButtonState();
        });

                // 단가 히스토리버튼
        $('#btnPriceHistory').click(function (e) {
            let company_id = $('#basicForm').find('#id').val();

            //let mat_id = $('#materialBasicForm').find('#id').val();
            if (company_id)
                page.showPriceHistoryList(company_id);
        });
        
        // 단가정보 신규버튼
        $('#btnNewPrice').click(function (e) {
            // 단가 상세정보 리셋
            //$('#priceForm')[0].reset();
            $('#priceForm').find('#price_id').val('');

            $('#priceForm').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            page.price_grid.clearSelect();

            //page.setPriceButtonDisabled(true, false, true);
            page.setPriceButtonState();

            let today_string = CommonUtil.getYYYYMMDD();
            $('#priceForm').find('#ApplyStartDate').val(today_string); //오늘날짜
        });

        // 단가등록/변경 버튼
        $('#btnSavePrice').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.savePriceData() },
                function () { }
            );
        });

        // 단가정보 수정버튼
        $('#btnUpdatePrice').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.updatePriceData() },
                function () { }
            );
        });
               
        // 단가정보 삭제버튼
        $('#btnDeletePrice').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deletePriceData() },
                function () { }
            );
        });
               
        $('#btnSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveData() },
                function () { }
            );
        });

        $('#btnDelete').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteData() },
                function () { }
            );
        });
        
        // 엑셀 다운로드
        $('#btnExcel1').click(function (e) {
            page.grid1.exportExcel('업체정보.xls');
        });
        $('#btnExcel2').click(function (e) {
            page.price_grid.exportExcel('품목단가.xls');
        });

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns1 = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid1',  page.grid1);
        let columns2 = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid2',  page.price_grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting1').css('visibility','visible');  
            $('#btnGridSetting2').css('visibility','visible');  
        }		
	
        $('#btnGridSetting1').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config1.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid1', page.grid_config1.columns, page.grid1, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	
        $('#btnGridSetting2').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config2.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid2', page.grid_config2.columns, page.price_grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        page.searchMainData1();

    });
     
        
</script>
</th:block>
</html>
