
<html layout:decorate="~{layout_page}">
<head>
<style>
    #thumbnail div img:hover{opacity:0.5}
</style>
</head>

<th:block layout:fragment="content">
<div class="content_wrap">

    <section class="section ">

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="설비정보">설비정보</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">

            <div class="row">

                <div class="col-6 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t4" data-labelCd="설비그룹">설비그룹</span>
                        </div>
                        <select class="form-control2" id="cboEquipmentGroup" name="cboEquipmentGroup"></select>

                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t4" data-labelCd="워크센터">워크센터</span>
                        </div>
                        <select class="form-control2" id="cboWorkcenter" name="cboWorkcenter"></select>

                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t4" data-labelCd="설비명">설비명</span>
                        </div>
                        <input class="form-control2" id="txtEquipment" name="txtEquipment"/>

                    </div>
                </div>

                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 
            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="설비 목록">설비 목록</span>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class="h-360" data-ax5grid="equipment-grid"></div>  
        </div>
    </section>

    <section class="section">
        <div class="tabs" data-tab="tabWrap" >
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="설비정보">설비정보</a></li>
                        <li><a href="#" data-tablink="#tab_photo" name="tab_photo" class="tab" data-labelCd="사진">사진</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab" id="tab_basic">
                <div class="tab_con_box">
                    <div class="title_box">
                        <span class="right_align rpt" data-labelCd="설비 정보">설비 정보</span>
                        <button type="button" class="btn-default" id="btnBasicNew" name="btnBasicNew"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn-cancel y_write_auth" id="btnBasicDel" ><i class="fas fa-trash"></i></button>
                        <button disabled type="button" class="btn-default y_write_auth" id="btnBasicSave"><i class="fas fa-save"></i></button>
                    </div>
                    <div class="table_box">
                        <form id="equipmentForm">
                            <input class="form-control2 readonly" type="hidden" id="id" name="id" readonly/>
                            <div class="table_box sub" >
                                <div class="row" >
                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="설비그룹">설비그룹</span>
                                            </div>
                                            <select class="form-control2" id="EquipmentGroup_id" name="EquipmentGroup_id" disabled></select>
                                        </div>
                                    </div>
									
									<div class="col-6 col-md-3">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t7" data-labelCd="용도">용도</span>
			                                </div>
			                                <input class="form-control2" id="Usage" name="Usage" disabled>
			                            </div>
			                        </div>
                        
                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="*설비코드">*설비코드</span>
                                            </div>
                                            <input  class="form-control2" id="Code" name="Code" required disabled>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="*설비명">*설비명</span>
                                            </div>
                                            <input class="form-control2" id="Name" name="Name" required disabled/>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7"data-labelCd="관리번호">관리번호</span>
                                            </div>
                                            <input class="form-control2" type="text" id="ManageNumber" name="ManageNumber" disabled/>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="*워크센터">*워크센터</span>
                                            </div>
                                            <select class="form-control2" id="WorkCenter_id" name="WorkCenter_id" disabled></select>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="모델명">모델명</span>
                                            </div>
                                            <input class="form-control2" type="text" id="Model" name="Model" disabled/>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="제조사">제조사</span>
                                            </div>
                                            <input class="form-control2" type="text" id="Maker" name="Maker" disabled>
                                        </div>
                                    </div>
									
									<div class="col-6 col-md-3">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t7" data-labelCd="사용전압">사용전압</span>
			                                </div>
			                                <input class="form-control2" type="text" id="Voltage" name="Voltage" disabled>
			                            </div>
			                        </div>
			
			                        <div class="col-6 col-md-3">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t7" data-labelCd="용량(Watt)">용량(Watt)</span>
			                                </div>
			                                <input class="form-control2" type="number" id="PowerWatt" name="PowerWatt" disabled>
			                            </div>
		                        	</div>
                        
			                        <div class="col-6 col-md-3">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t7" data-labelCd="입고일">입고일</span>
			                                </div>
			                                <input class="form-control2" type="text" id="InputDate" name="InputDate" disabled>
			                                <span class="input-group-text fs-xl "><i class="fas fa-calendar-alt calendar_color"></i></span>
			                            </div>
			                        </div>
                        
                                    <div class="col-6 col-md-3">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t7" data-labelCd="사용부서">사용부서</span>
			                                </div>
			                                <select class="form-control2" id="Depart_id" name="Depart_id" disabled></select>
			                            </div>
			                        </div>
                        
                                    <div class="col-6 col-md-3">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t7" data-labelCd="AS전화번호">AS전화번호</span>
			                                </div>
			                                <input class="form-control2" type="text" id="ASTelNumber" name="ASTelNumber" disabled>
			                            </div>
			                        </div>
                        
                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="시리얼번호">시리얼번호</span>
                                            </div>
                                            <input class="form-control2" type="text" id="SerialNumber" name="SerialNumber" disabled>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="제작년도">제작년도</span>
                                            </div>
                                            <input class="form-control2" type="number" id="ProductionYear" name="ProductionYear" min="1990" max="2030" disabled>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="구매일">구매일</span>
                                            </div>
                                            <input class="form-control2 tac" type="text" id="PurchaseDate" name="PurchaseDate"  disabled>  
                                            <span class="input-group-text fs-xl "><i class="fas fa-calendar-alt calendar_color" ></i></span>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="설치일">설치일</span>
                                            </div>
                                            <input class="form-control2 tac" type="text" id="InstallDate" name="InstallDate" disabled>
                                            <span class="input-group-text fs-xl "><i class="fas fa-calendar-alt calendar_color" ></i></span>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="공급업체">공급업체</span>
                                            </div>
                                            <input class="form-control2" type="text" id="SupplierName" name="SupplierName" disabled>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="구매금액(원)">구매금액(원)</span>
                                            </div>
                                            <input class="form-control2" type="number" id="PurchaseCost" name="PurchaseCost" min="0" disabled>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="가동률표시여부">가동률표시여부</span>
                                            </div>
                                            <select class="form-control2" id="OperationRateYN" name="OperationRateYN"  disabled>
                                                <option value="Y">Y</option>
                                                <option value="N">N</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="폐기일">폐기일</span>
                                            </div>
                                            <input class="form-control2 tac" type="text" id="DisposalDate" name="DisposalDate" disabled>
                                            <span class="input-group-text fs-xl "><i class="fas fa-calendar-alt calendar_color" ></i></span>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3" >
                                        <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7" data-labelCd="관리책임자">관리책임자</span>
                                            </div>
                                            <input class="form-control2" type="text" id="Manager" name="Manager" disabled>
                                        </div>
                                    </div>
                        
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t7_area" data-labelCd="설명">설명</span>
                                            </div>
                                            <textarea class="form-control2" id="Description" name="Description" disabled></textarea>
                                        </div>
                                    </div>
                                    
	                                <div class="col-12">
			                            <div class="input-group">
			                                <div class="input-group-prepend">
			                                    <span class="input-group-text fit_box_t11_area" data-labelCd="점검 및 사용상 주의점">점검 및 사용상 주의점</span>
			                                </div>
			                                <textarea class="form-control2" id="AttentionRemark" name="AttentionRemark" disabled></textarea>
			                            </div>
			                        </div>
                        
                                </div>
                            </div>                               
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab" id="tab_photo">
                <div class="tab_con_box">
                    <div class="title_box">
                        <span class="right_align rpt" data-labelCd="사진">사진</span>
                        <!--
                        <button disabled type="button" class="btn-default y_write_auth" id="btnPhotoSave"><i class="fas fa-save"></i></button>
                        -->
                    </div>
                    <div class="table_box">
                        <div class="grid_box col-lg-7">
                            <div data-ax5uploader="fileuploadAx" class="fileuploaddiv" id="fileUploadDiv">
                                <span class="fileuploadTitle"></span>
                                <button class="new y_write_auth" data-ax5uploader-button="selector" id ="addFile" style="width: 100px;height:30px;" data-labelCd="파일선택">파일선택</button>
                                <div data-uploaded-box="fileuploadAx" data-ax5uploader-uploaded-box="inline" id="fileUploadBox"></div>
                                <input type="hidden" id="srchFileId" name="srchFileId" />
                                <input type="hidden" id="DataPk" name="DataPk" />
                            </div>
                        </div>
                        <div class="row" style="height:300px">
                            <div class="col-2" >
                                <div class="col-4" id="thumbnail"></div>
                            </div>
                            <div class="col-6" >
                                <img id="image_expand" src="" height="300"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>
</script>

</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<script type="text/javascript" src="/js/fileupload.js?v=100000006"></script>
<script type="text/javascript">

    class EquipmentPage {
        constructor() {
            this.grid = null;
            this.init();
            this.url = '/api/definition/equipment';
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="equipment-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        //e.colIndex
                        //e.dindex
                        //c.value
                        //e.column
                        //e.item
                        //e.list
                        let eq_pk = e.item.id;

                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);

                        if (_this.current_tab == 'tab_photo') {
                            _this.showPhotoFiles(eq_pk)
                            _this.showThumbnail(eq_pk);

                            $('#image_expand').attr('src', '');

                        }
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    //{ key: 'id', label: '번호', width: 80, align: 'right' },
                    { key: 'group_name', label: '설비그룹', width: 120, align: 'left' },
                    { key: 'Usage', label: '용도', width: 120, align: 'left' },
                    { key: 'Code', label: '설비코드', width: 150, align: 'left' },
                    { key: 'Name', label: '설비명', width: 200, align: 'left' },
                    { key: 'workcenter_name', label: '워크센터', width: 150, align: 'left' },
                    { key: 'ManageNumber', label: '관리번호', width: 250, align: 'left' },
                    { key: 'Model', label: '모델명', width: 150, align: 'left' },
                    { key: 'Maker', label: '제조사', width: 150, align: 'left' },
                    { key: 'Voltage', label: '사용전압', width: 150, align: 'left' },
                    { key: 'PowerWatt', label: '용량', width: 150, align: 'left' },
                    { key: 'InputDate', label: '입고일', width: 150, align: 'left' },
                    { key: 'DepartName', label: '사용부서', width: 150, align: 'left' },
                    { key: 'ASTelNumber', label: 'AS전화번호', width: 150, align: 'left' },
                    { key: 'SerialNumber', label: '시리얼번호', width: 150, align: 'left' },
                    { key: 'ProductionYear', label: '제작년도', width: 150, align: 'center' },
                    { key: 'PurchaseDate', label: '구매일', width: 150, align: 'center' },
                    { key: 'InstallDate', label: '설치일', width: 150, align: 'center' },
                    { key: 'SupplierName', label: '공급업체', width: 150, align: 'left' },
                    { key: 'PurchaseCost', label: '구매금액', width: 150, align: 'right', formatter:'money' },
                    { key: 'OperationRateYN', label: '가동률표시', width: 100, align: 'center' },
                    { key: 'Manager', label: '관리책임자', width: 150, align: 'center' },
                    { key: 'SupplierName', label: '공급업체', width: 150, align: 'left' },
                    { key: 'DisposalDate', label: '폐기일', width: 150, align: 'left' },
                    { key: 'Description', label: '설명', width: 150, align: 'left' },
                    { key: 'AttentionRemark', label: '점검 및 사용상 주의점', width: 150, align: 'left' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;
            
            AjaxUtil.fillSelectOptions($('#cboEquipmentGroup'), 'equipment_group', 'all', false);
            AjaxUtil.fillSelectOptions($('#cboWorkcenter'), 'workcenter', 'all', false);
			AjaxUtil.fillSelectOptions($('#Depart_id'), 'depart', 'choose', false);
            this.initForm();
        }

        initForm() {
            AjaxUtil.fillSelectOptions($('#EquipmentGroup_id'), 'equipment_group', 'choose', false);
            AjaxUtil.fillSelectOptions($('#WorkCenter_id'), 'workcenter', 'choose', false);
            this.setUploader(); 
        }

        setButtonState() {
            let pk = $('#equipmentForm').find('#id').val();
            $('#btnBasicNew').prop('disabled', false);
            $('#btnBasicSave').prop('disabled', false);
            if (pk) {
                $('#btnBasicDel').prop('disabled', false);
                $('#btnPhotoSave').prop('disabled', false);
            }
            else {
                $('#btnBasicDel').prop('disabled', true);
                $('#btnPhotoSave').prop('disabled', true);
            }
        }


        showDetail(idx) {
			let _this = this;
            let param = { 'id': idx };
            let result = AjaxUtil.getSyncData(_this.url+"/detail", param);
            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#equipmentForm'));

                $('#description').text(result.data.description);
            }

            //page.setButtonDisable(false, false, false);
            page.setButtonState();

            this.uploader.mode = 'active';
        }

        searchMainData() {
            let _this = this;

            let data = {
                'group': $('#cboEquipmentGroup').val(),
                'workcenter' : $('#cboWorkcenter').val(),
                'equipment': $('#txtEquipment').val()
            };
            let result = AjaxUtil.getSyncData(_this.url+"/read", data);
            
            if (result != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            }

            $('#equipmentForm')[0].reset();

            //page.setButtonDisable(false, false, false);
            page.setButtonState();
            this.uploader.mode = 'disable';		
        }//searchMainData

        saveData() {
            let _this = this;
            //데이터입력체크루틴 누락

            //let data = $('#equipmentForm').serialize();

            let WorkCenter_id = $('#WorkCenter_id').val();
            let Code = $('#Code').val();
            let Name = $('#Name').val();

            if (!WorkCenter_id) {
                Alert.alert('', '워크센터를 선택해주세요.', function () { });
                return;
            } else if (!Code) {
                Alert.alert('', '설비코드를 입력해주세요.', function () { });
                return;
            } else if (!Name) {
                Alert.alert('', '설비명을 입력해주세요.', function () { });
                return;
            }

            if ($('#PurchaseCost').val() < 0) {
                Alert.alert('', '구매금액을 확인해 주세요.');
                return;
            }

            let data = FormUtil.extractForm($('#equipmentForm'));
            

            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다.'); // Notification
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                    return;
                }
            };
           AjaxUtil.postAsyncData(_this.url+"/save", data, fnSuccess);
        }

        deleteData() {
            let _this = this;
            let id = $('#equipmentForm').find('#id').val()
            let data = { id: id };
            let fnsuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제했습니다.');

                    $('#equipmentForm')[0].reset();
                    $('#equipmentForm').find('#id').val('');
                    $('#equipmentForm #Code').attr('readonly', false);
                    $('#equipmentForm input').each(function () {
                        if ($(this).is(':disabled')) {
                            $(this).removeAttr('disabled');
                        }
                    });

                    $('#equipmentForm textarea').each(function () {
                        let $obj = $(this);
                        if ($obj.is(':disabled')) {
                            $obj.removeAttr('disabled');
                        }
                        $obj.text('');
                    });

                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            };

            AjaxUtil.postAsyncData(_this.url+"/delete", data, fnsuccess);
        }

        showPhotoFiles(eq_pk) {
            let _this = this;

            let child = document.getElementById("thumbnail");
            while (child.hasChildNodes()) {
                child.removeChild(child.firstChild);
            }

            //$('#addFile').prop('disabled', false);
            $('#DataPk').val(eq_pk);
            
            //$('#fileUploadBox').show();

            //파일조회
            let attparam = { "action": 'detailFiles', "TableName": "equ", 'DataPk': eq_pk, "attachName": 'photo' };
            YuFileUploader.getAttachFiles(attparam);
        }

        showThumbnail(eq_pk) {
            let _this = this;

            let data = {
                "action": 'detailFiles',
                "TableName": "equ",
                'DataPk': eq_pk,
                "attachName": 'thumbnail'
            };

            let result = AjaxUtil.getSyncData('/api/common/attach_file/detailFiles', data);
            if (result != null) {
                for (let i = 0; i < result.length; i++) {
                    let url = '/api/files/image?id=' + result[i].id;
                    $("#thumbnail").append('<div align="center" width="50px"><img id="thumbnail_show' + i +'" src="' + url + '" width="50" height="50" onclick="javascript:expand(' + result[i].id + ')"/></div>');
                }
            }
            result = [];
        }

        // 사진파일 저장
        savePhotoFiles() {
            let param = {
                'eq_id': $('#equipmentForm').find('#id').val(),
                'file_id': $("#srchFileId").val(),
            };
                       
            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success("저장되었습니다.");
                    //_this.searchDataBind();
                }
            };

            AjaxUtil.postAsyncData(_this.url+"/save_photo", param, fnSuccess);
        }

        //파일 업로더    
        setUploader() {
            let _this = this;
            //$('#addFile').prop('disabled', false);
                        
            let accept_files = 'jpg,jpeg,gif,png,xlsx,xls';
            let accept = '.' + accept_files.split(',').join(',.');

            if (_this.uploader)
                return;
           
            _this.uploader = $('#fileUploadDiv').yuFileUploader(
                {
                    fileIdsCtl: '#srchFileId',
                    dropZone: 'fileuploadAx',
                    boxZone: 'fileuploadAx',
                    others: '', // 파일저장 상위경로
                    filepath: 'equ', // 파일저장 하위경로
                    addfileext: 'Y', // 저장시 파일확장자 포함 파일이름저장
                    icons: {
                        'download': '<i class="fa fa-download" aria-hidden="true"></i>',
                        'delete': '<i class="fa fa-minus-circle" aria-hidden="true"></i>'
                    },
                    emptymsg: '파일을 Drag&amp;Drop하거나 클릭하여 업로드를 진행하세요' + '(업로드 후 저장버튼을 클릭하세요.)',
                    
                    multiple: true,  // 멑티업로드 허용여부
                    maxcnt: 5, // 업로드 최대갯수
                    accept: accept, // 허용 확장자 image/* .gif,.jpg,.png
                    accepts: accept_files,    // 드래그로 업로드할 때 체크할 용도
                    fileSize: 50,   // Mega, 업로드 파일사이즈제한
                    tableName: 'equ', 
                    attachName: 'photo',
                    thumbnailYN: 'Y'
                }
            );
            _this.uploader.can_write = userinfo.can_write();
            _this.uploader.mode = 'disable';
        }
        
    }
    
    

    expand = function(id) {
        let url = '/api/files/image?id=' + id;
        $('#image_expand').attr('src', url);
    }

    let page = null;

    $(document).ready(function (e) {
        page = new EquipmentPage();
        
        $('#PurchaseDate').ax5DatePicker({ direction: 'bottom' });
        $('#InstallDate').ax5DatePicker({ direction: 'bottom' });
        $('#DisposalDate').ax5DatePicker({ direction: 'bottom' });
		$('#InputDate').ax5DatePicker({ direction: 'bottom' });
		
        $('#btnSearch').click(function (ex) {
            page.searchMainData();
        });

        $('.tab_links .tab').click(function (e) {
            let target = e.currentTarget.name;
            page.current_tab = target;
            let eq_pk = $('#equipmentForm').find('#id').val();

            if (target == 'tab_photo') {
                $('#tab_photo').removeClass("hidden");
                
                if (eq_pk) {
                    page.showPhotoFiles(eq_pk);
                }
            }
        });

        $('#btnBasicNew').click(function (e) {

            $('#equipmentForm')[0].reset();

            $('#equipmentForm').find('#id').val('');
            $('#equipmentForm #Code').attr('readonly', false);
            $('#equipmentForm input').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            $('#equipmentForm select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            $('#equipmentForm textarea').each(function () {
                let $obj = $(this);
                if ($obj.is(':disabled')) {
                    $obj.removeAttr('disabled');
                }
                $obj.text('');
            });
            //page.setButtonDisable(true, false, true);
            page.setButtonState();

        });

        $('#btnBasicSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveData() },
                function () { }
            );
        });

        $('#btnBasicDel').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteData() },
                function () { }
            );
        });

        // 사진파일 저장버튼
        $('#btnPhotoSave').click(function (e) {
            Alert.confirm('',
                '사진을 저장하시겠습니까?',
                function () { page.savePhotoFiles() },
                function () { }
            );
        });

        // 엑셀 다운로드
        $('#btnExcel').click(function (e) {
            page.grid.exportExcel('설비정보.xls');
        });

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        page.searchMainData();

    });
</script>
</th:block>
</html>