<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">

    <section class="section ">

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="태그정보">태그정보</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>
        
        <div class="table_box search" >

            <div class="row">

                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="태그그룹">태그그룹</span>
                        </div>
                        <select class="form-control2" id="cboTagGroup" name="cboTagGroup" ></select>

                    </div>
                </div>

                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="설비명">설비명</span>
                        </div>
                        <select class="form-control2"  id="cboEquip" name="cboEquip" ></select>

                    </div>
                </div>

                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="태그명">태그명</span>
                        </div>
                        <input class="form-control2"  id="txtName" name="txtName" />

                    </div>
                </div>

                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 

            </div>

        </div>
    </section>
       
    <section>

        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="태그정보">태그정보</span>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class="h-500" data-ax5grid="tag-grid" ></div>  
        </div>

    </section>

    <section>
            <div class="title_box mb-2">
                <span class="right_align rpt" data-labelCd="상세정보">상세정보</span>
                    <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn-danger y_write_auth" id="btnDel" style="float:none"><i class="fas fa-trash"></i></button>
                    <button type="button" class="btn-default y_write_auth" id="btnSave" style="float:none"><i class="fas fa-save"></i></button>
            </div>

        <form id="tagForm">
            <div class="table_box sub" id="detail_box">
                <div class="row">
                    <!--<div class="col-6 col-md-3 col-lg-2" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t7" > id</span>
                            </div>-->
                            <input class="form-control2" type="text" id="id" name="id" hidden />
                        <!--</div>
                    </div>-->

                    <div class="col-6 col-md-3 col-lg-2" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t7" data-labelCd="*태그코드">*태그코드</span>
                            </div>
                            <input class="form-control2" type="text"  id="tag_code" name="tag_code" required />
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t7" data-labelCd="태그그룹">태그그룹</span>
                            </div>
                            <select class="form-control2" id="tag_group_id" name="tag_group_id" disabled="disabled"></select>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t7" data-labelCd="*태그명">*태그명</span>
                            </div>
                                <input class="form-control2 " type="text"id="tag_name" name="tag_name" placeholder="" disabled="disabled" required/>
                        </div>
                    </div>

                            <div class="col-6 col-md-3 col-lg-3" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="설비명">설비명</span>
                                    </div>
                                    <select class="form-control2" id="equipment_id" name="equipment_id" disabled="disabled" ></select>

                                </div>
                            </div>

                            <div class="col-6 col-md-3 col-lg-3" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="DAS설정">DAS설정</span>
                                    </div>
                                    <select class="form-control2" id="DASConfig_id" name="DASConfig_id" placeholder="" disabled="disabled"></select>
                                </div>
                            </div>

                            <div class="col-6 col-md-3 col-lg-2" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="소수점자리수">소수점자리수</span>
                                    </div>
                                    <input class="form-control2" id="round_digit" name="round_digit" disabled="disabled"/>

                                </div>
                            </div>

                            <div class="col-6 col-md-3 col-lg-2" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="하한값">하한값</span>
                                    </div>
                                    <input class="form-control2" id="lsl" name="lsl" placeholder="" disabled="disabled" />

                                </div>
                            </div>

                            <div class="col-6 col-md-3 col-lg-2" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="상한값">상한값</span>
                                    </div>
                                    <input class="form-control2" id="usl" name="usl" placeholder="" disabled="disabled" />
                                </div>
                            </div>

                </div>
            </div>
        </form>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block> 
<script type="text/javascript">
    class TagPage {
        constructor() {
            this.grid = null;
            this.base_url = '/api/definition/tag';
            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="tag-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetailTag(e.item.tag_code);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'tag_code', label: '태그', width: 200, align: 'left' },
                    { key: 'tag_name', label: '태그명', width: 200, align: 'left' },
                    { key: 'tag_group_name', label: '태그그룹명', width: 150, align: 'left' },
                    { key: 'equipment_name', label: '설비명', width: 150, align: 'left' },
                    { key: 'config_name', label: 'DAS설정', width: 150, align: 'left' },
                    { key: 'round_digit', label: '소수점자리수', width: 150, align: 'right' },
                    { key: 'lsl', label: 'LSL', width: 100, align: 'right' },
                    { key: 'usl', label: 'USL', width: 100, align: 'right' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;

            AjaxUtil.fillSelectOptions($('#cboTagGroup'), 'tag_group', 'all', false);
            AjaxUtil.fillSelectOptions($('#cboEquip'), 'equipment', 'all', false);
            AjaxUtil.fillSelectOptions($('#tag_group_id'), 'tag_group', 'choose', false);
            AjaxUtil.fillSelectOptions($('#equipment_id'), 'equipment', 'choose', false);
            AjaxUtil.fillSelectOptions($('#DASConfig_id'), 'das_config', 'choose', false);
        }

        // 버튼 활성화 설정
        setButtonState() {
            let pk = $('#tagForm').find('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);
            }
            else {
                $('#btnDel').prop('disabled', true);
            }
        }

        // 태그 목록 조회
        searchMainData() {
            let _this = this;
            let url = this.base_url+'/read';
            let param = {
                'keyword': $('#txtName').val(),
                'tag_group_id': $('#cboTagGroup').val(),
                'equipment_id': $('#cboEquip').val()
            };
            

            let result = AjaxUtil.getSyncData(url, param);
            if (result != null) {
                let count = result.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }

            $('#tagForm')[0].reset();
            $('#tagForm').find('#id').val('');

            $('#detail_box').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            //_this.setButtonDisable(false, true, true);
            _this.setButtonState();
        }

        // 태그 상세정보 조회
        showDetailTag(tag_code) {
            let param = { 'tag_code': tag_code};
            let url = this.base_url+'/detail';
            let result = AjaxUtil.getSyncData(url, param);
            if (result != null) {
                //page.setButtonDisable(false, false, false);
                $('#tagForm').find('#id').val(result.tag_code);
                FormUtil.BindDataForm(result.data, $('#tagForm'));
                page.setButtonState();
            }
        }

        // 태그 정보 저장
        saveTag() {
            let _this = this;
            let url = this.base_url+'/save';

            //let param = $('#tagForm').serialize();
            let param = FormUtil.extractForm($('#tagForm'));

            let fnSuccess = function () {
                Notify.success('저장되었습니다');
                _this.searchMainData();
            };

            // 필수입력 check routine
            if (!$('#tag_code').val()) {
                Alert.alert('', '태그코드를 입력해주세요.');
                return false;
            } else if (!$('#tag_name').val()) {
                Alert.alert('', '태그명을 입력해주세요.');
                return false;
            }

            AjaxUtil.postAsyncData(url, param, fnSuccess);
        }

        // 태그 정보 삭제
        deleteTag() {
            let _this = this;
            let url = this.base_url+'/delete';
            let tag_code = $('#tagForm').find('#tag_code').val();
            let data = { tag_code: tag_code };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        //엑셀다운로드
        exportExcel() {
            var targetview = this.grid;
            // 현재 html코드로 데이터 만들어 확장자만 xls로 변경해주고 있음
            targetview.exportExcel('태그정보.xls');
        }

    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new TagPage();
        //$('#cboTagGroup').select2();
        //$('#cboEquip').select2();
        //$('#tag_group_id').select2();
        //$('#equipment_id').select2();

        // 검색버튼 클릭
        $('#btnSearch').click(function (e) { page.searchMainData(); });

        // 신규버튼
        $('#btnNew').click(function (e) {

            $('#tagForm')[0].reset();
            $('#tagForm').find('#id').val('');

            $('#detail_box').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            //page.setButtonDisable(true, false, true);
            page.setButtonState();
        });

         // 저장버튼
        $('#btnSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveTag() },
                function () { }
            );
        });

        // 삭제버튼
        $('#btnDel').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteTag() },
                function () { }
            );
        });

        //엑셀
        $('#btnExcel').click(function (e) {
            page.exportExcel();
        });

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	
        page.searchMainData();

    });




</script>
</th:block>