<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>LTSA 보고서등록</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>서비스분석</li>
                <li>LTSA 보고서</li>
                <li>LTSA 보고서 등록</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">리스트</a>
                </li>

            </ul>
            <div class="tab-contents" style="margin-bottom: 70px">
                <!-- Section -->

                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    보고분기<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <select id="select1" class="w120">
                                        <option>2024.1Q</option>
                                    </select>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="text1">
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <div class="input-clear"></div>
                                        <a href="#a" class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()" style="border-radius: 7px;"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장" onclick="showPopup()">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        보고서 업로드
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>




                <!-- Section -->

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <!-- 팝업 -->
    <!-- 팝업 -->
    <div class="modal">
        <div class="popup-wrapper w700" id="popup1">
            <div class="popup-title">
                <h3>LTSA보고서 업로드</h3>
                <a title="팝업닫기" onclick="closePopup()" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <table class="write-table">
                        <caption>점검등록 테이블</caption>
                        <colgroup>
                            <col class="wp20">
                            <col class="wp80">
                        </colgroup>
                        <input type="hidden" id="popup-spuncode">
                        <tbody>
                        <tr>
                            <th>
                                <label for="date6">등록일자</label>
                            </th>
                            <td>
                                <div class="input-clear">
                                    <input type="text" id="popup-checkusr" readonly class="wp60" placeholder="점검자">
                                    <span class="btn-clear">×</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td>
                                <div id="uploadComponent2" class="upload-component">
                                    <div class="upload-filebox" id="dropZone">
                                        <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                        <a class="btn" title="파일업로드">파일업로드</a>
                                        <input type="file" id="fileInput2" name="filelist2"  class="fileInput2">
                                        <p id="fileNameDisplay">Maximun upload file size 1GiB</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="closePopup()" style="border: 1px solid #03428E !important; font-size: 15px !important;">취소</button>
                <button onclick="saveFile()" style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
            </div>
        </div>
    </div>






</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        let selectedFiles = [];
        let SelectItem;
        let csrfToken = $("[name=_csrf]").val();

        var columns = [
            { binding: '', header: '보고분기', align: 'center', width: 150, minWidth: 150 },
            { binding: '', header: '월', align: 'center', width: 150, minWidth: 150 },
            { binding: '', header: '발전실적', align: 'center', width: '*', minWidth: 250 },
            { binding: '', header: '불산입발전량보정', align: 'center', width: '*', minWidth: 290 },
            { binding: '', header: '확정실적발전량', align: 'center', width: '*', minWidth: 250 },
            { binding: '', header: '실적이용율', align: 'center', width: 240, minWidth: 240 },
            { binding: '', header: '비고', align: 'center', width: 200, minWidth: 200 },


        ];




        function submitTextarea(event){
            let key = event.key || event.keyCode;

            if(key === 'Enter' || key == 13){
                searchData();
            }
        }

        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let searchusr = $('#searchusr').val();

            $.ajax({
                url: '/api/inspec_report/read',
                type: 'GET',
                data: {
                    'searchusr' : 'infinited',

                },
                async: false,
                success: function(data){
                    console.log('check1',data.data);
                    if(data.data.length === 0){
                        for(let i=0; i < 10; i++ ){
                            data.data.push('example');
                        }
                    }
                    console.log(data.data);
                    data2 = data.data;
                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                itemsSource: viewdata
            });


            /*let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: (e, ctx) => {
                    SelectItem = theGrid.rows.filter(r => r.isSelected);

                }
            })*/



            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0,1);  //맨 앞에 헤더부분 없애기
        }
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        <!-- 점검자 추가 버튼 이벤트-->
        function addInputField(button) {
            // 새로운 td 요소를 생성합니다.
            var newTd = document.createElement('div');
            newTd.className = 'input-btnbox';

            // 새로운 input 요소를 생성합니다.
            var newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.className = 'wp100';
            newInput.placeholder = '점검자';
            newInput.name = 'checkusr'
            newInput.maxLength = 5;

            // 삭제 버튼을 생성합니다.
            var deleteButton = document.createElement('button');
            deleteButton.textContent = '점검자 삭제';
            deleteButton.onclick = function() {
                deleteInputField(newInput); // 삭제 버튼을 클릭하면 해당 입력 필드를 삭제하는 함수 호출
            };
            deleteButton.style.marginLeft = '8px'; // 삭제 버튼에 직접 style 속성을 사용하여 margin-left을 설정합니다.
            deleteButton.style.color = 'red';
            deleteButton.style.marginTop = '5px';
            // 새로운 td에 input 요소와 삭제 버튼을 추가합니다.
            newTd.appendChild(newInput);
            newTd.appendChild(deleteButton);

            // 클릭된 버튼의 부모 td 요소를 찾습니다.
            var parentTd = button.parentElement;

            // 부모 td 요소 다음에 새로운 td 요소를 추가합니다.
            parentTd.parentElement.insertBefore(newTd, parentTd.nextSibling);
        }

        function deleteInputField(inputField) {
            // 입력 필드의 부모 요소(td)를 찾아서 삭제합니다.
            var tdToDelete = inputField.parentElement;
            tdToDelete.parentElement.removeChild(tdToDelete);
        }

        <!-- 점검자 추가 버튼 이벤트 끝-->

        let filelist = [];


        //검색
        function searchData(){
            let data = {
                'searchusr' : $('#searchusr').val(),
                'searchfrdate': $('#searchfrdate').val(),
                'searchtodate': $('#searchtodate').val()
            }

            let result =  AjaxUtil.getSyncData('/api/inspec_report/read', data);

            if(result.success){
                console.log(result.data);
                grid_binding(result.data);
            }
        }

        function grid_binding(data){
            var inspecDto = data;
            var inspecData = [];
            var cnt = 1;
            for (let i = 0; i < inspecDto.length; i++) {
                inspecData.push({
                    spuncode: inspecDto[i]["spuncode"],
                    spworknm: inspecDto[i]["spworknm"],
                    spcompnm: inspecDto[i]["spcompnm"],
                    spplannm: inspecDto[i]["spplannm"],
                    checkdt: inspecDto[i]["checkdt"],
                    checkusr: inspecDto[i]["checkusr"],
                    checkarea: inspecDto[i]["checkarea"],
                    checktmdt: inspecDto[i]["checktmdt"],

                });
                cnt++;
            }

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;
            viewdata.sourceCollection = inspecData;

            for (var i = 0; i < columns.length; i++) {
                var col = new wijmo.grid.Column(columns[i]);
                theGrid.columns.push(col);
            }


        }

        function closePopup(){
            /*const modal2 = document.querySelector('.modal');
            const modalOpen = document.querySelector('.popup-wrapper');
            modal2.style.display = 'none';
            modalOpen.style.display = 'none';*/
            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 애니메이션을 위한 클래스 제거
            modal.classList.remove('show');
            modalContent.classList.remove('show');

            // 애니메이션이 끝난 후 모달을 숨기기 위해 타임아웃 설정
            setTimeout(() => {
                modal.style.display = 'none';
                modalContent.style.display = 'none';
            }, 300); // 애니메이션 지속 시간 (0.3초)과 동일하게 설정
        }

        function showPopup(rowIndex){


            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 모달과 콘텐츠를 표시
            modal.style.display = 'block';
            modalContent.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            });



        }


        $(document).ready(function (e) {


            //삭제
            $('#btnDelete').click(function (e) {

                let delList = [];

                delList = SelectItemPush();


                Alert.confirm('', '삭제하시겠습니까?', function () {

                    let data = {
                        'spuncode': JSON.stringify(delList),
                        '_csrf': csrfToken
                    }

                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', '삭제되었습니다.');
                            searchData();
                        }
                    }

                    AjaxUtil.postAsyncData('/api/inspec_report/delete', data, fnSuccess);


                })
            })


        });
    </script>
</th:block>

</html>