	<html layout:decorate="~{layout_page}">
	<th:block layout:fragment="content">
	<div class="content_wrap">
	    <input type="hidden" id="bhId" th:value="${bh_id}" />
	    <input type="hidden" id="viewMode" th:value="${view_mode}" />
	    <input type="hidden" id="apprView" th:value="${appr_view}" />
	    <input type="hidden" id="createrName" th:value="${creater_name}" />
	    <section class="section">
	        <div class="title_box ">
	            <div class="left_align">
	                <h3 data-labelCd="제품검사성적서">제품검사성적서</h3>
	            </div>
	            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
	            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
	        </div>
	
	        <div class="table_box search">
	            <div class="row">
	                <div class="col-6 col-lg-6 col-xl-6">
	                    <div class="row">
	                        <div class="col-12 col-lg-12 col-xl-12">
	                            <div class="input-group">
	                                <div class="input-group-prepend">
	                                    <span class="input-group-text fit_box_sm" data-labelCd="점검명">점검명</span>
	                                </div>
	                                <input class="form-control2 tac" type="text" id="title" name="title" />
	                            </div>
	                        </div>
	                        <div class="col-6 col-lg-6 col-xl-6">
	                            <div class="input-group" data-ax5picker="basic" id="srchDt">
	                                <div class="input-group-prepend">
	                                    <span class="input-group-text fit_box_sm" data-labelCd="점검일">점검일</span>
	                                </div>
	                                <input class="form-control2 tac" type="text" id="check_date" name="check_date" readonly>
	                            </div>
	                        </div>
	                        <div class="col-6 col-lg-6 col-xl-6">
	                            <div class="input-group">
	                                <div class="input-group-prepend">
	                                    <span class="input-group-text fit_box_sm" data-labelCd="작성자">작성자</span>
	                                </div>
	                                <input class="form-control2 tac" type="text" id="creater_name" name="creater_name" disabled />
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-6 col-lg-6 col-xl-6">
	                    <div id="approveBox"></div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <section id = "searchArea" class="section">
			<form id="searchForm" autocomplete="off">
           		 <div class = "row">
                	<div class="col-12 col-lg-5 col-xl-3">
                		<div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="생산일">생산일</span>
                            </div>
                    			<div data-ax5picker="multi" id="srcDate">
                        			<div class="input-group-append">
	                                    <input class="tac " type="text" id="srchStartDt" name="srchStartDt" />
	                                    <span class="input-group-text fs-xl">
	                                        <i class="fas fa-calendar-alt calendar_color"></i>
	                                    </span>
	                                    <span class="slow_sign">~</span>
	                                    <input class="tac " type="text" id="srchEndDt" name="srchEndDt" />
	                                    <span class="input-group-text fs-xl">
	                                        <i class="fas fa-calendar-alt calendar_color"></i>
	                                    </span>
                       			 </div>
                    		</div>
                		</div>
       				 </div>
        			<div class="col-1">
 		 		  		<button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
   			 		</div>
           		 </div>
       		
       		</form>
    	</section>
	    <section class="section">
	        <div class="grid_box" id="prodListGrid">
	            <div class="title_box">
	                <span class="right_align rpt" data-labelCd="일지 목록">일지목록</span>
	                <button type="button" class="btn-default" id="btnReqAppr">결재상신</button>
	                <button type="button" class="btn-default" id="btnAppr" style="display:none;">승인</button>
	                <button type="button" class="btn-cancel" id="btnReject" style="display:none;">반려</button>
	                <button type="button" class="btn-default" id="btnSave">저장</button>
	                <button type="button" class="btn-default" id="btnList">목록</button>
	            </div>
	                <div class="tab-content">
	                    <div class="tab" id="mat_inout_test">
	                        <section class="pt-2">
	                            <div class="grid_box" id="main_grid">
	                                <div class="title_box">
	                                    <div class="left_align">
	                                        <button type="button" class="btn-default" id="popBtnExcel" style="display:none">프린트</button>
	                                    </div>
	                                </div>
	                                <div class="h-300" data-ax5grid="prod_test_item_grid" id="mat_inout_item_grid"></div>
	                            </div>
	                        </section>
	                    </div>
	                </div>
	        </div>
	    </section>
	</div>
	
	
	<script type="text/x-tmpl" id="imagePopup">
	
	<div class="content_wrap modal-content popup">
	        <section class="pt-2">
	           <div class="table_box sub" >
	                <div class ="row">
	                    <div class="col-12">
	                        <div class="input-group"> 
	                            <div class="input-group-prepend">
	                                <span class="input-group-text fit_box_t5" data-labelCd="점검항목명">점검항목명</span>
	                            </div>
	                            <input class="form-control2 tac" type="text" id="pop_item_name" disabled="disabled" />
	                        </div>
	                    </div>
	                    </div>
	                    <div class="col-12 mx-auto" id="image_upload1"></div>
	            </div>
	        </section>
	        <section>
	            <div class="align_left popup_button_group bottom">
	                <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
	            </div>
	        </section>
	</div>
	</script>
	</th:block>
	
	<th:block layout:fragment="scripts">
	<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
	<th:block th:replace="/common/approve_box :: approve_box" ></th:block>
	<th:block th:replace="/common/upload_one_image_box.html :: upload_one_image_box" ></th:block>
	<th:block th:replace="/common/popup_select_user_code.html :: popup_select_user_code" ></th:block>
	<script type="text/javascript">
	    class MatInoutTestPageDiaryPage {
	        constructor() {
	            this.grid = null;
	            this.approveBoxUtil = null;
	            this.appr_view = null;
	            this.baseUrl = '/api/haccp/prod_test';
	            this.checkMaster = '제품검사성적서'
	            this.init();
	        }
	
	        init() {
	            let _this = this;			
	
				let resultConfig = {
					target: $('[data-ax5grid="prod_test_item_grid"]'),
					frozenColumnIndex: 0, // 열 고정
					frozenRowIndex: 0,    // 행 고정
					showLineNumber: false, // 열의 번호 보이기 여부
					showRowSelector: false,  // checkbox(선택) 보이기 여부
					multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
					sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
					multiSort: false, // 다중 정렬 여부
					header: {
						align: 'center',  // 헤더의 기본 정렬
						columnHeight: 30  // 헤더 높이
					},
					body: {
						columnHeight: 30, // body의 기본 높이
	                    onClick: function (e) {                     
	                    },
	                    onDataChanged: function (e) {                        
	                    }
					},
					page: {
						display: true,  // 페이징 보이기 여부
						statusDisplay: false,
					},
				} // resultConfig
	
				this.resultGrid = new ax5.ui.grid(resultConfig);			
	
	            $('#title').val('제품검사성적서');
	            //view mode
	            if ($('#viewMode').val().toLowerCase() == 'true') {                
	                $('#title').attr('disabled', 'disabled');
	                $('#check_date').attr('disabled', 'disabled');
	                $('#btnSave').hide();
	                $('#searchArea').hide();
	                $('#mat_inout_test').find('#btnDeviActionSave').hide();
	                $('#btnReqAppr').hide();                
	            }
	        }
	        // 일지 리스트 
	        searchMainData(val) {
	            let _this = this;            
	
	 			let srchStartDt = $('#searchForm').find("#srchStartDt").val();
        		let srchEndDt = $('#searchForm').find("#srchEndDt").val();
        		
            	let param = {
                    'action': 'result_list',
                    'bh_id': $('#bhId').val(),
                    'srchStartDt': srchStartDt,
                    'srchEndDt' : srchEndDt,
                    'first': val
                }
                             
                let result = AjaxUtil.getSyncData(_this.baseUrl + '/result_list', param);
                
                _this.itemResult = result.data.item_result;
                
				let columnConfig = [];
    			
	            if ($('#bhId').val() > 0 && val) {				                
                    _this.mst_info = result.data.mst_info;                                                            

                    $('#check_date').val(_this.mst_info.DataDate);
                    $('#title').val(_this.mst_info.title);
                    
    	            $('#searchForm').find('#srchStartDt').val(_this.mst_info.startDt);
	 				$('#searchForm').find('#srchEndDt').val(_this.mst_info.endDt);
	            }
	            
	            if (_this.itemResult.length > 0) {
		
					let keys = Object.keys(_this.itemResult[0])
    					
						for(var i = 0; i < keys.length; i++) {
    						if (keys[i] == 'id') {
							  columnConfig.push({key: 'id' ,label: 'id', hidden:true});															
							} else if (keys[i] == 'productionDate') {
							  columnConfig.push({key: 'productionDate' ,label: '생산일시', width: 90, align: 'left'});															
							} else if (keys[i] == 'name') {
							  columnConfig.push({key: 'name' ,label: '품명', width: 350, align: 'left'});															
							} else if (keys[i] == 'workOrderNumber') {
							  columnConfig.push({key: 'workOrderNumber' ,label: '작업지시번호', width: 120, align: 'left'});															
							} else if (keys[i] == 'judgeCode') {
							  columnConfig.push({key:'judgeCode' ,label: '판정', width: 50, align: 'center'});															
							} else {
							  columnConfig.push({key: keys[i] ,label: keys[i], align: 'center'});
							}
						}
					
				}
	
				if(columnConfig.length == 0) {
			  		columnConfig.push({key:'데이터없음', label: '데이터없음'})
				} 
				
				_this.resultGrid.setConfig({columns: columnConfig});
					
                let count = _this.itemResult.length;
			
				_this.resultGrid.setData({
					list: _this.itemResult,
					page: {
						display: true,
						totalElements: count
					}
                });
                    
	            if ($('#bhId').val() > 0) {
	                if ($('#viewMode').val().toLowerCase() != 'true') {
	                    $('#mat_inout_test').find('#btnDeviActionSave').show();                
	                }
	                
	            }
	
	
	            _this.approveBoxUtil = new ApproveBoxUtil(0, _this.checkMaster, $('#bhId').val(), 'bundle_head', false, false);
	            _this.approveBoxUtil.print($('#viewMode').val());
	            if (_this.approveBoxUtil.isApprUser()) {
	                // 결재자의 경우 버튼 처리
	                $('#btnAppr').show();
	                $('#btnReject').show();
	            }
	
	        }
	        
	        save(isAppr) {
	            let _this = this;
	            let callback = null;
	            
                let srchStartDt = $('#searchForm').find("#srchStartDt").val();
            	let srchEndDt = $('#searchForm').find("#srchEndDt").val();
            	
	            callback = function () {
	                
	                let Q = [];
	                let data = null                                
	
	                if ($('#bhId').val() > 0) {
	                    Q =  _this.itemResult,
	                      
	                    data = {
	                        bh_id: $('#bhId').val(),
	                        check_date: $('#check_date').val(),                        
	                        title: $('#title').val(),
	                        Q: JSON.stringify(Q),
        	                srchStartDt: srchStartDt,
			                srchEndDt: srchEndDt,
			
	                    }
	                } else {                    
	                    let matInoutTestResult = {
	                        'tabList': _this.resultGrid.list,
	                    }
	                                                         
	                
				        Q = [
					        matInoutTestResult                
	                    ];
	
	                    
	                    
	                    data = {
	                        check_date: $('#check_date').val(),
	                        title: $('#title').val(),
	                        Q: JSON.stringify(Q),
        	                srchStartDt: srchStartDt,
			                srchEndDt: srchEndDt,
	                    }       
	                }                         
					
					let fnSuccess = function (resp) {                    
	                    if (resp.success) {
							$('#bhId').val(resp.data.id);
	                        if (isAppr) {                            
								// 결재요청
								_this.reqAppr();
							} else {
								// 임시저장
								Notify.success('저장하였습니다.');
	                            $('#btnDelete').show();
	                            _this.searchMainData(true);
	                            
							}
						} else {
							Alert.alert('', resp.message);
						}
	                }
	                let action = $('#bhId').val() > 0 ? '/save' : '/insert'
	                
				    AjaxUtil.postAsyncData(_this.baseUrl + action, data, fnSuccess);
	            }            
	            
				if (isAppr) {
					Alert.confirm('', '결재상신하시겠습니까?', function () {
						callback();
					});
				}
				else {
					Alert.confirm('', '저장하시겠습니까?', function () {
						callback();
					});
				}
	        }
	
	        //결재
	        appr(isAppr) {
	            let _this = this;
	            _this.approveBoxUtil.approval(isAppr, function () {
	                $('#btnList').click();
	            });
	        }
	
	        // 결재상신
	        reqAppr() {
	            let _this = this;
	            let title = $('#title').val();
	            let url = '/gui/' + gui.gui_code + '/edit'
 				let srchStartDt = $('#searchForm').find("#srchStartDt").val();
        		let srchEndDt = $('#searchForm').find("#srchEndDt").val();
	            let urlParam = {
	                'bh_id': $('#bhId').val(),
	                'data_date': $('#check_date').val(),
                	'srchStartDt': srchStartDt,
                    'srchEndDt' : srchEndDt,
                    'first': true
	                
	            };
	            
	            /**
	             * 결재선 : 푸드/박원준 , 푸드/고형석
	             * */
	            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));            
	            if (ret.success) {
	                Notify.success('결재상신하였습니다.');
	                $('#btnList').click();
	            }
	        }

	        // 이미지 팝업
	        setImagePopup(data) {            
	            let _this = this;
	             
	            let content = tmpl('imagePopup', data);
	            let $content = $(content);
	            let modalContainer;
	
	            if (data && data.file_id) {
	                modalContainer = new PopupDraggable('점검항목 이미지');
	                modalContainer.open({ width: 500, height: 350, $content });                
	            }
	
	            let fncCallback = function () {                
	            };
	            _this.upload = new UploadOneImage(1, {
	                table_name: 'check_item',
	                data_pk: data.checkItem_id,
	                attach_name: 'check_item_image',
	                file_id: data.file_id,
	                upload_form_id: 'upload_form1',
	                upload_div_id: 'image_upload1',
	                image_width: '100%',
	                image_height: 'auto',
	                callback: fncCallback,
	            });
	
	            _this.upload.printFormDiv();
	            $('#pop_item_name').val(data.item_name);
	            $('#btnUpload1').hide();
	            $('#btnRemoveFile1').hide();
	            $('#attachFileId1').hide();
	        }
	
	    }
	
	    $(document).ready(function (e) {
	
			this.appr_view = $('#apprView').val()
			
			let creater = $('#createrName').val()
			
			$('#creater_name').val(creater)
	        
	        page = new MatInoutTestPageDiaryPage();        
			
	        $('#srchDt').ax5DatePicker({ direction: 'top' });
	
	        $('#check_date').val(CommonUtil.getYYYYMMDD());        
	
			
			 picker.bind({
	            target: $('[data-ax5picker="multi"]'),
	            direction: "top",
	            locale: {
	                format: 'YYYY-MM-DD'
	            },
	            content: {
	                width: 214,
	                margin: 10,
	                type: 'date',
	
	                config: {
	                    control: {
	                        left: '<i class="fa fa-arrow-left"></i>',
	                        yearTmpl: '%s',
	                        monthTmpl: '%s',
	                        right: '<i class="fa fa-arrow-right"></i>'
	                    },
	                    lang: {
	                        yearTmpl: "%s년",
	                        months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
	                        dayTmpl: "%s"
	                    }
	                }
	            },
	            btns: {
	                /*ok: {
	                    label: "조회", theme: "default", onClick: function () {
	                        this.self.close();
	                        page.searchDataBind();
	
	
	                    }
	                }*/
	            },
	
	       	 });
	       	 
        	 $('#searchForm').find('#srchDate').ax5DatePicker({ direction: 'top' });
	         $('#searchForm').find('#srchStartDt').val(CommonUtil.getYYYYMMDD(-7));
       		 $('#searchForm').find('#srchEndDt').val(CommonUtil.getYYYYMMDD());
        
	        // 목록
	        $('#btnList').on('click', function () {
	            if (this.appr_view) {
	                location.href = '/gui/' + this.appr_view
	            } else {
	                location.href = '/gui/' + gui.gui_code
	            }
	            
	        });
	        $('#btnSearch').click(function (e) {
            	page.searchMainData(false);
       		 });
 	        $('#btnDeviActionSave').click(function (e) {
				page.saveDeviAction();
       		 });
			// 신규저장
			$('#btnSave').on('click', function () {
				page.save(false);
	        });
	
	        // 결재상신
	        $('#btnReqAppr').on('click', function () {
	            page.save(true);
	        });
	
	        // 승인
	        $('#btnAppr').on('click', function () {
	            page.appr(true);
	        });
	        // 반려
	        $('#btnReject').on('click', function () {
	            page.appr(false);
	        });
	        	    	        
			page.searchMainData(true);        		
	    });
	</script>
	
	<style>
	    .background-yellow {
	        background: #ffd800
	    }
	    .background-skyblue {
	        background: #00e0ff
	    }
	    .background-white {
	        background: #ffffff
	    }
	    table.type01 {
	        border-collapse: collapse;
	        text-align: left;
	        line-height: 1.5;
	        margin: 20px 10px;
	    }
	    table.type01 th {
	        width: 150px;
	        padding: 10px;
	        font-weight: bold;
	        vertical-align: middle;
	        border: 1px solid #ccc;
	        text-align: center;
	    }
	    table.type01 td {
	        width: 650px;
	        padding: 10px;
	        vertical-align: middle;
	        border: 1px solid #ccc;
	    }
	</style>
	</th:block>
	</html>