<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">

<div class="content_wrap">

    <section>
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="검사마스터">검사마스터</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search" >
            <div class="row" >
                <div class="col-6 col-md-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t4" data-labelCd="마스터명">마스터명</span>
                        </div>
                        <input class="form-control2" id="keyword" name="keyword" />
                    </div>
                </div>

                <div class="col-6 col-md-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t4" data-labelCd="검사종류">검사종류</span>
                        </div>
                        <select class="form-control2" id="cboTestClass" name="cboTestClass"></select>
                    </div>
                </div>

                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnMainSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 
            </div>
        </div>
    </section>

    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="검사마스터">검사마스터</span>
            </div>
            <div class="h-300" data-ax5grid="test-master-grid"></div>
        </div>
    </section>

    <section>
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="기본 정보">기본 정보</a></li>
                        <li><a href="#" data-tablink="#tab_test_item" name="tab_test_item" class="tab" data-labelCd="검사항목 지정">검사항목 지정</a></li>
                        <li><a href="#" data-tablink="#tab_test_mat" name="tab_test_mat" class="tab" data-labelCd="해당 품목">해당 품목</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab" id="tab_basic">
                    <div class="title_box">
                        <button type="button" class="btn-default" id="btnNew" title="검사마스터 등록" disabled><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn-default y_write_auth" id="btnSave" title="검사마스터 저장" disabled><i class="fas fa-save"></i></button>
                        <button type="button" class="btn-danger y_write_auth" id="btnDel" title="검사마스터 삭제" disabled><i class="fas fa-trash"></i></button>
                    </div>
                    <div class="table_box sub" >
                        <form id="testMasterForm">
                            <div class="row" >
                                <input type="hidden" class="form-control2" id="id" name="id" readonly disabled />

                                <div class="col-6 col-md-3 col-xl-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_t11" data-labelCd="마스터 그룹">마스터 그룹</span>
                                        </div>
                                        <select class="form-control2" id="master_grp" name="master_grp" disabled></select>
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_t11" data-labelCd="마스터명">마스터명</span>
                                        </div>
                                        <input class="form-control2" id="master_name" name="master_name" disabled>
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_t11" data-labelCd="검사항목 사용 여부">검사항목 사용 여부</span>
                                        </div>
                                        <select class="form-control2" id="test_type" name="test_type" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>

            <div class="tab" id="tab_test_item">
                <div class="title_box">
                    <select class="s-150" id="cboResultType" name="cboResultType" ></select>
                    <select class="s-150" id="cboTestItem" name="cboTestItem" ></select>
                    <button type="button" class="btn-default" id="btnAddItem" title="검사항목 추가" disabled><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn-default" id="imgUp" title="순서변경" disabled><i class="fas fa-arrow-up"></i></button>
                    <button type="button" class="btn-default" id="imgDown" title="순서변경" disabled><i class="fas fa-arrow-down"></i></button>
                    <button type="button" class="btn-default y_write_auth" id="btnSaveItem" title="검사항목 저장" disabled><i class="fas fa-save"></i></button>
                    <button type="button" class="btn-danger y_write_auth" id="btnDelItem" title="검사항목 삭제" disabled><i class="fas fa-trash"></i></button>
                </div>
                <div class="tab_box">
                    <div class="h-250" data-ax5grid="test-grid"></div>
                </div>
            </div>

            <div class="tab" id="tab_test_mat">
                <div class="tab_box">
                    <div class="h-280" data-ax5grid="test-mat-grid"></div>
                </div>
            </div>
        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<script type="text/javascript">
//const { Alert } = require("bootstrap");

    class TestMasterPage {
        constructor() {
            this.grid = null;
            this.test_item_grid = null;
            this.test_mat_grid = null;

            this.baseUrl = '/api/test/test_master'
            this.testSpecMap = {};
            this.testSpecType = [];

            this.currentTab = null;

            // 일괄삭제 처리용도
            this.delRows = [];

            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="test-master-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);

                        if (_this.currentTab == 'tab_test_item') {
                            _this.showItemList(e.item.id);
                        } else if (_this.currentTab = 'tab_test_mat') {
                            _this.showMatList(e.item.id);
                        }
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    //{ key: 'id', label: '번호', width: 150, align: 'center' },
                    { key: 'test_master_grp', label: '그룹', width: 200, align: 'left' },
                    { key: 'test_master_class', label: '검사종류', width: 200, align: 'left' },
                    { key: 'test_master_name', label: '마스터명', width: 200, align: 'left' },
                    {
                        key: 'use_test_item', label: '검사항목 사용', width: 120, align: 'center',
                        //editor: {
                        //    type: "checkbox",
                        //    config: { height: 17, trueValue: "Y", falseValue: "N" },
                        //},
                    },
                ]
            };

            this.grid = new ax5.ui.grid(config);

            let test_item_grid_config = {
                target: $('[data-ax5grid="test-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.test_item_grid.select(this.dindex);
                        if (e.column.key == 'spec_type') {
                            e.column.editor.config.options = _this.testSpecType;
                        }
                    },
                    onDataChanged: function () {
                        // 규격유형 변경 시 상하한, 규격문자 초기화
                        if (this.key == 'spec_type') {
                            _this.test_item_grid.setValue(this.dindex, 'low_spec', '');
                            _this.test_item_grid.setValue(this.dindex, 'upper_spec', '');
                            _this.test_item_grid.setValue(this.dindex, 'spec_text', '');
                            _this.test_item_grid.setValue(this.dindex, 'eng_spec_text', '');
                        }

                        if (this.key == 'low_spec') {
                            _this.makeSpecText(this);
                        }

                        if (this.key == 'upper_spec') {
                            _this.makeSpecText(this);
                        }
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '번호', width: 100, align: 'center', },
                    //{
                    //    key: 'delete', label: '삭제', width: 100, align: 'center',
                    //    formatter: function () {
                    //        //return '<button type="button" class="btn-danger" data-custom-btn><i class="fas fa-trash"></i></button>'
                    //    },
                    //},
                    //{ key: 'test_item_id', label: '검사항목 번호', width: 120, align: 'center' },
                    { key: 'test_name', label: '검사항목명', width: 200, align: 'left' },
                    { key: 'test_res_type', label: '결과값 유형', width: 100, align: 'center' },
                    { key: 'round_digit', label: '<span class="editable_clr">소수점 자리수</span>', width: 120, align: 'right', editor: { type: 'number' }, formatter: 'money' },
                    {
                        key: 'spec_type', label: '<span class="editable_clr">규격유형</span>', width: 100, align: 'center',
                        formatter: function () {
                            return _this.testSpecMap[this.value];
                        },
                        editor: {
                            type: 'select',
                            config: {
                                columnKeys: {
                                    optionValue: 'value',
                                    optionText: 'text'
                                },
                                options: [],
                            }
                        },
                    },
                    {
                        key: 'low_spec', label: '<span class="editable_clr">하한값</span>', width: 100, align: 'right',
                        editor: {
                            type: 'number',
                            disabled: function () {
                                return (!this.item.spec_type || this.item.spec_type == 'x' || this.item.spec_type == 'just' || this.item.spec_type == 'upper')
                            }
                        },
                        formatter: 'money'
                    },
                    {
                        key: 'upper_spec', label: '<span class="editable_clr">상한값</span>', width: 100, align: 'right',
                        editor: {
                            type: 'number',
                            disabled: function () {
                                return (!this.item.spec_type || this.item.spec_type == 'x' || this.item.spec_type == 'just' || this.item.spec_type == 'low')
                            }
                        },
                        formatter: 'money'
                    },
                    { key: 'spec_text', label: '규격문자', width: 100, align: 'center' },
                    { key: 'eng_spec_text', label: '규격문자(영)', width: 100, align: 'center' },
                ]
            };

            this.test_item_grid = new ax5.ui.grid(test_item_grid_config);
            
            let test_mat_config = {
                target: $('[data-ax5grid="test-mat-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.test_mat_grid.select(this.dindex);
                        
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    //{ key: 'id', label: '번호', width: 100, align: 'left'},
                    { key: 'mat_type', label: '품목유형', width: 150, align: 'left' },
                    { key: 'mat_grp', label: '품목그룹', width: 200, align: 'left' },
                    { key: 'mat_code', label: '품목코드', width: 200, align: 'left' },
                    { key: 'mat_name', label: '품목명', width: 200, align: 'left' },
                ]
            };

            this.test_mat_grid = new ax5.ui.grid(test_mat_config);

            // 필터
            AjaxUtil.fillSelectOptions($('#cboTestClass'), 'system_code', 'all', false, 'test_class'); // 검사종류

            // form내부
            AjaxUtil.fillSelectOptions($('#cboResultType'), 'system_code', 'choose', false, 'result_type'); // 결과값유형
            AjaxUtil.fillSelectOptions($('#test_type'), 'system_code', 'choose', false, 'test_type'); // 검사유형
            AjaxUtil.fillSelectOptions($('#master_grp'), 'test_master_group', 'choose', false); // 검사유형

            this.testSpecType = AjaxUtil.getSelectData('system_code', 'spec_type');
        }

        // 버튼 활성화
        setButtonState() {
            let id = $('#testMasterForm').find('#id').val();
            let $buttons = $('.tab-content').find('button');
            let $testItemBtns = $('#tab_test_item').find('button');

            $buttons.each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            $('#btnNew').removeAttr('disabled');
            $('#btnSave').removeAttr('disabled');

            if (id) {
                $('#btnDel').removeAttr('disabled');

                if ($('#test_type').val() == 'use_item_master') {
                    $testItemBtns.each(function () {
                        $(this).removeAttr('disabled');
                    });
                } else {
                    $testItemBtns.each(function () {
                        if (!$(this).is(':disabled')) {
                            $(this).attr('disabled', 'disabled');
                        }
                    });
                }
            }
        }

        // 공정 목록 조회
        searchMainData() {
            let _this = this;
            let param = {
                'name': $('#keyword').val(),
                'test_class': $('#cboTestClass').val()
            };

            let result = AjaxUtil.getSyncData(this.baseUrl+"/read", param);
            if (result.data) {
                let count = result.data.length;
                this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }

            $('#testMasterForm')[0].reset();
            $('#testMasterForm').find('#id').val('');

            $('#testMasterForm').find('input, select, textarea').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            this.test_item_grid.setData([]);
            this.test_mat_grid.setData([]);
            this.delRows = [];

            this.setButtonState();
        }

        //상세정보 조회
        showDetail(id) {
            let _this = this;
            let param = {
                'id': id
            };

            let result = AjaxUtil.getSyncData(this.baseUrl+"/detail", param);
            if (result.data) {
                FormUtil.BindDataForm(result.data, $('#testMasterForm'))
                this.setButtonState();
            }
        }

        // 정보 저장
        saveInfo() {
            let _this = this;
            let url = '/api/test/test_master/save';
            let data = FormUtil.extractForm($('#testMasterForm'));
            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다.');
                    _this.searchMainData();
                    _this.showDetail(res.data.id);
                }
            }

            if (!data.master_grp) {
                Alert.alert('', '마스터 그룹을 선택해주세요.');
                return;
            } else if (!data.master_name) {
                Alert.alert('', '마스터명을 입력해주세요.');
                return;
            } else if (!data.test_type) {
                Alert.alert('', '검사유형을 선택해주세요.');
                return;
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        // 정보 삭제
        deleteInfo() {
            let _this = this;
            let id = $('#testMasterForm').find('#id').val();
            let url = '/api/test/test_master/delete';
            let data = {
                'id': id,
            }
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success("삭제되었습니다.");
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        // 검사항목조회
        showItemList(masterId) {
            let _this = this;
            let option = $('<option>', { value: '', text: '선택' });

            $('#cboResultType').val('');
            $('#cboTestItem').empty();
            $('#cboTestItem').append(option);

            this.test_item_grid.setData([]);
            this.delRows = [];

            if (masterId) {
                let param = {
                    'master_id': masterId,
                };

                let result = AjaxUtil.getSyncData(this.baseUrl + '/item_list', param);
                if (result != null) {
                    let count = result.data.length;
                    this.test_item_grid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: count,
                        }
                    });
                }
            }
        }

        // 검사항목추가
        addItem() {
            let _this = this;
            let valid = true;
            let resultType = $('#cboResultType').val();
            let testItemId = $('#cboTestItem').val();
            let testItemList = this.test_item_grid.getList();

            if (!resultType) {
                Alert.alert('', '결과값 유형을 선택해주세요.');
                return;
            } else if (!testItemId) {
                Alert.alert('', '테스트 항목을 선택해주세요.');
                return;
            }

            if (testItemList.length > 0) {
                testItemList.forEach(function (item) {
                    if (item.test_item_id == testItemId) {
                        valid = false;
                    }
                });
            }

            if (valid) {
                let param = {
                    'item_id': testItemId
                };

                let result = AjaxUtil.getSyncData(this.baseUrl + '/get_item_info', param);

                if (result.data) {
                    this.test_item_grid.addRow(
                        {
                            'test_item_id': result.data.test_item_id,
                            'test_name': result.data.test_item_name,
                            'test_res_type': result.data.result_type,
                            'round_digit': result.data.round_digit,
                            'spec_type': 'x',
                        },
                        'last',
                        { focus: "END" }
                    );
                }
            } else {
                Alert.alert('', '동일한 검사항목이 이미 존재합니다.');
                return;
            }
        }

        // 검사항목저장
        saveItem() {
            let _this = this;

            let url = '/api/test/test_master/save_item';
            let masterId = $('#testMasterForm').find('#id').val();

            let valid = true;
            let valid_message = '';

            let testItemList = [];
            let dataDefault = {
                'id': '',
                'test_item_id': '',
                'round_digit': '',
                'spec_type': '',
                'low_spec': '',
                'upper_spec': '',
                'spec_text': '',
                'eng_spec_text': '',
            }

            this.test_item_grid.getList().forEach(function (item) {
                if (!item['spec_type']) {
                    valid = false;
                    valid_message = '규격유형을 선택해주세요.';
                }

                let testItem = {};
                $.each(dataDefault, function (key) {
                    if (item[key]) {
                        testItem[key] = item[key];
                    } else {
                        testItem[key] = '';
                    }
                });

                testItemList.push(testItem);
            });

            if (valid) {
                let data = {
                    'master_id': masterId,
                    'item_list': testItemList,
                    'del_ids': this.delRows,
                }

                let Q = {
                    value: JSON.stringify(data)
                }

                let fnSuccess = function (res) {
                    Notify.success('저장되었습니다');
                    _this.showItemList(masterId);
                }

                AjaxUtil.postAsyncData(url, Q, fnSuccess);
            } else {
                Alert.alert('', valid_message);
            }
        }

        // 검사항목삭제
        delItem() {
            let _this = this;
            let selectedRow = this.test_item_grid.getList('selected')[0];
            //let url = '/api/test/test_master?action=delete_item';

            //if (selectedRow.id) {
            //    let data = {
            //        'item_id': selectedRow.id,
            //    }

            //    let fnSuccess = function () { };

            //    AjaxUtil.postAsyncData(url, data, fnSuccess);
            //} 
            if (selectedRow.id) {
                this.delRows.push(selectedRow.id);
            }
            this.test_item_grid.removeRow(selectedRow.__index);
            //Alert.alert('', '삭제되었습니다.');
        }

        // 검사항목 순서변경
        changeOrder(val) {
            let _this = this;

            if (this.test_item_grid.getList('selected').length == 0) {
                Alert.alert('', '순서를 변경할 항목을 선택하세요.');
                return;
            }
            
            if (val == 'U') {
                let selected = this.test_item_grid.getList('selected');

                $.each(selected, function (index, self_item) {
                    let self_index = self_item.__index;
                    let upper_index = self_index - 1; 

                    if (upper_index == - 1) {
                        Alert.alert('', '첫번째 항목이 선택되었습니다.');
                        return;
                    }

                    let upper_item = _this.test_item_grid.list[upper_index];
                    upper_item.__index = self_index;
                    self_item.__index = upper_index;

                    _this.test_item_grid.updateRow(self_item, upper_index);
                    _this.test_item_grid.updateRow(upper_item, self_index);

                    _this.test_item_grid.select(self_item, { __selected__: true });
                    _this.test_item_grid.select(upper_item, { __selected__: false });

                    _this.test_item_grid.repaint();
                });
            } else {
                let selected = this.test_item_grid.getList('selected');
                selected.reverse(); // 아래로 내릴 때는 역순으로 루프를 돌려야 한다.

                $.each(selected, function (index, self_item) {
                    let self_index = self_item.__index;
                    let under_index = self_index + 1;

                    if (_this.test_item_grid.list.length <= under_index) {
                        Alert.alert('', '마지막 항목이 선택되었습니다.');
                        return;
                    }

                    let under_item = _this.test_item_grid.list[under_index];
                    under_item.__index = self_index;
                    self_item.__index = under_index;

                    _this.test_item_grid.updateRow(self_item, under_index);
                    _this.test_item_grid.updateRow(under_item, self_index);

                    _this.test_item_grid.select(self_item, { __selected__: true });
                    _this.test_item_grid.select(under_item, { __selected__: false });

                    _this.test_item_grid.repaint();
                });
            }
        }

        // 한/영 규격문자 생성
        makeSpecText(row) {
            let _this = this;
            let specText = '';
            let engSpecText = '';
            let specType = row.item.spec_type;

            if (specType == 'low') {
                if (row.item.low_spec) {
                    specText = row.item.low_spec + ' 이상';
                    engSpecText = 'Min ' + row.item.low_spec;
                }
            } else if (specType == 'upper') {
                if (row.item.upper_spec) {
                    specText = row.item.upper_spec + ' 이하';
                    engSpecText = 'Max ' + row.item.upper_spec;
                }
            } else if (specType == 'range') {
                if (row.item.low_spec && row.item.upper_spec) {
                    if (row.item.upper_spec < row.item.low_spec) {
                        Alert.alert('', '상하한 범위를 확인해주세요.');
                    }

                    specText = row.item.low_spec + ' ~ ' + row.item.upper_spec;
                    engSpecText = row.item.low_spec + ' ~ ' + row.item.upper_spec;
                }
            }

            this.test_item_grid.setValue(row.dindex, 'spec_text', specText);
            this.test_item_grid.setValue(row.dindex, 'eng_spec_text', engSpecText);
        }

        // 검사항목삭제
        deleteItem() {
            if (this.test_item_grid.getList('selected').length == 0) {
                Alert.alert('', '삭제할 항목을 선택하세요.');
                return;
            }

            let selectedRow = this.test_item_grid.getList('selected')[0];
            if (selectedRow.id) {
                this.delRows.push(selectedRow.id);
            }
            this.test_item_grid.removeRow(selectedRow.__index);

        }
        // 해당품목조회
        showMatList(masterId) {
            let _this = this;

            this.test_mat_grid.setData([]);

            if (masterId) {
                let param = {
                    'master_id': masterId,
                };

                let result = AjaxUtil.getSyncData(this.baseUrl+"/get_applied_mat", param);
                if (result.data != null) {
                    let count = result.data.length;
                    this.test_mat_grid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: count,
                        }
                    });
                }
            }
        }
    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new TestMasterPage();

        $.each(page.testSpecType, function (index, item) {
            page.testSpecMap[item.value] = item.text;
        });

        page.searchMainData();
                
        // 검색버튼
        $('#btnMainSearch').click(function (e) { page.searchMainData(); });

        // tab클릭
        $('.tab_links .tab').click(function (e) {
            let target = e.currentTarget.name;
            let masterId = $('#testMasterForm').find('#id').val();

            page.currentTab = target;

            if (target == 'tab_test_item') {
                page.showItemList(masterId);
            } else if (target == 'tab_test_mat') {
                page.showMatList(masterId);
            } 
        });

        // 기본정보> 신규버튼
        $('#btnNew').click(function (e) {

            $('#testMasterForm')[0].reset();
            $('#testMasterForm').find('#id').val('');
            page.test_item_grid.setData([]);
            page.test_mat_grid.setData([]);

             $('#testMasterForm').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            page.setButtonState();
        });

        // 기본정보> 저장버튼
        $('#btnSave').click(function (e) {
            page.saveInfo();
        });

        // 기본정보> 삭제버튼
        $('#btnDel').click(function (e) {
            Alert.confirm('', '삭제하시겠습니까?',
                function () {
                    page.deleteInfo();
                },
                function () { }
            );
        });

        // 검사항목지정> 추가
        $('#btnAddItem').click(function () {
            page.addItem();
        });

        // 검사항목지정> 저장
        $('#btnSaveItem').click(function () {
            page.saveItem();
        });

        let option = $('<option>', { value: '', text: '선택' });
        $('#cboTestItem').append(option);

        // 결과값 유형에 따른 검사항목 세팅
        $('#cboResultType').change(function (e) {
            if ($('#cboResultType').val()) {
                AjaxUtil.fillSelectOptions($('#cboTestItem'), 'test_item', 'choose', false, $('#cboResultType').val());
            } else {
                $('#cboTestItem').empty();
                $('#cboTestItem').append(option);
            }
        });
        // 검사항목지정> 삭제
        $('#btnDelItem').click(function (e) {
            Alert.confirm('', '검사항목을 삭제하시겠습니까?',
                function () {
                    page.deleteItem();
                },
                function () { }
            );
        });
        //// 검사항목지정> 삭제
        //$('[data-ax5grid="test-grid"]').on('click', '[data-custom-btn]', function (e) {
        //    if ($('#test_type').val() == 'use_item_master') {
        //        page.delItem();
        //    } else {
        //        Alert.alert('', '검사항목 미사용 마스터는 \n 검사항목을 수정 할 수 없습니다.')
        //    }
        //});

        // 검사항목지정> 순서변경
        $("#imgUp").click(function (e) {
            page.changeOrder("U");
        });

        $("#imgDown").click(function (e) {
            page.changeOrder("D");
        });

    });



</script>
</th:block>

</html>