<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">

    <section class="section ">

        <div class="title_box ">
            <div class="left_align">
                <h3>검사방법 정보</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>


        <div class="table_box search" >
            <div class="row" >
                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="방법명">방법명</span>
                        </div>
                        <input class="form-control2" value="" id="txtKeyword" name="txtKeyword" placeholder="" title="" />
                    </div>
                </div>

                <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 
            </div>
        </div>
    </section>

    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="검사방법 정보">검사방법 정보</span>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class="h-300" data-ax5grid="process-grid" ></div>
        </div>
    </section>

    <section class="section">
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="기본정보">기본정보</a></li>
                        <li><a href="#" data-tablink="#tab_defect_type" name="tab_defect_type" class="tab" data-labelCd="해당 검사항목">해당 검사항목</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab" id="tab_basic">
                <div class="tab_con_box">
                    <div class="title_box">
                        <span class="right_align rpt" data-labelCd="상세정보">상세 정보</span>
                        <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn-cancel" id="btnDel" ><i class="fas fa-trash"></i></button>
                        <button disabled type="button" class="btn-default" id="btnSave" ><i class="fas fa-save"></i></button>
                    </div>
                    <form id="testMethodForm">
                        <div class="table_box sub" >
                            <div class="row" >
                                <input type="hidden" id="id" name="id" />

                                <div class="col-6 col-md-3 col-lg-3" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="코드">코드</span>
                                        </div>
                                        <input class="form-control2" type="text" id="test_method_code" name="test_method_code" placeholder="" disabled="disabled" required>
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-lg-3" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="검사방법명">검사방법명</span>
                                        </div>
                                        <input class="form-control2" type="text" id="test_method_name" name="test_method_name" placeholder="" disabled="disabled" required>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="설비그룹">설비그룹</span>
                                        </div>
                                        <select class="form-control2" id="equip_group_id" name="equip_group_id" disabled="disabled" required></select>
                                    </div>
                                </div>

                                <div class="col-12" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="설명">설명</span>
                                        </div>
                                        <input class="form-control2" type="text" id="description" name="description" placeholder="" disabled="disabled" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab" id="tab_defect_type">
                <div class="tab_con_box">
                     <div class="grid_box">
                        <div class="h-230"  data-ax5grid="test_item_grid" ></div>
                     </div>
                </div>
            </div>

        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<script type="text/javascript">
    class ProcessPage {
        constructor() {
        	this.url = '/api/test/test_method';
            this.grid = null;
            this.test_item_grid = null;
            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="process-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                        _this.showTestItem();
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
               columns: [
                    { key: 'id', label: '번호', width: 150, align: 'left' },
                   { key: 'test_method_code', label: '검사방법코드', width: 150, align: 'left' },
                    { key: 'test_method_name', label: '검사방법명', width: 200, align: 'left' },
                   { key: 'equip_group_name', label: '설비그룹', width: 150, align: 'left' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config; 

            let test_item_config = {
                target: $('[data-ax5grid="test_item_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.test_item_grid.select(this.dindex);
                        
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
               columns: [
                    { key: 'id', label: '번호', width: 80, align: 'right', hidden: true },
                    { key: 'test_item_code', label: '검사항목코드', width: 150, align: 'left' },
                   { key: 'test_item_name', label: '검사항목명', width: 150, align: 'left' },

                ]
            };

            this.test_item_grid = new ax5.ui.grid(test_item_config);
 
        }

        setButtonState() {
            let pk = $('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);
            }
            else {
                $('#btnDel').prop('disabled', true);
            }
        }

        // 검사방법 목록 조회
        searchMainData() {
            let _this = this;
            let url = this.url + '/read';
            let param = {
                'keyword': $('#txtKeyword').val()
            }

            let result = AjaxUtil.getSyncData(url, param);
            if (result.success) {
                let count = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }

            $('#testMethodForm')[0].reset();
            $('#testMethodForm').find('#id').val('');

            $('#testMethodForm').find('input, select, textarea').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            //_this.setButtonDisable(false, true, true);
            _this.setButtonState();
        }

        // 검사방법 상세정보 조회
        showDetail(id) {
            let param = { 'id': id};
            let url = this.url+'/detail';
            let result = AjaxUtil.getSyncData(url, param);

            if (result.success) {
                FormUtil.BindDataForm(result.data, $('#testMethodForm'));
            }

            //page.setButtonDisable(false, false, false);
            page.setButtonState();
        }

        // 검사방법 정보 저장
        saveTestMethod() {
            let _this = this;
            let validate = true;
            let $target = null;
            let url = this.url + '/save';

            //let data = $('#testMethodForm').serialize();
            let data = FormUtil.extractForm($('#testMethodForm'));
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다');
                    _this.searchMainData();
                    _this.showDetail(res.data);
                } else {
                    Alert.alert('', res.message);
                }
            }

             AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        // 검사방법 정보 삭제
        deleteTestMethod() {
            let _this = this;
            let url = this.url + '/delete';
            let id = $('#testMethodForm').find('#id').val();
            let data = { 'id': id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        // 검사방법별부적합유형
        showTestItem() {
            let _this = this;
            let id = $('#testMethodForm').find('#id').val();
            let param = {
                'id': id,
            };
            let url = this.url+'/test_item_list';
            let result = AjaxUtil.getSyncData(url, param);

            if (result.success) {
                let count = result.data.length;
                _this.test_item_grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }
        }
       /*
        addDefectTypeRow() { 
            let row = {};
            let defect_type_pk = $('#cboTestItem').val();
            let already = false;
            page.test_item_grid.getList().forEach(function (row) {
                if (row.defect_type_id == defect_type_pk)
                    already = true;
            });
            if (already)
                return;

            row["defect_type_id"] = defect_type_pk;
            row["defect_type_name"] = $("#cboTestItem option:selected").text();

            page.test_item_grid.addRow(
                row,
                'last',
                { __index: undefined }
            ); 
        }
        
        saveDefectType() {
            let _this = this;
            let url = '/api/test/test_method?action=save_proc_defect_type';
            let grid_data = JSON.stringify(_this.test_item_grid.getList());
            let param = {
                Q: grid_data,
                'proc_pk': $('#id').val()
            };
            let fnSuccess = function (res) {
                Notify.success('저장되었습니다'); // Notification
                _this.showTestItem();
            };
            AjaxUtil.postAsyncData(url, param, fnSuccess);
        }
        */
    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new ProcessPage();

        AjaxUtil.fillSelectOptions($('#equip_group_id'), 'equipment_group', 'choose', false);
        AjaxUtil.fillSelectOptions($('#cboTestItem'), 'defect_type', '', false);
        
        //그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
        
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }       
    
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        }); 

        page.searchMainData();
                
        // 검색버튼
        $('#btnSearch').click(function (e) { page.searchMainData(); });

        // 신규버튼
        $('#btnNew').click(function (e) {

            $('#testMethodForm')[0].reset();
            $('#testMethodForm').find('#id').val('');

            $('#testMethodForm').find('input, select, textarea').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            //page.setButtonDisable(true, false, true);
            page.setButtonState();
        });

        // 저장버튼
        $('#btnSave').click(function (e) {
            let data = FormUtil.extractForm($('#testMethodForm'));
            //if (!data.equip_group_id) {
            //    Alert.alert('', '설비그룹을 선택해주세요.');
            //    return false;
            //}
            if (!data.test_method_code) {
                Alert.alert('', '코드를 입력해주세요.');
                return false;
            }
            if (!data.test_method_name) {
                Alert.alert('', '검사방법명을 입력해주세요.');
                return false;
            }
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveTestMethod() },
                function () { }
            );
        });

        // 삭제버튼
        $('#btnDel').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteTestMethod() },
                function () { }
            );
        });

        //$('#btnAddTestItem').click(function () {
        //    //page2.newRow();
        //    if (!$('#cboTestItem').val()) {
        //        Alert.alert('', '부적합유형을 선택해주세요.');
        //        return false;
        //    }
        //    page.addDefectTypeRow();
        //});

        //$('#btnDelTestItem').click(function (e) {
        //    page.test_item_grid.removeRow('selected');
        //});

        //$('#btnSaveDefectType').click(function () {
        //    page.saveDefectType();
        //});

        // 엑셀 다운로드
        $('#btnExcel').click(function (e) {
            page.grid.exportExcel('검사방법정보.xls');
        });

    });



</script>
</th:block>
</html>