<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">

    <section>
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="검사 항목">검사 항목</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="검사방법">검사방법</span>
                        </div>
                        <select class="form-control2" id="cboTestMethod" name="cboTestMethod"></select>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="항목명">항목명</span>
                        </div>
                        <input class="form-control2" id="txtItemName" name="txtItemName"/>
                    </div>
                </div>

                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="결과값유형">결과값유형</span>
                        </div>
                        <select class="form-control2" id="cboResType" name="cboResType"></select>
                    </div>
                </div>

                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="단위">단위</span>
                        </div>
                        <select class="form-control2" id="cboUnit" name="cboUnit"></select>
                    </div>
                </div>

                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 
            </div>
        </div>
    </section>

    <section>
        <div class="grid_box" >
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="검사항목">검사항목</span>
            </div>
            <div class="h-350" data-ax5grid="test-item-grid" ></div>
        </div>
    </section>

    <section>
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="기본정보">기본정보</a></li>
                        <li><a href="#" data-tablink="#tab_res" name="tab_res" class="tab" data-labelCd="선택형결과">선택형결과</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab" id="tab_basic">
                        <div class="title_box mb-2">
                            <span class="right_align rpt" data-labelCd="상세 정보">상세 정보</span>
                            <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
                            <button type="button" class="btn-danger y_write_auth" id="btnDel" ><i class="fas fa-trash"></i></button>
                            <button type="button" class="btn-default y_write_auth" id="btnSave" ><i class="fas fa-save"></i></button>
                        </div>

                    <form id="testItemForm">
                        <div class="table_box sub"  >
                            <div class="row" id="detail_box" >
                                <input type="hidden" class="form-control2" id="id" name="id" readonly style="background-color:#cecece" disabled />
                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="검사방법">검사방법</span>
                                        </div>
                                        <select class="form-control2" id="test_method_id" name="test_method_id" ></select>
                                    </div>
                                </div>
                                
                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="구분">구분</span>
                                        </div>
                                        <input class="form-control2" id="item_type" name="item_type" />
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="코드">코드</span>
                                        </div>
                                        <input class="form-control2" id="item_code" name="item_code" />
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="항목명">항목명</span>
                                        </div>
                                        <input class="form-control2" id="item_name" name="item_name"  />
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="영문명">영문명</span>
                                        </div>
                                        <input class="form-control2" id="item_eng_name" name="item_eng_name" />
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="결과값유형">결과값유형</span>
                                        </div>
                                        <select class="form-control2" id="res_type" name="res_type" ></select>
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="단위">단위</span>
                                        </div>
                                        <select class="form-control2" id="item_unit" name="item_unit" >
                                        </select>
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-xl-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_md" data-labelCd="소수점자리수">소수점자리수</span>
                                        </div>
                                        <input type="number" class="form-control2" id="item_round_digit" name="item_round_digit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>

            <div class="tab" id="tab_res">
                <div class="grid_box" >
                    <div class="title_box">
                        <span class="right_align rpt" data-labelCd="데이터 수집 설정">데이터 수집 설정</span>
                        <button type="button" class="btn-default" id="btnAddRow"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn-danger y_write_auth" id="btnDelRow"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn-default y_write_auth" id="btnSaveRow"><i class="fas fa-save"></i></button>
                    </div>
                    <div class="h-200" data-ax5grid="res-grid" ></div>
                </div>
            </div>

        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">

<script type="text/javascript">
    class TestItemPage {
        constructor() {
            this.grid = null;
            this.res_grid = null;
            this.url = '/api/test/test_item';
            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="test-item-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetailItem(e.item.id);
                        _this.showDetailRes(e.item.id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'test_method_name', label: '검사방법', width: 150, align: 'left', sortable: false },
                    { key: 'item_type', label: '구분', width: 150, align: 'left', sortable: false },
                    { key: 'item_code', label: '코드', width: 150, align: 'left', sortable: false },
                    { key: 'item_name', label: '검사항목명', width: 150, align: 'left' },
                    { key: 'item_eng_name', label: '영문명', width: 200, align: 'left', sortable: false },
                    { key: 'item_res_type', label: '결과값유형', width: 150, align: 'left', sortable: false },
                    { key: 'unit_name', label: '단위', width: 150, align: 'center', sortable: false },
                    { key: 'item_round_digit', label: '소수점자리수', width: 150, align: 'right', sortable: false },
                ]
            };

            this.grid = new ax5.ui.grid(config);

            let res_config = {
                target: $('[data-ax5grid="res-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.res_grid.select(this.dindex);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'test_item_id', label: '검사항목id', width: 150, align: 'center', hidden: true , editor:{ type: "number" }},
                    { key: 'result_code', label: '<span style="color:blue">결과코드</span>', width: 150, align: 'left', editor:{ type: "number" }  },
                    { key: 'result_name', label: '<span style="color:blue">결과명</span>', width: 150, align: 'left', editor:{ type: "text" }  },
                    { key: 'pass_yn', label: '합격테이터', width: 200, align: 'center', editor:{ type: "checkbox", config: {height: 17, trueValue: "Y", falseValue: "N"}  } },
                ]
            };

            this.res_grid = new ax5.ui.grid(res_config);
        }

        // 버튼 활성화 설정
        setButtonState() {
            let pk = $('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);
            }
            else {
                $('#btnDel').prop('disabled', true);
            }
        }

        // 목록 조회
        searchMainData() {
            let _this = this;
            let url = this.url + "/read";
            let param = {
                'test_method_id': $('#cboTestMethod').val(),
                'test_item_name': $('#txtItemName').val(),
                'test_res_type': $('#cboResType').val(),
                'unit': $('#cboUnit').val()
            };

            let result = AjaxUtil.getSyncData(url, param);
            if (result.success) {
                let count = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }

            this.res_grid.setData({
                list: [],
                page: {
                    display: true,
                    totalElements: 0,
                }
            });

            $('#testItemForm')[0].reset();
            $('#testItemForm').find('#id').val('');

            $('#detail_box').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            this.setButtonState();
        }

        // 상세정보 조회
        showDetailItem(id) {
            let param = { 'id': id };
            let result = AjaxUtil.getSyncData(this.url + '/detail', param);

            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#testItemForm'));
            }

            this.setButtonState();
        }

        // 정보 저장
        saveItem() {
            let _this = this;
            let data = FormUtil.extractForm($('#testItemForm'));
			
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다');
                    _this.searchMainData();
                    _this.showDetailItem(res.data.id);
                } else if (!res.success) {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(this.url + '/save', data, fnSuccess);
        }

        // 상세 정보 삭제
        deleteItem() {
            let _this = this;
            let id = $('#testItemForm').find('#id').val();
            let data = { 'id': id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(this.url + '/delete', data, fnSuccess);
        }

        // 선택형결과 상세 정보 조회
        showDetailRes(id) {
            let _this = this;
            let param = { 'id': id };

            let result = AjaxUtil.getSyncData(this.url + '/detail_res', param);
            if (result != null) {
                let count = result.data.length;
                _this.res_grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }

            page.setButtonState();
        }


        // 선택형결과 정보 저장
        saveRes() {
            let _this = this;
            let data = {
                list: JSON.stringify(this.res_grid.getList('modified')),
                'test_item_id':$('#detail_box').find('#id').val()
            }
            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다');
                    _this.showDetailRes(test_item_id);
                }
            }

            AjaxUtil.postAsyncData(this.url + '/save_res', data, fnSuccess);
        }

        // 선택형결과 정보 삭제
        deleteRes() {
            let _this = this;
            let id = _this.res_grid.getList("selected")[0].id;
            let test_item_id = $('#detail_box').find('#id').val();
            let data = { 'id': id };
            let fnSuccess = function () {
                Notify.success('삭제되었습니다');
                _this.showDetailRes(test_item_id);
            }

            AjaxUtil.postAsyncData(this.url + '/delete_res', data, fnSuccess);
        }
    }

    let page = null;

    $(document).ready(function (e) {
        page = new TestItemPage();

        page.searchMainData();

        // filter
        AjaxUtil.fillSelectOptions($('#cboTestMethod'), 'test_method', 'all', false);
        AjaxUtil.fillSelectOptions($('#cboResType'), 'system_code', 'all', false, 'result_type');
        AjaxUtil.fillSelectOptions($('#cboUnit'), 'unit', 'all', false);

        // form 내부
        AjaxUtil.fillSelectOptions($('#detail_box').find('#test_method_id'), 'test_method', 'choose', false);
        AjaxUtil.fillSelectOptions($('#detail_box').find('#item_unit'), 'unit', 'choose', false);
        AjaxUtil.fillSelectOptions($('#detail_box').find('#res_type'), 'system_code', 'choose', false, 'result_type');
                
        // 검색버튼
        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        // 신규버튼
        $('#btnNew').click(function (e) {
            page.searchMainData();

            $('#testItemForm')[0].reset();
            $('#testItemForm').find('#id').val('');

            $('#detail_box').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            page.setButtonState();
        });

        // 저장버튼
        $('#btnSave').click(function (e) {
            let data = FormUtil.extractForm($('#testItemForm'));
            if (!data.res_type) {
                Alert.alert('', '결과값 유형을 선택해주세요.');
                return false;
            } else if (!data.item_code) {
                Alert.alert('', '코드를 입력해주세요.');
                return false;
            } else if (!data.item_name) {
                Alert.alert('', '항목명을 입력해주세요.');
                return false;
            }

            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveItem() },
                function () { }
            );
        });

        // 삭제버튼
        $('#btnDel').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteItem() },
                function () { }
            );
        });

        // 선택형결과 > 추가
        $('#btnAddRow').click(function (e) {
            if ($('#detail_box').find('#res_type').val() == 'S') {
                test_item_id = $('#detail_box').find('#id').val();
                page.res_grid.addRow({'test_item_id':test_item_id}, 'last', { focus: "END" });
            } else {
                Alert.alert('', '선택형 결과값만 입력하실 수 있습니다. ')
            }
        });

        // 선택형결과 > 저장
        $('#btnSaveRow').click(function (e) {
            let getList = page.res_grid.getList();

            for (var i = 0; i < getList.length; i++) {
                if (!getList[i].result_code) {
                    Alert.alert('', '결과코드를 입력해주세요');
                    return;
                }
                if (!getList[i].result_name) {
                    Alert.alert('', '결과명을 입력해주세요');
                    return;
                }
            }
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveRes() },
                function () { }
            );

        });

        // 선택형결과 > 삭제
        $('#btnDelRow').click(function (e) {

            if (page.res_grid.getList("selected").length < 1) {
                Alert.alert('', '삭제할 그리드를 선택하세요.');
                return;
            }

            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteRes() },
                function () { }
            );
        });
    });

</script>
</th:block>
</html>