<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>티켓 이력</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>티켓 관리</li>
                <li>티켓 이력</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역" id="spworkcd" name="spworkcd" onchange="updateSelect('spworkcd', 'spworknm')">
                        <option value="001">대구</option>
                        <input type="hidden" id="spworknm" name="spworknm">
                    </select>
                </li>
                <li>
                    <select title="구" id="spcompcd" name="spcompcd" onchange="updateSelect('spcompcd', 'spcompnm')">
                        <option value="001">성서산단</option>
                        <input type="hidden" id="spcompnm" name="spcompnm">
                    </select>
                </li>
                <li>
                    <select title="시설" id="spplancd" name="spplancd" onchange="updateSelect('spplancd', 'spplannm')">
                        <option value="001">시설명</option>
                        <input type="hidden" id="spplannm" name="spplannm">
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    조회기간<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="startDate" name="startDate">
                                            <label for="startDate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="endDate" name="endDate">
                                            <label for="endDate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="ticketcategory">
                                        티켓 유형<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <select id="ticketcategory" name="ticketcategory">
                                                <option value="전체">전체</option>
                                            </select>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="ticketstate">
                                        티켓 상태<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <select id="ticketstate" name="ticketcategory">
                                                <option value="전체">전체</option>
                                            </select>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="searchrequester">
                                        요청자<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="searchrequester" name="searchrequester"
                                               class="input-srch">
                                        <a href="#a" class="btn-srch" title="검색" onclick="searchData()"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="container-fluid" >
                        <div>
                            <div id="chartHolder" style="width:600px; height:400px; margin-left: 20px">
                            </div>
                        </div>
                        <div>
                            <p id="selectedItem"></p>
                            <div id="theGrid" style="max-height:300px"></div>
                        </div>
                    </div>
            </section>
        </div> <!--//tab-contens end-->
    </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->
    <footer>
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
    </div> <!-- //dashboard-layout-right end-->

    </div> <!-- //dashboard-layout-contents end-->

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        // -----------------------차트 설정 시작-----------------------

        // rMateChart 를 생성합니다.
        // 파라메터 (순서대로)
        //  1. 차트의 id ( 임의로 지정하십시오. )
        //  2. 차트가 위치할 div 의 id (즉, 차트의 부모 div 의 id 입니다.)
        //  3. 차트 생성 시 필요한 환경 변수들의 묶음인 chartVars
        //  4. 차트의 가로 사이즈 (생략 가능, 생략 시 100%)
        //  5. 차트의 세로 사이즈 (생략 가능, 생략 시 100%)
        rMateChartH5.create("chart1", "chartHolder", "", "250%", "100%");

        var today = "2032/2/16";

        // 스트링 형식으로 레이아웃 정의.
        var layoutStr =
            '<rMateChart >'
            + '<DateFormatter id="dateFmt" formatString="M월"/>'
            + '<Bar3DChart showDataTips="true">'
            + '<verticalAxis>'
            + '<CategoryAxis id="vAxis" categoryField="cat"/>'
            + '</verticalAxis>'
            + '<horizontalAxis>'
            + '<DateTimeAxis displayLocalTime="true" id="hAxis" labelUnits="months" minimum="2032/01/01" maximum="2032/12/31"/>'
            + '</horizontalAxis>'
            + '<series>'
            + '<Bar3DSeries minField="date1" xField="date2" labelPosition="inside" insideLabelField="cat" color="#ffffff" insideLabelYOffset="-2">'
            + '<showDataEffect>'
            + '<SeriesSlide direction="right" duration="1000"/>'
            + '</showDataEffect>'
            + '</Bar3DSeries>'
            + '</series>'
            + '<verticalAxisRenderers>'
            + '<Axis3DEdgeRenderer axis="{vAxis}" showOuterStroke="false">'
            + '<axisStroke>'
            + '<Stroke color="#bbbbbbb"/>'
            + '</axisStroke>'
            + '</Axis3DEdgeRenderer>'
            + '</verticalAxisRenderers>'
            + '<horizontalAxisRenderers>'
            + '<Axis3DEdgeRenderer axis="{hAxis}" showOuterStroke="false" formatter="{dateFmt}">'
            + '<axisStroke>'
            + '<Stroke color="#bbbbbbb"/>'
            + '</axisStroke>'
            + '</Axis3DEdgeRenderer>'
            + '</horizontalAxisRenderers>'
            + '<backgroundElements>'
            + '<GridLines direction="vertical" showBorderStroke="false"/>'
            + '</backgroundElements>'
            + '</Bar3DChart>'
            + '</rMateChart>';

        // 차트 데이터
        var chartData = [
            {
                "cat": "A 티켓",
                "date1": "2032/01/21",
                "date2": "2032/03/15"
            }, {
                "cat": "B 티켓",
                "date1": "2032/01/01",
                "date2": "2032/02/15"
            }, {
                "cat": "C 티켓",
                "date1": "2032/04/01",
                "date2": "2032/06/30"
            }, {
                "cat": "D 티켓",
                "date1": "2032/02/01",
                "date2": "2032/04/30"
            }, {
                "cat": "E 티켓",
                "date1": "2032/06/01",
                "date2": "2032/09/30"
            }, {
                "cat": "F 티켓",
                "date1": "2032/02/01",
                "date2": "2032/07/15"
            }, {
                "cat": "G 티켓",
                "date1": "2032/09/01",
                "date2": "2032/10/30"
            }, {
                "cat": "H 티켓",
                "date1": "2032/10/15",
                "date2": "2032/11/30"
            }
        ];

        // rMateChartH5.calls 함수를 이용하여 차트의 준비가 끝나면 실행할 함수를 등록합니다.
        //
        // argument 1 - rMateChartH5.create시 설정한 차트 객체 아이디 값
        // argument 2 - 차트준비가 완료되면 실행할 함수 명(key)과 설정될 전달인자 값(value)
        //
        // 아래 내용은
        // 1. 차트 준비가 완료되면 첫 전달인자 값을 가진 차트 객체에 접근하여
        // 2. 두 번째 전달인자 값의 key 명으로 정의된 함수에 value값을 전달인자로 설정하여 실행합니다.
        rMateChartH5.calls("chart1", {
            "setLayout": layoutStr,
            "setData": chartData
        });

        /**
         * rMateChartH5 3.0이후 버전에서 제공하고 있는 테마기능을 사용하시려면 아래 내용을 설정하여 주십시오.
         * 테마 기능을 사용하지 않으시려면 아래 내용은 삭제 혹은 주석처리 하셔도 됩니다.
         *
         * -- rMateChartH5.themes에 등록되어있는 테마 목록 --
         * - simple
         * - cyber
         * - modern
         * - lovely
         * - pastel
         * -------------------------------------------------
         *
         * rMateChartH5.themes 변수는 theme.js에서 정의하고 있습니다.
         */
        rMateChartH5.registerTheme(rMateChartH5.themes);

        /**
         * 샘플 내의 테마 버튼 클릭 시 호출되는 함수입니다.
         * 접근하는 차트 객체의 테마를 변경합니다.
         * 파라메터로 넘어오는 값
         * - simple
         * - cyber
         * - modern
         * - lovely
         * - pastel
         * - default
         *
         * default : 테마를 적용하기 전 기본 형태를 출력합니다.
         */
        function rMateChartH5ChangeTheme(theme) {
            document.getElementById("chart1").setTheme(theme);
        }

        // -----------------------차트 설정 끝 -----------------------


        var theGrid;    // 목록에 뿌림
        var theGrid1;   // 등록에서 insert
        var viewdata;
        var data1 = [];

        document.readyState === 'complete' ? init() : window.onload = init;

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            fetchListData();
            inputData();
        }

        function fetchListData() {
            let data2 = [];

            // $.ajax({
            //     url: '',
            //     type: 'GET',
            //     async: false,
            //     success: function (data) {
            //         data2 = data.data;
            //     }
            // })

            viewdata = new wijmo.collections.CollectionView(data2);

            // 임시 데이터 배열 정의
            var tempData = [];
            for (var i = 0; i < 20; i++) {
                tempData.push({
                    checkno: i + 1,
                    inpledt: '',
                    checkdt: '',
                    spworknm: '',
                    spcompnm: '',
                    spplannm: '',
                    checkusr: '',
                    checkresult: '',
                    checkrem: ''
                });
            }

            if (!theGrid) {
                // 데이터 그리드에 바인딩
                theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    columns: [
                        {binding: 'checkno', header: '순번', width: 80, align: 'center', isReadOnly: true},
                        {binding: 'tketcrdtm', header: '발생일자', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketnm', header: '티켓유형', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tkettypenm', header: '제목', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketrusernm', header: '요청자', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketflag', header: '내용', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketactrem', header: '비고', width: '*', minWidth: 100, align: 'center'},
                    ],
                    itemsSource: tempData
                });
                theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid);
                window.downloadFileName = '티켓 통계';
            } else {
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid.itemsSource = viewdata;
            }
        }

        $(document).ready(function (e) {

            // 정보 저장
            $('#btnSave').click(function (e) {
                Alert.confirm('', '저장하시겠습니까?', function () {

                    // theGrid1의 데이터를 data1 배열에 업데이트
                    var updatedData1 = theGrid1.collectionView.items;

                    // data1이 제대로 업데이트되었는지 확인하는 로그 추가
                    console.log("Updated data1:", updatedData1);

                    let formData = new FormData();

                    formData.append('spworkcd', $('#spworkcd').val());
                    formData.append('spworknm', $('#spworknm').val());
                    formData.append('spcompcd', $('#spcompcd').val());
                    formData.append('spcompnm', $('#spcompnm').val());
                    formData.append('spplancd', $('#spplancd').val());
                    formData.append('spplannm', $('#spplannm').val());
                    formData.append('checkdt', $('#checkdt').val());
                    formData.append('checknm', $('#checknm').val());
                    formData.append('checkusr', $('#checkusr').val());
                    formData.append('checkresult', $('#checkresult').val());
                    formData.append('checkrem', $('#checkrem').val());
                    formData.append('filelist', $('#filelist').val());
                    formData.append('_csrf', $('[name=_csrf]').val());
                    // 점검리스트 데이터 추가
                    formData.append('inspectlist', JSON.stringify(updatedData1));

                    // $.ajax({
                    //     url: "/api/inspec/hap/save",
                    //     type: 'POST',
                    //     data: formData,
                    //     processData: false,
                    //     contentType: false,
                    //     success: function (response) {
                    //         if (response.success) {
                    //             Alert.alert('', response.message, function () {
                    //                 $('#listTabLink').click();
                    //                 fetchListData();
                    //
                    //             });
                    //
                    //         } else {
                    //             Alert.alert('', '저장에 실패했습니다. ');
                    //         }
                    //     },
                    //     error: function (jqXHR, textStatus, errorThrown) {
                    //         Alert.alert('', '에러가 발생하였습니다.');
                    //     }
                    // });
                })
            })
            // select 아이디에 따라 히든 input 설정
            const selects = [
                {selectId: 'spworkcd', hiddenInputId: 'spworknm'},
                {selectId: 'spcompcd', hiddenInputId: 'spcompnm'},
                {selectId: 'spplancd', hiddenInputId: 'spplannm'}
            ];
            selects.forEach(item => updateSelect(item.selectId, item.hiddenInputId));

        });

        //  select 바뀌면 hidden input 변경
        function updateSelect(selectId, hiddenInputId) {
            var selectElement = document.getElementById(selectId);
            var selectedOptionText = selectElement.options[selectElement.selectedIndex].text;
            document.getElementById(hiddenInputId).value = selectedOptionText;
        }

    </script>

</th:block>
</html>

