<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>티켓 통계</h2><a id="toggleButton" onclick="toggleSearchWrap()"><img src="/images/icon/ico-down.png"
                                                                                     alt="알람 아이콘"></a>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>티켓 관리</li>
                <li>티켓 통계</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap" id="searchWrap" style="display: none">
            <ul>
                <li>
                    <select title="지역" id="spworkcd" name="spworkcd" onchange="updateSelect('spworkcd', 'spworknm')">
                        <option value="001">대구</option>
                        <input type="hidden" id="spworknm" name="spworknm">
                    </select>
                </li>
                <li>
                    <select title="구" id="spcompcd" name="spcompcd" onchange="updateSelect('spcompcd', 'spcompnm')">
                        <option value="001">성서산단</option>
                        <input type="hidden" id="spcompnm" name="spcompnm">
                    </select>
                </li>
                <li>
                    <select title="시설" id="spplancd" name="spplancd" onchange="updateSelect('spplancd', 'spplannm')">
                        <option value="001">시설명</option>
                        <input type="hidden" id="spplannm" name="spplannm">
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1" style="height: 850px">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    조회기간<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="startDate" name="startDate">
                                            <label for="startDate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="endDate" name="endDate">
                                            <label for="endDate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="ticketcategory">
                                        티켓 유형<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <select id="ticketcategory" name="ticketcategory">
                                                <option value="전체">전체</option>
                                            </select>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="ticketstate">
                                        티켓 상태<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <select id="ticketstate" name="ticketstate">
                                                <option value="전체">전체</option>
                                            </select>
                                        </li>
                                        <li>
                                            <div style="margin-left: -20px" class="srch-box">
                                                <a href="#a" class="btn-srch" title="검색" onclick="searchData()" onkeyup="searchData()"></a>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="row row-2">
                        <section class="wp48" style="height: 530px">
                            <!-- 그래프 -->
                            <div id="chartHolder" style="width:600px; height:400px;">
                            </div>
                        </section>
                        <section class="wp48" style="height: 530px">
                            <div class="container-fluid">
                                <p id="selectedItem"></p>
                                <div id="theGrid" style="max-height: 485px"></div>
                            </div>
                        </section>
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->
    </div> <!-- //dashboard-layout-right end-->

    </div> <!-- //dashboard-layout-contents end-->

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        // -----------------------차트 설정 시작-----------------------
        rMateChartH5.create("chart1", "chartHolder", "", "120%", "120%");

        // 스트링 형식으로 레이아웃 정의.
        var layoutStr =
            '<rMateChart backgroundColor="#FFFFFF" borderStyle="none" paddingBottom="20">'
            +'<Options>'
            +'<SubCaption paddingBottom="60"/>'
            +'<Legend defaultMouseOverAction="true" useVisibleCheck="true"/>'
            +'</Options>'
            +'<CurrencyFormatter id="numFmt" currencySymbol="%" alignSymbol="right"/>'
            /*
            Pie3D 차트 생성시에 필요한 Pie3DChart 정의합니다
            showDataTips : 데이터에 마우스를 가져갔을 때 나오는 Tip을 보이기/안보이기 속성입니다.
            */
            +'<Pie3DChart showDataTips="true" depth="50" elevation="50" paddingBottom="35">'
            +'<series>'
            +'<Pie3DSeries nameField="browser" field="share" labelPosition="inside" color="#ffffff" startAngle="240" itemRollOverEmphasize="true">'
            /* Pie3DChart 정의 후 Pie3DSeries labelPosition="inside"정의합니다 */
            +'<showDataEffect>'
            /* 차트 생성시에 Effect를 주고 싶을 때 shoDataEffect정의합니다 */
            +'<SeriesInterpolate duration="1000"/>'
            /*
            SeriesInterpolate 효과는 시리즈 데이터가 데이터로 표시될 때 데이터의 변화된 내용을 가지고 효과를 적용합니다
            - 공통 -
            elementOffset : effect를 지연시키는 시간을 지정합니다 default:20
            minimumElementDuration : 각 엘리먼트의 최소 지속 시간을 설정합니다 default:0
                         이 값보다 짧은 시간에 effect가 실행되지 않습니다
            offset : effect개시의 지연시간을 설정합니다 default:0
            perElementOffset : 각 엘리먼트의 개시 지연시간을 설정합니다
            */
            +'</showDataEffect>'
            +'</Pie3DSeries>'
            +'</series>'
            +'</Pie3DChart>'
            +'</rMateChart>';

        // 차트 데이터
        var chartData =
            [{"browser":"A ticket", "share":68},
                {"browser":"B ticket Explorer", "share":12},
                {"browser":"C ticket", "share":11},
                {"browser":"D ticket", "share":6},
                {"browser":"E ticket", "share":3}];

        // rMateChartH5.calls 함수를 이용하여 차트의 준비가 끝나면 실행할 함수를 등록합니다.
        //
        // argument 1 - rMateChartH5.create시 설정한 차트 객체 아이디 값
        // argument 2 - 차트준비가 완료되면 실행할 함수 명(key)과 설정될 전달인자 값(value)
        //
        // 아래 내용은
        // 1. 차트 준비가 완료되면 첫 전달인자 값을 가진 차트 객체에 접근하여
        // 2. 두 번째 전달인자 값의 key 명으로 정의된 함수에 value값을 전달인자로 설정하여 실행합니다.
        rMateChartH5.calls("chart1", {
            "setLayout" : layoutStr,
            "setData" : chartData
        });

        /**
         * rMateChartH5 3.0이후 버전에서 제공하고 있는 테마기능을 사용하시려면 아래 내용을 설정하여 주십시오.
         * 테마 기능을 사용하지 않으시려면 아래 내용은 삭제 혹은 주석처리 하셔도 됩니다.
         *
         * -- rMateChartH5.themes에 등록되어있는 테마 목록 --
         * - simple
         * - cyber
         * - modern
         * - lovely
         * - pastel
         * -------------------------------------------------
         *
         * rMateChartH5.themes 변수는 theme.js에서 정의하고 있습니다.
         */
        rMateChartH5.registerTheme(rMateChartH5.themes);

        /**
         * 샘플 내의 테마 버튼 클릭 시 호출되는 함수입니다.
         * 접근하는 차트 객체의 테마를 변경합니다.
         * 파라메터로 넘어오는 값
         * - simple
         * - cyber
         * - modern
         * - lovely
         * - pastel
         * - default
         *
         * default : 테마를 적용하기 전 기본 형태를 출력합니다.
         */
        function rMateChartH5ChangeTheme(theme){
            document.getElementById("chart1").setTheme(theme);
        }

        // -----------------------차트 설정 끝 -----------------------


        var theGrid;    // 목록에 뿌림
        var theGrid1;   // 등록에서 insert
        var viewdata;
        var data1 = [];

        document.readyState === 'complete' ? init() : window.onload = init;

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            fetchListData();
            inputData();
        }

        function fetchListData() {
            let data2 = [];

            // $.ajax({
            //     url: '',
            //     type: 'GET',
            //     async: false,
            //     success: function (data) {
            //         data2 = data.data;
            //     }
            // })

            viewdata = new wijmo.collections.CollectionView(data2);

            // 임시 데이터 배열 정의
            var tempData = [];
            for (var i = 0; i < 20; i++) {
                tempData.push({
                    checkno: i + 1,
                    inpledt: '',
                    checkdt: '',
                    spworknm: '',
                    spcompnm: '',
                    spplannm: '',
                    checkusr: '',
                    checkresult: '',
                    checkrem: ''
                });
            }

            if (!theGrid) {
                // 데이터 그리드에 바인딩
                theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    columns: [
                        {binding: 'checkno', header: '순번', width: 80, align: 'center', isReadOnly: true},
                        {binding: 'inpledt', header: '발생일자',width: '*', minWidth: 100, align: 'center', isReadOnly: true},
                        {binding: 'checkdt', header: '유형', width: '*', minWidth: 100, align: 'center', isReadOnly: true},
                        {binding: 'spworknm', header: '상태',width: '*', minWidth: 100, align: 'center', isReadOnly: true},
                    ],
                    itemsSource: tempData
                });
                theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid);
                window.downloadFileName = '티켓 통계';
            } else {
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid.itemsSource = viewdata;
            }
        }

        $(document).ready(function (e) {

            // 정보 저장
            $('#btnSave').click(function (e) {
                Alert.confirm('', '저장하시겠습니까?', function () {

                    // theGrid1의 데이터를 data1 배열에 업데이트
                    var updatedData1 = theGrid1.collectionView.items;

                    // data1이 제대로 업데이트되었는지 확인하는 로그 추가
                    console.log("Updated data1:", updatedData1);

                    let formData = new FormData();

                    formData.append('spworkcd', $('#spworkcd').val());
                    formData.append('spworknm', $('#spworknm').val());
                    formData.append('spcompcd', $('#spcompcd').val());
                    formData.append('spcompnm', $('#spcompnm').val());
                    formData.append('spplancd', $('#spplancd').val());
                    formData.append('spplannm', $('#spplannm').val());
                    formData.append('checkdt', $('#checkdt').val());
                    formData.append('checknm', $('#checknm').val());
                    formData.append('checkusr', $('#checkusr').val());
                    formData.append('checkresult', $('#checkresult').val());
                    formData.append('checkrem', $('#checkrem').val());
                    formData.append('filelist', $('#filelist').val());
                    formData.append('_csrf', $('[name=_csrf]').val());
                    // 점검리스트 데이터 추가
                    formData.append('inspectlist', JSON.stringify(updatedData1));

                    // $.ajax({
                    //     url: "/api/inspec/hap/save",
                    //     type: 'POST',
                    //     data: formData,
                    //     processData: false,
                    //     contentType: false,
                    //     success: function (response) {
                    //         if (response.success) {
                    //             Alert.alert('', response.message, function () {
                    //                 $('#listTabLink').click();
                    //                 fetchListData();
                    //
                    //             });
                    //
                    //         } else {
                    //             Alert.alert('', '저장에 실패했습니다. ');
                    //         }
                    //     },
                    //     error: function (jqXHR, textStatus, errorThrown) {
                    //         Alert.alert('', '에러가 발생하였습니다.');
                    //     }
                    // });
                })
            })
            // select 아이디에 따라 히든 input 설정
            const selects = [
                {selectId: 'spworkcd', hiddenInputId: 'spworknm'},
                {selectId: 'spcompcd', hiddenInputId: 'spcompnm'},
                {selectId: 'spplancd', hiddenInputId: 'spplannm'}
            ];
            selects.forEach(item => updateSelect(item.selectId, item.hiddenInputId));

        });

        //  select 바뀌면 hidden input 변경
        function updateSelect(selectId, hiddenInputId) {
            var selectElement = document.getElementById(selectId);
            var selectedOptionText = selectElement.options[selectElement.selectedIndex].text;
            document.getElementById(hiddenInputId).value = selectedOptionText;
        }

    </script>

</th:block>
</html>

