<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>티켓 등록</h2>
                <a href="#" title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>운영 관리</li>
                <li>티켓 등록</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역" id="spworkcd" name="spworkcd" onchange="updateSelect('spworkcd', 'spworknm')">
                        <option value="001">대구</option>
                        <input type="hidden" id="spworknm" name="spworknm">
                    </select>
                </li>
                <li>
                    <select title="구" id="spcompcd" name="spcompcd" onchange="updateSelect('spcompcd', 'spcompnm')">
                        <option value="001">성서산단</option>
                        <input type="hidden" id="spcompnm" name="spcompnm">
                    </select>
                </li>
                <li>
                    <select title="시설" id="spplancd" name="spplancd" onchange="updateSelect('spplancd', 'spplannm')">
                        <option value="001">성서</option>
                        <input type="hidden" id="spplannm" name="spplannm">
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록" id="listTabLink">목록</a>
                </li>
                <li>
                    <a href="#tab2" title="등록">등록</a>
                </li>
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    등록일자<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="startDate" name="startDate">
                                            <label for="startDate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="endDate" name="endDate">
                                            <label for="endDate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="searchtketnm">
                                        Ticket명<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="searchtketnm" name="searchtketnm" class="input-srch"
                                               placeholder="Ticket명 검색">
                                        <a href="#a" class="btn-srch" title="검색" onclick="searchData()"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-delete" title="삭제">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" title="수정">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        수정
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="max-height: 490px"></div>
                    </div>
                </section>
                <!-- Section -->
                <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>티켓 등록</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="신규등록">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-delete" title="삭제">
                                        <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="write-table">
                            <form id="customForm">
                                <caption>티켓 테이블</caption>
                                <colgroup>
                                    <col class="wp12">
                                    <col class="wp25">
                                    <col class="wp12">
                                    <col class="wp55">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>
                                        <label for="requester">
                                            Requester
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="requester" name="requester">
                                    </td>
                                    <th>
                                        <label for="tketnm">
                                            티켓명
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="tketnm" name="tketnm" style="width: 100%">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="tketcrdtm">
                                            발생일자
                                        </label>
                                    </th>
                                    <td>
                                        <input type="date" id="tketcrdtm" name="tketcrdtm">
                                    </td>
                                    <th>
                                        <label for="tketflag">
                                            상태
                                        </label>
                                    </th>
                                    <td>
                                        <select id="tketflag" name="tketflag">
                                            <option value="1">오류</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="margin-bottom: 20px;">
                                        <label for="requesterhp">
                                            연락처
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="requesterhp" name="requesterhp">
                                    </td>
                                    <th rowspan="5">
                                        <label for="tketrem">
                                            내용
                                        </label>
                                    </th>
                                    <td rowspan="5">
                                        <div class="textarea-box">
                                            <textarea id="tketrem" placeholder="내용" style="height: 220px"></textarea>
                                            <p class="text-count" id="text-count">0/100</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="empty-cell" colspan="2" style="height: 30px"></td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="inusernm">
                                            담당자
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="inusernm" name="inusernm">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="tkettypenm">
                                            요청유형
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="tkettypenm" name="tkettypenm">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="tketrcpnm">
                                            수신회사
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="tketrcpnm" name="tketrcpnm">
                                        <input type="hidden" id="tketrcpcd" name="tketrcpcd">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="tketrusernm">
                                            수신자
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" id="tketrusernm" name="tketrusernm">
                                        <input type="hidden" id="tketruserid" name="tketruserid">
                                    </td>
                                    <th rowspan="2">
                                        <label for="tketactrem">
                                            조치
                                        </label>
                                    </th>
                                    <td rowspan="2">
                                        <div class="textarea-box">
                                            <textarea id="tketactrem" placeholder="조치내용"
                                                      style="height: 170px"></textarea>
                                            <p class="text-count" id="text-count1">0/100</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="remark">
                                            비고
                                        </label>
                                    </th>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="remark"></textarea>
                                            <p class="text-count" id="text-count2">0/100</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        첨부파일
                                    </th>
                                    <td colspan="3">
                                        <div id="uploadComponent1" class="upload-component">
                                            <div class="upload-filebox">
                                                <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                                <a class="btn" title="파일업로드">파일업로드</a>
                                                <input type="file" id="fileInput1" class="fileInput" multiple>
                                                <p>Maximun upload file size <span>1GiB</span></p>
                                            </div>
                                            <div class="upload-filelist">
                                                <div class="title">
                                                    <h5>Files (0)</h5>
                                                    <a title="Delete all" class="btn-file-deleteall">Delete
                                                        all</a>
                                                </div>
                                                <ul class="filelist" id="filelist">
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </form>
                        </table>
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->
    <footer>
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
    </div> <!-- //dashboard-layout-right end-->

    </div> <!-- //dashboard-layout-contents end-->

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            fetchListData();
        }

        function fetchListData() {
            let data2 = [];

            // 임시 데이터 배열 정의
            var tempData = [];
            for (var i = 0; i < 20; i++) {
                tempData.push({
                    rownum: i + 1,
                    tketcrdtm: '',
                    tketnm: '',
                    tkettypenm: '',
                    tketrusernm: '',
                    tketflag: '',
                    tketactrem: '',
                    downloads: '',
                    remark: ''
                });
            }

            // $.ajax({
            //     url: '/api/ticket/ticket/read',
            //     type: 'GET',
            //     async: false,
            //     success: function (data) {
            //         data2 = data.data;
            //     }
            // })

            viewdata = new wijmo.collections.CollectionView(data2);

            if (!theGrid) {
                // 데이터 그리드에 바인딩
                theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    columns: [
                        {binding: 'rownum', header: '순번', width: 80, align: 'center'},
                        {binding: 'tketcrdtm', header: '발생일자', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketnm', header: 'Ticket명', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tkettypenm', header: '유형', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketrusernm', header: '수신자명', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketflag', header: '상태', width: '*', minWidth: 100, align: 'center'},
                        {binding: 'tketactrem', header: '조치', width: '*', minWidth: 100, align: 'center'},
                        {
                            header: '파일', binding: 'downloads', width: '*', minWidth: 100, align: 'center', cssClass: 'filedown',
                        },
                        {binding: 'remark', header: '비고', width: '*', minWidth: 100, align: 'center'}
                    ],
                    itemsSource: tempData
                });
                // 선택이 변경될 때, 현재 항목 업데이트
                theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid);
                window.downloadFileName = '티켓현황';
            } else {
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid.itemsSource = viewdata;
            }
        }

        // 검색
        function searchData() {
            let data = {
                'startDate': $('#startDate').val(),
                'endDate': $('#endDate').val(),
                'searchtketnm': $('#searchtketnm').val()
            }
            let data2 = [];
            $.ajax({
                url: '/api/ticket/ticket/read',
                type: 'GET',
                data: data,
                success: function (data) {
                    data2 = data.data;
                    viewdata = new wijmo.collections.CollectionView(data2);
                    theGrid.itemsSource = viewdata;
                },
                error: function (xhr, status, error) {
                    console.error('AJAX request error:', error);
                }
            });
        }

        $(document).ready(function (e) {

            // $('#btnSave').click(function (e) {
            //
            //
            //     Alert.confirm('', '저장하시겠습니까?', function () {
            //
            //         let formData = new FormData();
            //
            //         // 다른 데이터를 FormData에 추가합니다.
            //         formData.append('spworkcd', $('#spworkcd').val());
            //         formData.append('spworknm', $('#spworknm').val());
            //         formData.append('spcompcd', $('#spcompcd').val());
            //         formData.append('spcompnm', $('#spcompnm').val());
            //         formData.append('spplancd', $('#spplancd').val());
            //         formData.append('spplannm', $('#spplannm').val());
            //         formData.append('requester', $('#requester').val());
            //         formData.append('requesterhp', $('#requesterhp').val());
            //         formData.append('tketcrdtm', $('#tketcrdtm').val());
            //         formData.append('tketnm', $('#tketnm').val());
            //         formData.append('tkettypecd', $('#tkettypecd').val());
            //         formData.append('tkettypenm', $('#tkettypenm').val());
            //         formData.append('tketflag', $('#tketflag').val());
            //         formData.append('tketrem', $('#tketrem').val());
            //         formData.append('tketrcpcd', $('#tketrcpcd').val());
            //         formData.append('tketrcpnm', $('#tketrcpnm').val());
            //         formData.append('tketruserid', $('#tketruserid').val());
            //         formData.append('tketrusernm', $('#tketrusernm').val());
            //         formData.append('tketactrem', $('#tketactrem').val());
            //         formData.append('remark', $('#remark').val());
            //         formData.append('_csrf', $('[name=_csrf]').val());
            //
            //         // 파일 목록을 FormData에 추가합니다.(ui.js)
            //         uploadedFiles.forEach((file, index) => {
            //             formData.append('filelist', file);
            //         });
            //
            //         $.ajax({
            //             url: '/api/ticket/ticket/save',
            //             type: 'POST',
            //             data: formData,
            //             processData: false,  // 기본적으로 jQuery는 데이터를 문자열로 변환하려고 하므로 이를 비활성화
            //             contentType: false,  // 기본적으로 jQuery는 Content-Type을 설정하려고 하므로 이를 비활성화
            //             success: function (response) {
            //                 if (response.success) {
            //                     Alert.alert('', response.message, function () {
            //                         $('#listTabLink').click();
            //                         fetchListData();
            //                         document.getElementById('requester').value = '';
            //                         document.getElementById('requesterhp').value = '';
            //                         document.getElementById('tketcrdtm').value = '';
            //                         document.getElementById('tketnm').value = '';
            //                         document.getElementById('tkettypenm').value = '';
            //                         document.getElementById('tketflag').value = '';
            //                         document.getElementById('tketrcpnm').value = '';
            //                         document.getElementById('tketrusernm').value = '';
            //                         document.getElementById('tketactrem').value = '';
            //                         document.getElementById('tketrem').value = '';
            //                         document.getElementById('remark').value = '';
            //                     });
            //                 } else {
            //                     Alert.alert('', '저장에 실패했습니다. ');
            //                 }
            //             },
            //             error: function (jqXHR, textStatus, errorThrown) {
            //                 Alert.alert('', '에러가발생하였습니다.');
            //             }
            //         });
            //
            //
            //     })
            // })
            // select 아이디에 따라 히든 input 설정
            const selects = [
                {selectId: 'spworkcd', hiddenInputId: 'spworknm'},
                {selectId: 'spcompcd', hiddenInputId: 'spcompnm'},
                {selectId: 'spplancd', hiddenInputId: 'spplannm'}
            ];
            selects.forEach(item => updateSelect(item.selectId, item.hiddenInputId));

        });

        //  select 바뀌면 hidden input 변경
        function updateSelect(selectId, hiddenInputId) {
            var selectElement = document.getElementById(selectId);
            var selectedOptionText = selectElement.options[selectElement.selectedIndex].text;
            document.getElementById(hiddenInputId).value = selectedOptionText;
        }

    </script>

</th:block>
</html>

