<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="content_wrap">
    <section>

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="HACCP 업무설정">HACCP 업무설정</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>


        <div class="table_box search">
            
            <div class="row">
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="업무명">업무명</span>
                        </div>
                        <input type="text" class="form-control2" id="txtKeyword" name="txtKeyword" />
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="HACCP 항목 목록">HACCP 항목 목록</span>
                <button type="button" class="btn-default " id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class="h-350" data-ax5grid="task-grid"></div>
        </div>
    </section>
    <section>

        <div class="title_box mb-2">
            <span class="right_align rpt" data-labelCd="상세정보">상세정보</span>
            <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn-default" id="btnSave" style="float:none"><i class="fas fa-save"></i></button>
            <button type="button" class="btn-danger" id="btnDel" style="float:none"><i class="fas fa-trash"></i></button>
        </div>

        <div class="tabs" data-tab="tabWrap" >
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_task_info" name="tab_task_info" class="tab" data-labelCd="기본정보">기본정보</a></li>
                        <li><a href="#" data-tablink="#tab_approver" name="tab_approver" class="tab" data-labelCd="결재자">결재자</a></li>
                    </ul>
                </div>
            </div>
            <form id="taskForm">
            <div class="tab-content">
                <div class="tab" id="tab_task_info">
                    <div class="tab_con_box">
                        <div class="table_box">
                            <input type="hidden" id="id" name="id" />
                            <div class="table_box sub">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="*업무그룹">*업무그룹</span>
                                            </div>
                                            <select class="form-control2" type="text" id="task_group_code" name="task_group_code" disabled></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="*업무">*업무</span>
                                            </div>
                                            <input class="form-control2" type="text" id="task_name" name="task_name" disabled required />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="업무코드">업무코드</span>
                                            </div>
                                            <input class="form-control2" type="text" id="code" name="code" disabled />
                                        </div>
                                    </div>
                                    <!--
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="*결재1제목">*결재1제목</span>
                                            </div>
                                            <input class="form-control2" type="text" id="line1_name" name="line1_name" disabled required />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3" col-xl-3>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t6" data-labelCd="결재자1">결재자1</span>
                                            </div>
                                            <input class="form-control2" type="text" id="task_approver1" name="task_approver1" placeholder="결재자를 지정해주세요" readonly disabled/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="*결재2제목">결재2제목</span>
                                            </div>
                                            <input class="form-control2" type="text" id="line2_name" name="line2_name" disabled required />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3" col-xl-3>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t6" data-labelCd="결재자2">결재자2</span>
                                            </div>
                                            <input class="form-control2" type="text" id="task_approver2" name="task_approver2" placeholder="결재자를 지정해주세요" readonly disabled/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="결재3제목">결재3제목</span>
                                            </div>
                                            <input class="form-control2" type="text" id="line3_name" name="line3_name" disabled required />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3" col-xl-3>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t6" data-labelCd="결재자3">결재자3</span>
                                            </div>
                                            <input class="form-control2" type="text" id="task_approver3" name="task_approver3" placeholder="결재자를 지정해주세요" readonly disabled/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="결재4제목">결재4제목</span>
                                            </div>
                                            <input class="form-control2" type="text" id="line4_name" name="line4_name" disabled required />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3" col-xl-3>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t6" data-labelCd="결재자4">결재자4</span>
                                            </div>
                                            <input class="form-control2" type="text" id="task_approver4" name="task_approver4" placeholder="결재자를 지정해주세요" readonly disabled/>
                                        </div>
                                    </div>-->

                                    <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="주기">주기</span>
                                            </div>
                                            <select class="form-control2" type="text" id="cycle_base" name="cycle_base" disabled></select>

                                            <!--오늘할일 작성을 위해 주기별 일자 지정 필요-->
                                            <select class="form-control2" id="cboWeek" name="cboWeek" style="display:none;"></select>

                                            <select class="form-control2" id="cboMonthDay" name="cboMonthDay" style="display:none;"></select>

                                            <select class="form-control2" id="cboYearMonth" name="cboYearMonth" style="display:none;"></select>
                                            <select class="form-control2" id="cboYearDay" name="cboYearDay" style="display:none;"></select>
                                            <span class="input-group-text fit_box_t4" data-labelCd="추가" id="btnQHAdd" style="cursor:pointer; display:none;">추가</span>
                                            <span class="input-group-text fit_box_t4" data-labelCd="초기화" id="btnQHDel" style="cursor:pointer; display:none;">초기화</span>

                                            <input class="form-control2 tar" type="text" id="cycle_number" name="cycle_number" disabled required style="display:none;" value="1" />
                                            <!--<span class="input-group-text fit_box_t4" data-labelCd="회">회</span>-->
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="작성자그룹">작성자그룹</span>
                                            </div>
                                            <select class="form-control2" type="text" id="writer_group" name="writer_group" disabled></select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="바로가기">바로가기</span>
                                            </div>
                                            <select class="form-control2" type="text" id="menu_link" name="menu_link" disabled></select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-12 col-lg-12 col-xl-12" id="divQHAdd" style="display: none;">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="점검일">점검일</span>
                                            </div>
                                            <input class="form-control2 readonly" type="text" id="txtQHAdd" name="txtQHAdd" disabled readonly />
                                        </div>
                                    </div>
                                    
                                    

                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="사전알람">사전알람</span>
                                            </div>
                                            <input class="form-control2" type="checkbox" id="noti_yn" name="noti_yn" value="Y" disabled required />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="며칠전알람">며칠전알람</span>
                                            </div>
                                            <input class="form-control2 tar" type="number" id="noti_before" name="noti_before" disabled required />
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="최근작성일">최근작성일</span>
                                            </div>
                                            <input class="form-control2 readonly" type="text" id="last_write_date" name="last_write_date" disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="다음작성일">다음작성일</span>
                                            </div>
                                            <input class="form-control2 readonly" type="text" id="next_write_date" name="next_write_date" disabled readonly />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text fit_box_t4" data-labelCd="알람예정일">알람예정일</span>
                                            </div>
                                            <input class="form-control2 readonly" type="text" id="nofi_plan_date" name="nofi_plan_date" disabled readonly />
                                        </div>
                                    </div>
                                </div>
                             
                                    
                                <div class="row">
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" id="tab_approver">
                    <div class="tab_con_box">
                        <div class="tab_box">
                            <div class="row">
                                <div class="col-3 table_box sub">
                                    <div class="grid_box">
                                        <div class="title_box">
                                            <span class="right_align" data-labelCd="결재선 1">결재선 1</span>
                                            <div class="row">
                                                <div class="col-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text fit_box_t4" data-labelCd="제목">제목</span>
                                                        </div>
                                                        <input class="form-control2" type="text" id="line1_name" name="line1_name" disabled required />
                                                        <button type="button" class="btn-default" id="btnApprover1" name="btnApprover1">결재자지정</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-180" data-ax5grid="approver1-grid" ></div>
                                    </div>
                                </div>
                                <div class="col-3 table_box sub">
                                    <div class="grid_box">
                                        <div class="title_box">
                                            <span class="right_align rpt" data-labelCd="결재선 2">결재선 2</span>
                                            <div class="row">
                                                <div class="col-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text fit_box_t4" data-labelCd="제목">제목</span>
                                                        </div>
                                                        <input class="form-control2" type="text" id="line2_name" name="line2_name" disabled required />
                                                        <button type="button" class="btn-default" id="btnApprover2" name="btnApprover2">결재자지정</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-180" data-ax5grid="approver2-grid" ></div>
                                    </div>
                                </div>
                                <div class="col-3 table_box sub">
                                    <div class="grid_box">
                                        <div class="title_box mb-2">
                                            <span class="right_align rpt" data-labelCd="결재선 3">결재선 3</span>
                                            <div class="row">
                                                <div class="col-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text fit_box_t4" data-labelCd="제목">제목</span>
                                                        </div>
                                                        <input class="form-control2" type="text" id="line3_name" name="line3_name" disabled required />
                                                        <button type="button" class="btn-default" id="btnApprover3" name="btnApprover3">결재자지정</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-180" data-ax5grid="approver3-grid" ></div>
                                    </div>
                                </div>
                                <div class="col-3 table_box sub">
                                    <div class="grid_box">
                                        <div class="title_box mb-2">
                                            <span class="right_align rpt" data-labelCd="결재선 4">결재선 4</span>
                                            <div class="row">
                                                <div class="col-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text fit_box_t4" data-labelCd="제목">제목</span>
                                                        </div>
                                                        <input class="form-control2" type="text" id="line4_name" name="line4_name" disabled required />
                                                        <button type="button" class="btn-default" id="btnApprover4" name="btnApprover4">결재자지정</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="h-180" data-ax5grid="approver4-grid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<th:block th:replace="/common/popup_approver_multi :: personSearchTemplate" ></th:block>
<script type="text/javascript">

    class HACCPItemPage {
        constructor() {
            this.url = '/api/haccp/task_master';
            this.grid = null;
            this.apprGrid1 = null;
            this.apprGrid2 = null;
            this.apprGrid3 = null;
            this.apprGrid4 = null;

            this.approver1 = [];
            this.approver2 = [];
            this.approver3 = [];
            this.approver4 = [];

            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="task-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center', 
                    columnHeight: 30 
                },
                body: {
                    columnHeight: 25, 
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                //선택,업무,결재1,결재자1,결재2,결재자2,주기,사전알림,알림며칠전,최근작성일,다음작성일,알림예정일
                columns: [
                    { key: 'task_name', label: '업무', width: 100,  },
                    { key: 'line1_name', label: '결재1', width: 100, },
                    { key: 'approver1_name', label: '결재자1', width: 130,},
                    { key: 'line2_name', label: '결재2', width: 100, },
                    { key: 'approver2_name', label: '결재자2', width: 130, },
                    { key: 'line3_name', label: '결재3', width: 100, },
                    { key: 'approver3_name', label: '결재자3', width: 130, },
                    { key: 'line4_name', label: '결재4', width: 100, },
                    { key: 'approver4_name', label: '결재자4', width: 130, },
                    { key: 'cycle_name', label: '주기', width: 100, align:'center' },
                    { key: 'cycle_weekday', label: '요일', width: 80, align: 'center' },
                    { key: 'writer_group_name', label: '작성그룹', width: 160, align: 'center' },
                    { key: 'menu_link_name', label: '바로가기', width: 160, align: 'left' },
                    { key: 'noti_yn', label: '사전알림', width: 100, align:'center' },
                    { key: 'noti_before', label: '알림며칠전', width: 100, align:'right' },
                    { key: 'last_write_date', label: '최근작성일', width: 100, },
                    { key: 'next_write_date', label: '다음작성일', width: 100, },
                    { key: 'noti_plan_date', label: '알림예정일', width: 100, },
                ]
            };
			
			 let appr_config = {
                target: $('[data-ax5grid="task-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center', 
                    columnHeight: 30 
                },
                body: {
                    columnHeight: 25, 
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                //선택,업무,결재1,결재자1,결재2,결재자2,주기,사전알림,알림며칠전,최근작성일,다음작성일,알림예정일
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;

            let apprConfig = appr_config;
            apprConfig.columns = [
                { key: 'ShiftName', label: '근무조', width: 80,  },
                { key: 'DepartName', label: '부서', width: 80, },
                { key: 'Name', label: '이름', width: 120,},
            ];
            apprConfig.target = $('[data-ax5grid="approver1-grid"]');
            apprConfig.body.onClick = function () {
                _this.apprGrid1.select(this.dindex);
            }
            this.apprGrid1 = new ax5.ui.grid(apprConfig);

            apprConfig.target = $('[data-ax5grid="approver2-grid"]');
            apprConfig.body.onClick = function () {
                _this.apprGrid2.select(this.dindex);
            }
            this.apprGrid2 = new ax5.ui.grid(apprConfig);

            apprConfig.target = $('[data-ax5grid="approver3-grid"]');
            apprConfig.body.onClick = function () {
                _this.apprGrid3.select(this.dindex);
            }
            this.apprGrid3 = new ax5.ui.grid(apprConfig);

            apprConfig.target = $('[data-ax5grid="approver4-grid"]');
            apprConfig.body.onClick = function () {
                _this.apprGrid4.select(this.dindex);
            }
            this.apprGrid4 = new ax5.ui.grid(apprConfig);

            this.$btnNew = $('#btnNew');
            this.$btnDel = $('#btnDel');
            this.$btnSave = $('#btnSave');
            this.$taskForm = $('#taskForm');


            $('#btnSearch').click(function (ex) {
                _this.searchDataBind();
            });

            this.$btnDel.click(function () {
                Alert.confirm('삭제', '삭제하시겠습니까?', function () {
                    _this.deleteTask();
                });
            });


            this.$btnSave.click(function (e) {
				if ( _this.approver1.length > 0 && !$('#line1_name').val() ) {
	                Alert.alert("", "결재선1의 제목을 입력해주세요.");
	                return;
	            }
	            if ( _this.approver2.length > 0 && !$('#line2_name').val() ) {
	                Alert.alert("", "결재선2의 제목을 입력해주세요.");
	                return;
	            }
	            if ( _this.approver3.length > 0 && !$('#line3_name').val() ) {
	                Alert.alert("", "결재선3의 제목을 입력해주세요.");
	                return;
	            }
	            if ( _this.approver4.length > 0 && !$('#line4_name').val() ) {
	                Alert.alert("", "결재선4의 제목을 입력해주세요.");
	                return;
	            }
				
                Alert.confirm('저장', '저장하시겠습니까?', function () {
                    _this.saveItem();
                });
            });
        }

        deleteTask() {
            let _this = this;
            let selected_tm = _this.grid.getList('selected')[0];
            let data = {
                id: selected_tm.id
            }
            let url = _this.url + '/delete';
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success(res.message);
                    _this.searchDataBind();
                }
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        showDetail(idx) {
            let _this = this;
            let param = { 'id': idx, "action": 'detail' };
            let fnsuccess = function (result) {
                if (result != null) {
                    FormUtil.BindDataForm(result.data.task_info, _this.$taskForm);
                    
                     _this.setCycleBase(result.data.cycle_data_list);
					
                    _this.approver1 = result.data.approver1_list;
                    _this.approver2 = result.data.approver2_list;
                    _this.approver3 = result.data.approver3_list;
                    _this.approver4 = result.data.approver4_list;
					
                    _this.apprGrid1.setData({
                        list: _this.approver1,
                        page: {
                            display: true,
                            totalElements: _this.approver1.length,
                        }
                    });
                    _this.apprGrid2.setData({
                        list: _this.approver2,
                        page: {
                            display: true,
                            totalElements: _this.approver2.length,
                        }
                    });
                    _this.apprGrid3.setData({
                        list: _this.approver3,
                        page: {
                            display: true,
                            totalElements: _this.approver3.length,
                        }
                    });
                    _this.apprGrid4.setData({
                        list: _this.approver4,
                        page: {
                            display: true,
                            totalElements: _this.approver4.length,
                        }
                    });
                }
            } 
            AjaxUtil.getAsyncData(this.url + '/detail', param, fnsuccess);

            //this.$btnSave.removeAttr('disabled');
            //this.$btnDel.removeAttr('disabled');
            this.setButtonState();
        }
        
        
        setCycleBase(cycle_data_list) {
            this.changeCycleBase();

            if ($('#cycle_base').val() == 'W') {
                if (cycle_data_list && cycle_data_list.length > 0) {
                    $('#cboWeek').val(cycle_data_list[0].Value);
                }
            }
            else if ($('#cycle_base').val() == 'M') {
                if (cycle_data_list && cycle_data_list.length > 0) {
                    $('#cboMonthDay').val(cycle_data_list[0].Value);
                }
            }
            else if ($('#cycle_base').val() == 'Q') {
                let txt = '';
                if (cycle_data_list && cycle_data_list.length > 0) {
                    let arr = cycle_data_list[0].Value.split('-');
                    txt += arr[0] + '월/' + arr[1] + '일';
                }
                if (cycle_data_list && cycle_data_list.length > 1) {
                    let arr = cycle_data_list[1].Value.split('-');
                    txt += ', ' + arr[0] + '월/' + arr[1] + '일';
                }
                if (cycle_data_list && cycle_data_list.length > 2) {
                    let arr = cycle_data_list[2].Value.split('-');
                    txt += ', ' + arr[0] + '월/' + arr[1] + '일';
                }
                if (cycle_data_list && cycle_data_list.length > 3) {
                    let arr = cycle_data_list[3].Value.split('-');
                    txt += ', ' + arr[0] + '월/' + arr[1] + '일';
                }

                $('#txtQHAdd').val(txt);
            }
            else if ($('#cycle_base').val() == 'H') {
                let txt = '';
                if (cycle_data_list && cycle_data_list.length > 0) {
                    let arr = cycle_data_list[0].Value.split('-');
                    txt += arr[0] + '월/' + arr[1] + '일';
                }
                if (cycle_data_list && cycle_data_list.length > 1) {
                    let arr = cycle_data_list[1].Value.split('-');
                    txt += ', ' + arr[0] + '월/' + arr[1] + '일';
                }

                $('#txtQHAdd').val(txt);
            }
            else if ($('#cycle_base').val() == 'Y') {
                if (cycle_data_list && cycle_data_list.length > 0) {
                    let arr = cycle_data_list[0].Value.split('-');
                    $('#cboYearMonth').val(arr[0]);
                    $('#cboYearDay').val(arr[1]);
                }
            }            
        }
        
        changeCycleBase() {
            $('#cboWeek').hide();
            $('#cboMonthDay').hide();
            $('#cboYearMonth').hide();
            $('#cboYearDay').hide();
            $('#btnQHAdd').hide();
            $('#btnQHDel').hide();
            $('#divQHAdd').hide();
            if ($('#cycle_base').val() == 'W') {
                $('#cboWeek').show();
            }
            else if ($('#cycle_base').val() == 'M') {
                $('#cboMonthDay').show();
            }
            else if ($('#cycle_base').val() == 'Q' || $('#cycle_base').val() == 'H' || $('#cycle_base').val() == 'Y') {
                $('#cboYearMonth').show();
                $('#cboYearDay').show();
                if ($('#cycle_base').val() == 'Q' || $('#cycle_base').val() == 'H') {
                    $('#btnQHAdd').show();
                    $('#btnQHDel').show();
                    $('#divQHAdd').show();
                }
            }
        }
        
        

        resetForm() {
            this.$taskForm.find('#id').val('');
            this.$taskForm[0].reset();
            this.$taskForm.find('input, select').each(function () {
                $(this).removeAttr('disabled');
            });
             this.apprGrid1.setData([]);
             this.apprGrid2.setData([]);
             this.apprGrid3.setData([]);
             this.apprGrid4.setData([]);
        }

        saveItem() {
            let _this = this;
            let url = this.url + "/save";
            let data = FormUtil.extractForm(this.$taskForm);
            data.approver1_list = JSON.stringify(_this.approver1);
            data.approver2_list = JSON.stringify(_this.approver2);
            data.approver3_list = JSON.stringify(_this.approver3);
            data.approver4_list = JSON.stringify(_this.approver4);

            let fnsuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다.');
                    _this.searchDataBind();
                }
                else{
					Alert.alert('', res.message);
				}
            };
            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        searchDataBind() {
            let _this = this;
            //let param = $('#searchForm').serialize();
            let keyword = $('#txtKeyword').val();
            let param = {
                action: 'read',
                keyword: keyword,
            };

            let result = AjaxUtil.getSyncData(this.url + '/read', param);
            _this.grid.setData([]);
            if (result != null) {
                let count = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });

                this.apprGrid1.setData([]);
                this.apprGrid2.setData([]);
                this.apprGrid3.setData([]);
                this.apprGrid4.setData([]);
            }

            this.resetForm();

            //this.$btnNew.removeAttr('disabled');
            //this.$btnDel.attr('disabled', 'disabled');
            //this.$btnSave.attr('disabled', 'disabled');
            this.setButtonState();

        }//searchDataBind

        setButtonState() {
            let pk = $('#id').val();
            this.$btnNew.prop('disabled', false);
            this.$btnSave.prop('disabled', false);
            if (pk) {
                this.$btnDel.prop('disabled', false);
            }
            else {
                this.$btnDel.prop('disabled', true);
            }
        }

        addTaskApprover(lineNum) {
            let _this = this;
            
            let popCallback = function (personList) {
                let nameArr = [];

                switch (lineNum) {
                    case 1:
                        _this.approver1 = personList;
                        _this.apprGrid1.setData({
                            list: _this.approver1,
                            page: {
                                display: true,
                                totalElements: _this.approver1.length,
                            }
                        });
                        break;
                    case 2:
                        _this.approver2 = personList;
                        _this.apprGrid2.setData({
                            list: _this.approver2,
                            page: {
                                display: true,
                                totalElements: _this.approver2.length,
                            }
                        });
                        break;
                    case 3:
                        _this.approver3 = personList;
                        _this.apprGrid3.setData({
                            list: _this.approver3,
                            page: {
                                display: true,
                                totalElements: _this.approver3.length,
                            }
                        });
                        break;
                    case 4:
                        _this.approver4 = personList;
                        _this.apprGrid4.setData({
                            list: _this.approver4,
                            page: {
                                display: true,
                                totalElements: _this.approver4.length,
                            }
                        });
                        break;
                }
            }

            let preApproverlist = [];
            switch (lineNum) {
                case 1:
                    preApproverlist = _this.approver1;
                    break;
                case 2:
                    preApproverlist = _this.approver2;
                    break;
                case 3:
                    preApproverlist = _this.approver3;
                    break;
                case 4:
                    preApproverlist = _this.approver4;
                    break;
            }

            let popupPage = new PopupApproverMultiPage();
            popupPage.approverList = preApproverlist;
            popupPage.show(popCallback);
        }

    }
    
    $(document).ready(function (e) {
        let page = new HACCPItemPage();

        AjaxUtil.fillSelectOptions($('#task_group_code'), 'system_code', 'choose', '', 'task_group_code');
        AjaxUtil.fillSelectOptions($('#cycle_base'), 'system_code', 'choose', '', 'cycle_base');
        AjaxUtil.fillSelectOptions($('#approver1_id'), 'user_profile', 'choose', '');
        AjaxUtil.fillSelectOptions($('#approver2_id'), 'user_profile', 'choose', '');
        AjaxUtil.fillSelectOptions($('#approver3_id'), 'user_profile', 'choose', '');
        AjaxUtil.fillSelectOptions($('#approver4_id'), 'user_profile', 'choose', '');

        // 작성자그룹 콤보박스
        AjaxUtil.fillSelectOptions($('#writer_group'), 'user_group', 'choose', '');
        
        //바로가기
        AjaxUtil.fillSelectOptions($('#menu_link'), 'menu_item', 'choose', '');

        page.$btnNew.click(function (e) {
            page.resetForm();
            page.setButtonState();
        });

        $('#btnApprover1').on('click',function () {
            page.addTaskApprover(1);
        });
        $('#btnApprover2').on('click',function () {
            page.addTaskApprover(2);
        });
        $('#btnApprover3').on('click',function () {
            page.addTaskApprover(3);
        });
        $('#btnApprover4').on('click',function () {
            page.addTaskApprover(4);
        });
        
        // 주기콤보박스 설정, 일단보류
        let optWeek = ['토요일', '일요일', '월요일', '화요일', '수요일', '목요일', '금요일'];
        let optMonth = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'];
        let optDay = ['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일', '말일'];

        $.each(optWeek, function (index, item) {
            $('#cboWeek').append('<option value="' + index + '">' + item + '</option>');
        });
        $.each(optMonth, function (index, item) {            
            $('#cboYearMonth').append('<option value="' + ((index + 1) < 10 ? '0' + (index + 1) : (index + 1)) + '">' + item + '</option>');
        });
        $.each(optDay, function (index, item) {
            $('#cboMonthDay').append('<option value="' + ((index + 1) < 10 ? '0' + (index + 1) : (index + 1)) + '">' + item + '</option>');
            if (index < 31) {
                $('#cboYearDay').append('<option value="' + ((index + 1) < 10 ? '0' + (index + 1) : (index + 1)) + '">' + item + '</option>');
            }
        });
        
        $('#cycle_base').on('change', function () {
            $('#txtQHAdd').val('');
            page.changeCycleBase();
        });
        
         $('#btnQHAdd').on('click', function (e) {
            let month = $('#cboYearMonth').val() + '월';
            let day = $('#cboYearDay').val() + '일';
            let prevTxt = $('#txtQHAdd').val() == '' ? '' : $('#txtQHAdd').val() + ', ';

            let valid = false;
            if ($('#cycle_base').val() == 'Q') {
                valid = $('#txtQHAdd').val().split(',').length < 4;

            } else if ($('#cycle_base').val() == 'H') {
                valid = $('#txtQHAdd').val().split(',').length < 2;
            }

            if (valid) {
                $('#txtQHAdd').val(prevTxt + month + '/' + day);
            } else {
                Notify.warn('더이상 추가할 수 없습니다.');
            }
        });

        $('#btnQHDel').on('click', function (e) {
            $('#txtQHAdd').val('');
        });

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');
        }
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });

        page.searchDataBind();
    });
</script>
</th:block>
</html>