<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="content_wrap">

    <section class="section ">

        <div class="title_box ">
            <div class="left_align">
                <h3>금속검출마스터</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>


        <div class="table_box search" >
            
            <div class="row" >

                <div class="col-6 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="공정명">공정명</span>
                        </div>
                        <input class="form-control2" value="" id="txtProcess" name="txtProcess" placeholder="" title="" />
                    </div>
                </div>
                <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 

            </div>

        </div>

    </section>

    <section>

        <div class="grid_box">
                <div class="title_box">
                    <span class="right_align rpt" data-labelCd="공정 정보">공정 정보</span>
                    <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                    <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>

                </div>
                <div class="h-200" data-ax5grid="master-grid" ></div>
        </div>
    </section>

    <section>
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="기본정보">기본정보</a></li>
                        <li><a href="#" data-tablink="#tab_defect_type" name="tab_defect_type" class="tab" data-labelCd="상세설정">상세설정</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab" id="tab_basic">

                    <div class="title_box ">
                        <span class="right_align rpt" data-labelCd="상세정보">상세 정보</span>
                        <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn-cancel y_write_auth" id="btnDel" ><i class="fas fa-trash"></i></button>
                        <button disabled type="button" class="btn-default y_write_auth" id="btnSave" ><i class="fas fa-save"></i></button>
                    </div>

                        
                    <form id="dataForm">
                        <div class="table_box sub" >

                            <div class="row" >

                                <!--<div class="col-6 col-md-3 col-lg-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm">번호</span>
                                        </div>-->
                                        <input class="form-control2 readonly" type="text" id="id" name="id" hidden/>
                                    <!--</div>
                                </div>-->

                                <div class="col-6 col-md-3 col-lg-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="구분">구분</span>
                                        </div>
                                        <select class="form-control2" id="Type" name="Type" disabled="disabled" required></select>
                                    </div>
                                </div>

                                <div class="col-6 col-md-3 col-lg-2" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="코드">코드</span>
                                        </div>
                                        <input class="form-control2" type="text" id="Code" name="Code" placeholder="" disabled>
                                    </div>
                                </div>

                                <div class="col-12" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="*이름">*이름</span>
                                        </div>
                                        <input class="form-control2" type="text" id="Name" name="Name" placeholder="" disabled="disabled" required>
                                    </div>
                                </div>

                                <div class="col-6" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_lg" data-labelCd="검교정검사수">검교정검사수</span>
                                        </div>
                                        <input class="form-control2 tar" type="number" id="TestCount" name="TestCount" placeholder="" disabled="disabled" >
                                    </div>
                                </div>
                                <div class="col-6" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_lg" data-labelCd="생산중검사주기(분)">생산중검사주기(분)</span>
                                        </div>
                                        <input class="form-control2 tar" type="number" id="ProductionTestCycle" name="ProductionTestCycle" placeholder="" disabled="disabled" >
                                    </div>
                                </div>
                                <div class="col-12" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="시편">시편</span>
                                        </div>
                                        <input class="form-control2" type="number" id="TestPiece" name="TestPiece" placeholder="" disabled="disabled" >
                                    </div>
                                </div>

                                <div class="col-12" >
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text fit_box_sm" data-labelCd="설명">설명</span>
                                        </div>
                                        <input class="form-control2" type="text" id="Description" name="Description" placeholder="" disabled="disabled" >
                                    </div>
                                </div>


                            </div>

                        </div>

                    </form>
            </div>

            <div class="tab" id="tab_defect_type">
                 <div class="title_box">
                    <button type="button" class="btn-default" id="btnDetailList"><i class="fas fa-search"></i></button>
                    <button type="button" class="btn-default y_write_auth" id="btnSaveDetailList" style="float:none"><i class="fas fa-save"></i></button>
                 </div>
                <div class="row">
                    <div class="col-8">
                        <div class="h-550"  data-ax5grid="detail_grid" ></div>
                    </div>
                    <div class="col-4">
                        <div class="col-12" id="image_upload1">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div id="uploadForm"></div>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
<script type="text/javascript">
    let baseUrl = '/api/haccp/metal_detect_m';
    class MyPage {
        constructor() {
            this.table_name = 'metal_detect_m_detail';
            this.grid = null;
            this.detail_grid = null;
            this.proc_stop_cause_grid = null;
            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="master-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showInfo(e.item.id);
                        _this.showDetailList();
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
               columns: [
                    { key: 'id', label: '번호', width: 80, align: 'center' },
                   { key: 'type', label: '구분', width: 150, align: 'left' },
                   { key: 'code', label: '코드', width: 150, align: 'left' },
                   { key: 'name', label: '이름', width: 200, align: 'left' },
                   { key: 'test_count', label: '검교정검사수', width: 150, align: 'right' },
                   { key: 'production_test_cycle', label: '생산중검사주기(분)', width: 150, align: 'right' },
                   { key: 'test_piece', label: '시편사이즈', width: 150, align: 'left' },
                   { key: 'description', label: '비고', width: 150, align: 'left' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config; 
            let detail_config = {
                target: $('[data-ax5grid="detail_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.detail_grid.select(this.dindex);
                        _this.showDetail(e.item);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
               columns: [
                    { key: 'id', label: '번호', width: 80, align: 'right', hidden: false },
                   { key: '_order', label: '순서', width: 100, align: 'right' },
                   { key: 'test_target', label: '검사대상', width: 100, align: 'left', editor: { type: 'text' } },
                   { key: 'piece_position1', label: '시편위치1', width: 100, align: 'left', editor: { type: 'text' } },
                   { key: 'piece_position2', label: '시편위치2', width: 100, align: 'left', editor: { type: 'text' } },
                   { key: 'file_id', label: '사진', width: 100, align: 'left' },
                ]
            };

            this.detail_grid = new ax5.ui.grid(detail_config);
            
        }

        setButtonState() {
            let pk = $('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);
                $('#btnSaveDetailList').prop('disabled', false);
            }
            else {
                $('#btnDel').prop('disabled', true);
                $('#btnSaveDetailList').prop('disabled', true);
            }
        }

        searchMainData() {
            let _this = this;
            
            let param = {
                action: 'read',
            };
            let result = AjaxUtil.getSyncData(baseUrl + "/read", param);
            if (result != null) {
                let count = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            }

            $('#dataForm')[0].reset();
            $('#dataForm').find('#id').val('');

            $('#dataForm').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            //_this.setButtonDisable(false, true, true);
            _this.setButtonState();
        }

        // 공정 상세정보 조회
        showInfo(id) {
            let param = {
                id: id,
                action: 'info'
            };
            
            let result = AjaxUtil.getSyncData(baseUrl + "/info", param);

            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#dataForm'));
            }

            //page.setButtonDisable(false, false, false);
            page.setButtonState();
        }

        // 공정 정보 저장
        saveInfo() {
            let _this = this;
            let validate = true;
            let $target = null;
            let url = baseUrl + '/save';

            //let data = $('#dataForm').serialize();
            let data = FormUtil.extractForm($('#dataForm'));
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다');
                    _this.searchMainData();
                    _this.showInfo(res.id);
                } else {
                    Alert.alert('', res.message);
                }
            }
             AjaxUtil.postAsyncData(url, data, fnSuccess);

            // 필수입력 check routine
            //$('#dataForm').find('input, select').each(function () {
            //    if ($(this).is(':required')) {
            //        if (!$(this).val()) {
            //            validate = false;
            //            $target = $(this);
            //            return false;
            //        }
            //    }
            //});

            //if (validate) {
            //    AjaxUtil.postAsyncData(url, data, fnSuccess);
            //} else {
            //    Alert.alert('', '필수 항목을 입력해주세요.', function () {
            //        $target.focus();
            //    });
            //}
        }

        deleteMaster() {
            let _this = this;
            let url = baseUrl + '/delete';
            let id = $('#dataForm').find('#id').val();
            let data = { 'id': id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        showDetailList() {
            let _this = this;
            let id = $('#dataForm').find('#id').val();
            let param = {
                action: 'detail_list',
                master_id : id,
            };
            let result = AjaxUtil.getSyncData(baseUrl + "/detail_list", param);

            if (result != null) {
                let count = result.data.length;
                _this.detail_grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });                
            }
        }

        addDefectTypeRow() { 
            let row = {};

            page.detail_grid.addRow(
                row,
                'last',
                { __index: undefined }
            ); 
        }
        
        saveDetailList() {
            let _this = this;
            let url = baseUrl + '/save_detail_list';
            let id = $('#dataForm').find('#id').val();
            let grid_data = JSON.stringify(_this.detail_grid.getList());
            let param = {
                Q: grid_data,
                master_id: id
            };
            let fnSuccess = function (res) {
                Notify.success('저장되었습니다'); // Notification
                _this.showDetailList();
            };
            AjaxUtil.postAsyncData(url, param, fnSuccess);
        }

        showDetail(item) {
            let _this = this;
            _this.upload1 = new UploadOneImage(1, {
                table_name: _this.table_name,
                data_pk: item.id,
                attach_name: 'basic',
                file_id: item.file_id,
                upload_div_id: 'image_upload1',
                //upload_form_id: 'xxx',
                image_width: '100%',
                image_height: 'auto',
                can_write: userinfo.can_write()
            });
            _this.upload1.printFormDiv('uploadForm');
        }
    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new MyPage();
                
        // 검색버튼
        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        // 신규버튼
        $('#btnNew').click(function (e) {

            $('#dataForm')[0].reset();
            $('#dataForm').find('#id').val('');

            $('#dataForm').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            //page.setButtonDisable(true, false, true);
            page.setButtonState();
        });

        // 저장버튼
        $('#btnSave').click(function (e) {
            let data = FormUtil.extractForm($('#dataForm'));
            if (!data.Name) {
                Alert.alert('', '이름을 입력해주세요.');
                return false;
            }
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveInfo() },
                function () { }
            );
        });

        // 삭제버튼
        $('#btnDel').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteMaster() },
                function () { }
            );
        });

        $('#btnSaveDetailList').click(function (e) {
            page.saveDetailList();
        });

        // 엑셀 다운로드
        $('#btnExcel').click(function (e) {
            page.grid.exportExcel('금속검출기정보.xls');
        });

        //그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid', page.grid);

        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility', 'visible');
        }

        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix': false, 'fix_cols': fix_cols });
        });

        page.searchMainData();

    });



</script>
</th:block>
</html>