<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="재고 조정 확인">재고 조정 확인</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>

        <div class="table_box search">
            <form id="searchForm" onsubmit="false" autocomplete="off">
                <div class="row">

                    <div class="col-6 col-lg-3 col-xl-2" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="창고">창고</span>
                            </div>
                            <select class="form-control2" id="cboStoreHouse" name="cboStoreHouse" ></select>

                        </div>
                    </div>


                    <div class="col-5 col-lg-3 col-xl-2" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="품목명">품목명</span>
                            </div>
                            <input class="form-control2" id="txtName" name="txtName" />

                        </div>
                    </div>

                    <div class="col-1">
                            <button type="button" class="btn-default" id="btnSearch" ><i class="fas fa-search"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="grid_box" >
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="재고 조정 내역">재고 조정 내역</span>
                <button type="button" class="btn-default y_write_auth" id="btnConfirm" data-labelCd="확인">확인</button>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class="h-630" data-ax5grid="inventory-adjustment-grid" ></div>
        </div>

    </section>
</div>
<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<script type="text/javascript">
   
    class AdjustmentPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/inventory/mat_stock_take_confirm';
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="inventory-adjustment-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: true, // 열의 번호 보이기 여부
                showRowSelector: true,  // checkbox(선택) 보이기 여부
                multipleSelect: true, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 35, // body의 기본 높이
                    onClick: function (e) {
                        if (e.column.key == "confirm") {
                            _this.saveData(e.item);
                        }
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [                  //컬럼 key 변경 필요
                    { key: 'mat_type', label: '품목유형', width: 100, align: 'center' },
                    { key: 'mat_grp_name', label: '품목그룹', width: 100, align: 'center' },
                    { key: 'mat_code', label: '품목코드', width: 100, align: 'center' },
                    { key: 'mat_name', label: '품목명', width: 200, align: 'left' },
                    { key: 'unit_name', label: '단위', width: 80, align: 'center' },      
                    { key: 'store_house_name', label: '창고명', width: 100, align: 'center' },      
                    { key: 'account_stock', label: '장부재고량', width: 100, align: 'right', formatter:'money'  },
                    { key: 'real_stock', label: '실재고량', width: 100, align: 'right', formatter:'money'  },
                    { key: 'gap', label: '차이', width: 100, align: 'right', formatter:'money'  },
                    { key: 'unit_price', label: '단가', width: 100, align: 'right', formatter:'money'  },
                    { key: 'gap_money', label: '차이금액', width: 100, align: 'right', formatter:'money'  },
                    { key: 'take_date_time', label: '실사일시', width: 150, align: 'center' },
                    { key: 'description', label: '비고', width: 150, align: 'left' },
                    {
                        key: 'confirm', label: '확인', width: 80, align: 'center', formatter: function () {
                            let html = '권한없음';
                            if (userinfo.can_write())
                                html = '<button class="btn-default" style="width:100%; height:0.9em; font-size:1em; padding:0; margin:0">확인</button>';
                            return html;
                        }
                    },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;
            AjaxUtil.fillSelectOptions($('#cboStoreHouse'), 'store_house', 'all', false);
        }

        exportExcel() {
            var targetview = this.grid;
            // 현재 html코드로 데이터 만들어 확장자만 xls로 변경해주고 있음
            targetview.exportExcel('재고조정확인.xls');
        }

        searchMainData() {
            let _this = this;
            let data = {
                //'action': 'read',
                'store_house_id': $('#cboStoreHouse').val(),
                'material_name': $('#txtName').val(),
            };
            let result = AjaxUtil.getSyncData(_this.baseUrl + '/read', data);
            if (result.data != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
				_this.grid.repaint()
            }
        }

        chkSelect() {
            if (this.grid.getList("selected").length > 0)
                return true;    

            Notify.error("확인할 품목을 선택하세요.");
            return false;
        }

        saveData(item) {
            let _this = this;
            
             Alert.confirm('', 
                '확인 처리하시겠습니까?',
                function () {
                    let param = {};
                    if (item != undefined) { //그리드내의 확인 클릭시
                        param = {
		                    Q: JSON.stringify([item]),
		                };
                    }
                    else {
                        let list = [];
                        let temp = _this.grid.getList("selected");
						
		                $.each(temp, function (idx, item) {
		                    list.push({ id: item.id });
		                });
		                param = {
		                    Q: JSON.stringify(list),
		                };
						/*
                        temp.forEach(function (item) {
                            let data = {};
                            data['id'] = item.id;
                            list.push(data);
                        });
                        param["Q"] = JSON.stringify(list);
                        */
                    }
                    //let fnSuccess = function (result) {
                    //    if (result != null) {
                    //        Alert.alert('', "처리됐습니다.");
                    //        _this.searchMainData();
                    //    }
                    //}
                    let result = AjaxUtil.postSyncData(_this.baseUrl + '/confirm_update', param);
                    if (result.success) {
                        _this.searchMainData();
                        Notify.success("처리 완료.");
                        //Alert.alert('', "처리됐습니다.");
                    }
                },
                function () { }
            );



        }
    }

    let page = null;

    $(document).ready(function (e) {

        


        page = new AdjustmentPage();
        //$('#srchDt').ax5DatePicker({ direction: 'top' });
        //$('#take_date').val(CommonUtil.getYYYYMMDD());
    
        // 검색
        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        $('#cboStoreHouse').change(function (e) {
            page.searchMainData();
        });

        $('#txtName').keypress(function (e) {
            if (e.keyCode == 13) 
                page.searchMainData();
        });
        
        $('#btnExcel').on('click', function () {
            page.exportExcel();
        });

        $('#btnConfirm').click(function (e) {
            if (page.chkSelect()) 
                page.saveData();
        });

        //그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        page.searchMainData();

    })
</script>
</th:block>
</html>