<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

<div class="content_wrap">

    <section>
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="창고 이동">창고 이동</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-md-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="창고">창고</span>
                        </div>
                        <select class="form-control2" id="cboStoreHouse" name="storehouse_id"></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="품목그룹">품목그룹</span>
                        </div>
                        <select class="form-control2" id="cboMatGrp" name="mat_gpr_pk"></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="품목명/코드">품목명/코드</span>
                        </div>
                        <input type="text" class="form-control2" id="keyword" name="keyword"/>
                    </div>
                </div>

                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 
            </div>
        </div>
    </section>

    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="창고 재고">창고 재고</span>
                <span data-labelCd="To창고">To창고</span>
                <select class="w-140" id="cboToStoreHouse" name="to_storehouse_id"></select>
                <button class="btn-default" id="btnMove" disabled data-labelCd="이동처리">이동 처리</button>
                <button class="btn-default" id="btnLotMove" disabled data-labelCd="Lot이동처리">Lot이동 처리</button>
                <button type="button" class="btn-default" id="btnExcel" title="엑셀 다운로드"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class=" h-630" data-ax5grid="storehouse-mat-grid"></div>
        </div>
    </section>

</div>
</th:block> 

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

<script type="text/x-tmpl" id="LotMovePopupTmpl">
    <div class="content_wrap popup">
        <section>
            <div class="table_box sub">
                <form id="matForm">
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-commonCd="품목코드">품목코드</span>
                                </div>
                                 <input class="form-control2" type="text" id="mat_code" name="mat_code" value="{%=o.mat_code%}"readonly />
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-commonCd="품목명">품목명</span>
                                </div>
                                 <input class="form-control2" type="text" id="material" name="material" value="{%=o.material%}" readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section>
        <div class="grid_box">
            <div class="h-300" data-ax5grid="lot-search-grid"></div>
        </div>
        <div class="table_box sub">
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="To창고">To창고</span>
                        </div>
                        <select class="form-control2" id="cboPopToStoreHouse" name="to_storehouse_id"></select>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="popupcontent">
            <div class="tal">
                <button type="button" class="btn-popup" id="btnLotMove"><span data-labelCd="Lot이동">Lot이동</span></button>
                <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            </div>
        </section>
    </div>
</script>

<script type="text/javascript">
    class MaterialMovePage {
        constructor() {
            this.baseUrl = '/api/inventory/material_move';
            this.grid = null;
            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="storehouse-mat-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    mergeCells: ['mat_type', 'mat_group', 'class1', 'mat_code', 'material', 'total_stock','mat_lot_check'],
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        let item = _this.grid.getList('selected')[0];

                        if (e.column.key == 'input_qty') {
                            _this.grid.setValue(this.dindex, 'input_qty', this.item.potential_input_qty)
                        }

                        if (item.mat_lot_check == 'N') {
                            $('#btnMove').prop('disabled', false);
                            $('#btnLotMove').prop('disabled', true);
                        } else {
                            $('#btnMove').prop('disabled', true);
                            $('#btnLotMove').prop('disabled', false);
                        }
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    //{ key: 'mat_id', label: 'id', width: 80, align: 'left' },
                    { key: 'mat_type', label: '품목유형', width: 80, align: 'left' },
                    { key: 'mat_group', label: '품목그룹', width: 100, align: 'left' },
                    { key: 'class1', label: '소분류', width: 100, align:'left' },
                    { key: 'mat_code', label: '품목코드', width: 100, align: 'left' },
                    { key: 'material', label: '품목', width: 350, align: 'left' },
                    { key: 'total_stock', label: '총재고량', width: 100, align: 'right', formatter: 'money' },
                    { key: 'storehouse', label: '창고', width: 200, align: 'rigth' },
                    { key: 'current_stock', label: '현재고량', width: 100, align: 'right', formatter: 'money' },
                    { key: 'mat_lot_check', label: '로트발행여부', width: 120, align: 'center'},
                    { key: 'move_qty', label: '<span class="editable_clr">이동량</span>', width: 100, align: 'right', 
                    	editor: { 
                    		type: 'number',
                    		disabled : function(){return this.item.mat_lot_check=="Y";},
                    	}, 
                    	formatter: 'money' 
                    },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;

            AjaxUtil.fillSelectOptions($('#cboStoreHouse'), 'store_house', 'all', false);
            AjaxUtil.fillSelectOptions($('#cboMatGrp'), 'material_group', 'all', false);
            AjaxUtil.fillSelectOptions($('#cboToStoreHouse'), 'store_house', 'all', false);
        }

        // 창고재고 목록 조회
        searchMainData() {
            let _this = this;
            let param = {
                'storehouse_id': $('#cboStoreHouse').val(),
                'mat_grp_pk': $('#cboMatGrp').val(),
                'keyword': $('#keyword').val(),
            }

            let url = this.baseUrl + "/read"
            AjaxUtil.getAsyncData(url, param, function(result){
                if (result.success) {
                    let count = result.data.length;
                    _this.grid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: count
                        }
                    });
                }
            });
        }

        // 이동처리
        moveMaterial() {
            let _this = this;
            let toStoreHouse = $('#cboToStoreHouse').val();
            let modifiedList = this.grid.getList('modified');
            let item = _this.grid.getList('selected')[0];
            let moveList = [];

            if (!toStoreHouse) {
                Alert.alert('', 'To창고를 선택해주세요.');
                return;
            }
            else if (item.mat_lot_check == 'Y') {
                Alert.alert('', '로트가 발행된 제품입니다.');
                return;
            }
            else if (modifiedList.length == 0) {
                return;
            }

            modifiedList.forEach(function (item) {
                if (item.move_qty) {
                    moveList.push(item);
                }
            });

            let data = {
                'to_storehouse_id': toStoreHouse,
                'move_list': JSON.stringify(moveList),
            }

            let fnSuccess = function (res) {
                Notify.success('이동처리 되었습니다.');
                _this.searchMainData();
            }
            
            let fnConfirmOk = function(){
                let url = _this.baseUrl+"/material_move"
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            };
            Alert.confirm('창고이동', '이동하시겠습니까?', fnConfirmOk);
        }

        // Lot이동처리
        moveMaterialLot() {
            let _this = this;
            let items = _this.grid.getList('selected');
            let item = items[0];
            let toStoreHouse = $('#cboToStoreHouse').val();
            if (items.length == 0) {
                Alert.alert('Lot이동처리오류', '품목이 선택되지 않았습니다.');
                return;
            }

            let content = tmpl('LotMovePopupTmpl', item);
            let $content = $(content);
            let modalContainer = new PopupDraggable('Lot이동처리');
            modalContainer.open({ width: 800, height: 500, $content });

            let config = {
                target: $content.find('[data-ax5grid="lot-search-grid"]'),
                frozenColumnIndex: 0,
                frozenRowIndex: 0,
                showLineNumber: false,
                showRowSelector: true,
                multipleSelect: true,
                sortable: false,
                multiSort: false,
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        e.self.select(this.dindex);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'LotNumber', label: 'LOT', width: 220, align: 'center' },
                    { key: 'storehouse_name', label: '창고위치', width: 220, align: 'left'},
                    { key: 'InputQty', label: '초기수량', width: 80, align: 'right', formatter: 'money'},
                    { key: 'CurrentStock', label: '현재고', width: 80, align: 'right', formatter: 'money'},
                    { key: 'unit_name', label: '단위', width: 80, align: 'center' },
                ],
                footSum: [
                    [
                        { label: '합계', colspan: 2, align: 'center' },
                        { key: 'InputQty', collector: 'sum', align: 'right' },
                        { key: 'CurrentStock', collector: 'sum', align: 'right' },
                        { label: '', colspan: 1, align: 'center' },
                    ]
                ]
            };
            
            this.lotSearchGrid = new ax5.ui.grid(config);

            let data = {
                'material_id': item.mat_id,
                'storehouse_id': item.storehouse_id
            }

            let fnMatLotList = function(){
                let url = _this.baseUrl + "/mat_lot_list";
                AjaxUtil.getAsyncData(url, data, function (result) {
                    if (result.success) {
                        _this.lotSearchGrid.setData(result.data);
                    }
                });
            };
            
            fnMatLotList();

            let $cboPopToStoreHouse = $content.find('#cboPopToStoreHouse');
            AjaxUtil.fillSelectOptions($cboPopToStoreHouse, 'store_house', 'choose', toStoreHouse);
            
            //로트이동버튼 클릭시
            $content.find('#btnLotMove').click(function (e) {
                let lot_items = _this.lotSearchGrid.getList('selected');
                if (lot_items.length == 0) {
                    Alert.alert('로트이동오류', '로트가 선택되지 않았습니다.');
                    return;
                }

                let to_storehouse_id = $cboPopToStoreHouse.val();
                if(to_storehouse_id==""){
                	Alert.alert('LOT이동', 'To창고가 지정되지 않았습니다.');
                	return;
                }

                let lotMoveParam = {
                    'to_storehouse_id': to_storehouse_id,
                    'lot_list' : JSON.stringify(lot_items)
                }
                
                let fnConfirmOk = function(){
                    let url = _this.baseUrl + '/material_lot_move';
                    AjaxUtil.postAsyncData(url, lotMoveParam, function (result) {
                        if (result.success) {
                            Notify.success('Lot 이동되었습니다.');
                            fnMatLotList();
                            _this.searchMainData();
                        }
                    });
                };
                Alert.confirm("LOT이동처리", "이동하시겠습니까?", fnConfirmOk);
            });
        }
    }

    $(document.body).ready(function (e) {
        let page = new MaterialMovePage();

        //그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
        
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }
    
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        }); 

        page.searchMainData();

        // 검색버튼 클릭
        $('#btnSearch').click(function (e) { page.searchMainData(); });

        //엔터키 검색
        $('#material').on('keypress', function (e) {
            if (event.keyCode == 13) {
                page.searchMainData();
            }
        });

        // 이동처리 버튼 클릭
        $('#btnMove').click(function (e) { page.moveMaterial(); });

        // Lot이동처리 버튼 클릭
        $('#btnLotMove').click(function (e) {
            page.moveMaterialLot();
        });

        $('#btnExcel').click(function () {
            page.grid.exportExcel('창고 이동 내역.xls');
        });
    });

</script>
</th:block>
</html>