<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="content_wrap">
    <section>
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="공조필터교체 계획">공조필터교체 계획</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <form id="searchForm" autocomplete="off">
                <div class="row">
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t4" data-labelCd="조회년도">조회년도</span>
                            </div>
                            <select class="form-control2 tac" type="text" id="cboDataYear" name="cboDataYear"></select>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t4" data-labelCd="주기">주기</span>
                            </div>
                            <input class="form-control2" type="text" id="txtPeriod" name="txtPeriod" />
                        </div>
                    </div>

                    <div class="col-1">
                        <button type="button" class="btn-default" id="btnSearch"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="공조필터교체 계획">공조필터교체 계획</span>
                <button type="button" class="btn-default y_write_auth" id="btnSave"><i class="fas fa-save"></i></button>
            </div>
            <div class="h-630" data-ax5grid="filter-plan-grid"></div>
        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<script>
    class FilterPlanPage {
        constructor(){
            this.grid = null;
            this.baseUrl = '/api/precedence/air_filter_replace';
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="filter-plan-grid"]'),
                frozenColumnIndex: 0,
                frozenRowIndex: 0,
                showLineNumber: true,
                showRowSelector: false,
                multipleSelector: false,
                sortable: false,
                multiSort: false,
                header: {
                    align: 'center',
                    columnHeight: 38
                },
                body: {
                    columnHeight: 25,
                    onClick: function (e) {
                        //_this.grid.select(this.dindex);
                    }
                },
                page: {
                    display: true,
                    statusDisplay: true
                },
                columns: [
                    { key: 'master_name', label: '용도', width: 100, align: 'left', editor: { type: 'text' } },
                    { key: 'master_descr', label: '설치장소', width: 100, align: 'left', editor: { type: 'text' } },
                    { key: 'master_type2', label: '종류', width: 100, align: 'left', editor: { type: 'text' } },
                    { key: 'master_type', label: '필터종류', width: 100, align: 'left', editor: { type: 'text' } },
                    { key: 'master_period', label: '주기', width: 100, align: 'left', editor: { type: 'text' } },
                    { key: 'p1', label: '1월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p2', label: '2월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p3', label: '3월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p4', label: '4월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p5', label: '5월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p6', label: '6월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p7', label: '7월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p8', label: '8월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p9', label: '9월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p10', label: '10월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p11', label: '11월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                    { key: 'p12', label: '12월', width: 60, align: 'center', editor: { type: 'checkbox' } },
                ]
            }

            _this.grid = new ax5.ui.grid(config);
            _this.filter_config = config;
        }

        //조회
        searchMainData(){
            let _this = this;
            let url = _this.baseUrl;
            let data_year = $('#cboDataYear').val();
            let period = $('#txtPeriod').val();
            let data = {
                'action': 'year_month_plan_result_sheet',
                'data_year': data_year,
                'period': period
            };

            let result = AjaxUtil.getSyncData(url + '/year_month_plan_result_sheet', data);

            if (result.data != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            }
        }

        // 저장 버튼
        savePlan() {
            let _this = this;
            let url = _this.baseUrl + '/save_year_plan';
            let items = _this.grid.getList('modified')
            let searhDt = $('#cboDataYear').val().split('-');
            let data = {
                Q: JSON.stringify(items),
                'data_year': Number(searhDt[0]),
            };


            let fnSuccess = function (res) {
                if (res.success) {
                     Notify.success('저장되었습니다'); // Notification
                    _this.searchMainData();
                }
            };

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }
    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new FilterPlanPage();

        let today_string = CommonUtil.getYYYYMMDD();
        let this_year = today_string.substring(0, 4);

        //콤보박스
        AjaxUtil.fillSelectOptions($('#cboDataYear'), 'data_year', '', this_year);

        page.searchMainData();

        //조회 버튼
        $('#btnSearch').click(function () {
            page.searchMainData();
        });

        //저장 버튼
        $('#btnSave').click(function (e) {
            page.savePlan();
        });
    });
    
</script>
</th:block>
</html>