<html layout:decorate="~{layout_page}">
<head>
<style>
.grid-cell-green {
    background: #b6ff00;
}

.grid-cell-white {
    background: #ffffff;
}
</style>
</head>
<th:block layout:fragment="content">
<div class="content_wrap">
    <input type="hidden" id="bhId" th:value="${bh_id}" />
    <input type="hidden" id="viewMode" th:value="${view_mode}" />
    <input type="hidden" id="apprView" th:value="${appr_view}" />
    <section class="section mb-1">

        <div class="title_box ">
            <div class="left_align">
                <h3>공조필터점검현황</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>


        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검명">점검명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="title" name="title" />
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group" data-ax5picker="basic" id="srchDt">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검월">점검월</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="dataDate" name="dataDate" readonly>
                            </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="작성자">작성자</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="firstName" name="firstName" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-xl-6">
                    <div id="approveBox"></div>
                </div>
            </div>
        </div>
        <div class="title_box">
            <span class="right_align rpt" data-labelCd="관리기준">관리기준</span>
            <div class="left_align">
                <label class="switch">
                    <input type="checkbox" checked id="btnToggle"><span class="slider round"></span>
                </label>
                관리기준 보기/감추기
            </div>
        </div>
        <div id="standardDIv">
            <div class="row">
                <div class="col-12">
                    <table class="type01" colspan="2">
                        <tr>
                            <th scope="row">관리기준</th>
                            <td>관리기준</td>
                        </tr>
                        <tr>
                            <th scope="row">결재주기</th>
                            <td id="checkCycle"></td>
                        </tr>
                        <tr>
                            <th scope="row">판정결과</th>
                            <td>적합(O), 부적합(X)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </section>
    <section class="section">
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="점검현황">점검현황</span>
                <button type="button" class="btn-default" id="btnDiaryPrint">일지출력</button>
                <button type="button" class="btn-default" id="btnAllItem">전체적합</button>
                <button type="button" class="btn-default" id="btnReqAppr">결재상신</button>
                <button type="button" class="btn-default" id="btnAppr" style="display:none;">승인</button>
                <button type="button" class="btn-cancel" id="btnReject" style="display:none;">반려</button>
                <button type="button" class="btn-default" id="btnSave">저장</button>
                <button type="button" class="btn-cancel" id="btnDelete">삭제</button>
                <button type="button" class="btn-default" id="btnList">목록</button>
            </div>
        </div>
        <div class="grid_box" id="complainList">
            <div class="h-380" data-ax5grid="air_filter_grid"></div>
        </div>
    </section>
    <section>
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text fit_box_t5_area" data-labelCd="특이사항">특이사항</span>
                </div>
                <textarea class="form-control2 tal" id="Description" name="Description"></textarea>
            </div>
        </div>
    </section>
    <section>
        <div class="grid_box" id="sub_grid">
            <div class="title_box" id="button_box2">
                <div class="left_align">
                    <button type="button" class="btn-default" id="btnDeviActionSave" style="display:none">저장</button>
                </div>
            </div>
            <div class="h-200" data-ax5grid="devi_action_grid"></div>
        </div>
    </section>
    <section>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="input-group">
                <div class="grid_box col-12" id="file_upload_idv"></div>
            </div>
        </div>
    </div>
    </section>
</div>

<script type="text/x-tmpl" id="imagePopup">
    <div class="content_wrap modal-content popup">
            <section class="pt-2">
               <div class="table_box sub" >
                    <div class ="row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t5" data-labelCd="점검항목명">점검항목명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="name" value="{%=o.name%}" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t5" data-labelCd="설치장소">설치장소</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="place" value="{%=o.place%}" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t5" data-labelCd="종류">종류</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="type" value="{%=o.type%}" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t5" data-labelCd="필터종류">필터종류</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="type2" value="{%=o.type2%}" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table_box sub">
                    <div class="row">
                        <div class="col-6">
                            <div id="image_upload1" ></div>
                            <div class="input-group">
                                <span class="input-group-text w-per" data-labelCd="이미지1">이미지1</span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div id="image_upload2" ></div>
                            <div class="input-group">
                                <span class="input-group-text w-per" data-labelCd="이미지2">이미지2</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="align_left popup_button_group bottom">
                    <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
                </div>
            </section>
    </div>
</script>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
<th:block th:replace="/common/approve_box :: approve_box"></th:block>
<th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
<th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

<script type="text/javascript">
    class airFilterDiary {
        constructor() {
            this.grid = null;
            this.uploader = null;
            this.approveBoxUtil = null;
            this.table_name = 'air_filter_check_result';
            this.appr_view = $('#apprView').val()
            this.baseUrl = '/api/precedence/air_filter_check_result';
            this.appro_code = '공조필터점검일지'
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="air_filter_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 25  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);

                        if (e.column.key == 'result1' && !$('#viewMode').val()) {
                            // 필터 교체 계획이 되어있는 것만 수정가능
                            if (e.item.check_plan != null) {
                                if (e.item.result1 == null) {
                                    e.item.result1 = 'O';
                                    _this.grid.repaint();
                                }
                                else if (e.item.result1 == 'O') {
                                    e.item.result1 = 'X';
                                    _this.grid.repaint();
                                }
                                else if (e.item.result1 == 'X') {
                                    e.item.result1 = null;
                                    _this.grid.repaint();
                                }
                            }
                        } else if (e.column.key == 'name') {
                            _this.setImagePopup(e.item);
                        }
                    }
                },
                page: {
                    display: true,
                    statusDisplay: true,
                },
                columns: [
                    { key: 'name', label: '점검항목명', width: 130, align: 'left' },
                    { key: '_order', label: '순번', width: 50, align: 'center' },
                    { key: 'place', label: '설치장소', width: 130, align: 'left' },
                    { key: 'type', label: '종류', width: 130, align: 'left' },
                    { key: 'type2', label: '필터종류', width: 100, align: 'left' },
                    {
                        key: 'result1', label: '<span class="editable_clr">점검결과(클릭)</span>', width: 110, align: 'center',
                        styleClass: function () {
                            let check = this.item.check_plan;
                            return (check > 0) ? 'grid-cell-green' : 'grid-cell-white';
                        }
                    },
                ]
            };
            this.grid = new ax5.ui.grid(config);

            $('#btnAllItem').click(function (e) {                
                _this.grid.list.forEach(function (item, idx) {
                    if (item.check_plan > 0) {
                        item.result1 = 'O';
                    }
                });
                _this.grid.repaint();
            })

            // 조치내역 그리드
            let devi_action_config = {
                target: $('[data-ax5grid="devi_action_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.deviGrid.select(this.dindex);

                        if (e.column.key == 'action_detail' && !$('#viewMode').val()) {
                            _this.showDeviActionCodeSavePopup(e.item);
                        }
                    },
                    onDataChanged: function (e) {
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: false,
                },
                columns: [
                    { key: 'id', label: '번호', width: 80, align: 'right', hidden: true },
                    { key: 'src_data_pk', label: '점검항목결과번호', width: 80, align: 'right', hidden: true },
                    //{ key: 'happen_date', label: '발생일', width: 80, align: 'left' },
                    { key: '_order', label: '순번', width: 50, align: 'center' },
                    { key: 'happen_place', label: '발생구역', width: 150, align: 'center' },
                    { key: 'type', label: '종류', width: 100, align: 'left' },
                    { key: 'type2', label: '필터종류', width: 100, align: 'left' },
                    { key: 'abnormal_detail', label: '이상발생내역', width: 200, align: 'left' },
                    { key: 'action_detail', label: '<span class="editable_clr">조치내역및결과</span>', width: 300, align: 'left', editor: {} },
                    { key: 'actor_date', label: '조치완료일', width: 100, align: 'left' },
                    { key: 'actor_name', label: '조치자', width: 80, align: 'left' },
                    { key: 'confer_name', label: '확인자', width: 80, align: 'left' },
                    { key: 'confirm_state', label: '확인', width: 80, align: 'left', hidden: true },
                ]
            };
            this.deviGrid = new ax5.ui.grid(devi_action_config);

        }

        // 문서 목록 조회
        searchMainData() {
            let _this = this;

            let param = {
                'action': 'read',
                'bh_id': $('#bhId').val(),
                'data_date': $('#dataDate').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl + '/read', param);
            _this.headInfo = result.data.head_info;
            _this.diaryInfo = result.data.diary_info;
            _this.action_info = result.data.action_info;


            if (_this.headInfo != null && _this.diaryInfo != null) {
                $('#title').val(_this.headInfo.Title);
                $('#dataDate').val(_this.headInfo.DataDate);
                $('#firstName').val(_this.headInfo.FirstName);
                $('#checkCycle').text(_this.headInfo.CheckCycle);
                $('#Description').val(_this.headInfo.Description);

                let count = _this.diaryInfo.length;
                _this.grid.setData({
                    list: _this.diaryInfo,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
                _this.deviGrid.setData({
                    list: _this.action_info,
                    page: {
                        display: true,
                        totalElements: _this.action_info.length,
                    }
                });

                if ($('#viewMode').val().toLowerCase() == 'true') {
					
                    $('#btnDiaryPrint').hide();
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#title').attr('disabled', 'disabled');
                    $('#dataDate').attr('disabled', 'disabled');
                    $('#Description').attr('readonly', true);
                    $('#btnAllItem').hide();
                    if (_this.headInfo.State == 'approval') {
                        $('#btnDiaryPrint').show();
                    }
                    _this.setUploader($('#bhId').val(), false);
                } else {
                    $('#btnDiaryPrint').hide();
                    // State : 작성, 미결재, 승인, 반려, 재상신

                    if (_this.headInfo.State == 'process' || _this.headInfo.State == 'reprocess') {                        
                        $('#btnReqAppr').hide();
                        $('#btnSave').hide();
                        $('#btnDelete').hide();
						$('#btnAllItem').hide();
                        
                    } else if (_this.headInfo.State == 'approval') {
                        $('#btnDiaryPrint').show();
                        $('#btnReqAppr').hide();
                        $('#btnSave').hide();
                        $('#btnDelete').hide();
						$('#btnAllItem').hide();
                    }

                    _this.setUploader($('#bhId').val(), true);

                        
                    if (parseInt($('#bhId').val(), 10) > 0) {
                        $('#dataDate').attr('disabled', 'disabled');
                    } else {
                        $('#btnDelete').hide();
                    }
                }
                // 푸드/박원준
                _this.approveBoxUtil = new ApproveBoxUtil(0, _this.appro_code, $('#bhId').val(), 'bundle_head', false, false);
                _this.approveBoxUtil.print($('#viewMode').val());
                if (_this.approveBoxUtil.isApprUser()) {
                    // 결재자의 경우 버튼 처리
                    $('#btnAppr').show();
                    $('#btnReject').show();
                }
            }
        }

        //결재
        appr(isAppr) {
            let _this = this;
            _this.approveBoxUtil.approval(isAppr, function () {
                $('#btnList').click();
            });
        }
        //결재상신
        reqAppr() {
            let _this = this;
            let title = $('#title').val();
            let url = '/gui/' + gui.gui_code + '/edit';
            let urlParam = {
                'bh_id': $('#bhId').val(),
                'data_date': $('#dataDate').val(),
            };

            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));
            if (ret.success) {
                Notify.success('결재상신하였습니다.');
                $('#btnList').click();
            }
        }

        save(isAppr) {
            let _this = this;

            let callback = null;
            callback = function () {
                _this.headInfo.Description = $('#Description').val();
                let data = {
                    'bh_id': $('#bhId').val(),
                    'data_date': $('#dataDate').val(),
                    'title': $('#title').val(),
                    'headInfo': JSON.stringify(_this.headInfo),
                    'diaryInfo': JSON.stringify(_this.diaryInfo),
                    'fileId': $("#srchFileId").val(),
                }                
				
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        $('#bhId').val(resp.data.id);
                        if (isAppr) {
                            // 결재요청
                            _this.reqAppr();
                        } else {
                            // 임시저장
                            Notify.success('저장하였습니다.');
                            $('#btnDelete').show();
                            _this.searchMainData();
                        }
                    } else {
                        Alert.alert('', resp.message);
                    }
                }
                
                 if (isAppr) {
	                let checkGrid1 = _this.grid.getList()
	                let checkGrid2 = _this.deviGrid.getList()
	                
	                let result = checkGrid1.filter(function(e){
					    return e.result1 == "X";
					})
	               	
	               	if (result.length > 0) {
						if(checkGrid2.length == 0) {
							Alert.alert('결재상신','조치내역을 입력해주세요.');
							return
						}
					}
					
					let result2 = checkGrid2.filter(function(e){
					    return e.action_detail == "" || e.action_detail == null;
					})
					
					if (result2.length > 0) {
						Alert.alert('결재상신','조치내역을 입력해주세요.');
						return
					}
                }
                AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
            }

            if (isAppr) {
                Alert.confirm('', '결재상신하시겠습니까?', function () {
                    callback();
                });
            }
            else {
                Alert.confirm('', '저장하시겠습니까?', function () {
                    callback();
                });
            }
        }
        showDeviActionCodeSavePopup(item) {

            // 점검내역 조치내역 팝업
            let _this = this;
            let popupPage = new PopupSelectUserCodePage({

                'title': '점검내역 선택',
                'gridValueLabel': '점검항목',
                'infoData': [
                    { label: '이상발생내역', value: item.check_name },
                ],
                'parentCode': '공조필터점검', 'closeManual': true,
            });
            popupPage.show(function (data) {
                if (data && data.selected.Code == '직접입력') {
                    item.action_detail = data.input;
                } else {
                    item.action_detail = data.selected.Value;
                }
                popupPage.close();
                _this.deviGrid.repaint();
                if (item.action_detail) {
					_this.saveDeviAction();
                }
                
            });
        }
        saveDeviAction() {
            let _this = this;
            //let url = '/api/common/devi_action?action=save_multi_devi_action';
            let url = '/api/common/devi_action/save_dev_action';
            let list = _this.deviGrid.getList('selected')[0]
            if (!list) return;
            let data = {
                id : list.id,
                source_pk : list.src_data_pk,
                source_table_name : 'master_result_air_filter',
                happen_date : list.happen_date,
                abnormal_detail : list.abnormal_detail,
                action_detail : list.action_detail,
                confirm_detail : list.confirm_detail,
            }
            
                        
			let fnSuccess = function () {
				Notify.success('저장되었습니다');
			}
			AjaxUtil.postAsyncData(url, data, fnSuccess);
        }


        // 이미지 팝업
        setImagePopup(data) {
            let _this = this;
            let content = tmpl('imagePopup', data);
            let $content = $(content);
            let modalContainer;
            if (data && ( data.file_id1 || data.file_id2) ) {
                modalContainer = new PopupDraggable('점검항목 이미지');
                modalContainer.open({ width: 600, height: 450, $content });
            }

            let fncCallback = function () {
            };
            _this.upload = new UploadOneImage(1, {
                table_name: 'master_year_month_plan',
                data_pk: data.check_plan,
                attach_name: 'replace_filter1',
                file_id: data.file_id1,
                upload_form_id: 'upload_form1',
                upload_div_id: 'image_upload1',
                image_width: '100%',
                image_height: '250px',
                callback: fncCallback,
            });

            _this.upload = new UploadOneImage(2, {
                table_name: 'master_year_month_plan',
                data_pk: data.check_plan,
                attach_name: 'replace_filter2',
                file_id: data.file_id2,
                upload_form_id: 'upload_form2',
                upload_div_id: 'image_upload2',
                image_width: '100%',
                image_height: '250px',
                callback: fncCallback,
            });

            _this.upload.printFormDiv();
        }


        delete() {
            let _this = this;
            let param = {
                'bh_id': $('#bhId').val()
            }

            let fnSuccess = function (resp) {
                if (resp.success) {
                    Notify.success('삭제하였습니다.');
                    $('#btnList').click();
                } else {
                    Alert.alert('', resp.message);
                }
            };
            Alert.confirm('', '삭제하시겠습니까?', function () {
                AjaxUtil.postAsyncData(_this.baseUrl + '/mst_delete', param, fnSuccess);
            });
        }

        //파일 업로더
        setUploader(id, viewFlag) {
            let _this = this;
            let uploader = new ax5FileUploadClass('file_upload_idv', id,
                {
                    table_name: _this.table_name,
                    attach_name: 'basic',
                    accept_files: 'hwp,doc,docx,ppt,pptx,xls,xlsx,jpg,jpeg,gif,mbp,png,txt,zip,pdf',
                    multiple: true,
                    max_count: 5,
                    file_size: 100,
                    upload_callback: function (param) {
                        //uploader.showLastImage('imgPhoto');
                    },
                    delete_callback: function (param) {
                        //$('#imgPhoto').attr('src', '');
                    },
                    file_click_callback: function (file_id) {
                        //uploader.showImage('imgPhoto', file_id);
                    },
                    can_write: viewFlag,
                });
        }
        
        // 일지 출력
        printDiary() {
            let param = {
                'title': $('#title').val(),
                'bh_id': $('#bhId').val(),                
            };

            let result = AjaxUtil.postSyncData(this.baseUrl + '?action=print', param, function () { });
            if (result.success) {
                CommonUtil.openWindow('/api/files/pdf_viewer?file_id=' + result.file_id)
            }
            else {
                Alert.alert('', '일지 생성 중 오류가 발생했습니다. 관리자에게 문의하세요.');
            }
        }

        //엑셀다운로드
        exportExcel() {
            var targetview = this.grid;
            targetview.exportExcel('공조필터점검현황.xls');
        }
    }
    let page = null;

    $(document.body).ready(function (e) {
        page = new airFilterDiary();


        $('#srchDt').ax5DatePicker({ direction: 'top' });
        // 그리드 토글
        $('#btnToggle').click(function (e) {
            $("#standardDIv").toggle(300);
        });

        $('#dataDate').val(CommonUtil.getYYYYMMDD());

        //엑셀
        $('#btnExcel').click(function (e) {
            page.exportExcel();
        });

        // 검색버튼 클릭
        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        // 결재상신
        $('#btnReqAppr').on('click', function () {
            page.save(true);
        });

        // 승인
        $('#btnAppr').on('click', function () {
            page.appr(true);
        });

        // 반려
        $('#btnReject').on('click', function () {
            page.appr(false);
        });

        // 임시저장
        $('#btnSave').on('click', function () {
            page.save(false);
        });

        // 삭제
        $('#btnDelete').on('click', function () {
            page.delete();
        });
        // 일지 출력
        $('#btnDiaryPrint').on('click', function () {
            page.printDiary();
        });


        // 목록
        $('#btnList').on('click', function () {
            if (this.appr_view) {
                location.href = '/gui/' + this.appr_view;
            } else {
                location.href = '/gui/' + gui.gui_code;
            }
        });

        page.searchMainData();



    });
</script>

<style>
    .background-yellow {
        background: #ffd800
    }

    .background-skyblue {
        background: #00e0ff
    }

    .background-white {
        background: #ffffff
    }

    table.type01 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        margin: 20px 10px;
    }

        table.type01 th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: middle;
            border: 1px solid #ccc;
            text-align: center;
        }

        table.type01 td {
            width: 650px;
            padding: 10px;
            vertical-align: middle;
            border: 1px solid #ccc;
        }
</style>
</th:block>
</html>