<html layout:decorate="~{layout_page}">


<th:block layout:fragment="content">
<div class="content_wrap">
    <input type="hidden" id="bhId" th:value="${bh_id}" />
    <input type="hidden" id="viewMode" th:value="${view_mode}" />
    <input type="hidden" id="checkStep" th:value="1" />
    <input type="hidden" id="nextYn" th:value="N" />
    <section class="section mb-1">

        <div class="title_box ">
            <div class="left_align">
                <h3>에어컴프레샤 정기점검일지</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>


        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검명">점검명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="title" name="title" />
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group" data-ax5picker="basic" id="srchDt">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검월">점검월</span>
                                </div>
                                <input class="form-control2 tac" type="month" id="dataDate" name="dataDate">
                            </div>
                        </div>

                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="작성자">작성자</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="firstName" name="firstName" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-xl-6">
                    <div id="approveBox"></div>
                </div>
            </div>
        </div>
        <!--<div class="title_box">
            <span class="right_align rpt" data-labelCd="관리기준">관리기준</span>
            <div class="left_align">
                <label class="switch">
                    <input type="checkbox" checked id="btnToggle"><span class="slider round"></span>
                </label>
                관리기준 보기/감추기
            </div>
        </div>
        <div id="standardDIv">
            <div class="row">
                <div class="col-12">
                    <table class="type01" colspan="2">
                        <tr>
                            <th scope="row">관리기준</th>
                            <td>관리기준</td>
                        </tr>
                        <tr>
                            <th scope="row">결재주기</th>
                            <td id="checkCycle"></td>
                        </tr>
                        <tr>
                            <th scope="row">판정결과</th>
                            <td>적합(O), 부적합(X)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>-->

    </section>
    <section class="section">
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="점검표">점검표</span>
                <button type="button" class="btn-default" id="btnDiaryPrint">일지출력</button>
                <button type="button" class="btn-default" id="btnAllItem">전체적합</button>
                <button type="button" class="btn-default" id="btnReqAppr">결재상신</button>
                <button type="button" class="btn-default" id="btnAppr" style="display:none;">승인</button>
                <button type="button" class="btn-cancel" id="btnReject" style="display:none;">반려</button>
                <button type="button" class="btn-default" id="btnSave">저장</button>
                <button type="button" class="btn-cancel" id="btnDelete">삭제</button>
                <button type="button" class="btn-default" id="btnList">목록</button>
            </div>
        </div>
        <div class="title_box">
            <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn-danger y_write_auth" id="btnDel" style="float:none"><i class="fas fa-trash"></i></button>
            </div>
        <div class="grid_box" id="sub_grid">
            <div class="h-500" data-ax5grid="check_item_result_grid"></div>
        </div>
    </section>
    <section class="section">
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="서명">서명</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="type01">
                    <colgroup>
                        <col style="width: 10%;" />
                        <col style="width: 15%;" />
                        <col style="width: 15%;" />
                        <col style="width: 15%;" />
                        <col style="width: 15%;" />
                        <col style="width: 15%;" />
                        <col style="width: 15%;" />
                    </colgroup>
                    <tr>
                        <th rowspan="4">확인</th>
                        <th>점검일</th>
                        <td id="checkDate1">-</td>
                        <td id="checkDate2">-</td>
                        <td id="checkDate3">-</td>
                        <td id="checkDate4">-</td>
                        <td id="checkDate5">-</td>
                    </tr>
                    <tr>
                        <th>점검자</th>
                        <td id="checkName1">-</td>
                        <td id="checkName2">-</td>
                        <td id="checkName3">-</td>
                        <td id="checkName4">-</td>
                        <td id="checkName5">-</td>
                    </tr>
                    <tr>
                        <th>확인일</th>
                        <td id="apprDate1">-</td>
                        <td id="apprDate2">-</td>
                        <td id="apprDate3">-</td>
                        <td id="apprDate4">-</td>
                        <td id="apprDate5">-</td>
                    </tr>
                    <tr>
                        <th>확인자</th>
                        <td id="apprName1">-</td>
                        <td id="apprName2">-</td>
                        <td id="apprName3">-</td>
                        <td id="apprName4">-</td>
                        <td id="apprName5">-</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section style="display:none;">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text fit_box_t5_area" data-labelCd="특이사항">특이사항</span>
                </div>
                <textarea class="form-control2 tal" id="Description" name="Description"></textarea>
            </div>
        </div>
    </section>
    <section>
        <div class="grid_box" id="sub_grid">
            <div class="title_box" id="button_box2">
                <div class="left_align">
                    <button type="button" class="btn-default" id="btnDeviActionSave" style="display:none">저장</button>
                </div>
            </div>
            <div class="h-200" data-ax5grid="devi_action_grid"></div>
        </div>
    </section>
</div>

<script type="text/x-tmpl" id="imagePopup">
    <div class="content_wrap modal-content popup">
            <section class="pt-2">
               <div class="table_box sub" >
                    <div class ="row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t5" data-labelCd="점검항목명">점검항목명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="pop_item_name" disabled="disabled" />
                            </div>
                        </div>
                        </div>
                        <div class="col-12 mx-auto" id="image_upload1"></div>
                </div>
            </section>
            <section>
                <div class="align_left popup_button_group bottom">
                    <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
                </div>
            </section>
    </div>
</script>
</th:block>


<th:block layout:fragment="scripts">
<th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
<th:block th:replace="/common/approve_box :: approve_box" ></th:block>
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
<th:block th:replace="/common/popup_select_user_code.html :: popup_select_user_code" ></th:block>
<!--<script type="text/javascript" src="/static/js/grid.js?ver=22080801"></script>-->
<script type="text/javascript">
    class CrossContaminationDiary {
        constructor() {
            this.grid = null;
            this.uploader = null;
            this.approveBoxUtil = null;
            this.baseUrl = '/api/precedence/air_confresia';
            this.appro_code = '에어컴프레샤'
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="check_item_result_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 25  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    mergeCells: ['group2', 'group1'],
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        let colKey = e.column.key
                        if (e.column.key == colKey && !$('#viewMode').val()) {
                            if (e.item[colKey] == null) {
                                e.item[colKey] = 'O';
                                _this.grid.repaint();
                            }
                            else if (e.item[colKey] == 'O') {
                                e.item[colKey] = 'X';
                                _this.grid.repaint();
                            }
                            else if (e.item[colKey] == 'X') {
                                e.item[colKey] = null;
                                _this.grid.repaint();
                            }
                        } else if (e.column.key == 'item_name') {
                            _this.setImagePopup(e.item);
                        }
                    }
                },
                page: {
                    display: true,
                    statusDisplay: true,
                },
                columns: [
                    //{ key: '_order', label: '순번', width: 50, align: 'center' },
                    //{ key: 'group1', label: '점검항목', width: 130, align: 'left' },
                    //{ key: 'item_name', label: '점검사항', width: 200, align: 'left' },
                    //{ key: 'group2', label: '주기', width: 130, align: 'left' },
                    //{
                    //    label: '<span class="editable_clr">점검결과(클릭)</span>',
                    //    columns: [
                    //        {
                    //            key: 'result1', label: '-', width: 110, align: 'center', sortable: false,
                    //        },
                    //        {
                    //            key: 'result2', label: '-', width: 110, align: 'center', sortable: false,
                    //        },
                    //        {
                    //            key: 'result3', label: '-', width: 110, align: 'center', sortable: false,
                    //        },
                    //        {
                    //            key: 'result4', label: '-', width: 110, align: 'center', sortable: false,
                    //        },
                    //        {
                    //            key: 'result5', label: '-', width: 110, align: 'center', sortable: false,
                    //        },
                    //    ],
                    //},
                ]
            };
            this.grid = new ax5.ui.grid(config);

            // 조치내역 그리드
            let devi_action_config = {
                target: $('[data-ax5grid="devi_action_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.deviGrid.select(this.dindex);

                        if (e.column.key == 'action_detail' && !$('#viewMode').val()) {
                            _this.showDeviActionCodeSavePopup(e.item);
                        }
                    },
                    onDataChanged: function (e) {
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: false,
                },
                columns: [
                    { key: 'id', label: '번호', width: 80, align: 'right', hidden: true },
                    { key: 'src_data_pk', label: '점검항목결과번호', width: 80, align: 'right', hidden: true },
                    { key: 'happen_date', label: '발생일', width: 100, align: 'center' },
                    //{ key: '_order', label: '순번', width: 50, align: 'center' },
                    { key: 'abnormal_detail', label: '이상발생내역', width: 400, align: 'left' },
                    { key: 'action_detail', label: '<span class="editable_clr">조치내역및결과</span>', width: 250, align: 'left', editor: {} },
                    { key: 'actor_name', label: '조치자', width: 80, align: 'left' },
                    { key: 'creater_name', label: '작성자', width: 80, align: 'left' },
                    { key: 'confirm_state', label: '확인', width: 80, align: 'left', hidden: true },
                ]
            };
            this.deviGrid = new ax5.ui.grid(devi_action_config);

        }

        // 문서 목록 조회
        searchMainData(isColumn) {
            let _this = this;
            
            let param = {
                'bhId': $('#bhId').val(),
                'data_date': $('#dataDate').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl+'/read', param);
            _this.headInfo = result.data.head_info;
            _this.diaryGrpInfo = result.data.diary_grp_info;
            _this.diaryInfo = result.data.diary_info;
            _this.action_info = result.data.action_info;
            
            
            if (_this.headInfo != null && _this.diaryInfo != null) {
                $('#title').val(_this.headInfo.Title);
                $('#dataDate').val(_this.headInfo.DataDate);
                $('#firstName').val(_this.headInfo.FirstName);
                $('#checkCycle').text(_this.headInfo.CheckCycle);
                //$('#Description').val(_this.headInfo.Description);
                // 점검단계
                $('#checkStep').val(_this.headInfo.CheckStep);

                if ($('#viewMode').val().toLowerCase() == 'true') {
                    $('#btnDiaryPrint').hide();
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#title').attr('disabled', 'disabled');
                    $('#dataDate').attr('disabled', 'disabled');
                    $('#btnAllItem').hide();
                    if (_this.headInfo.State == 'approval') {
                        $('#btnDiaryPrint').show();
                    }
                } else {
                    $('#btnDiaryPrint').hide();
                    // State : 작성, 미결재, 승인, 반려, 재상신
                    if (_this.headInfo.State == 'process' || _this.headInfo.State == 'reprocess') {
                        $('#btnReqAppr').hide();
                        $('#btnSave').hide();
                        $('#btnDelete').hide();
                        $('#btnAllItem').hide();

                    } else if (_this.headInfo.State == 'approval') {
                        $('#btnDiaryPrint').show();
                        $('#btnReqAppr').hide();
                        //$('#btnSave').hide();
                        $('#btnDelete').hide();
                        //$('#btnAllItem').hide();

                        //다음 결과값을 입력하기 위해
                        $('#checkStep').val(parseInt($('#checkStep').val(), 10) + 1);
                        $('#nextYn').val('Y');
                    }

                    if (parseInt($('#bhId').val(), 10) > 0) {
                        $('#dataDate').attr('disabled', 'disabled');
                    } else {
                        $('#btnDelete').hide();
                    }

                    if (parseInt($('#checkStep').val(), 10) > 1) {
                        //재상신이므로
                        $('#btnDiaryPrint').show();
                        $('#btnDelete').hide();
                    }
                }

                _this.approveBoxUtil = new ApproveBoxUtil(0, _this.appro_code, $('#bhId').val(), 'bundle_head', false, false);
                _this.approveBoxUtil.print($('#viewMode').val());
                if (_this.approveBoxUtil.isApprUser()) {
                    // 결재자의 경우 버튼 처리
                    $('#btnAppr').show();
                    $('#btnReject').show();
                }

                // 헤더 설정
                if (_this.diaryGrpInfo['CheckDate' + $('#checkStep').val()] == '-') {
                    _this.diaryGrpInfo['CheckDate' + $('#checkStep').val()] = CommonUtil.getYYYYMMDD();
                }
                
                let _config = {}
                
                let type = _this.diaryInfo[0]['type']
                
                if(isColumn){
					if(_this.diaryGrpInfo['id'] ==0){
						_config = {
		                    columns: [
		                        //{ key: '_order', label: '순번', width: 50, align: 'center'},
		                        { key: 'group1', label: '점검항목', width: 130, align: 'center' },
		                        { key: 'item_name', label: '점검사항', width: 200, align: 'left' },
		                        { key: 'group2', label: '주기', width: 130, align: 'center' },
		                        {
		                            label: '<span class="editable_clr">점검결과(클릭)</span>',
		                            columns: [
		                                {
		                                    key: 'result1', label: _this.diaryGrpInfo['CheckDate1'], width: 110, align: 'center', sortable: false,
		                                }
		                            ],
		                        },
		                    ]
		                }	
					}else{
						_config = {
		                    columns: [
		                       // { key: '_order', label: '순번', width: 50, align: 'center' },
		                        { key: 'group1', label: '점검항목', width: 130, align: 'center' },
		                        { key: 'item_name', label: '점검사항', width: 200, align: 'left' },
		                        { key: 'group2', label: '주기', width: 130, align: 'center' },
		                        {
		                            label: '<span class="editable_clr">점검결과(클릭)</span>',
		                            columns: [
		                                
		                            ],
		                        },
		                    ]
		                }
		                // 날짜기준으로 컬럼 넣기
		                for(let i=1; i<Number(type)+1; i++){
							_config.columns[3].columns.push({key:"result"+i, label:_this.diaryInfo[0]['resultdate'+i],width:110,align:'center',sortable:false})
						}
					}
				}else{
					let number = page.grid.columns[3].columns.length+1;
					var today = new Date();
			
					var year = today.getFullYear();
					var month = ('0' + (today.getMonth() + 1)).slice(-2);
					var day = ('0' + today.getDate()).slice(-2);
					var dateString = year + '-' + month  + '-' + day;
					
					page.grid.columns[3].columns.push({key:"result"+number, label:dateString,width:110,align:'center',sortable:false})
				}
				
                _this.grid.setConfig(_config);
                _this.grid.setHeight(_this.diaryInfo.length * 27 + 100);
                _this.deviGrid.setHeight(_this.action_info.length * 27 + 100);
                

                _this.grid.setData({
                    list: _this.diaryInfo,
                    page: {
                        display: true,
                        totalElements: _this.diaryInfo.length,
                    }
                });
                _this.deviGrid.setData({
                    list: _this.action_info,
                    page: {
                        display: true,
                        totalElements: _this.action_info.length,
                    }
                });

                _this.setSign();
            }
        }

        convertText(txt) {
            return txt == null || txt == '' ? '-' : txt;
        }

        setSign() {
            let _this = this;
            $('#checkDate1').html(_this.convertText(_this.diaryGrpInfo['CheckDate1']));
            $('#checkDate2').html(_this.convertText(_this.diaryGrpInfo['CheckDate2']));
            $('#checkDate3').html(_this.convertText(_this.diaryGrpInfo['CheckDate3']));
            $('#checkDate4').html(_this.convertText(_this.diaryGrpInfo['CheckDate4']));
            $('#checkDate5').html(_this.convertText(_this.diaryGrpInfo['CheckDate5']));

            $('#checkName1').html(_this.convertText(_this.diaryGrpInfo['CheckName1']));
            $('#checkName2').html(_this.convertText(_this.diaryGrpInfo['CheckName2']));
            $('#checkName3').html(_this.convertText(_this.diaryGrpInfo['CheckName3']));
            $('#checkName4').html(_this.convertText(_this.diaryGrpInfo['CheckName4']));
            $('#checkName5').html(_this.convertText(_this.diaryGrpInfo['CheckName5']));

            $('#apprDate1').html(_this.convertText(_this.diaryGrpInfo['ApprDate1']));
            $('#apprDate2').html(_this.convertText(_this.diaryGrpInfo['ApprDate2']));
            $('#apprDate3').html(_this.convertText(_this.diaryGrpInfo['ApprDate3']));
            $('#apprDate4').html(_this.convertText(_this.diaryGrpInfo['ApprDate4']));
            $('#apprDate5').html(_this.convertText(_this.diaryGrpInfo['ApprDate5']));

            $('#apprName1').html(_this.convertText(_this.diaryGrpInfo['ApprName1']));
            $('#apprName2').html(_this.convertText(_this.diaryGrpInfo['ApprName2']));
            $('#apprName3').html(_this.convertText(_this.diaryGrpInfo['ApprName3']));
            $('#apprName4').html(_this.convertText(_this.diaryGrpInfo['ApprName4']));
            $('#apprName5').html(_this.convertText(_this.diaryGrpInfo['ApprName5']));
        }

        //결재완료 후 task
        doAppr() {
            let _this = this;
            let data = {
                'bh_id': $('#bhId').val(),
            }

            let fnSuccess = function (resp) {
                if (resp.success) {
                    $('#btnList').click();
                } else {
                    Alert.alert('', resp.message);
                }
            }
            AjaxUtil.postAsyncData(_this.baseUrl + '?action=approval_task', data, fnSuccess);
        }

        //결재
        appr(isAppr) {
            let _this = this;
            _this.approveBoxUtil.approval(isAppr, function () {
                if (isAppr) {
                    _this.doAppr()
                } else {
                    $('#btnList').click();
                }
            });
        }
        //결재상신
        reqAppr() {
            let _this = this;
            let title = $('#title').val();
            let url = '/gui/' + gui.gui_code + '/edit';
            let urlParam = {
                'bh_id': $('#bhId').val(),
                'data_date': $('#dataDate').val(),
            };

            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));
            if (ret.success) {
                Notify.success('결재상신하였습니다.');
                $('#btnList').click();
            }
        }

        save(isAppr) {
            let _this = this;
            
            var today = new Date();

			var year = today.getFullYear();
			var month = ('0' + (today.getMonth() + 1)).slice(-2);
			var day = ('0' + today.getDate()).slice(-2);
			
			var dateString = year + '-' + month  + '-' + day;
			
			let diaryInfo = _this.diaryInfo;

			
			let number = page.grid.columns[3].columns.length;
			
			for(let i=0; i<number; i++){
				for(let j=0; j<diaryInfo.length; j++){
					let something = {};
					diaryInfo[j]['resultDate'+(i+1)] = page.grid.columns[3].columns[i].label
				}
			}
			
			
            
            let callback = null;
            callback = function () {
                //_this.headInfo.Description = $('#Description').val();
                let data = {
                    'bhId': $('#bhId').val(),
                    'resultDateLength':number,
                    'data_date': dateString,
                    'title': $('#title').val(),
                    'check_step': $('#checkStep').val(),
                    'next_yn': $('#nextYn').val(),
                    'headInfo': JSON.stringify(_this.headInfo),
                    'diaryInfo': JSON.stringify(_this.diaryInfo),
                }
                
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        if (isAppr) {
                            // 결재요청
                            _this.reqAppr();
                        } else {
                            // 임시저장
                            Notify.success('저장하였습니다.');
                            $("#bhId").val(resp.data.id);
                            $('#btnReqAppr').show();
                            $('#btnDelete').show();
                            _this.searchMainData(true);
                        }
                    } else {
                        Alert.alert('', resp.message);
                    }
                }
                
              if (isAppr) {
	                let checkGrid1 = _this.grid.getList()
	                let checkGrid2 = _this.deviGrid.getList()
	                
	                let result = checkGrid1.filter(function(e){
					    return e.result1 == "X";
					})
	               	
	               	if (result.length > 0) {
						if(checkGrid2.length == 0) {
							Alert.alert('결재상신','조치내역을 입력해주세요.');
							return
						}
					}
					
					let result2 = checkGrid2.filter(function(e){
					    return e.action_detail == "" || e.action_detail == null;
					})
					
					if (result2.length > 0) {
						Alert.alert('결재상신','조치내역을 입력해주세요.');
						return
					}
                }
                
                AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
            }

            if (isAppr) {
                Alert.confirm('', '결재상신하시겠습니까?', function () {
                    callback();
                });
            }
            else {
                Alert.confirm('', '저장하시겠습니까?', function () {
                    callback();
                });
            }
        }
        showDeviActionCodeSavePopup(item) {

            // 점검내역 조치내역 팝업
            let _this = this;
            let popupPage = new PopupSelectUserCodePage({

                'title': '점검내역 선택',
                'gridValueLabel': '점검항목',
                'infoData': [
                    { label: '이상발생내역', value: item.check_name },
                ],
                'parentCode': _this.appro_code, 'closeManual': true,
            });
            popupPage.show(function (data) {
                if (data && data.selected.Code == '직접입력') {
                    item.action_detail = data.input;
                } else {
                    item.action_detail = data.selected.Value;
                }
                popupPage.close();
                _this.deviGrid.repaint();
                if (item.action_detail) {
                    _this.saveDeviAction();
                }
            });
        }
        saveDeviAction() {
            let _this = this;
           // let url = '/api/common/devi_action?action=save_dev_action';
            let url = '/api/common/devi_action/save_dev_action';
            let list = _this.deviGrid.getList('selected')[0]
            if (!list) return;
            let data = {
                id: list.id,
                source_pk: list.src_data_pk,
                source_table_name: 'devi_action_cross_contamination1',
                happen_date: list.happen_date,
                abnormal_detail: list.abnormal_detail,
                action_detail: list.action_detail,
                confirm_detail: list.confirm_detail,

            };
            let fnSuccess = function () {
                Notify.success('저장되었습니다');
            }
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }


        // 이미지 팝업
        setImagePopup(data) {
            let _this = this;

            let content = tmpl('imagePopup', data);
            let $content = $(content);
            let modalContainer;

            if (data && data.file_id) {
                modalContainer = new PopupDraggable('점검항목 이미지');
                modalContainer.open({ width: 500, height: 350, $content });
            }

            let fncCallback = function () {
            };
            _this.upload = new UploadOneImage(1, {
                table_name: 'check_item',
                data_pk: data.checkItem_id,
                attach_name: 'check_item_image',
                file_id: data.file_id,
                upload_form_id: 'upload_form1',
                upload_div_id: 'image_upload1',
                image_width: '100%',
                image_height: 'auto',
                callback: fncCallback,
            });

            _this.upload.printFormDiv();
            $('#pop_item_name').val(data.item_name);
            $('#btnUpload1').hide();
            $('#btnRemoveFile1').hide();
            $('#attachFileId1').hide();
        }

        // 일지 출력
        printDiary() {
            let param = {
                'title': $('#title').val(),
                'bh_id': $('#bhId').val(),
            };

            let result = AjaxUtil.postSyncData(this.baseUrl + '?action=print', param, function () { });
            if (result.success) {
                CommonUtil.openWindow('/api/files/pdf_viewer?file_id=' + result.file_id)
            }
            else {
                Alert.alert('', '일지 생성 중 오류가 발생했습니다. 관리자에게 문의하세요.');
            }
        }

        delete() {
            let _this = this;
            let param = {
                'bh_id': $('#bhId').val()
            }

            let fnSuccess = function (resp) {
                if (resp.success) {
                    Notify.success('삭제하였습니다.');
                    $('#btnList').click();
                } else {
                    Alert.alert('', resp.message);
                }
            };
            Alert.confirm('', '삭제하시겠습니까?', function () {
                AjaxUtil.postAsyncData(_this.baseUrl + '?action=mst_delete', param, fnSuccess);
            });
        }

        //엑셀다운로드
        exportExcel() {
            var targetview = this.grid;
            targetview.exportExcel('에어컴프레샤 점검일지.xls');
        }
    }
    let page = null;

    $(document.body).ready(function (e) {
        page = new CrossContaminationDiary();

        let today_string = new Date();
        let currentMonth = (today_string.getMonth() + 1) < 10 ? '0' + (today_string.getMonth() + 1) : (today_string.getMonth() + 1);
        let format_today = today_string.getFullYear() + '-' + currentMonth;

        $('#dataDate').val(format_today);

        // 그리드 토글
        $('#btnToggle').click(function (e) {
            $("#standardDIv").toggle(300);
        });

        //엑셀
        $('#btnExcel').click(function (e) {
            page.exportExcel();
        });
        
        $("#btnNew").click(function (e){
	
		page.searchMainData(false);
	
	
		
		
		
		//page.grid.setConfig(page._config);
		
			//page.grid.addColumn({key:"result2", label:'asdf',width:110,align:'center',sortable:false})
		});

        // 검색버튼 클릭
        $('#btnSearch').click(function (e) {
            page.searchMainData(true);
        });

        // 결재상신
        $('#btnReqAppr').on('click', function () {
            page.save(true);
        });

        // 승인
        $('#btnAppr').on('click', function () {
            page.appr(true);
        });

        // 반려
        $('#btnReject').on('click', function () {
            page.appr(false);
        });

        // 임시저장
        $('#btnSave').on('click', function () {
            page.save(false);
        });

        // 삭제
        $('#btnDelete').on('click', function () {
            page.delete();
        });

        // 일지 출력
        $('#btnDiaryPrint').on('click', function () {
            page.printDiary();
        });

        // 목록
        $('#btnList').on('click', function () {
            if (this.appr_view) {
                 location.href = '/gui/' + this.appr_view
            } else {
                location.href = '/gui/' + gui.gui_code
            }
        });

        $('#btnAllItem').click(function (e) {
            page.grid.list.forEach(function (item, idx) {
                item['result2'] = 'O';
            });
            page.grid.repaint();
        })

        page.searchMainData(true);

    });
</script>
<style>
    .background-yellow {
        background: #ffd800
    }

    .background-skyblue {
        background: #00e0ff
    }

    .background-white {
        background: #ffffff
    }

    table.type01 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        margin: 20px 10px;
    }

        table.type01 th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: middle;
            border: 1px solid #ccc;
            text-align: center;
        }

        table.type01 td {
            width: 650px;
            padding: 10px;
            vertical-align: middle;
            border: 1px solid #ccc;
        }
</style>
</th:block>
</html>