<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="content_wrap">
    <section class="section">
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="작업장온습도입력">작업장온습도입력</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>

        <div class="table_box search" >

            <div class="row" >
                <div class="col-4 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="기준일">기준일</span>
                        </div>
                        <input type="date" class="form-control2" value="" id="txtBaseDate" name="txtBaseDate" placeholder="" title="" />
                    </div>
                </div>
                <div class="col-4 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="트랩구분">트랩구분</span>
                        </div>
                        <select class="form-control2" id="cboType" name="cboType"></select>
                    </div>
                </div>

                 <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                 </div> 
            </div>
        </div>
    </section>

    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="측정결과" >측정결과</span>
                <button type="button" class="btn-default" id="btnUp" title="순서 조정-위로"><i class="fas fa-arrow-up"></i></button>
                <button type="button" class="btn-default" id="btnDown" title="순서 조정-아래로"><i class="fas fa-arrow-down"></i></button>
                <button type="button" class="btn-default y_write_auth" id="btnOrderSave"><span data-labelCd="순서 저장">순서 저장</span></button>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>

            </div>
            <div class="h-400" data-ax5grid="code_grid" ></div>
        </div>
    </section>

    <section style="height:320px">
        <div class="title_box mb-2">
            <span class="right_align rpt" data-labelCd="측정결과" >측정결과</span>
            <button type="button" class="btn-default y_write_auth" id="btnSaveAsNew" disabled>새 데이터로 저장</button>
            <button type="button" class="btn-default y_write_auth" id="btnSave" disabled><i class="fas fa-save"></i></button>
            <button type="button" class="btn-danger y_write_auth" id="btnDel" ><i class="fas fa-trash"></i></button>
            
        </div>

        <form id="detailForm">
            <input type="hidden" id="id" name="id" />
            <input type="hidden" id="master_id" name="master_id" />
            <div class="table_box sub" id="detail_box">
                <div class="row">

                    <!--<div class="col-6 col-md-3" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md">번호</span>
                            </div>-->
                        <!--</div>
                    </div>-->

                    <div class="col-12" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*작업장명">*작업장명</span>
                            </div>
                           <input class="form-control2" type="text" id="master_name" name="master_name" disabled="disabled" required>

                        </div>
                    </div>

                    <div class="col-6 col-md-6" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="측정일">측정일</span>
                            </div>
                            <input class="form-control2" type="date" id="DataDate" name="DataDate" disabled="disabled" required >

                        </div>
                    </div>

                    <div class="col-6 col-md-6" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="측정시각">측정시각</span>
                            </div>
                            <input class="form-control2" type="text" id="DataTime" name="DataTime" disabled="disabled" required>

                        </div>
                    </div>

                    <div class="col-6 col-md-6" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_lg" data-labelCd="온도">온도</span>
                            </div>
                            <input class="form-control2 tar" type="text" id="Temper" name="Temper" disabled="disabled">

                        </div>
                    </div>

                    <div class="col-6 col-md-6" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_lg" data-labelCd="습도">습도</span>
                            </div>
                            <input class="form-control2 tar" type="text" id="Humidity" name="Humidity" disabled="disabled">

                        </div>
                    </div>

                    <div class="col-12" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="비고">비고</span>
                            </div>
                           <textarea class="form-control2" id="Description" name="Description" disabled="disabled"></textarea>

                        </div>
                    </div>
                </div>
                
            </div>
                
        </form>
    </section>

</div>
</th:block>


<th:block layout:fragment="scripts">
<script src="/js/grid.js?v=1000"></script>
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<script type="text/javascript">
    class CodePage {
        constructor() {
            this.grid = null;
            this.init();

            this.baseUrl = '/api/haccp/workplace_th';
            this.master_class = 'workplace_th';

            //this.type_class_code = 'pest_trap_class';
            //this.type_class_table = 'user_code';
            //this.type2_class_code = 'haccp_area_class';
            //this.type2_class_table = 'system_code';
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="code_grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.master_id, e.item.id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
               columns: [
                    { key: 'id', label: '번호', width: 80, align: 'left', hidden: true  },
                    { key: 'master_id', label: '작업장번호', width: 80, align: 'left', hidden: true  },
                    { key: 'master_code', label: '코드', width: 100, align: 'left' },
                    { key: 'master_name', label: '작업장명', width: 150, align: 'left' },
                    { key: 'data_date', label: '측정일', width: 100, align: 'left' },
                    { key: 'data_time', label: '시각', width: 100, align: 'left' },
                   { key: 'temper', label: '온도', width: 100, align: 'right' },
                   { key: 'humidity', label: '습도', width: 100, align: 'right' },
                   { key: 'description', label: '비고', width: 150, align: 'left' },

                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;
            
        }

        // 버튼 활성화 설정
        setButtonState() {
            let pk = $('#id').val();
            //$('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);
                $('#btnSaveAsNew').prop('disabled', false);
            }
            else {
                $('#btnDel').prop('disabled', true);
                $('#btnSaveAsNew').prop('disabled', true);
            }
        }

        // 창고 목록 조회
        searchMainData() {
            let _this = this;
            let url = this.baseUrl;

            let base_date = $('#txtBaseDate').val();
            let param = {
                action: 'read_result',
                master_class: _this.master_class,
                base_date: base_date,
            };

            let result = AjaxUtil.getSyncData(url + "/read_result", param);
            if (result != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });

                _this.base_date = base_date;
            }

            //this.clearInfo();

            //this.setButtonState();
        }

        clearInfo() {
            let _this = this;
            $('#detailForm')[0].reset();
            $('#detailForm').find('#id').val('');
            //$('#detailForm').find('#StartDate').val(_this.today_string);
            //$('#detailForm').find('#EndDate').val('2100-12-31');

            $('#detail_box').find('input, select, textarea').each(function () {
                if ($(this).is(':disabled')) {
                    //$(this).attr('disabled', '');
                    $(this).removeAttr('disabled');
                }
            });

            this.setButtonState();
        }

        // 상세정보 조회
        showDetail(master_id, id) {
            let _this = this;
            let base_date = _this.base_date;
            
            let param = {
                id: id,
                master_id: master_id,
                action: 'detail_result',
            };
            let url = this.baseUrl;
            let result = AjaxUtil.getSyncData(url + "/detail_result", param);

            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#detailForm'));
                $('#detailForm').find('#DataDate').val(base_date);
            }

            this.setButtonState();
        }
                
        saveData(bSaveAsNew = false) {
            let _this = this;
            let validate = true;
            let $target = null;
            let url = this.baseUrl + '/save_result';

            //let data = $('#detailForm').serialize();
            let data = FormUtil.extractForm($('#detailForm'));
            data['master_class'] = _this.master_class;
            data['base_date'] = _this.base_date;
            if (bSaveAsNew)
                data.id = '';
            let fnSuccess = function (result) {
                if (result.success) {
                    Notify.success("저장되었습니다.");
                    _this.searchMainData();
                }
                else
                    Alert.alert('에러', result.message);
            }

            // 필수입력 check routine
            $('#detail_box').find('input, select, textarea').each(function () {
                if ($(this).is(':required')) {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            if (validate) {
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목을 입력해주세요.', function () {
                    $target.focus();
                });
            }
        }

        //// 정보 삭제
        deleteData() {
            let _this = this;
            let url = this.baseUrl + '/delete_result';
            let id = $('#detailForm').find('#id').val();
            let data = { id: id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        // 엑셀 다운로드
        exportExcel() {
            var targetview = this.grid;
            targetview.exportExcel('창고정보.xls');
        }

    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new CodePage();

        let today_string = CommonUtil.getYYYYMMDD();
        $('#txtBaseDate').val(today_string);
        //$('#StartDate').val(today_string);
        page.today_string = today_string;

        //AjaxUtil.fillSelectOptions($('#cboType'), page.type_class_table, 'all', false, page.type_class_code);
        //AjaxUtil.fillSelectOptions($('#Type'), page.type_class_table, 'choose', false, page.type_class_code);

        //AjaxUtil.fillSelectOptions($('#cboType2'), page.type2_class_table, 'all', false, page.type2_class_code);
        //AjaxUtil.fillSelectOptions($('#Type2'), page.type2_class_table, 'choose', false, page.type2_class_code);

        $('#DataTime').blur(function (event) {
            DataValidation.validateTime(event.target);
        });

        // 검색버튼 클릭
        $('#btnSearch').click(function (e) {
            page.searchMainData();
            page.clearInfo();
        });

        // 저장버튼
        $('#btnSave').click(function (e) {
            Alert.confirm('', 
                "저장하시겠습니까?",
                function () { page.saveData(false) },
                function () { }
            );
        });
        $('#btnSaveAsNew').click(function (e) {
            Alert.confirm('',
                '새 데이터로 저장하시겠습니까?',
                function () { page.saveData(true) },
                function () { }
            )
        });

        // 삭제버튼
        $('#btnDel').click(function (e) {
            Alert.confirm('', 
                "삭제하시겠습니까?",
                function () { page.deleteData() },
                function () { }
            );
        });

        $("#btnUp").click(function (e) {
            GridUtil.changeOrder("U", page.grid);
        });

        $("#btnDown").click(function (e) {
            GridUtil.changeOrder("D", page.grid);
        });

        $('#btnOrderSave').click(function(e){
                let code_list = page.grid.list;

                Alert.confirm('확인','순서를 저장하시겠습니까?', function(){
                    let items = [];
                    $.each(code_list, function(idx, item){
                        items.push(item.master_id);
                    });

                    let data = { Q : items };
                    let url = page.baseUrl + '/code_order_save';
                    let fnsuccess = function (res) {
                        Notify.success('저장했습니다.');
                        page.searchMainData();
                    };
                    AjaxUtil.postAsyncData(url, data, fnsuccess);
                });
        });

        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
            page.exportExcel();
        });

        //그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        page.searchMainData();
        page.clearInfo();

    });



</script>
</th:block>
</html>