<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
    <div class="content_wrap">

        <section class="section">

            <div class="title_box ">
                <div class="left_align">
                    <h3 data-labelCd="월별발전량">월별발전량</h3>
                </div>

                <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
                <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
            </div>

            <div class="table_box search">

                <div class="row">

                    <div class="col-6 col-md-6 col-lg-5" style="max-width: 20%">
                        <div class="input-group" style="width: 110%">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="일자">일자</span>
                            </div>
                            <div data-ax5picker="multi" id="srchDt">
                                <div class="input-group-append">
                                    <input class="tac " type="text" id="date_from" name="date_from" data-picker-date="year" />
                                    <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color" ></i>
                                </span>
                                    <span class="slow_sign">~</span>
                                    <input class="tac " type="text" id="date_to" name="date_to" data-picker-date="year2" />
                                    <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                    </div>

                </div>
            </div>


        </section>


        <section class="section ">
            <div class="grid_box">
                <div class="title_box">
                    <div >
                        <span class="right_align rpt" data-labelCd="발전량내역">발전량내역</span>
                        <button type="button" class="btn-danger y_write_auth" id="btnDelete" ><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn-default" id="btnDownloadTemplate"><span data-labelCd="양식 다운로드">양식 다운로드</span></button>
                        <button type="button" class="btn-default" id="btnExcel" title="엑셀 다운로드"><i class="fas fa-file-excel"></i></button>
                    </div>
                </div>
                <div class="h-650" data-ax5grid="sujuGrid" ></div>
            </div>
        </section>


    </div>


</th:block>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        class SujuUploadPage {
            constructor() {
                this.grid = null;
                this.baseUrl = '/api/sale/upload/sale_upload_main';
                this.init();
            }

            init() {
                let _this = this;
                let config = {
                    target: $('[data-ax5grid="sujuGrid"]'),
                    frozenColumnIndex: 0, // 열 고정
                    frozenRowIndex: 0,    // 행 고정
                    showLineNumber: false, // 열의 번호 보이기 여부
                    showRowSelector: true,  // checkbox(선택) 보이기 여부
                    multipleSelect: true, // 여러행 선택 가능 여부 (false시 단독 선택)
                    sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                    multiSort: true, // 다중 정렬 여부
                    header: {
                        align: 'center',  // 헤더의 기본 정렬
                        columnHeight: 35  // 헤더 높이
                    },
                    body: {
                        columnHeight: 25, // body의 기본 높이
                        onClick: function (e) {
                            this.self.select(this.dindex);
                            console.log(this.item.__index);

                        }
                    },
                    page: {
                        display: true,  // 페이징 보이기 여부
                        statusDisplay: true,
                    },
                    columns: [
                        { key: 'number', label: 'No.', width: 0, align: 'center' },
                        { key: 'date', label: '일자', width: 110, align: 'center', styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'Baljungi_code', label: '발전기코드', width: 100, align: 'center', styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            }  },
                        { key: 'Baljungi_name', label: '발전기명', width: 250, align: 'center', styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            }  },
                        { key: 'time01', label: '01시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time02', label: '02시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time03', label: '03시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time04', label: '04시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time05', label: '05시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time06', label: '06시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time07', label: '07시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time08', label: '08시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time09', label: '09시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time10', label: '10시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time11', label: '11시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time12', label: '12시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time13', label: '13시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time14', label: '14시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time15', label: '15시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time16', label: '16시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time17', label: '17시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time18', label: '18시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time19', label: '19시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time20', label: '20시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time21', label: '21시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time22', label: '22시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time23', label: '23시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'time24', label: '24시', width: 100, align: 'center', formatter: 'money' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'sum', label: '합계', width: 80, align: 'center' },
                        { key: 'charge', label: '충전/방전', width: 100, align: 'center' , styleClass: function () {
                                return (this.item.__index % 2 === 1) ? "grid-cell-black2" : "grid-cell-white";
                            } },
                        { key: 'suju_qty', label: '등록일자', width: 80, align: 'center' ,formatter:'money'},
                        { key: 'jumun_date', label: '등록자', width: 120, align: 'center' },
                        { key: 'due_date', label: '최종수정일', width: 120, align: 'center' }


                    ],
                    footSum: [
                        [
                            { label: "합계", colspan: 5, align: "center" },
                            { key: "time01", collector: "sum", formatter: "money", align: "center"},
                            { key: "time02", collector: "sum", formatter: "money", align: "center"},
                            { key: "time03", collector: "sum", formatter: "money", align: "center"},
                            { key: "time04", collector: "sum", formatter: "money", align: "center"},
                            { key: "time05", collector: "sum", formatter: "money", align: "center"},
                            { key: "time06", collector: "sum", formatter: "money", align: "center"},
                            { key: "time07", collector: "sum", formatter: "money", align: "center"},
                            { key: "time08", collector: "sum", formatter: "money", align: "center"},
                            { key: "time09", collector: "sum", formatter: "money", align: "center"},
                            { key: "time10", collector: "sum", formatter: "money", align: "center"},
                            { key: "time11", collector: "sum", formatter: "money", align: "center"},
                            { key: "time12", collector: "sum", formatter: "money", align: "center"},
                            { key: "time13", collector: "sum", formatter: "money", align: "center"},
                            { key: "time14", collector: "sum", formatter: "money", align: "center"},
                            { key: "time15", collector: "sum", formatter: "money", align: "center"},
                            { key: "time16", collector: "sum", formatter: "money", align: "center"},
                            { key: "time17", collector: "sum", formatter: "money", align: "center"},
                            { key: "time18", collector: "sum", formatter: "money", align: "center"},
                            { key: "time19", collector: "sum", formatter: "money", align: "center"},
                            { key: "time20", collector: "sum", formatter: "money", align: "center"},
                            { key: "time21", collector: "sum", formatter: "money", align: "center"},
                            { key: "time22", collector: "sum", formatter: "money", align: "center"},
                            { key: "time23", collector: "sum", formatter: "money", align: "center"},
                            { key: "time24", collector: "sum", formatter: "money", align: "center"},

                        ]
                    ]
                };
                this.grid = new ax5.ui.grid(config);

                let nowDate = CommonUtil.getYYYYMMDD();
                let dueDate = CommonUtil.getYYYYMMDD(10);

                // 엔터키 검색
                $('#keyword').on('keypress', function (e) {
                    if (event.keyCode == 13) {
                        _this.searchDataBind();
                    }
                });
            }






            searchDataBind(){
                let _this = this;

                let start = $('#date_from').val();
                let end = $('#date_to').val();

                let data = {
                    'start' : start + '-01-01',
                    'end'   : end + '12-31',
                    'flag'  : 'list'
                };


                let fnseccess = function (result) {
                    if(result.data != null) {
                        let recordsTotal = result.data.length;
                        _this.grid.setData({
                            list: result.data,
                            page: {
                                display: true,
                                totalElements: recordsTotal,
                            }
                        });
                    }
                };
                AjaxUtil.getAsyncData(_this.baseUrl + '/read',data, fnseccess);

            }

            //삭제
            deleteSujuBulkData(items) {
                let _this = this;
                /*
                let data = {
                    'list_data': items,
                }
                let Q = {
                    value :JSON.stringify(data)
                }
                */
                let data = {
                    Q: JSON.stringify(items)
                }

                let fnSuccess = function (res) {
                    if (res.success) {
                        Notify.success('삭제되었습니다');
                        _this.searchDataBind();
                    } else {
                        Alert.alert('', res.message);
                    }
                };

                AjaxUtil.postAsyncData(_this.baseUrl + '/delete', data, fnSuccess);
            }


        }

        let page = null;
        var picker = new ax5.ui.picker();

        $(document).ready(function (e) {
            page = new SujuUploadPage();

            picker.bind({
                target: $('[data-picker-date="year"]'),
                content: {
                    type: 'date',
                    config: {
                        mode: "year", selectMode: "year"
                    },
                    formatter: {
                        pattern: 'date(year)'
                    }
                }
            });

            picker.bind({
                target: $('[data-picker-date="year2"]'),
                content: {
                    type: 'date',
                    config: {
                        mode: "year", selectMode: "year"
                    },
                    formatter: {
                        pattern: 'date(year)'
                    }
                }
            });



            $('#date_from').val(CommonUtil.getYYYYMMDD().substring(0,4));
            $('#date_to').val(CommonUtil.getYYYYMMDD().substring(0,4));

            //검색
            $('#btnSearch').click(function (e){
                page.searchDataBind();
            });

            // 삭제 버튼
            $('#btnDelete').click(function (e) {
                let items = page.grid.getList('selected');
                if (items.length > 0) {
                    Alert.confirm('', '삭제하시겠습니까?',
                        function () {
                            page.deleteSujuBulkData(items);
                        },
                        function () { }
                    );
                } else {
                    Alert.alert('', '삭제할 항목을 선택해주세요.', function () {
                        $(this).focus();
                    });
                }
            });

        })
    </script>
</th:block>
</html>