<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <input type="hidden" id="bhId" th:value="${bh_id}" />
    <input type="hidden" id="viewMode" th:value="${view_mode}" />
    <input type="hidden" id="apprView" th:value="${appr_view}" />
    <input type="hidden" id="checkMasterId" th:value="${check_master_id}" />
    <input type="hidden" id="createrName" th:value="${creater_name}" />
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="설비점검 일지">설비점검 일지</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col- col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="일지명">일지명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="title" name="title" />
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-8">
                            <div class="input-group" data-ax5picker="basic" id="pickerDate">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="일자">일자</span>
                                </div>
                                <div data-ax5picker="multi" id="srchDt">
                                    <div class="input-group-append">
                                        <input class="tac " type="text" id="srchStartDt" name="srchStartDt" />
                                        <span class="input-group-text fs-xl">
                                            <i class="fas fa-calendar-alt calendar_color"></i>
                                        </span>
                                        <span class="slow_sign">~</span>
                                        <input class="tac " type="text" id="srchEndDt" name="srchEndDt" />
                                        <span class="input-group-text fs-xl">
                                            <i class="fas fa-calendar-alt calendar_color"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-xl-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="작성자">작성자</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="firstName" name="firstName" disabled />
                            </div>
                        </div>
                        <div class="col- col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="점검">점검</span>
                        </div>
                        <select class="form-control2" id="cboCheck" name="cboCheck"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-xl-6">
                    <div id="approveBox"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid_box" id="prodListGrid">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="점검 목록">점검 목록</span>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnDiaryPrint">일지출력</button>
                <button type="button" class="btn-default" id="btnAllItem">전체적합</button>
                <button type="button" class="btn-default" id="btnReqAppr">결재상신</button>
                <button type="button" class="btn-default" id="btnAppr" style="display:none;">승인</button>
                <button type="button" class="btn-cancel" id="btnReject" style="display:none;">반려</button>
                <button type="button" class="btn-default" id="btnSave">저장</button>
                <button type="button" class="btn-cancel" id="btnDelete">삭제</button>
                <button type="button" class="btn-default" id="btnList">목록</button>
            </div>
            <div class="grid_box" id="complainList">
                <div class="h-380" data-ax5grid="check_item_result_grid" ></div>
            </div>
        </div>
    </section>
    <section>
	    <div class="grid_box" id="sub_grid">
	        <div class="h-200" data-ax5grid="devi_action_grid"></div>
	    </div>
</section>

</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/approve_box :: approve_box" ></th:block>
<th:block th:replace="/common/popup_select_user_code.html :: popup_select_user_code" ></th:block>
<script type="text/javascript">
    class EquipResultDiaryPage {
        constructor() {
            this.grid = null;
            this.approveBoxUtil = null;
            this.resultGrid = null;
            this.check_class_code = '시설/설비/제조도구 점검표';
            this.baseUrl = '/api/precedence/equip_check_list';
            this.init();
        }

        init() {
            let _this = this;
            let resultConfig = {
                target: $('[data-ax5grid="check_item_result_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 25  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    mergeCells: ["group1"],
                    onClick: function (e) {
                        if (e.column.key == 'result1' && !$('#viewMode').val()) {
                            if (e.item.result1 == null && e.item.result_type == 'OX') {
                                e.item.result1 = 'O';
								_this.resultGrid.repaint();                                
							}
							else if (e.item.result1 == 'O' && e.item.result_type == 'OX') {
                                e.item.result1 = 'X';
								_this.resultGrid.repaint();        
							}
							else if (e.item.result1 == 'X' && e.item.result_type == 'OX') {
                                e.item.result1 = null;
								_this.resultGrid.repaint();
							}
                        }
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '번호', width: 100, align: 'right' },
                    { key: 'group1', label: '구분1', width: 130, align: 'left' },
                    { key: 'group2', label: '구분2', width: 130, align: 'left' , hidden: true},
                    { key: 'group3', label: '구분3', width: 130, align: 'left', hidden: true },
                    { key: 'item_name', label: '점검항목명', width: 450, align: 'left' },
                    {
                        key: 'result1', label: '<span class="editable_clr">점검결과(입력)</span>', width: 150, align: 'center',
                        editor: {
                            type: 'text', config: {}
                        },
                     },
                ]
            }
            this.resultGrid = new ax5.ui.grid(resultConfig);
            this.result_grid_config = resultConfig;
            
            let devi_action_config = {
                    target: $('[data-ax5grid="devi_action_grid"]'),
                    frozenColumnIndex: 0, // 열 고정
                    frozenRowIndex: 0,    // 행 고정
                    showLineNumber: false, // 열의 번호 보이기 여부
                    showRowSelector: false,  // checkbox(선택) 보이기 여부
                    multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                    sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                    multiSort: false, // 다중 정렬 여부
                    header: {
                        align: 'center',  // 헤더의 기본 정렬
                        columnHeight: 38  // 헤더 높이
                    },
                    body: {
                        columnHeight: 25, // body의 기본 높이
                        onClick: function (e) {
                            _this.deviResultGrid.select(this.dindex);

                            if (e.column.key == 'action_detail' && !$('#viewMode').val()) {
                                _this.showDeviActionCodeSavePopup(e.item);
                            } 
                        },
                        onDataChanged: function (e) {                            
                        }
                    },
                    page: {
                        display: true,  // 페이징 보이기 여부
                        statusDisplay: false,
                    },
                    columns: [
                        { key: 'id', label: '번호', width: 80, align: 'right', hidden:true },
                        { key: 'src_data_pk', label: '점검항목결과번호', width: 80, align: 'right', hidden:true},
                        //{ key: 'happen_date', label: '발생일', width: 80, align: 'left' },
                        { key: '_order', label: '순번', width: 50, align: 'center' },
                        { key: 'abnormal_detail', label: '이상발생내역', width: 400, align: 'left' },
                        { key: 'action_detail', label: '<span class="editable_clr">조치내역및결과</span>', width: 250, align: 'left', editor: {} },
                        { key: 'actor_name', label: '조치자', width: 80, align: 'left' },
                        { key: 'creater_name', label: '작성자', width: 80, align: 'left' },
                        { key: 'confirm_state', label: '확인', width: 80, align: 'left', hidden:true },
                    ]
            };
            this.deviResultGrid = new ax5.ui.grid(devi_action_config);			
            _this.deviTabType = this.deviResultGrid;
        }

        checkAllItem() {
            let _this = this;
            let items = [];
            _this.resultGrid.list.forEach(function (item, idx) {
                if (item.result_type == 'OX')
                    item.result1 = 'O';
            });
            _this.resultGrid.repaint();
        }

        // 일지 조회
        searchMainData() {
            let _this = this;
            $('#btnDiaryPrint').hide();
            $('#btnDelete').hide();

            $('#firstName').val(userinfo.username);
            $('#title').val('설비점검 일지');
            
            if ($('#bhId').val() > 0) {
                let param = {
                    'action': 'read',
                    'bh_id': $('#bhId').val(),
                };
                let result = AjaxUtil.getSyncData(_this.baseUrl + '/read', param);
                if (result.data != null) {
                    let headInfo = result.data.head_info;
                    let diaryInfo = result.data.diary_info;
                    let itemDeviResult = result.data.item_devi_result
                    
                    $('#title').val(headInfo.Title);
                    $('#srchStartDt').val(headInfo.StartDate);
                    $('#srchEndDt').val(headInfo.EndDate);
                    $('#firstName').val(headInfo.FirstName);
                    $('#cboCheck').val(headInfo.CheckMasterId);

                    _this.apprSetting(headInfo.CheckMasterId)

                    _this.resultGrid.setData({
                        list: diaryInfo,
                        page: {
                            display: true,
                            totalElements: diaryInfo.length,
                        }
                    });
                    
	                _this.deviResultGrid.setData({
						list: itemDeviResult,
						page: {
							display: true,
							totalElements: itemDeviResult.length
						}
	     		   });

                    _this.viewModeSetting(headInfo)
                }

            } else if ($('#cboCheck').val() == '') {
                _this.resultGrid.setData({
                    list: '',
                    page: {
                        display: true,
                        totalElements: 0,
                    }
                });
            } else {
                _this.searchItemList();
            }
            
        }

        apprSetting(checkMasterId) {
            // 결재 업무명과 checkmaster의 이름이 동일해야 가능
            let _this = this;
            let param = {
                'action': 'appr_list',
                'check_master_id': checkMasterId,
            }

            let result = AjaxUtil.getSyncData(_this.baseUrl + '/appr_list', param);
			
            _this.approveBoxUtil = new ApproveBoxUtil(0, result.data.code, $('#bhId').val(), 'bundle_head', false, false);
            _this.approveBoxUtil.print($('#viewMode').val());
            if (_this.approveBoxUtil.isApprUser()) {
                // 결재자의 경우 버튼 처리
                $('#btnAppr').show();
                $('#btnReject').show();
            }
        }

        viewModeSetting(headInfo) {
             // 데이터에 따른 버튼 설정
            if ($('#viewMode').val().toLowerCase() == 'true') {
                //보기 모드일 경우 CRUD 버튼 숨김
                $('#btnDiaryPrint').hide();
                $('#btnReqAppr').hide();
                $('#btnSave').hide();
                $('#btnDelete').hide();
                $('#btnAllItem').hide();
                if (headInfo.State == 'approval') {
                    $('#btnDiaryPrint').show();
                }

                $('#title').attr('disabled', 'disabled');
                $('#srchStartDt').attr('disabled', 'disabled');
                $('#srchEndDt').attr('disabled', 'disabled');
                $('#cboCheck').attr('disabled', 'disabled');

            }
            else {
                // State : 작성, 미결재, 승인, 반려, 재상신
                $('#btnDelete').show();
                $('#btnDiaryPrint').hide();
                if (headInfo.State == 'process' || headInfo.State == 'reprocess') {
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#btnAllItem').hide();
                } else if (headInfo.State == 'approval') {
                    $('#btnDiaryPrint').show();
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#btnAllItem').hide();
                }

                if (parseInt($('#bhId').val(), 10) > 0) {
                    $('#srchStartDt').attr('disabled', 'disabled');
                    $('#srchEndDt').attr('disabled', 'disabled');
                    $('#cboCheck').attr('disabled', 'disabled');
                } else {
                    $('#btnDelete').hide();
                }
            }
        }

        searchItemList() {
            let _this = this;

            let param = {
                'action': 'read',
                'check_master_id': $('#cboCheck').val(),
                'start_date': $('#srchStartDt').val(),
                'end_date': $('#srchEndDt').val(),
            }
			
            let result = AjaxUtil.getSyncData('/api/check/check_item/read', param);
            _this.apprSetting($('#cboCheck').val())

            result.data.forEach(function (item, idx) {
                item.result1 = null;
            })

            _this.resultGrid.setData({
                list: result.data,
                page: {
                    display: true,
                    totalElements: result.data.length,
                }
            });
            
        }

        // 일지 출력
        printDiary() {
            Alert.alert('', '기능 준비중입니다.');
        }

        //결재
        appr(isAppr) {
            let _this = this;
            _this.approveBoxUtil.approval(isAppr, function () {
                $('#btnList').click();
            });
        }

        //결재상신
        reqAppr() {
            let _this = this;
            let title = $('#title').val();
            let url = '/gui/' + gui.gui_code + '/edit';
            let urlParam = {
                'bh_id': $('#bhId').val(),
                'start_date': $('#srchStartDt').val(),
                'end_date': $('#srchEndDt').val(),
            };

            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));
            if (ret.success) {
                Notify.success('결재상신하였습니다.');
                $('#btnList').click();
            }
        }

        showDeviActionCodeSavePopup(item) {

            // 점검내역 조치내역 팝업
            let _this = this;
            let tempResult = _this.deviResultGrid.getList('selected')[0];            
            let popupPage = new PopupSelectUserCodePage({

                'title': '점검내역 선택',
                'gridValueLabel': '점검항목',
                'infoData': [
                    { label: '이상발생내역', value: item.check_name },                    
                ],
                'parentCode': '설비관리점검표', 'closeManual': true,
            });
            popupPage.show(function (data) {                                
                if (data && data.selected.Code == '직접입력') {                    
                    item.action_detail = data.input;
                } else {
                    item.action_detail = data.selected.Value;
                }
                popupPage.close();
                _this.deviTabType.repaint();
                  if (item.action_detail) {
					_this.saveDeviAction();
                }
            });            
        }
        
        saveDeviAction() {
            let _this = this;
            let url = '/api/common/devi_action/save_multi_devi_action';
            let happen_place = $('#cboCheck').text();
            let data = {
                data_pk: $('#bhId').val(),                    
                table_name: 'prod_equip_check_list',
                happen_date: CommonUtil.getYYYYMMDD(),
                happen_place: happen_place,
                Q: JSON.stringify(_this.deviTabType.getList()),
            };
            let fnSuccess = function () {
                Notify.success('저장되었습니다');                    
            }
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }
        
        //저장
        save(isAppr) {
            let _this = this;
            let resultNullCheck = false;

            for (let i = 0; i < _this.resultGrid.list.length; i++) {
                if (_this.resultGrid.list[i].result1 == null || _this.resultGrid.list[i].result1 == '') 
                    resultNullCheck = true;    
            }

            let callback = function () {

                let items = [];
                $.each(_this.resultGrid.list, function (idx, item) {
                    items.push({ id: item.id, 'result1': item.result1, 'order': item.__original_index });
                });


                let data = {
                    bh_id: $('#bhId').val(),
                    title: $('#title').val(),
                    check_master_id: $('#cboCheck').val(),
                    data_date: CommonUtil.getYYYYMMDD(),
                    start_date: $('#srchStartDt').val(),
                    end_date: $('#srchEndDt').val(),
                    Q: JSON.stringify(items),
                };
 
                
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        $('#bhId').val(resp.data.id);
                        if (isAppr) {
                            // 결재요청
                            _this.reqAppr();
                        } else {
                            // 임시저장
                            Notify.success('저장하였습니다.');
                            $('#btnDelete').show();
                            $('#srchStartDt').attr('disabled', 'disabled');
                            $('#srchEndDt').attr('disabled', 'disabled');
                            $('#cboCheck').attr('disabled', 'disabled');
                             _this.searchMainData();
                        }
                    } else {
                        Alert.alert('', resp.message);
                    }
                };
                
               	if (isAppr) {
	                let checkGrid1 = _this.resultGrid.getList()
	                let checkGrid2 = _this.deviResultGrid.getList()
	                
	                let result = checkGrid1.filter(function(e){
					    return e.result1 == "X";
					})
	               	
	               	if (result.length > 0) {
						if(checkGrid2.length == 0) {
							Alert.alert('결재상신','조치내역을 입력해주세요.');
							return
						}
					}
					
					let result2 = checkGrid2.filter(function(e){
					    return e.action_detail == "" || e.action_detail == null;
					})
					
					if (result2.length > 0) {
						Alert.alert('결재상신','조치내역을 입력해주세요.');
						return
					}
                }
                AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
            }

            if (resultNullCheck) {
                Alert.alert("", "점검결과를 모두 입력해주세요.");
                return;
            }
            else if (isAppr) {
                Alert.confirm('', '결재상신하시겠습니까?', function () {
                    callback();
                });
            }
            else {
                Alert.confirm('', '저장하시겠습니까?', function () {
                    callback();
                });
            }
        }

        //삭제
        delete() {
            let _this = this;
            Alert.confirm('', '삭제하시겠습니까?', function () {
                // 삭제 서비스 호출
                let param = {
                    bh_id: $('#bhId').val(),
                }
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        Notify.success('삭제하였습니다.');
                        $('#btnList').click();
                    } else {
                        Alert.alert('', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '/mst_delete', param, fnSuccess);
            });
        }

        // 엑셀 다운로드
        exportExcel() {
            var targetview = this.resultGrid;
            targetview.exportExcel('설비점검목록.xls');
        }
    }


    let page = null;

    $(document).ready(function (e) {
        page = new EquipResultDiaryPage();

        $('#srchDt').ax5DatePicker({ direction: 'top' });
        $('#srchDt').change(function () {
            page.searchMainData();
        });
		
        picker.bind({
            target: $('[data-ax5picker="multi"]'),
            direction: "top",
            content: {
                width: 206,  //130 270
                margin: 10,
                type: 'date',
                config: {
                    control: {
                        left: '<i class="fa fa-chevron-left"></i>',
                        yearTmpl: '%s',
                        monthTmpl: '%s',
                        right: '<i class="fa fa-chevron-right"></i>'
                    },
                    lang: {
                        yearTmpl: "%s년",
                        months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                        dayTmpl: "%s"
                    }
                }
            }

        });

        AjaxUtil.fillSelectOptions($('#cboCheck'), 'check_master', '', '', page.check_class_code);

        $('#cboCheck').change(function () {
            page.searchMainData();
        });

        $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-15));

        $('#srchEndDt').val(CommonUtil.getYYYYMMDD());

        // 전체 적합
        $('#btnAllItem').click(function (e) {
            page.checkAllItem();
        });

        // 일지 출력
        $('#btnDiaryPrint').on('click', function () {
            page.printDiary();
        });


        // 결재상신
        $('#btnReqAppr').on('click', function () {
            page.save(true);
        });

        // 승인
        $('#btnAppr').on('click', function () {
            page.appr(true);
        });

        // 반려
        $('#btnReject').on('click', function () {
            page.appr(false);
        });

        // 임시저장
        $('#btnSave').on('click', function () {
            page.save(false);
        });

        // 삭제
        $('#btnDelete').on('click', function () {
            page.delete();
        });

        // 목록
        $('#btnList').on('click', function () {
            //if (gparam.appr_view) {
            //   location.href = '/gui/' + gparam.appr_view + '?searchcond=' + gparam.searchcond;
            //}
            // else {
                location.href = '/gui/' + gui.gui_code //+ '?searchcond=' + gparam.searchcond;
           //  }
        });

        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
            page.exportExcel();
        });

        page.searchMainData();

    });
</script>
</th:block>
</html>
