<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <section>
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="HACCP 항목기준">HACCP 항목기준</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>
        <div class="table_box search">
            <form id="searchForm" autocomplete="off">
                <div class="row">
                    <div class="col-12 col-lg-3 col-xl-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t8" data-labelCd="HACCP 공정">HACCP 공정</span>
                            </div>
                            <select class="form-control2" id="cboHaccpProcess" name="HaccpProcess_id"></select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-xl-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t8" data-labelCd="제품그룹">제품그룹</span>
                            </div>
                            <select class="form-control2" id="cboMaterialGroup" name="MaterialGroup_id"></select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-xl-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t8" data-labelCd="제품">제품</span>
                            </div>
                            <select class="form-control2" id="cboMaterial" name="Material_id"></select>
                        </div>
                    </div>

                    <div class="col-1">
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                    </div>


                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="HACCP일지목록">HACCP일지목록</span>
                <button type="button" class="btn-default " id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn-default" id="btnSave"><i class="fas fa-save"></i></button>
            </div>
            <div class="h-660" data-ax5grid="haccp-item-limit-grid"></div>
        </div>
    </section>
</div>

<script type="text/x-tmpl" id="add_haccp_item_limit_tmpl">
    <div class="content_wrap popup">
        <section class="pt-2">
            <div class="table_box sub">
                <form id="lotInputForm">
                    <div class="row">
                        <div class="col-5">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t8" data-labelCd="*HACCP 공정">*HACCP 공정</span>
                                </div>
                                <select class="form-control2" id="cboHaccpProcessPopup" name="HaccpProcess_id"></select>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t8" data-labelCd="*제품">*제품</span>
                                </div>
                                <select class="form-control2" id="cboMaterialPopup" name="HaccpProcess_id"></select>
                            </div>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn-default" id="btnSearchPop" title="조회"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="grid_box">
                <div class="title_box">
                    <span class="right_align rpt" data-labelCd="HACCP일지목록">HACCP공정별 항목</span>
                    <button type="button" class="btn-default align_left" id="btnSavePop"><i class="fas fa-save"></i></button>
                </div>
                <div class="h-420" data-ax5grid="haccp_item_grid" ></div>
            </div>
        </section>
        <section class="popupcontent" >
            <div class="popup_button_group bottom align_left">
                <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            </div>
        </section>
    </div>

</script>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<script type="text/javascript">


    class HaccpProcessItemLimitPage {
        constructor() {
            this.url = '/api/haccp/haccp_item_limit';
            this.grid = null;
            this.$cboHaccpProcess = null;
            this.$cboMaterial = null;
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="haccp-item-limit-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'haccp_process_name', label: 'HACCP 공정', width: 120, align: 'center', sortable: false },
                    { key: 'product_name', label: '제품', width: 250, align: 'left' },
                    { key: 'item_name', label: 'HACCP 항목', width: 150, align: 'left', sortable: true },
                    { key: 'ResultTypeName', label: '결과값 유형', width: 100, align: 'center', },
                    { key: 'unit_name', label: '단위', width: 120, align: 'center', sortable: false },
                    {
                        key: 'LowSpec', label: '<span class="editable_clr">하한</span>', width: 150, align: 'right', sortable: false,
                        editor: { type: 'number' }, formatter: 'money'
                    },
                    {
                        key: 'UpperSpec', label: '<span class="editable_clr">상한</span>', width: 150, align: 'right', sortable: false,
                        editor: { type: 'number' }, formatter: 'money'
                    },
                    { key: 'SpecText', label: '<span class="editable_clr">한계기준설명</span>', width: 300, align: 'left', sortable: false, editor: { type: 'text' } }
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;

            this.$cboHaccpProcess = $('#cboHaccpProcess');
            this.$cboMaterial = $('#cboMaterial');
            this.$cboMaterialGroup = $('#cboMaterialGroup');

            AjaxUtil.fillSelectOptions(this.$cboHaccpProcess, 'haccp_process', 'all', false);
            AjaxUtil.fillSelectOptions(this.$cboMaterialGroup, 'material_group', 'all', false, 'product');

            let MaterialGroup_id = this.$cboMaterialGroup.val();
            AjaxUtil.fillSelectOptions(this.$cboMaterial, 'material', 'all', false, MaterialGroup_id);
            this.$cboMaterialGroup.change(function (e) {
                MaterialGroup_id = _this.$cboMaterialGroup.val();
                AjaxUtil.fillSelectOptions(_this.$cboMaterial, 'material', 'all', false, MaterialGroup_id);
            });

            let $btnNew = $('#btnNew');
            $btnNew.click(function (e) {
                _this.showAddPopup();
            });

            let $btnSave = $('#btnSave');
            $btnSave.click(function (e) {
                let items = _this.grid.list;
                if (items.length == 0) {
                    Alert.alert('항목기준 저장', '저장할 데이터가 없습니다.', function () { });
                } else {
                    Alert.confirm('항목기준 저장', '저장하시겠습니까?', function () {
                        _this.saveHaccpItemLimit(items);
                    });
                }
            });

            $('#btnSearch').click(function (ex) {
                _this.searchDataBind();
            });
        }

        showAddPopup() {
            let _this = this;
            let HaccpProcess_id = this.$cboHaccpProcess.val();
            let Material_id = this.$cboMaterial.val();

            let content = tmpl('add_haccp_item_limit_tmpl', {});
            let $content = $(content);
            let modalContainer = new PopupDraggable('HACCP 항목 기준 등록');
            modalContainer.open({ width: 800, height: 600, $content });
            let $cboHaccpProcessPopup = $content.find('#cboHaccpProcessPopup');
            let $cboMaterialPopup = $content.find('#cboMaterialPopup');

            AjaxUtil.fillSelectOptions($cboHaccpProcessPopup, 'haccp_process', 'choose', HaccpProcess_id);
            AjaxUtil.fillSelectOptions($cboMaterialPopup, 'material', 'choose', Material_id, '', '', 'product');

            let config = {
                target: $('[data-ax5grid="haccp_item_grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'haccp_process_name', label: 'HACCP 공정', width: 100, align: 'center', sortable: false },
                    { key: 'item_name', label: 'HACCP 항목', width: 120, align: 'left', sortable: false },
                    { key: 'unit_name', label: '단위', width: 100, align: 'center', sortable: false },
                    {
                        key: 'LowSpec', label: '<span class="editable_clr">하한</span>', width: 100, align: 'right', sortable: false,
                        editor: { type: 'text' },formatter: function () {
						let type = /^[+-]?\d*(\.?\d*)?$/
                        let ret = this.value;
                        
                        if (!type.test(ret)) {
							ret = null;
						}
                        return ret;
                    }},
                    {
                        key: 'UpperSpec', label: '<span class="editable_clr">상한</span>', width: 100, align: 'right', sortable: false,
                        editor: { type: 'text' } ,formatter: function () {
						let type = /^[+-]?\d*(\.?\d*)?$/
                        let ret = this.value;
                        
                        if (!type.test(ret)) {
							ret = null;
						}
                        return ret;
                    }},
                    { key: 'SpecText', label: '<span class="editable_clr">한계기준설명</span>', width: 250, align: 'left', sortable: false, editor: { type: 'text' } }
                ]
            };

            let itemGrid = new ax5.ui.grid(config);

            let popSearch = function () {
                HaccpProcess_id = $cboHaccpProcessPopup.val();
                Material_id = $cboMaterialPopup.val();
                if (HaccpProcess_id == '') {
                    Alert.alert('검색오류', 'HACCP 공정을 선택하세요');
                    return;
                }
                if (Material_id == '') {
                    Alert.alert('검색오류', '제품을 선택하세요');
                    return;
                }

                let param = {
                    HaccpProcess_id: HaccpProcess_id,
                    Material_id: Material_id
                };

                let fnsuccess = function (result) {
                    itemGrid.setData(result.data);
                };
                AjaxUtil.getAsyncData(_this.url + '/haccp_item_list', param, fnsuccess);
            };

            if (HaccpProcess_id != '' && Material_id != '') {
                popSearch();
            }

            $content.find('#btnSearchPop').click(function (e) {
                popSearch();
            });

            $cboMaterialPopup.change(function (e) {
                Material_id = $cboMaterialPopup.val();
                HaccpProcess_id =$cboHaccpProcessPopup.val();
                if (HaccpProcess_id != '' && Material_id != '') {
                    popSearch();
                }
            });

            $content.find('#btnSavePop').click(function (result) {

                if (itemGrid.list.length == 0) {
                    Alert.alert('저장오류', '저장할 데이터가 없습니다.');
                    return;
                }

                Material_id = $cboMaterialPopup.val();
                if (Material_id == '') {
                    Alert.alert('저장오류', '제품을 선택하세요');
                    return;
                }

                let items = [];
                $.each(itemGrid.list, function (idx, r) {
                    let item = {
                        LowSpec: parseFloat(r.LowSpec),
                        UpperSpec: parseFloat(r.UpperSpec),
                        SpecText: r.SpecText,
                        HaccpItemLimit_id: parseInt(r.hil_id),
                        HaccpProcess_id: parseInt(r.hp_id),
                        HaccpItem_id: parseInt(r.item_id),
                        Material_id: parseInt(r.Material_id)
                    };
                    items.push(item);
                });

                let strItems = JSON.stringify(items);
                let data = {
                    Q: strItems
                };
                let fnsuccess = function (result) {
                    if (result.success) {
                        Notify.success('저장했습니다.');
                        popSearch();
                        _this.searchDataBind();
                    }
                };
                let url = _this.url + "/haccp_item_limit_save";
                AjaxUtil.postAsyncData(url, data, fnsuccess);

            });

        }

        saveHaccpItemLimit(rows) {
            let _this = this;

            let items = [];

            $.each(rows, function (idx, r) {
                let item = {
	 					LowSpec: parseFloat(r.LowSpec),
                        UpperSpec: parseFloat(r.UpperSpec),
                        SpecText: r.SpecText,
                        HaccpItemLimit_id: parseInt(r.hil_id),
                        HaccpProcess_id: parseInt(r.hp_id),
                        HaccpItem_id: parseInt(r.item_id),
                        Material_id: parseInt(r.Material_id)
                };
                items.push(item);
            });

            let strItems = JSON.stringify(items);
            let data = {
                Q: strItems
            };

            let fnsuccess = function (result) {
                if (result.success) {
                    Notify.success('저장했습니다.');
                    _this.searchDataBind();
                }
            };

            let url = this.url + "/haccp_item_limit_save";
            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        showDetail(item) {

        }

        searchDataBind() {
            let _this = this;
            let param = FormUtil.extractForm($('#searchForm'));
            let result = AjaxUtil.getSyncData(this.url + '/read', param);
            if (result.data != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            } else {
                _this.grid.setData([]);
            }
        }
    }

    $(document).ready(function (e) {
        let page = new HaccpProcessItemLimitPage();


        //그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid', page.grid);

        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility', 'visible');
        }

        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix': false, 'fix_cols': fix_cols });
        });

        page.searchDataBind();

    });
</script>
</th:block>
</html>