<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <input type="hidden" id="bhId" th:value="${bh_id}" />
    <input type="hidden" id="viewMode" th:value="${view_mode}" />
    <input type="hidden" id="apprView" th:value="${appr_view}" />
    <input type="hidden" id="createrName" th:value="${creater_name}" />
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="관리기준서">관리기준서</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검명">점검명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="title" name="title" />
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group" data-ax5picker="basic" id="srchDt">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검일">점검일</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="check_date" name="check_date" readonly>
                                <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color" ></i></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="작성자">작성자</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="creater_name" name="creater_name" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-xl-6">
                    <div id="approveBox"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="일지 목록">일지목록</span>                
                <button type="button" class="btn-default" id="btnReqAppr">결재상신</button>
                <button type="button" class="btn-default" id="btnAppr" style="display:none;">승인</button>
                <button type="button" class="btn-cancel" id="btnReject" style="display:none;">반려</button>
                <button type="button" class="btn-default" id="btnSave">저장</button>
                <button type="button" class="btn-default" id="btnList">목록</button>
            </div>
                <div class="tab-content">
                    <div class="tab">                        
				        <form id="docForm">
					            <div class="table_box sub" id="detail_box">
					                <div class="row">
					 					<input type="hidden" id="doc_id">
					                     <div class="col-6">
					                        <div class="input-group">
					                            <div class="input-group-prepend">
					                                <span class="input-group-text fit_box_t4">기준서</span>
					                            </div>
					                             <select class="form-control2" id="cboDocForm" name="cboDocForm"></select>
					                        </div>
					                    </div> 
					
					                    <div class="col-6">
					                        <div class="input-group" data-ax5picker="basic" id="srchDt2">
					                            <div class="input-group-prepend">
					                                <span class="input-group-text fit_box_t4">개정일</span>
					                            </div>
					                            <input class="form-control2 tac" type="text" id="doc_date" name="doc_date" readonly/>
					                            <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color" ></i></span>
					                        </div>
					                    </div>	
					
					                    <div class="col-12">
					                        <div class="input-group">
					                            <div class="input-group-prepend">
					                                <span class="input-group-text fit_box_t4">문서명</span>
					                            </div>
					                             <input class="form-control2" type="text" id="doc_name" name="doc_name" />
					                        </div>
					                    </div>
					
					                    <div class="col-12">
					                        <div class="input-group">
					                            <div class="input-group-prepend">
					                                <span class="input-group-text fit_box_t4_area">개정사유</span>
					                            </div>
					                            <textarea class="form-control2" id="content" name="content"></textarea>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </form>
					        </div>
                    </div>
			<div class="grid_box" id="file_upload_div"></div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting" ></th:block>
<th:block th:replace="/common/approve_box :: approve_box" ></th:block>
<th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
<script type="text/javascript" src="/js/fileupload.js"></script>
<script type="text/javascript">
    class HaccpStandardDocDiaryPage {
        constructor() {
            this.grid = null;
            this.approveBoxUtil = null;
            this.appr_view = null;
            this.baseUrl = '/api/haccp/haccp_standard';
            this.init();
        }

        init() {
            let _this = this;				            

            $('#title').val('관리기준서');
            //view mode
            if ($('#viewMode').val().toLowerCase() == 'true') {                
                $('#title').attr('disabled', 'disabled');
                $('#check_date').attr('disabled', 'disabled');
                $('#btnSave').hide();
                $('#btnReqAppr').hide();
				$('#cboDocForm').attr('disabled', 'disabled');
				$('#doc_date').attr('disabled', 'disabled');
				$('#doc_name').attr('disabled', 'disabled');
				$('#content').attr('disabled', 'disabled');           
            }
        }
        // 일지 리스트 
        searchMainData() {
            let _this = this;            

            if ($('#bhId').val() > 0) {				                
                let param = {
                    'action': 'result_list',
                    'bh_id': $('#bhId').val(),
                }
                
                let result = AjaxUtil.getSyncData(_this.baseUrl + '/result_list', param);
                if (result.data != null) {
	
                    _this.mst_info = result.data.mst_info;                                                            
                    _this.detail_info = result.data.detail_info;                                                            

                    $('#check_date').val(_this.mst_info.DataDate);
                    $('#title').val(_this.mst_info.title);
                    $('#creater_name').val(_this.mst_info.createName);

					$('#doc_id').val(_this.detail_info.doc_id)
					$('#cboDocForm').val(_this.detail_info.cboDocForm)
					$('#doc_date').val(_this.detail_info.doc_date)
					$('#doc_name').val(_this.detail_info.doc_name)
					$('#content').val(_this.detail_info.content)
                }     
                
                page.setUploader($('#bhId').val(), $('#viewMode').val().toLowerCase() );                                   				
            } else {
	
                page.setUploader(-1, false);  
            }

            _this.approveBoxUtil = new ApproveBoxUtil(0, '관리기준서', $('#bhId').val(), 'bundle_head', false, false);
            _this.approveBoxUtil.print($('#viewMode').val());
            if (_this.approveBoxUtil.isApprUser()) {
                // 결재자의 경우 버튼 처리
                $('#btnAppr').show();
                $('#btnReject').show();
            }

        }
        save(isAppr) {
            let _this = this;
            let callback = null;
            
            callback = function () {
	
                let form = FormUtil.extractForm($('#docForm'))    
                          
                let data = {
                        bh_id: $('#bhId').val(),
                        doc_id: $('#doc_id').val(),
                        check_date: $('#check_date').val(),                        
                        title: $('#title').val(),
                        cboDocForm: form.cboDocForm,
                        content: form.content,
                        doc_date: form.doc_date,
                        doc_name: form.doc_name,
                        fild_id: $("#srchFileId").val()
                    }
                                         
				
				let fnSuccess = function (resp) {                    
                    if (resp.success) {
						$('#bhId').val(resp.data.id);
                        if (isAppr) {                            
							// 결재요청
							_this.reqAppr();
						} else {
							// 임시저장
							Notify.success('저장하였습니다.');
                            $('#btnDelete').show();
                            _this.searchMainData();
                            
						}
					} else {
						Alert.alert('', resp.message);
					}
                }
                
			    AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
            }            
            
			if (isAppr) {
				Alert.confirm('', '결재상신하시겠습니까?', function () {
					callback();
				});
			}
			else {
				Alert.confirm('', '저장하시겠습니까?', function () {
					callback();
				});
			}
        }

        setUploader(id, viewFlag) {
            let _this = this;
            
            //if (_this.uploader)
            //    return;
                
            let accept_files = 'zip,pdf,hwp,doc,docx';
            let accept = '.' + accept_files.split(',').join(',.');
            
            if (id > 0){
          	    $('#DataPk').val(id);
	            //파일조회
	            let attparam = { "action": 'detailFiles', "TableName": "doc_result", 'DataPk': id, "attachName": 'basic' };
	            YuFileUploader.getAttachFiles(attparam);
            }
            let uploader = new ax5FileUploadClass('file_upload_div', id, 
                {
                    table_name: 'doc_result',
                    attach_name: 'basic',
                    accept_files: 'zip,pdf,hwp,doc,docx',
                    multiple: true,
                    max_count: 5,
                    file_size: 100,
                    upload_callback: function (param) { },
                    delete_callback: function (param) { },
                    can_write: userinfo.can_write() && !viewFlag,
                });
                
        }
        
        //결재
        appr(isAppr) {
            let _this = this;
            _this.approveBoxUtil.approval(isAppr, function () {
                $('#btnList').click();
            });
        }

        // 결재상신
        reqAppr() {
            let _this = this;
            let title = $('#title').val();
            let url = '/gui/' + gui.gui_code + '/edit'
            let urlParam = {
                'bh_id': $('#bhId').val(),
                'data_date': $('#check_date').val(),
            };
            
            /**
             * 결재선 : 푸드/박원준 , 푸드/고형석
             * */
            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));            
            if (ret.success) {
                Notify.success('결재상신하였습니다.');
                $('#btnList').click();
            }
        }
    }

    $(document).ready(function (e) {

		this.appr_view = $('#apprView').val()
		
		$('#creater_name').val(userinfo.username)
        
        page = new HaccpStandardDocDiaryPage();        
		
        $('#srchDt').ax5DatePicker({ direction: 'top' });
        $('#srchDt2').ax5DatePicker({ direction: 'top' });

        $('#check_date').val(CommonUtil.getYYYYMMDD());        
        $('#doc_date').val(CommonUtil.getYYYYMMDD());        

        // 목록
        $('#btnList').on('click', function () {
            if (this.appr_view) {
                location.href = '/gui/' + this.appr_view
            } else {
                location.href = '/gui/' + gui.gui_code
            }
            
        });

		AjaxUtil.fillSelectOptions($('#cboDocForm'), 'doc_form', 'choose', false, 'file');
		
		// 신규저장
		$('#btnSave').on('click', function () {
			page.save(false);
        });

        // 결재상신
        $('#btnReqAppr').on('click', function () {
            page.save(true);
        });

        // 승인
        $('#btnAppr').on('click', function () {
            page.appr(true);
        });
        // 반려
        $('#btnReject').on('click', function () {
            page.appr(false);
        });
        	    	        
		page.searchMainData();        		
    });
</script>

<style>
    .background-yellow {
        background: #ffd800
    }
    .background-skyblue {
        background: #00e0ff
    }
    .background-white {
        background: #ffffff
    }
    table.type01 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        margin: 20px 10px;
    }
    table.type01 th {
        width: 150px;
        padding: 10px;
        font-weight: bold;
        vertical-align: middle;
        border: 1px solid #ccc;
        text-align: center;
    }
    table.type01 td {
        width: 650px;
        padding: 10px;
        vertical-align: middle;
        border: 1px solid #ccc;
    }
</style>
</th:block>
</html>