<html layout:decorate="~{layout_page}">

<head>
<style>
.input-group > .input-group-prepend > .fit_box_t5_area{width : 200px;}
</style>
</head>


<th:block layout:fragment="content">
<div class="content_wrap">
    <input type="hidden" id="bhId" th:value="${bh_id}" />
    <input type="hidden" id="data_date" th:value="${data_date}" />
    <input type="hidden" id="search_cond" th:value="${searchcond}" />
    <input type="hidden" id="viewMode" th:value="${view_mode}" />
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="협력업체 점검표">협력업체 점검표</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검명">점검명</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="title" name="title" />
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group" data-ax5picker="multi" id="pickerDate">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="점검일">점검일</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="dataDate" name="dataDate"/>
                                <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color"></i></span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_sm" data-labelCd="작성자">작성자</span>
                                </div>
                                <input class="form-control2 tac" type="text" id="firstName" name="firstName" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-xl-6">
                    <div id="approveBox"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid_box" id="prodListGrid">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="점검 목록">점검 목록</span>
                
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnDiaryPrint">일지출력</button>
                <button type="button" class="btn-default" id="btnReqAppr">결재상신</button>
                <button type="button" class="btn-default" id="btnAppr" style="display:none;">승인</button>
                <button type="button" class="btn-cancel" id="btnReject" style="display:none;">반려</button>
                <button type="button" class="btn-default" id="btnSave">저장</button>
               <!--<button type="button" class="btn-cancel" id="btnDelete">삭제</button>-->
                <button type="button" class="btn-default" id="btnList">목록</button>
                <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
            </div>
            <div class="col-6 col-md-3 col-xl-2" >
	            <div class="input-group" >
	                <div class="input-group-prepend">
	                    <span class="input-group-text fit_box_sm" data-labelCd="협력업체">협력업체</span>
	                </div>
	                <select class="form-control2" id="cboCompany" name="cboCompany" ></select>
	            </div>
	        </div>
            <div class="grid_box" id="complainList">
                <div class="h-380" data-ax5grid="check_item_result_grid" ></div>
            </div>
        </div>
    </section>
    
    
    
    <section>
        <div class="table_box sub" id="detailBox">
            <div class="row">

                <div class="col-11" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t5_area" data-labelCd="기타 필요사항">기타 필요사항</span>
                        </div>
                        <textarea class="form-control2" id="necessity" name="necessity"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    

</div>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/approve_box :: approve_box"></th:block>
<th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
<script type="text/javascript">
    class CheckResultDiaryPage {
        constructor() {
            this.grid = null;
            this.uploader = null;
            this.approveBoxUtil = null;
            this.type = 1;
            this.List = [];
            this.resultGrid = null;
            this.checkMasterName = '협력업체점검표'
            this.baseUrl = '/api/precedence/partner_check';
            this.init();
        }

        init() {
            let _this = this;
            
			this.gparam = {
				bh_id : $('#bhId').val(),
				data_date : $('#data_date').val(),
				search_cond: $('#search_cond').val(),
				view_mode: $('#viewMode').val(),
			};
			
			 $('#firstName').val(userinfo.username);
             $('#title').val('협력업체 점검표');
             $("#dataDate").val($('#data_date').val());
			
			
			
            let resultConfig = {
                target: $('[data-ax5grid="check_item_result_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 25  // 헤더 높이
                },
                body: {
                   columnHeight: 25, // body의 기본 높이
                   onClick: function (e) {
							//if (e.column.key == 'Char1') {
                       //}
                    },
                    onDataChanged: function () {
                        // 규격유형 변경 시 상하한, 규격문자 초기화
                        if (this.key == 'spec_type') {
                            _this.resultGrid.setValue(this.dindex, 'low_spec', '');
                            _this.resultGrid.setValue(this.dindex, 'upper_spec', '');
                            _this.resultGrid.setValue(this.dindex, 'spec_text', '');
                            _this.resultGrid.setValue(this.dindex, 'eng_spec_text', '');
                        }

                        if (this.key == 'Char1') {
                            _this.makeSpecText(this);
                        }
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                	{ key: 'ItemType', label: '구분', width: 130, align: 'left' },
                    { key: 'Name', label: '검사항목', width: 160, align: 'right' },
                    { key: 'SpecText', label: '검사기준', width: 300, align: 'center'},
                    { key: 'Char1', label: '배점', width: 300, align: 'left',editor: {
                            type: 'number', config: {},formatter:function(){}
                        }},
                    { key: 'Char2', label: '<span class="editable_clr">점검결과(입력)</span>', width: 150, align: 'center', hidden:true },
                    { key: 'CharResult', label: '비고', width: 130, align: 'left',"editor":{type:"text"} },
                ],
                footSum: [
							[
								{label: "합계", colspan:3, align:"center"},
								{key:"Char1", collector:"sum", formatter:"money", align:"right"},
							]
						]
            }
            this.resultGrid = new ax5.ui.grid(resultConfig);

        }
        
        
        makeSpecText(row) {
            let _this = this;
            let specText = '';
            let specType = row.item.SpecType;
            let result = '';

            if (specType == 'low') {
                if (row.item.Char1) {
                   specText = row.item.LowSpec;
                    if(specText <= row.item.Char1){
						result = "O";
					}else{
						result = "X";
					}
                }else{
						result = "";
				}
            } else if (specType == 'upper') {
                if (row.item.Char1) {
                    specText = row.item.UpperSpec;
                    if(specText >= row.item.Char1){
						result = "O";
					}else{
						result = "X";
					}
                }else{
						result = "";
				}
            } else if (specType == 'range') {
                if(row.item.Char1){
					specText = row.item.Char1;
					if(row.item.LowSpec <= specText && specText <= row.item.UpperSpec){
						result = "O";
					}else{
						result = "X";
					}
				}else{
					result = "";
				}
            }

            //	this.resultGrid.setValue(row.dindex, 'Char2', result);
        }
        
        // 일지 조회
        searchMainData() {
	
            let _this = this;
            $('#btnDiaryPrint').hide();
            $('#btnDelete').hide();

            $('#firstName').val(userinfo.username);
            $('#title').val('협력업체 점검표');

                let param = {
                    //'action': 'read',
                    'bhId': $('#bhId').val(),
                    'data_date' : $("#data_date").val()
                };
                
                let result = AjaxUtil.getSyncData(_this.baseUrl + '/ListRead', param);
                
                if (result.data != null) {
                    _this.headInfo = result.data.head_info;
                    _this.diaryInfo = result.data.diary_info;
                    
                    $("#necessity").val(_this.diaryInfo[0].necessity);
                     $("#cboCompany").val(_this.diaryInfo[0].InputResult);
                    
                    _this.resultGrid.setData({
                        list:  _this.diaryInfo,
                        page: {
                            display: true,
                            totalElements: _this.diaryInfo.length,
                        }
                    });

                    _this.viewModeSetting(_this.headInfo)
                } 

            // head_id, task_code, src_data_pk, src_table_name, dept_id, shift
            _this.approveBoxUtil = new ApproveBoxUtil(0, _this.checkMasterName, $('#bhId').val(), 'bundle_head', false, false);
            _this.approveBoxUtil.print($('#viewMode').val());
            if (_this.approveBoxUtil.isApprUser()) {
                // 결재자의 경우 버튼 처리
                $('#btnAppr').show();
                $('#btnReject').show();
            }
        }


        viewModeSetting(headInfo) {
             // 데이터에 따른 버튼 설정
            if ($('#viewMode').val().toLowerCase() == 'true') {
                //보기 모드일 경우 CRUD 버튼 숨김
                $('#btnDiaryPrint').hide();
                $('#btnReqAppr').hide();
                $('#btnSave').hide();
                $('#btnDelete').hide();
                $('#btnAllItem').hide();
                $("#btnNew").hide();
                if (headInfo.State == 'approval') {
                    $('#btnDiaryPrint').show();
                }

                $('#title').attr('disabled', 'disabled');
                $('#dataDate').attr('disabled', 'disabled');
                
                

            }
            else {
                // State : 작성, 미결재, 승인, 반려, 재상신
                $('#btnDelete').show();
                $('#btnDiaryPrint').hide();
                if (headInfo.State == 'process' || headInfo.State == 'reprocess') {
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#btnAllItem').hide();
                } else if (headInfo.State == 'approval') {
                    $('#btnDiaryPrint').show();
                    $('#btnReqAppr').hide();
                    $('#btnSave').hide();
                    $('#btnDelete').hide();
                    $('#btnAllItem').hide();
                }

                if (parseInt($('#bhId').val(), 10) > 0) {
                    $('#dataDate').attr('disabled', 'disabled');
                } else {
                    $('#btnDelete').hide();
                }
            }
        }

        // 일지 출력
        printDiary() {
            let param = {
                'title': $('#title').val(),
                'bh_id': $('#bhId').val(),
            };

            let result = AjaxUtil.postSyncData(this.baseUrl + '/print', param, function () { });
            if (result.success) {
                CommonUtil.openWindow('/api/files/pdf_viewer?file_id=' + result.file_id)
            }
            else {
                Alert.alert('', '일지 생성 중 오류가 발생했습니다. 관리자에게 문의하세요.');
            }
        }

        //결재
        appr(isAppr) {
            let _this = this;
            _this.approveBoxUtil.approval(isAppr, function () {
                $('#btnList').click();
            });
        }

        //결재상신
        reqAppr() {
            let _this = this;
            let title = $('#title').val();
            let url = '/gui/' + gui.gui_code + '/edit';
            let urlParam = {
                'bh_id': $('#bhId').val(),
                'data_date': $('#dataDate').val(),
            };

            let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));
            if (ret.success) {
                Notify.success('결재상신하였습니다.');
                $('#btnList').click();
            }
        }

        //저장
        save(isAppr) {
            let _this = this;
            
            if($("#cboCompany").val() == ''){
				Alert.alert('', '협력업체를 선택하세요.');
                return;
			}
            
			let result = this.resultGrid.getList();
		
            let callback = function () {
          
                let data = {
                    bhId: $('#bhId').val(),
                    title: $('#title').val(),
                    data_date: $('#dataDate').val(),
                    necessity : $("#necessity").val(),
                    cboCompany : $("#cboCompany").val(),
                    'headInfo': JSON.stringify(_this.headInfo),
                    'diaryInfo': JSON.stringify(result),
                };
                
                let fnSuccess = function (resp) {
                    if (resp.success) {
						$('#bhId').val(resp.data.id);
                        if (isAppr) {
                            // 결재요청
                            _this.reqAppr();
                        } else {
                            // 임시저장
                            Notify.success('저장하였습니다.');
                            $('#btnDelete').show();
                            $('#dataDate').attr('disabled', 'disabled');
                           // _this.searchMainData();
                        }
                    } else {
                        Alert.alert('', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
            }

           /* if (resultNullCheck) {
                Alert.alert("", "점검결과를 모두 입력해주세요.");
                return;
            }*/
            if (isAppr) {
                Alert.confirm('', '결재상신하시겠습니까?', function () {
                    callback();
                });
            }
            else {
                Alert.confirm('', '저장하시겠습니까?', function () {
                    callback();
                });
            }
        }

        //삭제
        delete() {
            let _this = this;
            Alert.confirm('', '삭제하시겠습니까?', function () {
                // 삭제 서비스 호출
                let param = {
                    bh_id: $('#bhId').val(),
                }
                let fnSuccess = function (resp) {
                    if (resp.success) {
                        Notify.success('삭제하였습니다.');
                        $('#btnList').click();
                    } else {
                        Alert.alert('', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '/delete', param, fnSuccess);
            });
        }

        // 엑셀 다운로드
        exportExcel() {
            var targetview = this.resultGrid;
            targetview.exportExcel('협력업체 점검표.xls');
        }
        
        
        
}    
    

    let page = null;

    $(document).ready(function (e) {
        page = new CheckResultDiaryPage();
        
         AjaxUtil.fillSelectOptions($('#cboCompany'), 'company', 'all', false, '');

        $('#pickerDate').ax5DatePicker({ direction: 'top' });
        picker.bind({
            target: $('[data-ax5picker="multi"]'),
            direction: "top",
            content: {
                width: 206,  //130 270
                margin: 10,
                type: 'date',
                config: {
                    control: {
                        left: '<i class="fa fa-chevron-left"></i>',
                        yearTmpl: '%s',
                        monthTmpl: '%s',
                        right: '<i class="fa fa-chevron-right"></i>'
                    },
                    lang: {
                        yearTmpl: "%s년",
                        months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                        dayTmpl: "%s"
                    }
                }
            }

        });
        
        // 일지 출력
        $('#btnDiaryPrint').on('click', function () {
            page.printDiary();
        });

        // 결재상신
        $('#btnReqAppr').on('click', function () {
            page.save(true);
        });

		//$('#dataDate').val(CommonUtil.getYYYYMMDD());
		
        // 승인
        $('#btnAppr').on('click', function () {
            page.appr(true);
        });

        // 반려
        $('#btnReject').on('click', function () {
            page.appr(false);
        });

        // 임시저장
        $('#btnSave').on('click', function () {
            page.save(false);
        });

        // 삭제
        $('#btnDelete').on('click', function () {
            page.delete();
        });

        // 목록
        $('#btnList').on('click', function () {
            if (page.gparam.appr_view) {
                location.href = encodeURI('/gui/' + page.gparam.appr_view + '?searchcond=' + page.gparam.search_cond);
            }
            else {
                location.href = encodeURI('/gui/' + gui.gui_code + '?searchcond=' + page.gparam.search_cond);
            }
        });

        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
            page.exportExcel();
        });
        
		
		page.searchMainData();

        
       

    });
</script>
</th:block>
</html>
