<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[KTFOMS] AI 기반 연료전지 인프라 구축 - 모바일</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> <!-- Slide css -->
    
    <link rel="stylesheet" type="text/css" href="../assets/css/import.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- Slide js -->
    
    <script src="../assets/js/ui.js"></script> <!-- Common js -->
</head>

<body>

    <!-- [알림] 팝업  -->
    <div class="mobile-layout-confirm">
        <div class="confirm-overlay" style="display: block;"></div>
        <div class="confirm-wrapper active" id="">
            <div class="confirm-txt">
                <p class="txt-l">티켓 등록</p>
                <p>티켓 등록에 성공하였습니다</p>
            </div>
            <div class="confirm-img">
                <img src="../assets/images/icon/img-confirm.png" alt="카드 아이콘">
            </div>
            <div class="confirm-button">
                <button class="btn-navy">확인</button>
            </div>
        </div>
    </div> <!-- //mobile-layout-popup end -->
    <script>
    
    </script>
</body>

</html>
