<!DOCTYPE html>
<html lang="ko">
<style>
    .btn-clear {
        display: none !important; /* 강제로 숨김 */
    }
    .btn-close {
        display: none !important; /* 강제로 숨김 */
    }
    /* 부모 컨테이너 */
    #gridContainer {
        width: 100%; /* 화면 크기에 맞게 확장 */
        overflow-x: auto; /* 가로 스크롤 활성화 */
        overflow-y: hidden; /* 세로 스크롤은 숨김 */
        white-space: nowrap; /* FlexGrid 내부 줄바꿈 방지 */
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하이팜모바일</title>
    <link rel="shortcut icon" href="/img/favicon_d.jpg">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- Slide css -->
    <link rel="stylesheet" href="/resource/ax5ui/ax5ui.all.css">
    <link rel="stylesheet" type="text/css" href="/assets_mobile/css/import.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="/assets_mobile/js/ui.js"></script> <!-- Common js -->
    <script th:inline="javascript">
        var sandanData = /*[[${session.sandanList}]]*/ [];
    </script>


    <script type="text/javascript" src="/resource/ax5ui/ax5ui.all.min.js?v=1000"></script>

    <script type="text/javascript" src="/js/ax5commUtil.js?v=1070"></script>

    <script src="/js/common.js?v=1060"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- Slide js -->
    <script src="/js/Mobile.js"></script>
</head>
<body>
<div class="mobile-wrapper page-work-list"><!-- ★페이지 Class명 -->
    <!-- [모바일] 헤더  -->
    <div class="mobile-layout-header">
        <header>
            <div class="left">
                <a href="#" title="전체메뉴" class="logo">
                </a>
            </div>
            <div class="center" style="margin-left:35px;">
                <h2>스케줄정보</h2>
            </div>
            <div class="right">
                <a href="#" title="전체메뉴" class="btn-menu">
                    <img src="/assets_mobile/images/icon/btn-menu.svg" alt="전체메뉴 아이콘">
                </a>
            </div>
        </header>
    </div> <!-- //mobile-layout-header end-->

    <!-- [모바일] 메뉴  -->
    <div th:insert="~{mobile/mobile_menu :: mobile_menu}"></div>
    <!-- [모바일] 컨덴츠  -->
    <div class="mobile-layout-contents">
        <!--- (레이아웃) Contents 영역 -->
        <div class="layout-contents">
 
            <!-- 검색 영역  -->
            <div class="search-wrap">
                <div class="srch-tit aco-hd">
                    <p>스케줄보기</p>
                    <a href="#" title="열기/닫기" class="btn-aco">
                        <img src="/assets_mobile/images/icon/ico-up.svg" alt="열기/닫기">
                    </a>
                </div>
                <div class="srch-cont aco-cont"> 
                    <div class="list-card-wrap"> 
                        <div class="card-box card-green"> 
                            <!-- <div class="card-tit">
                                <h3>Mushroom상태</h3> 
                            </div> -->
                            <div class="card-cont"> 
                                <dl>
                                    <dt>LedStHour</dt>
                                    <dd  id="input01">0</dd>
                                </dl> 
                                <dl>
                                    <dt>LedEdHour</dt>
                                    <dd  id="input02">0</dd>
                                </dl> 
                                <dl>
                                    <dt>WaterStHour</dt>
                                    <dd  id="input03">0</dd>
                                </dl> 
                                <dl>
                                    <dt>WaterEdHour</dt>
                                    <dd  id="input04">0</dd>
                                </dl> 
                                <dl>
                                    <dt>WateringOnMinute</dt>
                                    <dd  id="input05">0</dd>
                                </dl> 
                                <dl>
                                    <dt>WateringOffMinute</dt>
                                    <dd  id="input06">0</dd>
                                </dl>  
                            </div> 
                        </div> <!--//card end -->
                    </div>
                </div>
            </div> 
            <!-- 컨텐츠 영역  -->
            <div class="contents-wrap">
                <!-- <div class="list-top-wrap">
                    <div class="list-num">
                        목록 <span class="blue">- 2건</span>
                    </div>
                </div> -->
                <div class="list-card-wrap">  
                    <div class="card-box card-blue"> 
                        <div class="card-tit">
                            <h3>스케줄 컨트롤러</h3> 
                        </div>
                        <div class="card-cont">
                            <dl>
                                <dt>Schedule Ctrl</dt>
                                <dd>스케줄을 조정합니다.</dd>
                            </dl>
                            <dl>
                                <dt>LedStHour</dt>
                                <dd>
                                    <div class="input-clear">
                                        <input type="number" id="LedStHour" name="LedStHour" value=0>
                                        <input type="hidden" id="inputid" name="inputid"  >
                                    </div>
                                </dd> 
                            </dl> 
                            <dl>
                                <dt>LedEdHour</dt>
                                <dd>
                                    <div class="input-clear">
                                        <input type="number" id="LedEdHour" name="LedEdHour" value=0>
                                    </div>
                                </dd>  
                            </dl> 
                            <dl>
                                <dt>WaterStHour</dt>
                                <dd>
                                    <div class="input-clear">
                                        <input type="number" id="WaterStHour" name="WaterStHour" value=0>
                                    </div>
                                </dd>   
                            </dl> 
                            <dl>
                                <dt>WaterEdHour</dt>
                                <dd>
                                    <div class="input-clear">
                                        <input type="number" id="WaterEdHour" name="WaterEdHour" value=0>
                                    </div>
                                </dd>   
                            </dl> 
                            <dl>
                                <dt>WateringOnMinute</dt>
                                <dd>
                                    <div class="input-clear">
                                        <input type="number" id="WateringOnMinute" name="WateringOnMinute" value=0>
                                    </div>
                                </dd>    
                            </dl> 
                            <dl>
                                <dt>WateringOffMinute</dt>
                                <dd>
                                    <div class="input-clear">
                                        <input type="number" id="WateringOffMinute" name="WateringOffMinute" value=0>
                                    </div>
                                </dd>   
                            </dl>  
                        </div> 
                        <div class="card-btn">
                            <button id="btnSave">전송</button>
                        </div> 
                    </div> <!--//card end -->
                     
                </div> <!--//card-wrap end-->
            </div> <!--// contents-wrap end-->
        </div> <!--//layout-contents end -->

    </div> <!-- //mobile-layout-contents end-->
 
  
</div> <!-- //page-wrapper end-->
 

<script type="text/javascript">
    var theGrid;
    var viewdata1;

    document.readyState === 'complete' ? init() : window.onload = init;
    // 오늘 날짜 설정
    const date = new Date();
    date.setHours(date.getHours() + 9); // UTC+9로 한국 시간 설정
    const today = date.toISOString().split('T')[0];
    // 현재 년도를 가져옵니다
    const currentYear = new Date().getFullYear(); 

    function init() {
        fetchListData();
    }  
 
    // 데이터를 받아와 카드 렌더링
    function fetchListData() {

        $.ajax({
            url: '/api/mobile_production/flist05',
            type: 'GET',
            data: {
                'search': '', 
            },
            success: function (data) {
                // console.log("작업목록 : ",data.data);  
                const parsedData01 = JSON.parse(data.data.api1.body); 
                //   console.log(parsedData01); 
                
                
                RunData00 = parsedData01.Id;    
                document.getElementById("inputid").value = RunData00  ;  

                RunData01 = parsedData01.LedStHour; 
                document.getElementById("input01").innerText = RunData01  ;  
                document.getElementById("LedStHour").value = RunData01  ;  

                RunData02 = parsedData01.LedEdHour;
                document.getElementById("input02").innerText = RunData02  ;   
                document.getElementById("LedEdHour").value = RunData02  ;   

                RunData03 = parsedData01.WaterStHour; 
                document.getElementById("input03").innerText = RunData03  ;  
                document.getElementById("WaterStHour").value = RunData03  ; 

                RunData04 = parsedData01.WaterEdHour; 
                document.getElementById("input04").innerText = RunData04  ;  
                document.getElementById("WaterEdHour").value = RunData04  ; 

                RunData05 = parsedData01.WateringOnMinute; 
                document.getElementById("input05").innerText = RunData05  ; 
                document.getElementById("WateringOnMinute").value = RunData05  ; 

                RunData06 = parsedData01.WateringOffMinute; 
                document.getElementById("input06").innerText = RunData06  ;  
                document.getElementById("WateringOffMinute").value = RunData06  ;  

                
            }
        });
    }  
 
 
    $('#btnSave').click(function () {
        const IdInput =    Number(document.getElementById("inputid").value); 
        const LedStHourInput = Number(document.getElementById('LedStHour').value); 
        const LedEdHourInput = Number(document.getElementById('LedEdHour').value); 
        const WaterStHourInput = Number(document.getElementById('WaterStHour').value); 
        const WaterEdHourInput = Number(document.getElementById('WaterEdHour').value); 
        const WateringOnMinuteInput = Number(document.getElementById('WateringOnMinute').value); 
        const WateringOffMinuteInput = Number(document.getElementById('WateringOffMinute').value); 
 

        // 전송 데이터
        let data = {
        'Id': IdInput,
        'LedStHour': LedStHourInput,
        'LedEdHour': LedEdHourInput,
        'WaterStHour': WaterStHourInput,
        'WaterEdHour': WaterEdHourInput,
        'WateringOnMinute': WateringOnMinuteInput,
        'WateringOffMinute': WateringOffMinuteInput, 
        };

        console.log('전송 데이터:', data); 
        
        // fetch API를 사용하여 PUT 요청 전송
        fetch('http://10.141.8.162/api/Schedule', {
                method: 'PUT', // HTTP 메서드: PUT
                headers: {
                    'Content-Type': 'application/json', // 요청의 Content-Type
                    'accept': '*/*' // 헤더에서 응답 형식 지정 (옵션)
                },
                body: JSON.stringify(data) // JSON 형식으로 변환하여 전송
            })
            .then(response => {
                // console.log(response)
            // 응답 상태 확인
            if (!response.ok) {
                throw new Error('서버 응답 오류: ' + response.statusText);
            }
            Alert.alert('', "전송되었습니다.", function () {
                fetchListData();
            });
            return true; // 응답을 문자열로 받음
        })
        .then(text => {
        if (text) {
            // JSON이 비어있지 않으면 파싱
            const result = JSON.parse(text);
            console.log('서버 응답:', result);
            // alert('데이터 전송 성공!');
        } else {
            console.log('서버 응답이 비어 있습니다.');
            // alert('서버에서 빈 응답을 반환했습니다.');
        }
        })
        .catch(error => {
            console.error('오류 발생:', error);
            alert('데이터 전송 중 오류가 발생했습니다.');
        }); 
    });
</script>
</body>
</html>
