<html layout:decorate="~{layout_page}">
<head>
<style>
.background-yellow {background: #ffd800}
</style>
</head>

<th:block layout:fragment="content">
<div class="content_wrap">

    <section >

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="작업 지시 등록">작업 지시 등록</h3>
            </div>
             <small2>B</small2>            
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>

        <div class="table_box search">
            <div class="row">

                <div class="col-12 col-lg-6 col-xl-4" >
                    <div class="input-group" >
                        <div class="input-group-prepend mr-s1">
                            <select class="input-group-text2 fit_box_sm" id="cboDateKind" name="DateKind" >
                                <option value="suju_date" data-labelCd="수주일">수주일</option>
                                <option value="due_date" data-labelCd="납기일">납기일</option>
                            </select>
                        </div> 
                        <div data-ax5picker="multi" id="srchDt">
                            <div class="input-group-append">
                            <input class="tac " type="text" id="srchStartDt" name="srchStartDt" />
                                <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color" ></i>
                                </span>
                            <span class="slow_sign">~</span>
                            <input class="tac " type="text" id="srchEndDt" name="srchEndDt" />
                                <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t4">기간유형</span>
                        </div>
                        <select id="cboDateKind" name="DateKind" class="form-control2">
                            <option value="suju_date">수주일</option>
                            <option value="due_date">납기일</option>
                        </select>
                    </div>
                </div>-->

                <div class="col-6 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="제품구분">제품구분</span>
                        </div>
                        <select class="form-control2"  id="cboMatType" name="cboMatType" >
                            <option value="product">제품</option>
                            <option value="semi">반제품</option>
                        </select>

                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="제품그룹">제품그룹</span>
                        </div>
                        <select class="form-control2" id="cboMatGroup" name="cboMatGroup" ></select>

                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3  col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="제품명">제품명</span>
                        </div>
                        <input class="form-control2"  type="text" id="txtMatName"name="txtMatName" />

                    </div>
                </div>

                <div class="col-5 col-md-2 col-lg-2 col-xl-1  mt-6 tac" >
                        <input type="checkbox" id="chkNoActionFlag" name="NoActionFlag" value="NOT" />
                    미지시 건 만

                </div>


                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnMainSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 

            </div>
        </div>
    </section>

    <section>

        <div class="grid_box" >
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="수주 목록">수주 목록</span>

                <div style="display:inline-flex">
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_sm" data-labelCd="생산일">생산일</span>
                        </div> 
                        <div data-ax5picker="basic" id="srchDtProd">
                            <div class="input-group-append">
                            <input class="tac " type="text" id="ProductionDate" name="ProductionDate" />
                                <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color" ></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden;width:100px"><i class="fas fa-cog"></i> Setting</button>

                </div>

            </div>
                <div class="h-280" data-ax5grid="sujuGrid" id="sujuGrid"></div>  
        </div>

    </section>

    <section>
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tabJobRes" name="tabJobRes" class="tab" data-labelCd="제품 지시내역">제품 지시내역</a></li>
                        <li><a href="#" data-tablink="#tabSemi" name="tabSemi" class="tab" data-labelCd="반제품 작업지시">반제품 작업지시</a></li>
                        <li><a href="#" data-tablink="#tabConsumed" name="tabConsumed" class="tab" data-labelCd="반제품 지시내역">반제품 지시내역</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">

                <div class="tab" id="tabJobRes">
                    <div class="grid_box">
                        <div class="title_box">
                             <span class="right_align rpt" data-labelCd="제품 지시내역">제품 지시내역</span>
                            <button type="button" id="btnJobResDetail" class="btn-default" title="작업 지시 상세"><span><i class="fas fa-edit"></i></span></button>
                            <button type="button" class="btn-default" id="btnExcel" title="엑셀 다운로드"><i class="fas fa-file-excel"></i></button>
                            <button type="button" class="btn-default" id="btnGridSetting2" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                        </div>
                        <div class="h-250" data-ax5grid="jobResGrid" ></div>  
                    </div>
                </div>

                <div class="tab" id="tabSemi">
                    <div class="tab_con_box">
                        <div class="grid_box">
                            <div class="title_box">
                                 <span class="right_align rpt" data-labelCd="반제품 작업지시">반제품 작업지시</span>
                                <button type="button" class="btn-default" id="btnGridSetting3" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                            </div>
                            <div class="h-250" data-ax5grid="semiGrid" id="semiGrid"></div>  
                        </div>
                    </div>
                </div>

                <div class="tab" id="tabConsumed">
                    <div class="tab_con_box">
                        <div class="grid_box">
                            <div class="title_box">
                                 <span class="right_align rpt" data-labelCd="반제품 지시내역">반제품 지시내역</span>
                                <button type="button" id="btnSemiJobResDetail" class="btn-default" title="작업 지시 상세"><span><i class="fas fa-edit"></i></span></button>
                                <button type="button" class="btn-default" id="btnExcel" title="엑셀 다운로드"><i class="fas fa-file-excel"></i></button>
                                <button type="button" class="btn-default" id="btnGridSetting3" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                            </div>
                            <div class="h-250" data-ax5grid="semiJobResGrid" id="semiJobResGrid"></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/x-tmpl" id="jobOrderTemplate">
<div class="content_wrap popup">
    <section class="section popupcontent">
        <div class="table_box">
            <form id="jobOrderForm" class="form-group">
                <input type="hidden" name='id' />
                     <div class="table_box sub" >
                        <div class="row">

                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="작업지시번호">작업지시번호</span>
                                    </div>
                                     <input class="form-control2 tac" type="text" value="{%=o.WorkOrderNumber%}" readonly />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group" data-ax5picker="basic" id="srchDtProd2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="생산일">생산일</span>
                                    </div>
                                    <input class="form-control2 tac" type="text" id="ProductionDate" name="ProductionDate">
                                    <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color" ></i></span>
                                </div>
                            </div>	

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="근무조">근무조</span>
                                    </div>
                                     <select class="form-control2" id='ShiftCode' name="ShiftCode" ></select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="워크센터">워크센터</span>
                                    </div>
                                     <select class="form-control2" id="WorkCenter_id" name="WorkCenter_id" ></select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="제품">제품</span>
                                    </div>
                                     <input class="form-control2 tac" type="text" disabled value="{%=o.mat_name%}" />
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="지시량({%=o.unit_name%})">지시량({%=o.unit_name%})</span>
                                    </div>
                                     <input class="form-control2 tar" type="number" id="OrderQty" name="OrderQty" placeholder="{%=o.unit_name%}" />
                                </div>
                            </div>  



                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7" data-labelCd="상태">상태</span>
                                    </div>
                                     <input class="form-control2 tac" type="text" value="{%=o.StateName%}" readonly />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t7_area" data-labelCd="비고">비고</span>
                                    </div>
                                     <textarea class="form-control2" id="description" name="Description"> {%=o.Description%}</textarea>
                                </div>
                            </div>

                            </div> 
                        </div> 
            </form>
        </div>
    </section>

    <section class="popupcontent" >
        <div class="align_left">
            <button type="button" class="btn-popup" id="btnPopJobOrderSave" ><span data-labelCd="저장">저장</span></button>
            <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
        </div>
    </section>
</div>
</script>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<script type="text/javascript" src="/js/grid.js"></script>
<script type="text/javascript">

    class ProductionOrder {
        constructor() {
            this.grid = null;
            this.semiGrid = null;
            this.jobResGrid = null;
            this.semiJobResGrid = null;
            this.$cboMatType = null;
            this.$cboMatGroup = null;
            this.workshifOptions = [];
            this.workcenterOptions = [];

            this.url = '/api/production/prod_order_edit';

            this.initSuju();
            this.initSemi();
            this.initJobRes();
            this.initSemiJobRes();
        }

        initSuju() {
            let _this = this;

            // 근무조
            this.workshifOptions = AjaxUtil.getSelectDataWithNull('shift', 'choose');

            let dicWorkShift = {};
            $.each(this.workshifOptions, function (idx, item) {
                dicWorkShift[item.value] = item.text
            });

            // 워크센터
            this.workcenterOptions = AjaxUtil.getSelectDataWithNull('workcenter', 'choose');
            let dicWorkCenter = {};
            $.each(this.workcenterOptions, function (idx, item) {
                dicWorkCenter[item.value] = item.text;
            });
			
            let config = {
                target: $('[data-ax5grid="sujuGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        this.self.select(this.dindex);
                        if (e.colIndex == 12) {
                            if (typeof e.value === 'undefined') {
                                this.value = this.item.remain_qty;
                            }
                        } else {
                            _this.loadJobResList(this.item);
                            _this.loadSemiJobResList(this.item)
                        }
                        _this.semiJobRes();
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '수주pk', width: 120, align: 'center', hidden:true },
                    { key: 'JumunNumber', label: '주문번호', width: 120, align: 'center', sortable:true },
                    { key: 'JumunDate', label: '수주일', width: 100, align: 'center' , sortable:true},
                    { key: 'DueDate', label: '납기일', width: 100, align: 'center' , sortable:true},
                    { key: 'CompanyName', label: '판매처', width: 120, align: 'left' },
                    { key: 'mat_type_name', label: '제품구분', width: 80, align: 'center' },
                    { key: 'MaterialGroupName', label: '제품그룹', width: 90, align: 'left' },
                    { key: 'mat_code', label: '제품코드', width: 80, align: 'center', sortable:true },
                    { key: 'mat_pk', label: '제품pk', width: 80, align: 'center' , hidden:true},
                    { key: 'mat_name', label: '제품명', width: 140, align: 'left' },
                    { key: 'unit_name', label: '단위', width: 60, align: 'center' },
                    { key: 'SujuQty', label: '수주량', width: 60, align: 'right', formatter :'money', sortable:true },
                    { key: 'ordered_qty', label: '기 지시량', width: 80, align: 'right', formatter :'money', sortable:true},
                    {
                        key: 'remain_qty', label: '잔여량', width: 60, align: 'right', formatter :'money', 
                        styleClass: function () {
                            if (this.item.remain_qty > 0)
                                return 'background-yellow';
                        },
                         sortable:true
                    },
                    {
                        key: 'AdditionalQty', label: '<span class="editable_clr">지시량</span>', width: 60, align: 'right', formatter :'money', 
                        editor: {
                            type: 'number'
                        }
                        , sortable:true
                    },
                    {
                        key: 'workcenter_id', label: '<span class="editable_clr">워크센터</span>', width: 100, align: 'center',
                        formatter: function () { return dicWorkCenter[this.value] },
                        editor: {
                            type: 'select',
                            config: {
                                columnKeys: {
                                    optionValue: "value", optionText: "text"
                                },
                                options: this.workcenterOptions
                            }
                        }
                        , sortable:true
                    },
                    {
                        key: 'prod_date', label: '<span class="editable_clr">생산일</span>', width: 100, align: 'center',
                        editor: {
                            type: 'date'
                        }
                        , sortable:true
                    },
                    {
                        key: 'workshift', label: '<span class="editable_clr">근무조</span>', width: 80, align: 'center',
                        formatter: function () { return dicWorkShift[this.value] },
                        editor: {
                            type: 'select',
                            config: {
                                columnKeys: {
                                    optionValue: "value", optionText: "text"
                                },
                                options: _this.workshifOptions
                            }
                        }
                        , sortable:true
                    },
                    {
                        key: 'order_action', label: '지시', width: 80, align: 'center',
                        formatter: function () {
                            let html = '권한없음';
                            if (userinfo.can_write())
                                html = '<button class="btn-default" style="width:100%;height:1.4em;font-size:1em;padding:0;margin:0" suju_id=' + this.item.id + ' data-custom-btn="' + this.dindex + '">지시</button>';
                            return html;
                        }
                    },
                    //{ key: 'StateName', label: '상태', width: 100, align: 'left', },
                    { key: 'description', label: '비고', width: 300, align: 'left', },
                ]
            };
            this.grid = new ax5.ui.grid(config);
            this.grid_config1 = config;

            // 수주목록내 작업지시 버튼 클릭
            $('#sujuGrid').on("click", "[data-custom-btn]", function () {
                let dindex = this.getAttribute("data-custom-btn");
                let suju_id = this.getAttribute("suju_id");
                let items = _this.grid.getList('selected');
                if (items.length == 0) {
                    return;
                }
                
                let workshift = items[0].workshift;
                let workcenter_id = items[0].workcenter_id;
                let AdditionalQty = items[0].AdditionalQty;
                let prod_date = items[0].prod_date;
                let Material_id = items[0].mat_pk;
                if (!workcenter_id ) {
                    Alert.alert('', '워크센터 선택하세요');
                    return;
                }

                if (AdditionalQty == "" || AdditionalQty == 0) {
                    Alert.alert('', '지시량 입력하세요');
                    return;
                }

                // 입력값 검증 필요
                Alert.confirm('', '작업지시를 생성하시겠습니까?', function () {
                    let data = {
                        suju_id: suju_id,
                        workshift: workshift,
                        workcenter_id: workcenter_id,
                        AdditionalQty: AdditionalQty,
                        prod_date: prod_date,
                        Material_id: Material_id,
                    }
                    _this.makeOrder(data, dindex, items[0]);
                });
            });

            this.$cboMatType = $('#cboMatType');
            this.$cboMatGroup = $('#cboMatGroup');

            //품목유형
            // product, semi 만
            AjaxUtil.fillSelectOptions(this.$cboMatType, 'system_code', 'all', false, 'mat_type', 'product, semi');

            //품목그룹
            AjaxUtil.fillSelectOptions(this.$cboMatGroup, 'material_group', 'all', false);
            this.$cboMatType.on('change', function (e) {
                let matType = _this.$cboMatType.val();
                AjaxUtil.fillSelectOptions(_this.$cboMatGroup, 'material_group', 'all', false, matType);
            });

            // 기간 초기화
            $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-7));
            $('#srchEndDt').val(CommonUtil.getYYYYMMDD());

            $('#srchDtProd').ax5DatePicker({ direction: 'top' });
            $('#ProductionDate').val(CommonUtil.getYYYYMMDD());

            // 수주 검색
            $('#btnMainSearch').on('click', function (e) {
                _this.sujuSearch();
            });;

        }

        // 작업지시 생성
        makeOrder(data, dindex, selectedItem) {
            let _this = this;
            let url = _this.url + '/make_prod_order';

            let fnsuccess = function (result) {

                if (result.success) {
                    Alert.alert('', '생성되었습니다.');
                    selectedItem.ordered_qty = result.data.info.ordered_qty;
                    selectedItem.remain_qty = result.data.info.remain_qty;
                    selectedItem.workcenter_id = null;
                    selectedItem.workshift = null;
                    selectedItem.AdditionalQty = 0;
                    _this.grid.updateRow(selectedItem,  parseInt(dindex));

                    _this.loadJobResList(selectedItem);
                }
            };

            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        // 반제품 작업지시 생성
        makeSemiOrder(data, dindex, selectedItem) {
            let _this = this;
            let url = _this.url + '/make_prod_order';

            let fnsuccess = function (result) {

                if (result.success) {
                    Alert.alert('', '생성되었습니다.');
                    selectedItem.ordered_qty = result.data.info.ordered_qty;
                    selectedItem.remain_qty = result.data.info.remain_qty;
                    selectedItem.workcenter_id = null;
                    selectedItem.workshift = null;
                    selectedItem.AdditionalQty = 0;
					_this.semiGrid.updateRow(selectedItem,  parseInt(dindex));

                    let main_grid = _this.grid.getList('selected')[0]
                   _this.loadSemiJobResList(main_grid)
                }
            };

            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        // 수주검색
        sujuSearch() {
            let _this = this;
            let date_kind = $('#cboDateKind').val();
            let $cboMatGroup = $('#cboMatGroup');
            let mat_grp = $cboMatGroup.val();
            let not_flag = $("input:checkbox[id='chkNoActionFlag']").is(":checked") ? 'NOT' : '';
            let $ProductionDate = $('#ProductionDate');
			
            let data = {
                date_kind: date_kind,
                start: $('#srchStartDt').val(),
                end: $('#srchEndDt').val(),
                mat_group: mat_grp,
                not_flag: not_flag,
                mat_name: $('#txtMatName').val()
            };


            let fnsuccess = function (result) {
                let prod_date = $ProductionDate.val();
                if (result.data != null) {
                    $.each(result.data, function (idx, item) {
                        item['prod_date'] = prod_date;
                    });

                    let count = result.data.length;
                    _this.grid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: count,
                        }
                    });
                }
            };

            AjaxUtil.getAsyncData(this.url + '/suju_list', data, fnsuccess);
            this.jobResGrid.setData([]);
            this.semiGrid.setData([]);
            this.semiJobResGrid.setData([]);
            $('#btnJobResDetail').attr('disabled', true);
            $('#btnSemiJobResDetail').attr('disabled', true);
        }

        // 반제품목록 작업지시생성
        initSemi() {
            let _this = this;

            this.workshifOptions = AjaxUtil.getSelectDataWithNull('shift', 'choose');

            let dicWorkShift = {};
            $.each(this.workshifOptions, function (idx, item) {
                dicWorkShift[item.value] = item.text
            });

            // 워크센터
            this.workcenterOptions = AjaxUtil.getSelectDataWithNull('workcenter', 'choose');
            let dicWorkCenter = {};
            $.each(this.workcenterOptions, function (idx, item) {
                dicWorkCenter[item.value] = item.text;
            });


            let config = {
                target: $('[data-ax5grid="semiGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 32  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        this.self.select(this.dindex);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '수주pk', width: 120, align: 'center', hidden:true },
                    { key: 'mat_suju_num', label: '제품주문번호', width: 120, align: 'center' },
                    { key: 'group_name', label: '제품그룹', width: 120, align: 'center' },
                    { key: 'mat_pk', label: '제품pk', width: 120, align: 'center', hidden:true },
                    { key: 'mat_code', label: '제품코드', width: 120, align: 'center' },
                    { key: 'mat_name', label: '제품명', width: 120, align: 'left' },
                    { key: 'unit_name', label: '단위', width: 120, align: 'center' },
                    { key: 'order_qty', label: '필요량', width: 120, align: 'right' ,formatter :'money'},
                    { key: 'ordered_qty', label: '기지시량', width: 120, align: 'right' ,formatter :'money'},
                    {
                        key: 'AdditionalQty', label: '<span class="editable_clr">지시량</span>', width: 120, align: 'right',formatter :'money',
                        editor: {
                            type: 'number'
                        }
                    },
                    {
                        key: 'workcenter_id', label: '<span class="editable_clr">워크센터</span>', width: 100, align: 'center',
                        formatter: function () { return dicWorkCenter[this.value] },
                        editor: {
                            type: 'select',
                            config: {
                                columnKeys: {
                                    optionValue: "value", optionText: "text"
                                },
                                options: this.workcenterOptions
                            }
                        }
                    },
                    {
                        key: 'prod_date', label: '<span class="editable_clr">생산일</span>', width: 100, align: 'center',
                        editor: {
                            type: 'date'
                        }
                    },
                    {
                        key: 'workshift', label: '<span class="editable_clr">근무조</span>', width: 80, align: 'center',
                        formatter: function () { return dicWorkShift[this.value] },
                        editor: {
                            type: 'select',
                            config: {
                                columnKeys: {
                                    optionValue: "value", optionText: "text"
                                },
                                options: _this.workshifOptions
                            }
                        }
                    },
                    {
                        key: 'order_action', label: '지시', width: 80, align: 'center',
                        formatter: function () {
                            let html = '권한없음';
                            if (userinfo.can_write())
                                html = '<button class="btn-default" style="width:100%;height:1.4em;font-size:1em;padding:0;margin:0" suju_id=' + this.item.id + ' data-custom-btn="' + this.dindex + '">지시</button>';
                            return html;
                        }
                    },
                ]
            };
            this.semiGrid = new ax5.ui.grid(config);
            this.grid_config3 = config;


            // 반제품 목록내 작업지시 버튼 클릭
            $('#semiGrid').on("click", "[data-custom-btn]", function () {
                let dindex = this.getAttribute("data-custom-btn");
                let suju_id = this.getAttribute("suju_id");
                let items = _this.semiGrid.getList('selected');
                if (items.length == 0) {
                    return;
                }
                
                let workshift = items[0].workshift;
                let workcenter_id = items[0].workcenter_id;
                let AdditionalQty = items[0].AdditionalQty;
                let prod_date = items[0].prod_date;
                let Material_id = items[0].mat_pk;

                if (! workcenter_id ) {
                    Alert.alert('', '워크센터 선택하세요');
                    return;
                }

                if (AdditionalQty == "" || AdditionalQty == 0) {
                    Alert.alert('', '지시량 입력하세요');
                    return;
                }

                // 입력값 검증 필요
                Alert.confirm('', '작업지시를 생성하시겠습니까?', function () {
                    let data = {
                        suju_id: suju_id,
                        workshift: workshift,
                        workcenter_id: workcenter_id,
                        AdditionalQty: AdditionalQty,
                        prod_date: prod_date,
                        Material_id: Material_id,
                    }

                    _this.makeSemiOrder(data, dindex, items[0]);
                });
            });
        }

        // 해당생산지시
        initJobRes() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="jobResGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 32  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        this.self.select(this.dindex);

                        $('#btnJobResDetail').removeAttr('disabled');
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'WorkOrderNumber', label: '작업지시번호', width: 120, align: 'center' },
                    { key: 'ProductionDate', label: '생산일', width: 120, align: 'center' },
                    { key: 'ShiftName', label: '근무조', width: 120, align: 'center' },
                    { key: 'mat_code', label: '제품코드', width: 120, align: 'center' },
                    { key: 'mat_name', label: '제품명', width: 200, align: 'left' },
                    { key: 'unit_name', label: '단위', width: 100, align: 'center' },
                    { key: 'OrderQty', label: '지시량', width: 100, align: 'right', },
                    { key: 'WorkcenterName', label: '워크센터', width: 120, align: 'center', },
                    { key: 'StateName', label: '상태', width: 100, align: 'center', },
                ]
            };
            this.jobResGrid = new ax5.ui.grid(config);
            this.grid_config2 = config;

            //작업지시상세조회
            $('#btnJobResDetail').click(function (e) {

                let items = _this.jobResGrid.getList('selected');

                if (items.length == 0) {
                    Alert.alert('', '선택된 데이터가 없습니다.');
                    return;
                }

                let jobres_id = items[0].id;
                let url = _this.url + '/joborder_detail';
                let data = { jobres_id: jobres_id };
                let fnsuccess = function (result) {
                    result.data['mat_type'] = 'prod';	//result['mat_type'] = 'prod';
                    _this.showJobResDetail(result.data);
                };
                AjaxUtil.getAsyncData(url, data, fnsuccess);
            });
        }

        // 해당 반제품생산지시 내역
        initSemiJobRes() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="semiJobResGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 32  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        this.self.select(this.dindex);

                        $('#btnSemiJobResDetail').removeAttr('disabled');
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'WorkOrderNumber', label: '작업지시번호', width: 120, align: 'center' },
                    { key: 'ProductionDate', label: '생산일', width: 120, align: 'center' },
                    { key: 'ShiftName', label: '근무조', width: 120, align: 'center' },
                    { key: 'mat_code', label: '제품코드', width: 120, align: 'center' },
                    { key: 'mat_name', label: '제품명', width: 200, align: 'left' },
                    { key: 'unit_name', label: '단위', width: 100, align: 'center' },
                    { key: 'OrderQty', label: '지시량', width: 100, align: 'right', formatter: 'money'},
                    { key: 'WorkcenterName', label: '워크센터', width: 120, align: 'center', },
                    { key: 'StateName', label: '상태', width: 100, align: 'center', },
                ]
            };
            this.semiJobResGrid = new ax5.ui.grid(config);
            this.grid_config2 = config;

            //작업지시상세조회
            $('#btnSemiJobResDetail').click(function (e) {

                let items = _this.semiJobResGrid.getList('selected');

                if (items.length == 0) {
                    Alert.alert('', '선택된 데이터가 없습니다.');
                    return;
                }

                let jobres_id = items[0].id;
                let url = _this.url + '/joborder_detail';
                let data = { jobres_id: jobres_id };
                let fnsuccess = function (result) {
                    result.data['mat_type'] = 'semi';	//result['mat_type'] = 'semi';
                    _this.showJobResDetail(result.data);
                };
                AjaxUtil.getAsyncData(url, data, fnsuccess);
            });
        }

        // 작업지시 상세/수정
        showJobResDetail(data) {
            let _this = this;
            let content = tmpl('jobOrderTemplate', data);
            let $content = $(content);

            let modalContainer = new PopupDraggable('작업 지시 수정');
            modalContainer.open({ width: 440, height: 350, $content });

            $('#srchDtProd2').ax5DatePicker({ direction: 'top' });
            let $form = $content.find('#jobOrderForm');
            let $ShiftCode = $content.find('#ShiftCode')
            let $WorkCenter_id = $content.find('#WorkCenter_id');
            let $OrderQty = $content.find('#OrderQty');

            $.each(this.workcenterOptions, function (idx, item) {
                $WorkCenter_id.append('<option value="'+item.value+'">'+item.text+'</option>');
            });

            $.each(this.workshifOptions, function (idx, item) {
                $ShiftCode.append('<option value="'+item.value+'">'+item.text+'</option>');
            });

            FormUtil.BindDataForm(data, $form);

            let $btnPopJobOrderSave = $content.find('#btnPopJobOrderSave');
            $btnPopJobOrderSave.click(function (e) {

                let qty = $OrderQty.val();
                if (qty == "" || qty <= 0) {
                    Alert.alert('', '지사량을 잘못 입력하셨습니다.');
                    return;
                }

                if ($ShiftCode.val() == '') {
                    Alert.alert('', '근무조를 선택하세요');
                    return;
                }

                if ($WorkCenter_id.val() == '') {
                    Alert.alert('', '워크센터를 선택하세요');
                    return;
                }

                Alert.confirm('', '저장하시겠습니까?', function () {
                    let jobresData = FormUtil.extractForm($form);
                    jobresData['mat_type'] = data['mat_type'];
                    _this.updateJobOrder(jobresData, modalContainer);
                });
            });
        }

        // 작업지시 수정
        updateJobOrder(data, modalContainer) {
            let _this = this;
            let url = this.url + '/update_order';
            let fnsuccess = function (result) {
                if (result.success) {
                    Notify.success('저장했습니다.');
                    modalContainer.close();
                    let items = _this.grid.getList('selected');
                    if (items.length > 0) {
                        if (data['mat_type'] == 'prod') {
                            _this.loadJobResList(items[0]);
                        }else if(data['mat_type'] == 'semi') {
                            _this.loadSemiJobResList(items[0]);
                        }
                    }
                }
            }
            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        // 해당제품 생산지시 조회
        loadJobResList(item) {

            $('#btnJobResDetail').attr('disabled', true);

            let suju_id = item.id;
            let _this = this;
            let fnsuccess = function (result) {
                if (result.data != null) {
                    let recordsTotal = result.data.length;
                    _this.jobResGrid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: recordsTotal,
                        }
                    });
                }
            };
            let url = this.url + '/joborder_list'
            AjaxUtil.getAsyncData(url, { suju_id: suju_id }, fnsuccess);
        }

        // 해당반제품 생산지시 조회
        loadSemiJobResList(item) {
            $('#btnSemiJobResDetail').attr('disabled', true);
            let suju_id = item.id;
            let _this = this;
            let fnsuccess = function (result) {
                if (result.data != null) {
                    let recordsTotal = result.data.length;
                    _this.semiJobResGrid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: recordsTotal,
                        }
                    });
                }
            };
            let url = this.url + '/semi_joborder_list'
            AjaxUtil.getAsyncData(url, { suju_id: suju_id }, fnsuccess);
        }

        //반제품 생산지시 
        semiJobRes() {
            let _this = this;
            let data = this.grid.getList('selected')[0]
            let url = this.url+'/semi_list';
            let param = {
                'data_date': $('#ProductionDate').val(),
                'mat_pk': data.mat_pk,
                'suju_qty': data.SujuQty,
                'suju_pk' : data.id 
            }
            
            let fnsuccess = function (result) {
                let prod_date = $('#ProductionDate').val();
                if (result.data != null) {

                    $.each(result.data, function (idx, item) {
                        item['prod_date'] = prod_date;
                        item['id'] = data.id;
                        item['mat_suju_num'] = data.JumunNumber;
                    });

                    let count = result.data.length;
                    _this.semiGrid.setData({
                        list: result.data,
                        page: {
                            display: true,
                            totalElements: count,
                        }
                    });
                }
            };
            AjaxUtil.getAsyncData(url, param, fnsuccess);
        }


        // 엑셀 다운로드
        exportExcel() {
            var targetview = this.jobResGrid;
            targetview.exportExcel('작업지시내역.xls');
        }

    }

    let pageProdOrder;

    var picker = new ax5.ui.picker();

    $(document).ready(function (e) {
        pageProdOrder = new ProductionOrder();

        picker.bind({
            target: $('[data-ax5picker="multi"]'),  
            direction: "top",
   			locale: {
				format: 'YYYY-MM-DD'
			},
            content: {
                width:  214,  // 130, //270,
                margin: 10,
                type: 'date',
                
                config: {
                    control: {
                        left: '<i class="fa fa-arrow-left"></i>',   //fa-chevron-left
                        yearTmpl: '%s',
                        monthTmpl: '%s',
                        right: '<i class="fa fa-arrow-right"></i>'
                    },
                    lang: {
                        yearTmpl: "%s년",
                        months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                        dayTmpl: "%s"
                    }
                }
            },
            btns: {
                /*ok: {
                    label: "닫기", theme: "default", onClick: function () {
                        this.self.close();
                    }
                }*/
            }


        });		


        picker.bind({
            target: $('[data-ax5picker="basic"]'),  
            direction: "top",
   			locale: {
				format: 'YYYY-MM-DD'
			},
            content: {
                width:  214,  // 130, //270,
                margin: 10,
                type: 'date',
                
                config: {
                    control: {
                        left: '<i class="fa fa-arrow-left"></i>',   //fa-chevron-left
                        yearTmpl: '%s',
                        monthTmpl: '%s',
                        right: '<i class="fa fa-arrow-right"></i>'
                    },
                    lang: {
                        yearTmpl: "%s년",
                        months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                        dayTmpl: "%s"
                    }
                }
            },
        });	


        pageProdOrder.sujuSearch();

        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
            pageProdOrder.exportExcel();
        });	


        pageProdOrder.popColSetting = new popColSetting();

        let columns1 = pageProdOrder.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid1',  pageProdOrder.grid);
        let columns2 = pageProdOrder.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid2',  pageProdOrder.jobResGrid);
        let columns3 = pageProdOrder.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid3',  pageProdOrder.semiGrid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
            $('#btnGridSetting2').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = pageProdOrder.grid_config1.frozenColumnIndex;
            pageProdOrder.popColSetting.show(gui.gui_code, gui.template_key, 'grid1', pageProdOrder.grid_config1.columns, pageProdOrder.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        $('#btnGridSetting2').click(function (e) {
            let _this = this;
            let fix_cols = pageProdOrder.grid_config2.frozenColumnIndex;
            pageProdOrder.popColSetting.show(gui.gui_code, gui.template_key, 'grid2', pageProdOrder.grid_config2.columns, pageProdOrder.jobResGrid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        $('#btnGridSetting3').click(function (e) {
            let _this = this;
            let fix_cols = pageProdOrder.grid_config3.frozenColumnIndex;
            pageProdOrder.popColSetting.show(gui.gui_code, gui.template_key, 'grid2', pageProdOrder.grid_config3.columns, pageProdOrder.semiGrid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

    });
</script>
</th:block>
</html>
