<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

            <!--- (레이아웃) Contents 영역 -->
            <div class="layout-contents">
                <!-- Page Title -->
                <div class="page-title-wrap">
                    <div class="left">
                        <h2>연료전지 발전소 등록</h2>
                        <a href="#" title="북마크" class="bookmark toggle">
                            내메뉴
                        </a>
                    </div>
                    <ul class="page-navi">
                        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                        <li>발전소 관리</li>
                        <li>연료전지 발전소 등록</li>
                    </ul>
                </div>
                <!-- Select -->
                <div class="search-wrap">
                    <ul>
                        <li>
                            <select title="지역">
                                <option>대구</option>
                            </select>
                        </li>
                        <li>
                            <select title="구">
                                <option>성서산단</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-wrap">
                    <ul class="tab-links">
                        <li>
                            <a href="#tab1" title="목록" id="listTabLink">목록</a>
                        </li>
                        <li>
                            <a href="#tab2" title="등록">등록</a>
                        </li>
                    </ul>
                    <div class="tab-contents">
                        <!-- Section -->
                        <section class="tab-item" id="tab1">
                            <div class="section-top">
                                <div class="search-wrap">
                                    <dl>
                                        <dt>
                                            제조사<span class="eq">*</span>
                                        </dt>
                                        <dd>
                                            <ul class="date-box">
                                                <li>
                                                    <select id="11" name="">
                                                        <option value="블룸에너지">블룸에너지</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            가동유무
                                        </dt>
                                        <dd>
                                            <ul>
                                                <li>
                                                    <select id="searchworkyn" name="">
                                                        <option value="가동">가동</option>
                                                        <option value="비가동">비가동</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <div style="margin-left: -20px" class="srch-box">
                                                        <a href="#a" class="btn-srch" title="검색" onclick="searchData()" onkeyup="searchData()"></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a class="btn btn-delete" title="삭제">
                                                <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-edit" title="수정">
                                                <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                                수정
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div> <!--//section-top end -->
                            <div class="container-fluid">
                                <p id="selectedItem"></p>
                                <div id="theGrid" style="max-height: 490px"></div>
                            </div>
                        </section>
                        <!-- Section -->
                        <section class="tab-item" id="tab2">
                            <div class="section-top">
                                <div class="title-wrap">
                                    <h3>연료전지 발전소 등록</h3>
                                </div>
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a class="btn btn-excell" title="신규등록">
                                                <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                                신규등록
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-delete" title="삭제">
                                                <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-edit" id="btnSave" title="저장">
                                                <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                                저장
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <table class="write-table">
                                    <form id="customForm">
                                        <caption>연료전지발전소 테이블</caption>
                                        <colgroup>
                                            <col class="wp12">
                                            <col class="wp40">
                                            <col class="wp12">
                                            <col class="wp40">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>
                                                <label for="spworkcd">
                                                    관할산단공
                                                </label>
                                            </th>
                                            <td>
                                                <select id="spworkcd" name="spworkcd" onchange="updateSelect('spworkcd', 'spworknm')">
                                                    <option value="001">대구</option>
                                                    <option value="002">경기</option>
                                                </select>
                                                <input type="hidden" id="spworknm" name="spworknm">
                                            </td>

                                            <th>
                                                <label for="spcompcd">
                                                    산단명
                                                </label>
                                            </th>
                                            <td>
                                                <select id="spcompcd" name="spcompcd" onchange="updateSelect('spcompcd', 'spcompnm')">
                                                    <option value="001">성서산단</option>
                                                    <option value="002">성남산단</option>
                                                </select>
                                                <input type="hidden" id="spcompnm" name="spcompnm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="spplannm">
                                                    발전소명
                                                </label>
                                            </th>
                                            <td>
                                                <input type="text" id="spplannm" name="spplannm" placeholder="대구물류센터">
                                            </td>
                                            <th>
                                                <label for="spwtycd">
                                                    발전유형
                                                </label>
                                            </th>
                                            <td>
                                                <select id="spwtycd" name="spwtycd" onchange="updateSelect('spwtycd', 'spwtynm')">
                                                    <option value="01">전지발전</option>
                                                    <option value="02">전지발전2</option>
                                                </select>
                                                <input type="hidden" id="spwtynm" name="spwtynm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="makercd">
                                                    제조사
                                                </label>
                                            </th>
                                            <td>
                                                <select id="makercd" name="makercd" onchange="updateSelect('makercd', 'makernm')">
                                                    <option value="001">블룸에너지</option>
                                                    <option value="002">블룸에너지2</option>
                                                </select>
                                                <input type="hidden" id="makernm" name="makernm">
                                            </td>
                                            <th>
                                                <label for="setupdt">
                                                    설립년월일
                                                </label>
                                            </th>
                                            <td>
                                                <input type="text" id="setupdt" name="setupdt" placeholder="20.01.01">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="pwcapa">
                                                    발전용량
                                                </label>
                                            </th>
                                            <td colspan="3">
                                                <input type="number" id="pwcapa" name="pwcapa" step="0.0001" placeholder="10" oninput="validateDecimal(this)">
                                                <span style="font-weight: bold">kw</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="postno">
                                                    주소
                                                </label>
                                            </th>
                                            <td colspan="3">
                                                <input type="text" id="postno" name="postno" placeholder="00000">
                                                <input type="text" id="address1" name="address1" placeholder="대구">
                                                <input type="text" id="address2" name="address2" placeholder="성서">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="workyn">
                                                    가동유무
                                                </label>
                                            </th>
                                            <td>
                                                <select id="workyn" name="workyn">
                                                    <option value="1">가동</option>
                                                    <option value="2">비가동</option>
                                                </select>
                                            </td>
                                            <th>
                                                <label for="mcltcd">
                                                    유지보수사
                                                </label>
                                            </th>
                                            <td>
                                                <select type="text" id="mcltcd" name="mcltcd" onchange="updateSelect('mcltcd','mcltnm')">
                                                    <option value="001">블룸에너지</option>
                                                    <option value="002">블룸에너지2</option>
                                                </select>
                                                <input type="hidden" id="mcltnm" name="mcltnm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="mcltusrnm">
                                                    관리자
                                                </label>
                                            </th>
                                            <td>
                                                <input type="text" id="mcltusrnm" name="mcltusrnm" placeholder="홍길동">
                                            </td>
                                            <th>
                                                <label for="mcltusrhp">
                                                    관리자 연락처
                                                </label>
                                            </th>
                                            <td>
                                                <input type="text" id="mcltusrhp" name="mcltusrhp" placeholder="010-0000-0000">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="remark">
                                                    비고
                                                </label>
                                            </th>
                                            <td colspan="3">
                                                <div class="textarea-box">
                                                    <textarea id="remark" placeholder="비고"></textarea>
                                                    <p class="text-count" id="text-count1">0/100</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                첨부파일
                                            </th>
                                            <td colspan="3">
                                                <div id="uploadComponent1" class="upload-component">
                                                    <div class="upload-filebox">
                                                        <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                                        <a href="#" class="btn" title="파일업로드">파일업로드</a>
                                                        <input type="file" id="fileInput1" class="fileInput" multiple>
                                                        <p>Maximun upload file size <span>1GiB</span></p>
                                                    </div>
                                                    <div class="upload-filelist">
                                                        <div class="title">
                                                            <h5>Files (0)</h5>
                                                            <a href="#" title="Delete all" class="btn-file-deleteall">Delete
                                                                all</a>
                                                        </div>
                                                        <ul class="filelist" id="filelist">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </form>
                                </table>
                            </div>
                        </section>
                    </div> <!--//tab-contens end-->
                </div> <!--//tab-wrap end-->
            </div> <!--//layout-contents end -->
            <footer>
                <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
            </footer>
        </div> <!-- //dashboard-layout-right end-->

    </div> <!-- //dashboard-layout-contents end-->

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        function init(){
            fetchListData();
        }

        function fetchListData() {
            let data2 = [];

            $.ajax({
                url: '/api/operate/power/read',
                type: 'GET',
                async: false,
                success: function(data){
                    data2 = data.data;
                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);

            if(!theGrid) {
                // 데이터 그리드에 바인딩
                theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    columns: [
                        {binding: 'rownum', header: '순번', width: 60, align: 'center'},
                        {binding: 'spworknm', header: '관할산단공', width: 120, align: 'center'},
                        {binding: 'spcompnm', header: '산단명', width: 140, align: 'center'},
                        {binding: 'spplannm', header: '발전소', width: 150, align: 'center'},
                        {binding: 'spwtynm', header: '발전유형', width: 150, align: 'center'},
                        {binding: 'makernm', header: '제조사', width: 150, align: 'center'},
                        {binding: 'workyn', header: '가동유무', width: 120, align: 'center'},
                        {binding: 'setupdt', header: '설립년월일', width: 120, align: 'center'},
                        {binding: 'pwcapa', header: '발전용량', width: 140, align: 'center'},
                        {binding: 'mcltusrnm', header: '관리자', width: 120, align: 'center'},
                        {binding: 'mcltnm', header: '유지보수사', width: 120, align: 'center'},
                        {binding: 'remark', header: '비고', width: 250, align: 'center'}

                    ],
                    itemsSource: viewdata
                });
                theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid);
                window.downloadFileName = '연료전지발전소';
            } else{
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid.itemsSource = viewdata;
            }
        }

        $(document).ready(function (e) {

            $('#btnSave').click(function (e){
                Alert.confirm('', '저장하시겠습니까?', function() {

                        let formData = new FormData();

                        // 다른 데이터를 FormData에 추가합니다.
                        formData.append('spworkcd', $('#spworkcd').val());
                        formData.append('spcompcd', $('#spcompcd').val());
                        formData.append('spworknm', $('#spworknm').val());
                        formData.append('spcompnm', $('#spcompnm').val());
                        formData.append('spplannm', $('#spplannm').val());
                        formData.append('spwtycd', $('#spwtycd').val());
                        formData.append('spwtynm', $('#spwtynm').val());
                        formData.append('makercd', $('#makercd').val());
                        formData.append('makernm', $('#makernm').val());
                        formData.append('setupdt', $('#setupdt').val());
                        formData.append('pwcapa', $('#pwcapa').val());
                        formData.append('postno', $('#postno').val());
                        formData.append('address1', $('#address1').val());
                        formData.append('address2', $('#address2').val());
                        formData.append('workyn', $('#workyn').val());
                        formData.append('mcltcd', $('#mcltcd').val());
                        formData.append('mcltnm', $('#mcltnm').val());
                        formData.append('mcltusrnm', $('#mcltusrnm').val());
                        formData.append('mcltusrhp', $('#mcltusrhp').val());
                        formData.append('remark', $('#remark').val());
                        formData.append('filelist', $('#filelist').val());
                        formData.append('_csrf', $('[name=_csrf]').val());


                        $.ajax({
                            url: '/api/operate/power/save',
                            type: 'POST',
                            data: formData,
                            processData: false,  // 기본적으로 jQuery는 데이터를 문자열로 변환하려고 하므로 이를 비활성화
                            contentType: false,  // 기본적으로 jQuery는 Content-Type을 설정하려고 하므로 이를 비활성화
                            success: function (response) {
                                if(response.success){
                                    Alert.alert('', response.message, function (){
                                        $('#listTabLink').click();
                                        fetchListData();
                                        document.getElementById('spworkcd').value = '';     // 관할산단공 select 초기화
                                        document.getElementById('spworknm').value = '';     // 관할산단공 hidden input 초기화
                                        document.getElementById('spcompcd').value = '';     // 산단명 select 초기화
                                        document.getElementById('spcompnm').value = '';     // 산단명 hidden input 초기화
                                        document.getElementById('spplannm').value = '';     // 발전소명 초기화
                                        document.getElementById('spwtycd').value = '';      // 발전유형 select 초기화
                                        document.getElementById('spwtynm').value = '';      // 발전유형 hidden input 초기화
                                        document.getElementById('makercd').value = '';      // 제조사 select 초기화
                                        document.getElementById('makernm').value = '';      // 제조사 hidden input 초기화
                                        document.getElementById('setupdt').value = '';      // 설립년월일 초기화
                                        document.getElementById('pwcapa').value = '';       // 발전용량 초기화
                                        document.getElementById('postno').value = '';       // 주소 우편번호 초기화
                                        document.getElementById('address1').value = '';     // 주소 시 초기화
                                        document.getElementById('address2').value = '';     // 주소 구 초기화
                                        document.getElementById('workyn').value = '';       // 가동유무 초기화
                                        document.getElementById('mcltcd').value = '';       // 유지보수사 select 초기화
                                        document.getElementById('mcltnm').value = '';       // 유지보수사 hidden input 초기화
                                        document.getElementById('mcltusrnm').value = '';    // 관리자 이름 초기화
                                        document.getElementById('mcltusrhp').value = '';    // 관리자 연락처 초기화
                                        document.getElementById('remark').value = '';       // 비고 초기화
                                    });
                                }else {
                                    Alert.alert('', '저장에 실패했습니다. ');
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                Alert.alert('', '에러가발생하였습니다.');
                            }
                        });
                    }
                )
            })
            // 셀렉트값에 따라 id 히든으로 넘기기
            const selects = [
                { selectId: 'spworkcd', hiddenInputId: 'spworknm' },
                { selectId: 'spcompcd', hiddenInputId: 'spcompnm' },
                { selectId: 'spwtycd', hiddenInputId: 'spwtynm' },
                { selectId: 'makercd', hiddenInputId: 'makernm' },
                { selectId: 'mcltcd', hiddenInputId: 'mcltnm' }
            ];
            selects.forEach(item => updateSelect(item.selectId, item.hiddenInputId));

        });
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        // 셀렉트값에 따라 id 히든으로 넘기기
        function updateSelect(selectId, hiddenInputId) {
            var selectElement = document.getElementById(selectId);
            var selectedOptionText = selectElement.options[selectElement.selectedIndex].text;
            document.getElementById(hiddenInputId).value = selectedOptionText;
        }

        // 소수점 4자리까지
        function validateDecimal(input) {
            const value = input.value;
            const regex = /^\d*\.?\d{0,4}$/;

            if (!regex.test(value)) {
                input.value = value.slice(0, -1);
            }
        }

    </script>

</th:block>
</html>

