<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

<div class="content_wrap">
    <section class="section">
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="점검등록">점검등록</h3>
            </div>
            <button type="button" class="btn-default pull-right" id="btnHeaderFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress"></i></button>
        </div>
        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="점검명">점검명</span>
                        </div>
                        <input type="text" class="form-control2" id="srch_check_name" name="srch_check_name" />
                    </div>
                </div>

                <div class="col-1">
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="grid_box">
            <div class="title_box">
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class=" fast fa-cog"></i>Setting</button>
            </div>
            <div class="h-300" data-ax5grid="check-grid"></div>
        </div>
    </section>


    <section>
        <div class="title_box mb-2">
            <button type="button" class="btn-default" id="btnNew" ><i class="fas fa-plus"></i></button>
            <button type="button" class="btn-danger y_write_auth" id="btnDelete" disabled><i class="fas fa-trash"></i></button>
            <button type="button" class="btn-default y_write_auth" id="btnSave" disabled><i class="fas fa-save"></i></button>
        </div>
        <form id="checkForm">
            <div class="table_box sub" id="detailBox">
                <div class="row">
                    <input class="form-control2" type="text" id="id" name="id" hidden />
                    <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t7" data-labelCd="점검명">*점검명</span>
                             </div>
                             <input class="form-control2" type="text" id="check_name" name="check_name" disabled="disabled" required/>
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t7" data-labelCd="점검종류코드">점검종류코드</span>
                             </div>
                             <input class="form-control2" type="text" id="check_class_code" name="check_class_code" disabled="disabled" />
                        </div>
                    </div>

                     <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t7" data-labelCd="코드">*코드</span>
                             </div>
                             <input class="form-control2" type="text" id="code" name="code" disabled="disabled" required/>
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t7" data-labelCd="담당부서">담당부서</span>
                             </div>
                             <input class="form-control2" type="text" id="charger_department" name="charger_department" disabled="disabled" />
                        </div>
                    </div>

                    <div class="col-6 col-md-2">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t7" data-labelCd="점검주기">점검주기</span>
                             </div>
                             <input class="form-control2" type="text" id="check_cycle" name="check_cycle" disabled="disabled" />
                        </div>
                    </div>

                    <div class="col-6 col-md-7">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t7" data-labelCd="비고">비고</span>
                             </div>
                             <input class="form-control2" type="text" id="description" name="description" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
</th:block> 

<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<script type="text/javascript">
    class CheckPage {
        constructor() {
            this.grid = null;
            this.url = '/api/check/check_master';
            this.init();


        }


        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="check-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '번호', width: 120, align: 'left' },
                    { key: 'check_name', label: '점검명', width: 120, align: 'left' },
                    { key: 'check_class_code', label: '점검종류코드', width: 120, align: 'left' },
                    { key: 'code', label: '코드', width: 120, align: 'left' },
                    { key: 'charger_department', label: '담당부서', width: 120, align: 'left' },
                    { key: 'check_cycle', label: '점검주기', width: 120, align: 'right' },
                    { key: 'description', label: '비고', width: 200, align: 'left' },
                ]
            };
            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;
        }


        setButtonState() {
            let pk = $('#id').val();

            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);

            if (pk) {
                $('#btnDelete').prop('disabled', false);
            } else {
                $('#btnDelete').prop('disabled', true);
            }
        }

        searchMainData() {
            let _this = this;
            
            let data = {
                'srch_check_name': $('#srch_check_name').val()
            }

            let result = AjaxUtil.getSyncData(_this.url + '/read', data);
            if (result != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            }

            $('#checkForm')[0].reset();
            $('#checkForm').find('#id').val('');

            $('#detailBox').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });
            
            this.setButtonState();
        }


        showDetail(check_id) {
            let _this = this;
            let data = {
                'check_id': check_id
            };
             
            let result = AjaxUtil.getSyncData(_this.url + '/detail', data);
            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#checkForm'));
                this.setButtonState();
                
            }
        }

        deleteCheck() {
            let _this = this;
            let check_id = $('#checkForm').find('#id').val();
            let data = {
                'check_id': check_id
            };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }
            AjaxUtil.postAsyncData(_this.url+'/delete', data, fnSuccess);
        }

        saveCheck() {
            let _this = this;
            let validate = true;
            let $target = null;

            $('#detail_box').find('input, select').each(function () {
                if ($(this).is(':required')) {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            let data = FormUtil.extractForm($('#checkForm'));

            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다');
                    _this.searchMainData();
                }
            }

            if (validate) {
                AjaxUtil.postAsyncData(_this.url + '/save', data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목을 입력해주세요.', function () {
                    $target.focus();
                });
            }
        }
        // 엑셀 다운로드
        exportExcel() {
            var targetview = this.grid;
            targetview.exportExcel('점검등록.xls');
        }

    }




    let page = null;

    $(document).ready(function (e) {
        page = new CheckPage();

        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        //추가버튼
        $('#btnNew').click(function (e) {
            $('#checkForm')[0].reset();
            $('#checkForm').find('#id').val('');
            $('#btnSave').prop('disabled', false);


            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            page.setButtonState();
        });

        // 삭제버튼
        $('#btnDelete').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteCheck() },
                function () { }
            );
        });

        // 저장버튼
        $('#btnSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveCheck() },
                function () { }
            );
        });
        
        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
            page.exportExcel();
        });

        page.searchMainData();
    });

</script>
</th:block>
</html>