<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="content_wrap">
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="점검항목관리">점검항목관리</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>

        <div class="table_box search">
            <div class="row">
                
                 <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="점검">점검</span>
                        </div>
                        <select class="form-control2" id="cbocheck" name="cbocheck"></select>
                    </div>
                </div>

                <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="기준일">기준일</span>
                            </div> 
                            <div data-ax5picker="basic" id="date">
                                <div class="input-group-append">
                                <input class="tac " type="text" id="srchDt" name="srchDt" />
                                    <span class="input-group-text fs-xl">
                                        <i class="fas fa-calendar-alt calendar_color" ></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 

            </div>
        </div>

    </section>
    <section>
        <div class="grid_box">
            <div class="title_box">
                 <span class="right_align rpt" data-labelCd="점검 항목">점검 항목</span>
                <button type="button" class="btn-default" id="btnDown" title="순서 조정-아래로"><i class="fas fa-arrow-down"></i></button>
                <button type="button" class="btn-default" id="btnUp" title="순서 조정-위로"><i class="fas fa-arrow-up"></i></button>
                <button type="button" class="btn-default y_write_auth" id="btnIndexSave"><span data-labelCd="순서 저장">순서 저장</span></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
                <div class="h-400" data-ax5grid="checkItemGrid"></div>  
        </div>

    </section>
<section>
        <div class="title_box mb-2">
            <button type="button" class="btn-default" id="btnNew"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn-danger y_write_auth" id="btnDelete" disabled><i class="fas fa-trash"></i></button>
            <button type="button" class="btn-default y_write_auth" id="btnSave" disabled><i class="fas fa-save"></i></button>
            <button type="button" class="btn-default y_write_auth" id="btnSaveAsNew" disabled>새 항목으로 저장</button>
        </div>
        <form id="checkItemForm">
            <div class="table_box sub" id="detailBox">
                <input class="form-control2" type="text" id="id" name="id" hidden />
                <div class="row">
                        <div class="col-6 col-md-4">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text fit_box_t4" data-labelCd="*점검">*점검</span>
                                 </div>
                                 <select class="form-control2" id="check_master_id" name="check_master_id" disabled="disabled" ></select>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text fit_box_t4" data-labelCd="코드">코드</span>
                                 </div>
                                 <input class="form-control2" type="text" id="item_code" name="item_code" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text fit_box_t4" data-labelCd="이미지">이미지</span>
                                 </div>                                 
                                 <input class="form-control2" type="text" id="fileName" name="fileName" disabled="disabled"/>
                                 <button type="button" class="btn-default pull-right " id="btnImage" >이미지 등록</button>                                 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="그룹1">그룹1</span>
                             </div>
                             <input class="form-control2" type="text" id="group1" name="group1" disabled="disabled" />
                        </div>
                    </div>

                     <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="그룹2">그룹2</span>
                             </div>
                             <input class="form-control2" type="text" id="group2" name="group2" disabled="disabled" />
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="그룹3">그룹3</span>
                             </div>
                             <input class="form-control2" type="text" id="group3" name="group3" disabled="disabled" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t6" data-labelCd="*점검항목명">*점검항목명</span>
                            </div>
                            <input class="form-control2" type="text" id="item_name" name="item_name" disabled="disabled" required/>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="주기">주기</span>
                             </div>
                             <select class="form-control2" id="cycle_type" name="cycle_type" disabled="disabled" >
                             </select>
                             &emsp;
                             <input class="form-control2" type="number" id="cycle_value" name="cycle_value" disabled="disabled" />&nbsp회
                        </div>
                    </div>

                    <div class="col-6 col-md-2">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t6" data-labelCd="결과값유형">결과값유형</span>
                             </div>
                             <select class="form-control2" id="result_type" name="result_type" disabled="disabled" >
                              </select>
                        </div>
                    </div>
                    
                    <div class="col-6 col-xs-6" id="minmax_group">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="*최소값">*최소값</span>
                             </div>
                             <input class="form-control2" type="number" id="min_value" name="min_value" required />
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="*최대값">*최대값</span>
                             </div>
                             <input class="form-control2" type="number" id="max_value" name="max_value" required />
                        </div>
                    </div>
                    
                    <div class="col-6 col-md-6" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t4" data-labelCd="적용기간">적용기간</span>
                            </div> 
                            <div data-ax5picker="multi" id="srchDt">
                                <div class="input-group-append">
                                <input class="tac " type="text" id="start_date" name="start_date" disabled="disabled" />
                                    <span class="input-group-text fs-xl">
                                        <i class="fas fa-calendar-alt calendar_color" ></i>
                                    </span>
                                <span class="slow_sign">~</span>
                                <input class="tac " type="text" id="end_date" name="end_date" disabled="disabled" />
                                    <span class="input-group-text fs-xl">
                                        <i class="fas fa-calendar-alt calendar_color"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<script type="text/x-tmpl" id="imagePopup">

<div class="content_wrap modal-content popup">    
        <section class="pt-2">            
           <div class="table_box sub" >
                <form id="checkImageFormPopup">
                        <input type="hidden" id="id" name="id" value="{%=o.id%}" />
                        <input type="hidden" id="file_id" name="file_id" value="{%=o.file_id%}" />
                        <div class ="row">
                            <div class="col-12">   
                                <div class="input-group"> 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t5" data-labelCd="점검항목명">점검항목명</span>                                                                                                                                      
                                    </div>
                                    <input class="form-control2 tac" type="text" id="pop_item_name" disabled="disabled" /> 
                                </div>
                            </div>
                         </div>
                         <div class="col-12 mx-auto" id="image_upload1"></div>   
                </form>     
            </div>
                                                
        </section>
        <section>
            <div class="align_left popup_button_group bottom">            
                <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            </div>    
        </section>
</div>
</script>
</th:block>

<th:block layout:fragment="scripts">
<th:block th:replace="/common/upload_one_image_box.html :: upload_one_image_box" ></th:block>
<script type="text/javascript" src="/js/grid.js?ver=22080801"></script>
<script type="text/javascript">
    class CheckItemPage {
        constructor() {
            this.url = '/api/check/check_item';
            this.grid = null
            this.init();
        }
        init() {
            let _this = this
            let config = {
                target: $('[data-ax5grid="checkItemGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: 'id', width: 80, align: 'right' },
                    { key: 'check_master_name', label: '점검', width: 150, align: 'left' },
                    { key: 'index_order', label: '순서', width: 60, align: 'center' },
                    { key: 'group1', label: '그룹1', width: 150, align: 'left' },
                    { key: 'group2', label: '그룹2', width: 150, align: 'left' },
                    { key: 'group3', label: '그룹3', width: 150, align: 'left' },
                    { key: 'item_name', label: '점검항목명', width: 300, align: 'left' },
                    { key: 'item_code', label: '코드', width: 100, align: 'left' },
                    { key: 'cycle_type', label: '주기', width: 100, align: 'right' },
                    { key: 'cycle_value', label: '주기(횟수)', width: 100, align: 'right' },
                    { key: 'result_type', label: '결과값유형', width: 150, align: 'left' },
                    { key: 'start_date', label: '적용시작일', width: 150, align: 'center' },
                    { key: 'end_date', label: '적용종료일', width: 150, align: 'center' },
                    { key: 'min_value', label: '최소값', width: 60, align: 'center' },
                    { key: 'max_value', label: '최대값', width: 60, align: 'center' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;

            AjaxUtil.fillSelectOptions($('#check_master_id'), 'check_master', '', false);

            $('#btnUp').click(function (e) {
                GridUtil.changeOrder('U', _this.grid);
            });

            $('#btnDown').click(function (e) {
                GridUtil.changeOrder('D', _this.grid);
            });

			$('#minmax_group').css('display','none');
       
        }

        setButtonState() {
            let pk = $('#id').val();

            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDelete').prop('disabled', false);
                $('#btnSaveAsNew').prop('disabled', false);
                $('#btnImage').show();
            } else {
                $('#btnDelete').prop('disabled', true);
                $('#btnSaveAsNew').prop('disabled', true);
                $('#btnImage').hide();
            }
            $('#fileName').prop('disabled', true);
            
            $('#min_value').prop('disabled', false);
            $('#max_value').prop('disabled', false);
        }

        searchMainData() {
            let _this = this;

            let param = {
                //'action': 'read',
                'check_master_id': $('#cbocheck').val(),
                'check_date': $('#srchDt').val(),
                'start_date': $('#start_date').val(),
                'end_date': $('#end_date').val()
            };
            


            if ($('#cbocheck').val() == '') {
                $('#btnUp, #btnDown, #btnIndexSave').attr('disabled', true);
            } else {
                $('#btnUp, #btnDown, #btnIndexSave').removeAttr('disabled');
            }

            let result = AjaxUtil.getSyncData(_this.url + "/read", param);
            

            if (result.data != null) {
                if ($('#cbocheck').val() != '') {
                    GridUtil.adjustHeight(_this.grid_config, result.data.length);
                }
                else {
                    _this.grid_config.target.css('height', '400px');
                }

                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: result.data.length,
                    }
                });
            }

            $('#checkItemForm')[0].reset();
            $('#checkItemForm').find('#id').val('');

            $('#detailBox').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });
            this.setButtonState();
        }

        showDetail(id) {
            let _this = this;
            let data = {
                'id': id,
                //'action': 'detail'
            };
            let result = AjaxUtil.getSyncData(_this.url + "/detail", data);
            _this.subResult = result.data;
            if (result.data != null) {
                FormUtil.BindDataForm(result.data, $('#checkItemForm'));
                this.setButtonState();
                this.setMinMaxVisibility();
            }
        }

        deleteCheckItem() {
            let _this = this;
            let item_id = $('#checkItemForm').find('#id').val();
            let data = {
                'id': item_id
            };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }
            AjaxUtil.postAsyncData(_this.url+"/delete", data, fnSuccess);
        }

        saveCheckItem(bSaveAsNew=false) {
            let _this = this;
            let validate = true;
            let $target = null;
            let typeValue = $('#result_type option:selected').val();
			
            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':required') && typeValue == 'N') {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            let data = FormUtil.extractForm($('#checkItemForm'));
            if (bSaveAsNew)
                data.id = '';

            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다');
                    _this.searchMainData();
                }
            }

            if (validate) {
                AjaxUtil.postAsyncData(_this.url + "/save", data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목을 입력해주세요.', function () {
                    $target.focus();
                });
            }
        }

        saveIndex() {
            let _this = this;
            let items = [];
            $.each(_this.grid.list, function (idx, item) {
                items.push({id: item.id});
            });
      
            let data = {
                //list: JSON.stringify(_this.grid.getList()),
                Q: JSON.stringify(items)
                //'id':$('#id').val()
            }
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다'); // Notification
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }

            };
            AjaxUtil.postAsyncData(_this.url + "/saveIndex", data, fnSuccess);
        }

        popupImage() {
            let _this = this;
            let data = _this.subResult;
            let content = tmpl('imagePopup', data);
            let $content = $(content);
            let modalContainer;
            
            if (data) {
                modalContainer = new PopupDraggable('점검항목 이미지 등록');
                modalContainer.open({ width: 500, height: 350, $content });
                $('#pop_item_name').val(data.item_name);
                $('#fileName').val(data.fileName);
            }         
                                  
            _this.setImage(data);

            $content.find('#btnImgSave').click(function (e) {                 
                if (!_this.upload.file_id) {
                    Alert.alert('', '이미지를 선택해주세요.');
                    return false;
                } else {
                    _this.saveImageData($content, modalContainer.modal);
                }
            });

        }

         // 이미지 첨부
        setImage(data) {
            let _this = this;
            let fncCallback = function () {
                _this.showDetail(data.id);
            };
            _this.upload = new UploadOneImage(1, {
                table_name: 'check_item',
                data_pk: data.id,
                attach_name: 'check_item_image',
                file_id: data.file_id,
                upload_form_id: 'upload_form',
                upload_div_id: 'image_upload1',
                image_width: '100%',
                image_height: 'auto',
                callback: fncCallback,
            });
            _this.upload.printFormDiv();
        }
        saveImageData($content, modal) {
            let _this = this;
            let url = _this.url + "/ImgSave";
            let form = FormUtil.extractForm($content.find('#checkImageFormPopup'));
            let file_id = _this.upload.file_id;//$('#attachFileId1').val();
            let attach_name = _this.upload.attach_name;

            let data = {
                id: form.id,
                file_index: form.file_index,
                file_id: file_id,
                attach_name: attach_name
            }
            if (!data.file_index) {
                Alert.alert('', '파일순번을 입력해주세요.');
                return false;
            }

             let result = AjaxUtil.postSyncData(url, data);
            if (result.data != null) {
                if (result.success) {
                    Notify.success('저장되었습니다.');
                    _this.searchMainData();
                    modal.close();
                }
            }
        }
        
        setMinMaxVisibility(){
			// 결과값 유형에 따른 최소값,최대값 div 표시여부
			var typeValue = $('#result_type option:selected').val();
			
			if(typeValue == 'N') $('#minmax_group').css('display','flex');
			else $('#minmax_group').css('display','none');
		}

    }
    
    let page = null;
    var picker = new ax5.ui.picker();
    
    $(document).ready(function (e) {
        page = new CheckItemPage();

        $('#date').ax5DatePicker({ direction: 'top' });
        picker.bind({
            target: $('[data-ax5picker="multi"]'),
            direction: "top",
            content: {
                width: 206,  //130 270
                margin: 10,
                type: 'date',
                config: {
                    control: {
                        left: '<i class="fa fa-chevron-left"></i>',
                        yearTmpl: '%s',
                        monthTmpl: '%s',
                        right: '<i class="fa fa-chevron-right"></i>'
                    },
                    lang: {
                        yearTmpl: "%s년",
                        months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                        dayTmpl: "%s"
                    }
                }
            },
            btns: {
            }
        });

        $('#end_date').val('2100-12-31');

        AjaxUtil.fillSelectOptions($('#cbocheck'), 'check_master', 'all', false);
        AjaxUtil.fillSelectOptions($('#cycle_type'), 'system_code', 'choose', '', 'cycle_base');
        AjaxUtil.fillSelectOptions($('#result_type'), 'system_code', 'choose', '', 'check_result_type');

        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        $('#btnNew').click(function (e) {
            $('#checkItemForm')[0].reset();
            $('#checkItemForm').find('#id').val('');
            $('#btnSave').prop('disabled', false);


            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            $('#end_date').val('2100-12-31');
            page.setMinMaxVisibility();
            page.setButtonState();
        });

        $('#btnSave').click(function (e) {
            Alert.confirm('',
                '저장하시겠습니까?',
                function () { page.saveCheckItem(false) },
                function () { }
            )
        });
        $('#btnSaveAsNew').click(function (e) {
            Alert.confirm('',
                '새 항목으로 저장하시겠습니까?',
                function () { page.saveCheckItem(true) },
                function () { }
            )
        });

        $('#btnDelete').click(function (e) {
            Alert.confirm('',
                '삭제하시겠습니까?',
                function () { page.deleteCheckItem() },
                function () { }
            )
        });

        $('#btnIndexSave').click(function (e) {
            Alert.confirm('',
                '순서를 저장하시겠습니까?',
                function () { page.saveIndex() },
                function () { }
            )
        });

        $('#srchDt').val(CommonUtil.getYYYYMMDD());


        // 이미지 버튼
        $('#btnImage').click(function (e) {
        let item = page.grid.getList('selected')[0]
            if (item) {                             
                
                page.popupImage();
            } else {
                Alert.alert('', '수정 할 문서를 선택해주세요.');
            }
                
        });

		// 결과값 유형에 따른 최소값,최대값 div 표시여부
		$('#result_type').change(function() {
			var typeValue = $('#result_type option:selected').val();
			
			if(typeValue == 'N') $('#minmax_group').css('display','flex');
			else $('#minmax_group').css('display','none');
		});
		

        page.searchMainData();
    });

</script>
</th:block>
</html>








