<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

<div class="content_wrap">
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="점검대상관리">점검대상관리</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>

        <div class="table_box search">
            <div class="row">
                
                 <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="점검">점검</span>
                        </div>
                        <select class="form-control2" id="cbocheck" name="cbocheck"></select>
                    </div>
                </div>

                <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="기준일">기준일</span>
                            </div> 
                            <div data-ax5picker="basic" id="date">
                                <div class="input-group-append">
                                <input class="tac " type="text" id="srchDt" name="srchDt" />
                                    <span class="input-group-text fs-xl">
                                        <i class="fas fa-calendar-alt calendar_color" ></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 

            </div>
        </div>

    </section>
    <section>
        <div class="grid_box">
            <div class="title_box">
                 <span class="right_align rpt" data-labelCd="점검 대상">점검 대상</span>
                <button type="button" class="btn-default" id="btnDown" title="순서 조정-아래로"><i class="fas fa-arrow-down"></i></button>
                <button type="button" class="btn-default" id="btnUp" title="순서 조정-위로"><i class="fas fa-arrow-up"></i></button>
                <button type="button" class="btn-default y_write_auth" id="btnIndexSave"><span data-labelCd="순서 저장">순서 저장</span></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
                <div class="h-400" data-ax5grid="checkItemGrid"></div>  
        </div>

    </section>
	<section>
        <div class="title_box mb-2">
            <button type="button" class="btn-default" id="btnNew"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn-danger y_write_auth" id="btnDelete" disabled><i class="fas fa-trash"></i></button>
            <button type="button" class="btn-default y_write_auth" id="btnSave" disabled><i class="fas fa-save"></i></button>
            <button type="button" class="btn-default y_write_auth" id="btnSaveAsNew" disabled>새 대상으로 저장</button>
        </div>
        <form id="checkItemForm">
            <div class="table_box sub" id="detailBox">
                <input class="form-control2" type="text" id="id" name="id" hidden />
                <div class="row">
                        <div class="col-6 col-md-4">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text fit_box_t4" data-labelCd="점검">*점검</span>
                                 </div>
                                 <select class="form-control2" id="check_master_id" name="check_master_id" disabled="disabled" ></select>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text fit_box_t4" data-labelCd="코드">코드</span>
                                 </div>
                                 <input class="form-control2" type="text" id="item_code" name="item_code" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="그룹1">그룹1</span>
                             </div>
                             <input class="form-control2" type="text" id="group1" name="group1" disabled="disabled" />
                        </div>
                    </div>

                     <div class="col-6 col-md-4">
                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <span class="input-group-text fit_box_t4" data-labelCd="그룹2">그룹2</span>
                             </div>
                             <input class="form-control2" type="text" id="group2" name="group2" disabled="disabled" />
                        </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t6" data-labelCd="점검대상명">*점검대상명</span>
                            </div>
                            <input class="form-control2" type="text" id="target_name" name="target_name" disabled="disabled" required/>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t4" data-labelCd="적용기간">적용기간</span>
                            </div> 
                            
                            <div class="input-group-append">
                            <input class="tac " type="date" id="start_date" name="start_date" disabled="disabled" />
                                <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color" ></i>
                                </span>
                            <span class="slow_sign">~</span>
                            <input class="tac " type="date" id="end_date" name="end_date" disabled="disabled" />
                                <span class="input-group-text fs-xl">
                                    <i class="fas fa-calendar-alt calendar_color"></i>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
</th:block> 

<th:block layout:fragment="scripts">
<script type="text/javascript" src="/js/grid.js"></script>	<!--<script type="text/javascript" src="/static/js/grid.js?ver=22080801"></script>-->
<script type="text/javascript">
    class CheckItemPage {
        constructor() {
            this.url = '/api/check/check_target';
            this.grid = null
            this.init();
        }
        init() {
            let _this = this
            let config = {
                target: $('[data-ax5grid="checkItemGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: 'id', width: 80, align: 'right' },
                    { key: 'check_master_name', label: '점검', width: 150, align: 'left' },
                    { key: 'index_order', label: '순서', width: 60, align: 'center' },
                    { key: 'group1', label: '그룹1', width: 150, align: 'left' },
                    { key: 'group2', label: '그룹2', width: 150, align: 'left' },
                    { key: 'target_name', label: '점검대상명', width: 300, align: 'left' },
                    { key: 'start_date', label: '적용시작일', width: 150, align: 'center' },
                    { key: 'end_date', label: '적용종료일', width: 150, align: 'center' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config;

            AjaxUtil.fillSelectOptions($('#check_master_id'), 'check_master', '', false);

            $('#btnUp').click(function (e) {
                GridUtil.changeOrder('U', _this.grid);
            });

            $('#btnDown').click(function (e) {
                GridUtil.changeOrder('D', _this.grid);
            });
        }

        setButtonState() {
            let pk = $('#id').val();

            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDelete').prop('disabled', false);
                $('#btnSaveAsNew').prop('disabled', false);
            } else {
                $('#btnDelete').prop('disabled', true);
                $('#btnSaveAsNew').prop('disabled', true);
            }
        }

        searchMainData() {
            let _this = this;

            let param = {
                'check_master_id': $('#cbocheck').val(),
                'check_date': $('#srchDt').val()
            };


            if ($('#cbocheck').val() == '') {
                $('#btnUp, #btnDown, #btnIndexSave').attr('disabled', true);
            } else {
                $('#btnUp, #btnDown, #btnIndexSave').removeAttr('disabled');
            }

            let result = AjaxUtil.getSyncData(_this.url + '/read', param);

            if (result != null) {
                let rows_len = result.data.length;

                GridUtil.adjustHeight(_this.grid_config, rows_len);

                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: rows_len,
                    }
                });
            }

            $('#checkItemForm')[0].reset();
            $('#checkItemForm').find('#id').val('');

            $('#detailBox').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });
            this.setButtonState();
        }

        showDetail(id) {
            let _this = this;
            let data = {
                'id': id
            };
            let result = AjaxUtil.getSyncData(_this.url + '/detail', data);
            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#checkItemForm'));
                this.setButtonState();
            }
        }

        deleteCheckItem() {
            let _this = this;
            let item_id = $('#checkItemForm').find('#id').val();
            let data = {
                'id': item_id
            };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            }
            AjaxUtil.postAsyncData(_this.url+'/delete', data, fnSuccess);
        }

        saveCheckItem(bSaveAsNew=false) {
            let _this = this;
            let validate = true;
            let $target = null;

            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':required')) {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            let data = FormUtil.extractForm($('#checkItemForm'));
            if (bSaveAsNew)
                data.id = '';

            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success('저장되었습니다');
                    _this.searchMainData();
                }
            }

            if (validate) {
                AjaxUtil.postAsyncData(_this.url + '/save', data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목을 입력해주세요.', function () {
                    $target.focus();
                });
            }
        }

        saveIndex() {
            let _this = this;
            let items = [];
            $.each(_this.grid.list, function (idx, item) {
                items.push({id: item.id});
            });
      
            let data = {
                //list: JSON.stringify(_this.grid.getList()),
                Q: JSON.stringify(items)
                //'id':$('#id').val()
            }
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다'); // Notification
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }

            };
            AjaxUtil.postAsyncData(_this.url + '/saveIndex', data, fnSuccess);
        }
    }
    
    let page = null;
    var picker = new ax5.ui.picker();
    
    $(document).ready(function (e) {
        page = new CheckItemPage();

        $('#date').ax5DatePicker({ direction: 'top' });
        //picker.bind({
        //    target: $('[data-ax5picker="multi"]'),
        //    direction: "top",
        //    content: {
        //        width: 206,  //130 270
        //        margin: 10,
        //        type: 'date',
        //        config: {
        //            control: {
        //                left: '<i class="fa fa-chevron-left"></i>',
        //                yearTmpl: '%s',
        //                monthTmpl: '%s',
        //                right: '<i class="fa fa-chevron-right"></i>'
        //            },
        //            lang: {
        //                yearTmpl: "%s년",
        //                months: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
        //                dayTmpl: "%s"
        //            }
        //        }
        //    },
        //    btns: {
        //    }
        //});

        $('#end_date').val('2100-12-31');

        AjaxUtil.fillSelectOptions($('#cbocheck'), 'check_master', 'all', false);
        AjaxUtil.fillSelectOptions($('#cycle_type'), 'system_code', 'choose', '', 'cycle_base');
        AjaxUtil.fillSelectOptions($('#result_type'), 'system_code', 'choose', '', 'check_result_type');

        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        $('#btnNew').click(function (e) {
            $('#checkItemForm')[0].reset();
            $('#checkItemForm').find('#id').val('');
            $('#btnSave').prop('disabled', false);

            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            $('#end_date').val('2100-12-31');
            page.setButtonState();
        });

        $('#btnSave').click(function (e) {
            Alert.confirm('',
                '저장하시겠습니까?',
                function () { page.saveCheckItem(false) },
                function () { }
            )
        });
        $('#btnSaveAsNew').click(function (e) {
            Alert.confirm('',
                '새 대상으로 저장하시겠습니까?',
                function () { page.saveCheckItem(true) },
                function () { }
            )
        });

        $('#btnDelete').click(function (e) {
            Alert.confirm('',
                '삭제하시겠습니까?',
                function () { page.deleteCheckItem() },
                function () { }
            )
        });

        $('#btnIndexSave').click(function (e) {
            Alert.confirm('',
                '순서를 저장하시겠습니까?',
                function () { page.saveIndex() },
                function () { }
            )
        });

        $('#srchDt').val(CommonUtil.getYYYYMMDD());

        page.searchMainData();
    });

</script>
</th:block>
</html>








