<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>비용등록</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>서비스분석</li>
                <li>비용등록</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
                <li>
                    <a href="#tab2" title="등록">등록</a>
                </li>
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    매출년월<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="month" id="startDt" name="startDt">
                                            <label for="startDt" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="month" id="endDt" name="endDt">
                                            <label for="endDt" class="hide">종료일</label>
                                        </li>
                                        <a class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()"></a>
                                    </ul>

                                </dd>
                            </dl>

                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a  class="btn btn-excell" title="엑셀다운로드">
                                        <img src="/images/icon/ico-excell.svg" alt="엑셀 아이콘">
                                        엑셀다운로드
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="삭제">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-edit" title="수정">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        수정
                                    </a>
                                </li>
<!--                                <li>-->
<!--                                    <a href="#" class="btn btn-print" title="순회점검일지 출력">-->
<!--                                        <img src="/images/icon/ico-print.svg" alt="엑셀 아이콘">-->
<!--                                        순회점검일지 출력-->
<!--                                    </a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>

                        <div id="emptyMessage" class="empty-message " style="display:none; height: 400px; border: 1px solid rgba(0,0,0, .2);
                         text-align: center; line-height: 400px; border-collapse: collapse; border-radius:4px; color: black; font-weight: bold; ">조회된 데이터가 없습니다</div>
                    </div>

                </section>
                <!-- Section -->
                <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>비용 등록</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a  class="btn btn-excell" title="엑셀다운로드">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="삭제">
                                        <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <form id ="cost_form">
                        <table class="write-table">
                            <input type="hidden" id="inuserid" name="inuserid">
                            <input type="hidden" id="inusernm" name="inusernm">
                            <input type="hidden" id="spworkcd" name="spworkcd" value="001"/>
                            <input type="hidden" id="spworknm" name="spworknm" value="대구"/>
                            <input type="hidden" id="spcompcd" name="spcompcd" value="001"/>
                            <input type="hidden" id="spcompnm" name="spcompnm" value="성서산단"/>
                            <input type="hidden" id="spplancd" name="spplancd" value="001"/>
                            <input type="hidden" id="spplannm" name="spplannm" value="대구물류센터"/>
                            <caption>비용등록 테이블</caption>
                            <colgroup>
                                <col class="wp12">
                                <col class="wp40">
                                <col class="wp12">
                                <col class="wp40">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="expesym">
                                        매출년월
                                    </label>
                                </th>
                                <td colspan="3">
                                    <input type="month" id="expesym" maxlength="7" name="expesym" class="wp15" >
                                </td>

                            </tr>
                            <tr>
                                <th>
                                    <label for="fueamt">
                                       연료비 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="fueamt" name="fueamt" maxlength="100" class="wp100" placeholder="10">
                                </td>
                                <th>
                                    <label for="depramt">
                                        감가상각비 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="depramt" name="depramt" maxlength="100" class="wp100" placeholder="10">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="psqcamt">
                                        전기안전검사
                                    </label>
                                </th>
                                <td>
                                    <div class="checkstdt">
                                        <input type="text" id="psqcamt" name="psqcamt" maxlength="100" class="wp100" placeholder="10">
<!--                                        <input type="text" id="checkusr" name="checkusr" class="wp100" placeholder="점검자" maxlength="5">-->
<!--                                        <button onclick="addInputField(this)" class="mg-l8">점검자 추가</button>-->
                                    </div>
                                </td>
                                <th>
                                    <label for="ltsaamt">
                                        LTSA <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
<!--                                    <input type="text" id="checkarea" name="checkarea" maxlength="100" class="wp100" placeholder="점검장소">-->
                                    <input type="text" id="ltsaamt" name="ltsaamt" maxlength="100" class="wp100" placeholder="10">
                                </td>
                            </tr>
                            <tr>

                                <th>
                                    <label for="reccamt">
                                        REC 수수료
                                    </label>
                                </th>
                                <td>
<!--                                    <div class="textarea-box">-->
                                    <input type="text" id="reccamt" name="reccamt" maxlength="100" class="wp100" placeholder="10">
<!--                                        <textarea id="checkplan" name="checkplan" maxlength="200" placeholder="개선방향"></textarea>-->
<!--                                        <p class="text-count" id="text-count2" name="checkplan">0/200</p>-->
<!--                                    </div>-->
                                </td>

                                <th>
                                    <label for="iotlamt">
                                        IoT회선료 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="iotlamt" name="iotlamt" maxlength="100" class="wp100" placeholder="10">
                                    <!--                                    <input type="datetime-local" id="checkstdt" name="checkstdt" autocomplete="off">-->
                                </td>
                            </tr>

                            <tr>

                                <th>
                                    <label for="gigaamt">
                                        GIGAeyes <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="gigaamt" name="gigaamt" maxlength="100" class="wp100" placeholder="10">
<!--                                    <input type="datetime-local" id="checkendt" name="checkendt" autocomplete="off">-->
                                </td>
                                <th>
                                    <label for="checkstdt">
                                        IT비용 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="" name="" maxlength="100" class="wp100" placeholder="10">
                                    <!--                                    <input type="datetime-local" id="checkstdt" name="checkstdt" autocomplete="off">-->
                                </td>

                            </tr>

                            <tr>

                                <th>
                                    <label for="otheamt">
                                        기타 <span class="req">*</span>
                                    </label>
                                </th>
                                <td colspan="3">
                                    <input type="text" id="otheamt" name="otheamt" maxlength="100" class="wp100" placeholder="10">
<!--                                    <input type="datetime-local" id="checkendt" name="checkendt" autocomplete="off">-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <!-- 팝업 -->
    <div class="modal">

        <div class="popup-wrapper w700" id="popup1">
            <div class="popup-title">
                <h3>점검일지 업로드</h3>
                <a  title="팝업닫기" onclick="closePopup()" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <table class="write-table">
                        <caption>점검등록 테이블</caption>
                        <colgroup>
                            <col class="wp20">
                            <col class="wp80">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                <label for="date6">
                                    등록일자
                                </label>
                            </th>
                            <td>
                                <div class="input-clear">
                                    <input type="date" id="date6" name="" value="2024-06-27">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="popuptext1">
                                    점검자
                                </label>
                            </th>
                            <td>
                                <div class="input-clear"><input type="text" id="popuptext1" class="wp60" placeholder="점검자"><span class="btn-clear">×</span></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="popuptext2">
                                    점검장소
                                </label>
                            </th>
                            <td>
                                <div class="input-clear"><input type="text" id="popuptext2" class="wp100" placeholder="점검장소"><span class="btn-clear">×</span></div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                첨부파일
                            </th>
                            <td>
                                <div id="uploadComponent2" class="upload-component">
                                    <div class="upload-filebox">
                                        <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                        <a  class="btn" title="파일업로드">파일업로드</a>
                                        <input type="file" id="fileInput2" class="fileInput" multiple="">
                                        <p>Maximun upload file size <span>1GiB</span></p>
                                    </div>
                                    <div class="upload-filelist">
                                        <div class="title">
                                            <h5>Files (0)</h5>
                                            <a  title="Delete all" class="btn-file-deleteall">Delete all</a>
                                        </div>
                                        <ul class="filelist">
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="closePopup()" style="border: 1px solid #03428E !important; font-size: 15px !important;">취소</button>
                <button style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
            </div>

        </div>

    </div>






</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
    <script type="text/javascript">

        var theGrid;
        var viewdata;


        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];

            let searchusr = $('#searchusr').val();

            $.ajax({
                url: '/api/gas/gas_belement/read',
                type: 'GET',
                // data: {
                //     'searchusr': searchusr
                // },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                }
            })

            // 데이터 배열이 비어있을 경우 여러 개의 빈 객체 추가
            if (data2.length === 0) {
                let emptyRowsCount = 6;  // 원하는 빈 행의 수
                for (let i = 0; i < emptyRowsCount; i++) {
                    data2.push({});
                }
                console.log('Grid initialized with empty data.');
            }



            viewdata = new wijmo.collections.CollectionView(data2);
            //데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {binding: 'expesym', header: '비용연월', width: 140, align: 'center'},
                    {binding: 'fueamt', header: '연료비', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'depramt', header: '감가상각비', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'ltsaamt', header: 'LTSA', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'psqcamt', header: '전기안전검사', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'reccamt', header: 'REC수수료', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'iotlamt', header: 'IoT회선료', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'gigaamt', header: 'GIGAeyes', width: 140, align: 'center', aggregate: 'Sum'},
                    // {binding: '', header: 'IT비용', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'otheamt', header: '기타', width: 140, align: 'center', aggregate: 'Sum'},
                    {binding: 'etotamt', header: '총계', width: "*", align: 'center', aggregate: 'Sum'},
                ],
                itemsSource: viewdata
            });

            // theGrid.columnFooters.rows.push(new wijmo.grid.GroupRow());
            // theGrid.bottomLeftCells.setCellData(0,0,'Σ');

            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기


            theGrid.setCellData(0, 'expesym', '2024-01');
            theGrid.setCellData(1, 'expesym', '2024-02');
            theGrid.setCellData(2, 'expesym', '2024-03');
            theGrid.setCellData(3, 'expesym', '2024-04');
            theGrid.setCellData(4, 'expesym', '2024-05');
            theGrid.setCellData(5, 'expesym', '계');




        }<!-- 초반 페이지 진입시 그리드 바인딩 끝-->



        let filelist = [];

        function filevalueinit(param) {
            filelist = param;

        }

        let page = null;

        //검색
        function searchData() {
            let data = {
                'searchusr': $('#searchusr').val()
            }

            let result = AjaxUtil.getSyncData('/api/cost_upload/read', data);

            if (result.success) {
                console.log(result.data);
                grid_binding(result.data);
            }
        }


        $(document).ready(function (e) {


            page = new CheckResultDiaryPage();


            $('#btnSave').click(function (e) {


                Alert.confirm('', '저장하시겠습니까?', function () {

                        let fileInput = document.getElementById('fileInput1');
                        let files = fileInput.files;
                        let formData = new FormData();

                        for (var i = 0; i < files.length; i++) {
                            formData.append('filelist', files[i]);
                        }

                        const randomString = generateRandomStringWithDate();

                        var inputs = document.querySelectorAll('input[name="checkusr"]');
                        var values = [];

                        inputs.forEach(function (input) {
                            values.push(input.value);

                        })

                        var checkusrString = values.join(',');


                        // 다른 데이터를 FormData에 추가합니다.
                        formData.append('supplier', $('#supplier').val());
                        formData.append('checkdt', $('#checkdt').val());
                        formData.append('checkstdt', $('#checkstdt').val());
                        formData.append('checkendt', $('#checkendt').val());
                        formData.append('checkusr', checkusrString); // 이미 문자열로 변환된 checkusr
                        formData.append('checkarea', $('#checkarea').val());
                        formData.append('checkitem', $('#checkitem').val());
                        formData.append('checkplan', $('#checkplan').val());
                        formData.append('randomuuid', randomString);
                        formData.append('_csrf', $('[name=_csrf]').val());


                        $.ajax({
                            url: '/api/inspec_report/save',
                            type: 'POST',
                            data: formData,
                            processData: false,  // 기본적으로 jQuery는 데이터를 문자열로 변환하려고 하므로 이를 비활성화
                            contentType: false,  // 기본적으로 jQuery는 Content-Type을 설정하려고 하므로 이를 비활성화
                            success: function (response) {
                                if (response.success) {
                                    Alert.alert('', response.message);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                Alert.alert('', '에러가발생하였습니다.');
                            }
                        });


                    },
                    function () {
                    }
                )
            })


            page.setUploader();


        });
    </script>
</th:block>

</html>