<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">

<style>



</style>


<th:block layout:fragment="content">

    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>도시가스청구서등록</h2><a id="toggleButton" onclick="toggleSearchWrap()"><img src="/images/icon/ico-down.png"
                                                                                         alt="알람 아이콘"></a>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>서비스분석</li>
                <li>비용관리</li>
                <li>도시가스청구서등록</li>
            </ul>
        </div>

        <!-- Select -->
        <div class="search-wrap" id="searchWrap" style="display: none">
            <ul>
                <li>
                    <select title="지역" id="spworkcd" name="spworkcd"
                            onchange="updateCompcdOptions(); saveSelectedSandanData(); ">
                        <!-- 지역 옵션을 JavaScript에서 동적으로 채움 -->
                    </select>
                    <input type="hidden" id="spworknm" name="spworknm">
                </li>
                <li>
                    <select title="산단" id="spcompcd" name="spcompcd"
                            onchange="updatePlancdOptions(); saveSelectedSandanData();">
                        <!-- 산단 옵션을 JavaScript에서 동적으로 채움 -->
                    </select>
                    <input type="hidden" id="spcompnm" name="spcompnm">
                </li>
                <li>
                    <select title="시설" id="spplancd" name="spplancd"
                            onchange="updatePlannm(); saveSelectedSandanData()">
                        <!-- 시설 옵션을 JavaScript에서 동적으로 채움 -->
                    </select>
                    <input type="hidden" id="spplannm" name="spplannm">
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
<!--                <li>-->
<!--                    <a href="#tab2" title="등록">등록</a>-->
<!--                </li>-->
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    등록일자<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <ul class="date-box">
                                            <li>
                                                <input type="date" id="searchfrdate" name="searchfrdate">
                                                    <label for="searchfrdate" class="hide">시작일</label>
                                            </li>
                                            <li>
                                                <input type="date" id="searchtodate" name="searchtodate">
                                                    <label for="searchtodate" class="hide">종료일</label>
                                                <a class="btn btn-srch" id="searchgrid" title="검색"  style="border-radius: 5px 5px 5px 5px;"></a>
                                            </li>

                                            <li>
                                                <a title="청구서등록" class="btn btn-popup-open" data-popup="popup2" onclick="showPopup2()">청구서 등록</a>
                                            </li>

                                            <li>
                                                <a title="청구서스캔" class="btn btn-popup-open" data-popup="popup1" onclick="showPopup()">청구서 스캔</a>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                        </div>


                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="max-height: 600px"></div>
                    </div>

                </section>
                <!-- Section -->
<!--                <section class="tab-item" id="tab2">-->
<!--                    <div class="section-top">-->
<!--                        <div class="title-wrap">-->
<!--                            <h3>도시가스 청구서 등록</h3>-->
<!--                        </div>-->
<!--                        <div class="button-wrap">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <a class="btn btn-excell" title="엑셀다운로드">-->
<!--                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">-->
<!--                                        신규등록-->

<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a  class="btn btn-delete" title="삭제">-->
<!--                                        <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">-->
<!--                                        삭제-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a  class="btn btn-edit" id="btnSave" title="저장">-->
<!--                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">-->
<!--                                        저장-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="table-wrap">-->
<!--                        <table class="write-table">-->
<!--                            <caption>도시가스 청구서 등록 테이블</caption>-->
<!--                            <colgroup>-->
<!--                                <col class="wauto">-->
<!--                                <col class="wauto">-->
<!--                                <col class="wauto">-->
<!--                                <col class="wauto">-->
<!--                            </colgroup>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <th>-->
<!--                                    <label for="">-->
<!--                                        청구년월-->
<!--                                    </label>-->
<!--                                </th>-->
<!--                                <td>-->
<!--                                    <input type="text" id="" name="" class="wp100" maxlength="50">-->
<!--                                </td>-->
<!--                                <th>-->
<!--                                    <label for="">-->
<!--                                        사용량-->
<!--                                    </label>-->
<!--                                </th>-->
<!--                                <td>-->
<!--                                    <input type="text" id="" name="" class="wp100" maxlength="50">-->
<!--                                </td>-->
<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <th>-->
<!--                                    <label for="">-->
<!--                                        청구금액-->
<!--                                    </label>-->
<!--                                </th>-->
<!--                                <td>-->
<!--                                    <input type="text" id="" name="" class="wp100" maxlength="50">-->
<!--                                </td>-->
<!--                                <th>-->
<!--                                    <label for="">-->
<!--                                        사용열량-->
<!--                                    </label>-->
<!--                                </th>-->
<!--                                <td>-->
<!--                                    <input type="text" id="" name="" class="wp100" maxlength="50">-->
<!--                                </td>-->
<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <th>-->
<!--                                    <label for="">-->
<!--                                        비고-->
<!--                                    </label>-->
<!--                                </th>-->
<!--                                <td colspan="3">-->
<!--                                    <div class="textarea-box">-->
<!--                                        <textarea id="checkitem" name="checkitem" maxlength="200"></textarea>-->
<!--                                        &lt;!&ndash;                                        <p class="text-count" id="text=count1" name="checkitem">0/200</p>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </section>-->
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <div class="modal">
        <div class="popup-wrapper w700" id="popup1">
            <div class="popup-title">
                <h3>청구서 스캔</h3>
                <a title="팝업닫기" onclick="closePopup()" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <table class="write-table">
                        <caption>점검등록 테이블</caption>
                        <colgroup>
                            <col class="wp20">
                            <col class="wp80">
                        </colgroup>
                        <input type="hidden" id="popup-spuncode">
                        <tbody>
                        <tr>
                            <th>
                                <label for="date6">등록일자</label>
                            </th>
                            <td>
                                <div class="input-clear">
                                    <input type="date" id="popup-date" readonly>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td>
                                <div id="uploadComponent2" class="upload-component">
                                    <div class="upload-filebox">
                                        <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                        <a class="btn" title="파일업로드">파일업로드</a>
                                        <input type="file" id="fileInput2" class="fileInput" multiple="">
                                        <p>Maximun upload file size <span>1GiB</span></p>
                                    </div>
                                    <div class="upload-filelist">
                                        <div class="title">
                                            <span> * 업로드시 PDF 파일이어야 합니다.</span>
                                            <h5>Files (0)</h5>
                                            <a title="Delete all" class="btn-file-deleteall">Delete all</a>
                                        </div>
                                        <ul class="filelist">
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="closePopup()" style="border: 1px solid #03428E !important; font-size: 15px !important;">취소</button>
                <button onclick="uploadFile()" style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
            </div>
        </div>
    </div>


<!--팝업 모달 2-->
    <div class="modal999">
        <div class="popup-wrapper999 w700" id="popup2">
            <div class="popup-title">
                <h3>청구서 등록</h3>
                <a title="팝업닫기" onclick="closePopup2()" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <table class="write-table">
                        <caption>도시가스 청구서 등록 테이블</caption>
                        <colgroup>
                            <col class="wauto">
                            <col class="wauto">
                            <col class="wauto">
                            <col class="wauto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                <label for="standym">
                                    청구년월
                                </label>
                            </th>
                            <td>
                                <input type="text" id="standym" name="standym" class="wp100" readonly >
                            </td>
                            <th>
                                <label for="smuseqty">
                                    사용량
                                </label>
                            </th>
                            <td>
                                <input type="text" id="smuseqty" name="smuseqty" class="wp100" readonly>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="askamt">
                                    청구금액
                                </label>
                            </th>
                            <td>
                                <input type="text" id="askamt" name="askamt" class="wp100" readonly>
                            </td>
                            <th>
                                <label for="">
                                    사용열량
                                </label>
                            </th>
                            <td>
                                <input type="text" id="smusehqty" name="smusehqty" class="wp100" readonly>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="">
                                    비고
                                </label>
                            </th>
                            <td colspan="3">
                                <div class="textarea-box">
                                    <textarea id="checkitem" name="checkitem" maxlength="200"></textarea>
                                    <!--                                        <p class="text-count" id="text=count1" name="checkitem">0/200</p>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="closePopup2()" style="border: 1px solid #03428E !important; font-size: 15px !important;">취소</button>
                <button style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
            </div>
        </div>
    </div>


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
    <script type="text/javascript">

        var theGrid;
        var viewdata;
        let csrfToken = $("[name=_csrf]").val();

        const modal2 = document.querySelector('.modal999');
        const modalOpen = document.querySelector('.modal_btn');
        const modalClose = document.querySelector('.close_btn');

        const dateInput2 = document.getElementById('popup-date');
        const today2 = new Date();
        const year2 = today2.getFullYear();
        const month2 = String(today2.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const day2 = String(today2.getDate()).padStart(2, '0');
        const dateValue2 = `${year2}-${month2}-${day2}`;
        dateInput2.value = dateValue2;

        function closePopup(){

            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 애니메이션을 위한 클래스 제거
            modal.classList.remove('show');
            modalContent.classList.remove('show');

            // 애니메이션이 끝난 후 모달을 숨기기 위해 타임아웃 설정
            setTimeout(() => {
                modal.style.display = 'none';
                modalContent.style.display = 'none';
            }, 300); // 애니메이션 지속 시간 (0.3초)과 동일하게 설정
        }

        function closePopup2(){

            const modal999 = document.querySelector('.modal999');
            const modalContent999 = document.querySelector('.popup-wrapper999');

            // 애니메이션을 위한 클래스 제거
            modal999.classList.remove('show');
            modalContent999.classList.remove('show');

            // 애니메이션이 끝난 후 모달을 숨기기 위해 타임아웃 설정
            setTimeout(() => {
                modal999.style.display = 'none';
                modalContent999.style.display = 'none';
            }, 300); // 애니메이션 지속 시간 (0.3초)과 동일하게 설정
        }

        function showPopup(){

            // let item = theGrid.rows[rowIndex].dataItem;
            let fileNameDisplay = document.getElementById('fileNameDisplay');

            // $('#popup-date').val(item.checkdt);
            // $('#popup-checkusr').val(item.checkusr);
            // $('#popup-checkarea').val(item.checkarea);
            // $('#popup-spuncode').val(item.spuncode);

            // if(item.fileornm){
            //     fileNameDisplay.textContent = item.fileornm;
            // }else{
            //     fileNameDisplay.textContent = 'Maxium upload file size 1GiB';
            // }
            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 모달과 콘텐츠를 표시
            modal.style.display = 'block';
            modalContent.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            });
        }

        function showPopup2(){


            let fileNameDisplay = document.getElementById('fileNameDisplay');

            const modal999 = document.querySelector('.modal999');
            const modalContent999 = document.querySelector('.popup-wrapper999');

            // 모달과 콘텐츠를 표시
            modal999.style.display = 'block';
            modalContent999.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal999.classList.add('show');
                modalContent999.classList.add('show');
            });
        }


        function uploadFile() {
            const fileInput = document.getElementById('fileInput2');
            const file = fileInput.files[0];

            // 파일 유효성 검사
            if (!file || file.type !== 'application/pdf') {
                alert("PDF 파일만 업로드 가능합니다.");
                return;
            }

            const formData = new FormData();
            formData.append("file", file);
            formData.append("_csrf",csrfToken);

            fetch('/api/cost/gas_bill/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("파일 업로드 실패");
                    }
                    return response.text();
                })
                .then(result => {
                    alert("파일이 성공적으로 업로드되었습니다.");
                    // 추출된 텍스트를 두 번째 팝업에 표시하는 로직
                    populateTextInModal(result);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert(`파일 처리 중 오류가 발생했습니다: ${error.message}`);
                });
        }

        function populateTextInModal(text) {
            const billingDate = extractBillingDate(text);
            if (billingDate) {
                document.querySelector('#popup2 input[name="청구년월"]').value = billingDate;
            } else {
                alert("청구년월을 추출할 수 없습니다.");
            }
            // 다른 필드도 필요한 경우 여기에 추가
            document.querySelector('.modal999').style.display = 'block';
        }

        function extractBillingDate(text) {
            const match = text.match(/청구년월:\s*(\d{6})/);
            return match ? match[1] : null;
        }


        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let searchusr = $('#searchusr').val();

            $.ajax({
                url: '/api/cost/upload/gas_read',
                type: 'GET',
                // data: {
                //     'searchusr': searchusr
                // },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                }
            })

            // 데이터 배열이 비어있을 경우 여러 개의 빈 객체 추가
            if (data2.length === 0) {
                let emptyRowsCount = 3;  // 원하는 빈 행의 수
                for (let i = 0; i < emptyRowsCount; i++) {
                    data2.push({});
                }
                console.log('Grid initialized with empty data.');
            }

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {binding: 'category', header: '구분', width: 140, align: 'center'},
                    {binding: 'january', header: '1월', width: 140, align: 'center' },
                    {binding: 'february', header: '2월', width: 140, align: 'center' },
                    {binding: 'march', header: '3월', width: 140, align: 'center'},
                    {binding: 'april', header: '4월', width: 140, align: 'center'},
                    {binding: 'may', header: '5월', width: 140, align: 'center'},
                    {binding: 'june', header: '6월', width: 140, align: 'center'},
                    {binding: 'july', header: '7월', width: 140, align: 'center'},
                    {binding: 'august', header: '8월', width: 140, align: 'center'},
                    {binding: 'september', header: '9월', width: 140, align: 'center'},
                    {binding: 'october', header: '10월', width: 140, align: 'center'},
                    {binding: 'november', header: '11월', width: 140, align: 'center'},
                    {binding: 'december', header: '12월', width: 140, align: 'center'}
                ],
                //홀짝 로우 음영주기

                itemsSource: viewdata

            });
            theGrid.setCellData(0,'category','사용량');
            theGrid.setCellData(1,'category','사용열량');
            theGrid.setCellData(2,'category','청구금액');


            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기


        }<!-- 초반 페이지 진입시 그리드 바인딩 끝-->


        <!-- 점검자 추가 버튼 이벤트 끝-->

        let filelist = [];

        function filevalueinit(param) {
            filelist = param;

        }

        let page = null;

        //검색
        function searchData() {
            let data = {
                'searchusr': $('#searchusr').val()
            }

            let result = AjaxUtil.getSyncData('/api/cost_upload/read', data);

            if (result.success) {
                console.log(result.data);
                grid_binding(result.data);
            }
        }



        $(document).ready(function (e) {
            initializeSelections();
            // 현재 연도를 가져옴
            const currentYear = new Date().getFullYear();
            // 1월 1일 날짜 문자열 생성
            const defaultDate = `${currentYear}-01-01`;
            // input 요소에 기본값 설정
            document.getElementById('searchfrdate').value = defaultDate;

            // 현재 연도를 가져옴
            const currentYear2 = new Date().getFullYear();
            // 1월 1일 날짜 문자열 생성
            const defaultDate2 = `${currentYear2}-12-31`;
            // input 요소에 기본값 설정
            document.getElementById('searchtodate').value = defaultDate2;
        });
    </script>
</th:block>

</html>