<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">


    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- Slide css -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- Slide js -->
    </head>

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>상세 모니터링</h2>
                <a href="#" title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>모니터링</li>
                <li>상세 모니터링</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
            <div class="card-btn-wrap">
                <div class="btn swiper-button-prev"></div>
                <div class="btn swiper-button-next"></div>
                <a title="카드설정" class="btn btn-popup-open" data-popup="popup1">
                    <img src="/images/icon/btn-setting.svg" alt="설정아이콘">
                </a>
            </div>
        </div>
        <div class="row row-1">
            <div class="card-wrap swiper card-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>INPUT</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>LNG사용량</dt>
                                <dd>
                                    9,999 <span class="unit">Nm³</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="down"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>Elec. OUTPUT</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전기생산량</dt>
                                <dd>
                                    9,999 <span class="unit">kWh</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 2.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>Heat OUTPUT</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>열 생산량</dt>
                                <dd>
                                    9,999 <span class="unit">Mcal</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="down"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>F/C Efficiency</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전기효율</dt>
                                <dd>
                                    45.5 <span class="unit">%</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>열효율</dt>
                                <dd>
                                    39.0 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>INCOME</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>예상수익</dt>
                                <dd>
                                    999,999 <span class="unit">원</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>INPUT</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>LNG사용량</dt>
                                <dd>
                                    9,999 <span class="unit">Nm³</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="down"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>Elec. OUTPUT</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전기생산량</dt>
                                <dd>
                                    9,999 <span class="unit">kWh</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 2.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>Heat OUTPUT</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>열 생산량</dt>
                                <dd>
                                    9,999 <span class="unit">Mcal</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="down"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>F/C Efficiency</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전기효율</dt>
                                <dd>
                                    45.5 <span class="unit">%</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>열효율</dt>
                                <dd>
                                    39.0 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section>
                            <div class="title">
                                <h3>INCOME</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>예상수익</dt>
                                <dd>
                                    999,999 <span class="unit">원</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </div> <!--//swiper-wrapper end -->
            </div> <!--//main-card-wrap end -->
        </div>
        <div class="row row-2">
            <section class="wp50">
                <div class="title-wrap">
                    <h3>연료전지 실시간 운전현황</h3>
                </div>
                <div class="detail-monitoring">
                    <div class="databox-wrap">
                        <div class="databox gas">
                            <div class="icon-box">
                                <img src="/images/icon/ico-gas.svg" alt="가스 아이콘">
                                <p>LNG</p>
                            </div>
                            <dl>
                                <dd>22 <span class="unit">Nm³/h</span></dd>
                            </dl>
                        </div>
                        <div class="databox elec">
                            <div class="icon-box">
                                <img src="/images/icon/ico-power.svg" alt="전력 아이콘">
                                <p>전력</p>
                            </div>
                        </div>
                        <div class="databox water">
                            <div class="icon-box">
                                <img src="/images/icon/ico-waterpump.png" alt="워퍼펌프 아이콘">
                                <p>온수</p>
                            </div>
                        </div>
                        <div class="databox calorie">
                            <dl>
                                <dt>열량</dt>
                                <dd>35 <span class="unit">MCal</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="fcbox-wrap fcbox-wrap1">
                        <div class="title">
                            FC #1 발전량
                        </div>
                        <div class="fcbox-group">
                            <div class="left">
                                <dl>
                                    <dt>AC전압</dt>
                                    <dd>99 V</dd>
                                </dl>
                                <dl>
                                    <dt>AC전류</dt>
                                    <dd>99 A</dd>
                                </dl>
                                <dl>
                                    <dt>주파수</dt>
                                    <dd>59.9 Hz</dd>
                                </dl>
                                <dl>
                                    <dt>역률</dt>
                                    <dd>98.9 %</dd>
                                </dl>
                            </div>
                            <div class="right">
                                <dl>
                                    <dt>무표전력</dt>
                                    <dd>99 kW</dd>
                                </dl>
                                <dl>
                                    <dt>수전전력</dt>
                                    <dd>99 kW</dd>
                                </dl>
                                <dl>
                                    <dt>송전전력</dt>
                                    <dd>99 kW</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="fcbox-wrap fcbox-wrap2">
                        <div class="title">
                            FC #1 상태
                        </div>
                        <div class="fcbox-group">
                            <dl>
                                <dt>운전상태</dt>
                                <dd>
                                    <p class="status-off">OFF</p>
                                </dd>
                                <dd>Operating</dd>
                            </dl>
                            <dl>
                                <dt></dt>
                                <dd>Standby</dd>
                                <dd>
                                    <p class="status-on">ON</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Control Unit</dt>
                                <dd>정상</dd>
                                <dd>비정상</dd>
                            </dl>
                            <dl>
                                <dt>가스누출</dt>
                                <dd>정상</dd>
                                <dd>비정상</dd>
                            </dl>
                            <dl>
                                <dt>고온정보</dt>
                                <dd>정상</dd>
                                <dd>비정상</dd>
                            </dl>
                            <dl>
                                <dt>계통연계</dt>
                                <dd>정상</dd>
                                <dd>비정상</dd>
                            </dl>
                            <dl>
                                <dt>열공급상태</dt>
                                <dd>정상</dd>
                                <dd>비정상</dd>
                            </dl>
                            <dl>
                                <dt>Fault</dt>
                                <dd>
                                    <span class="status-doton"></span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Alarm</dt>
                                <dd><span class="status-dotoff"></span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="cycle-wrap">
                        <div class="cycle cycle1">
                            98 kW
                        </div>
                        <div class="cycle cycle2">
                            60 ℃
                        </div>
                        <div class="cycle cycle3">
                            60 Nm³
                        </div>
                        <div class="cycle cycle4">
                            15 ℃
                        </div>
                    </div>
                </div>
            </section>
            <div class="col wp50">
                <section>
                    <div class="title-wrap">
                        <h3>시간대별 현황</h3>
                        <ul class="tab-links">
                            <li>
                                <a href="#tab1" title="title">title</a>
                            </li>
                            <li>
                                <a href="#tab2" title="title">title</a>
                            </li>
                            <li>
                                <a href="#tab3" title="title">title</a>
                            </li>
                            <li>
                                <a href="#tab4" title="title">title</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents">
                        <!-- tab1 -->
                        <div class="tab-item h280" id="tab1">
                            <div class="chart-wrap">
                                <img src="/images/sample/sample-chart.svg" alt="">
                            </div>
                        </div>
                        <!-- tab1 -->
                        <div class="tab-item h280" id="tab2">
                            <div class="chart-wrap">

                            </div>
                        </div>
                        <!-- tab1 -->
                        <div class="tab-item h280" id="tab3">
                            <div class="chart-wrap">

                            </div>
                        </div>
                        <!-- tab1 -->
                        <div class="tab-item h280" id="tab4">
                            <div class="chart-wrap">

                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="title-wrap">
                        <h3>발전/매출 현황</h3>
                    </div>
                    <div class="table-wrap">
                        <table class="view-table">
                            <caption>공지사항 테이블</caption>
                            <colgroup>
                                <col class="wp20">
                                <col class="wp20">
                                <col class="wp20">
                                <col class="wp20">
                                <col class="wp20">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>전기</th>
                                <th>열</th>
                                <th>수익(천원)</th>
                                <th>종효율(평균)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>일간</th>
                                <td>20 MWh</td>
                                <td>14 Mcal</td>
                                <td>76 천원</td>
                                <td>84.9 %</td>
                            </tr>
                            <tr>
                                <th>연간</th>
                                <td>20 MWh</td>
                                <td>14 Mcal</td>
                                <td>76 천원</td>
                                <td>84.9 %</td>
                            </tr>
                            <tr class="sum">
                                <th>누적</th>
                                <td>20 MWh</td>
                                <td>14 Mcal</td>
                                <td>76 천원</td>
                                <td>84.9 %</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div> <!--//layout-contents end -->
    <footer>
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
    </div> <!-- //dashboard-layout-right end-->

    </div> <!-- //dashboard-layout-contents end-->
    <!-- [대시보드] 팝업  -->
    <div class="dashboard-layout-popup">
        <div class="popup-overlay"></div>
        <div class="popup-wrapper wp80" id="popup1">
            <div class="popup-title">
                <h3>카드 수정</h3>
                <a title="팝업닫기" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="card-wrap card-edit-wrap">
                    <div class="gesture-box">
                        <img src="/images/icon/ico-gesture.png" alt="제스처 안내">
                    </div>
                    <section>
                        <div class="title">
                            <h3>INPUT</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>LNG사용량</dt>
                            <dd>
                                9,999 <span class="unit">Nm³</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="down"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section>
                        <div class="title">
                            <h3>Elec. OUTPUT</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>전기생산량</dt>
                            <dd>
                                9,999 <span class="unit">kWh</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="up"></span> 2.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section>
                        <div class="title">
                            <h3>Heat OUTPUT</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>열 생산량</dt>
                            <dd>
                                9,999 <span class="unit">Mcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="down"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section>
                        <div class="title">
                            <h3>F/C Efficiency</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>전기효율</dt>
                            <dd>
                                45.5 <span class="unit">%</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>열효율</dt>
                            <dd>
                                39.0 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section>
                        <div class="title">
                            <h3>INCOME</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>예상수익</dt>
                            <dd>
                                999,999 <span class="unit">원</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="up"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>

                    <section>
                        <div class="title">
                            <h3>Heat OUTPUT</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>열 생산량</dt>
                            <dd>
                                9,999 <span class="unit">Mcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="down"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section>
                        <div class="title">
                            <h3>F/C Efficiency</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>전기효율</dt>
                            <dd>
                                45.5 <span class="unit">%</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>열효율</dt>
                            <dd>
                                39.0 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section class="card-hidden">
                        <div class="title">
                            <h3>INCOME</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>예상수익</dt>
                            <dd>
                                999,999 <span class="unit">원</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="up"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                </div> <!--//swiper-wrapper end -->
            </div>
            <div class="popup-button">
                <button class="btn-popup-close">취소</button>
                <button class="btn-navy">저장</button>
            </div>
        </div>
    </div> <!-- //dashboard-layout-popup end -->

    </div> <!-- //page-wrapper end-->

    <script>
        var swiper = new Swiper(".card-swiper", {
            slidesPerView: 5,
            spaceBetween: 20,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <!--</body>-->
</th:block>
</html>
