<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>
    #chartModal .modal-content {
        width: 80vw;
        height: 80vh;
        max-width: 800px; /
        max-height: 600px;
    }
    #modalChartHolder {
        width: 100%;
        height: 100%;
    }

</style>
<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap" style="margin-bottom:0">
            <div class="left">
                <h2>관리자 Dashboard</h2><a id="toggleButton" onclick="toggleSearchWrap()"><img
                    src="/images/icon/ico-down.png"
                    alt="알람 아이콘"></a>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내 메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap" id="searchWrap" style="display: none; padding-top:10px">
            <ul>
                <li>
                    <select title="사업장" id="search_spjangcd" name="search_sjangcd"
                            onchange="init()">
                        <option value="" hidden selected disabled>선택</option>
                        <option value="ZZ">성우에스피(주)</option>
                        <option value="PP">성우피앤비(주)</option>
                        <!-- 지역 옵션을 JavaScript에서 동적으로 채움 -->
                    </select>
                </li>
            </ul>
        </div>
        <div class="row row-1" style="margin-bottom: 0;">
            <div class="card-wrap swiper card-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="request">
                            <div class="title">
                                <h3>주문등록</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전년대비 건수</dt>
                                <dd>
                                    <span class="up"></span> - <span class="unit">건</span>
                                </dd>
                            </dl>
<!--                            <dl>-->
<!--                                <dt>전일대비</dt>-->
<!--                                <dd>-->
<!--                                    <span class="down"></span> 1.20 <span class="unit">%</span>-->
<!--                                </dd>-->
<!--                            </dl>-->
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="check">
                            <div class="title">
                                <h3>주문확인</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전년대비 건수</dt>
                                <dd>
                                    <span class="up"></span> - <span class="unit">건</span>
                                </dd>
                            </dl>
                            <!--                            <dl>-->
                            <!--                                <dt>전일대비</dt>-->
                            <!--                                <dd>-->
                            <!--                                    <span class="down"></span> 1.20 <span class="unit">%</span>-->
                            <!--                                </dd>-->
                            <!--                            </dl>-->
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="order">
                            <div class="title">
                                <h3>주문확정</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전년대비 건수</dt>
                                <dd>
                                    <span class="up"></span> - <span class="unit">건</span>
                                </dd>
                            </dl>
<!--                            <dl>-->
<!--                                <dt>전일대비</dt>-->
<!--                                <dd>-->
<!--                                    <span class="up"></span> 2.20 <span class="unit">%</span>-->
<!--                                </dd>-->
<!--                            </dl>-->
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="product">
                            <div class="title">
                                <h3>제작진행</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전년대비 건수</dt>
                                <dd>
                                    <span class="up"></span> - <span class="unit">건</span>
                                </dd>
                            </dl>
<!--                            <dl>-->
<!--                                <dt>전일대비</dt>-->
<!--                                <dd>-->
<!--                                    <span class="down"></span> 1.20 <span class="unit">%</span>-->
<!--                                </dd>-->
<!--                            </dl>-->
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="delivery">
                            <div class="title">
                                <h3>출고</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>전년대비 건수</dt>
                                <dd>
                                    <span class="up"></span> - <span class="unit">건</span>
                                </dd>
                            </dl>
<!--                            <dl>-->
<!--                                <dt>열효율</dt>-->
<!--                                <dd>-->
<!--                                    39.0 <span class="unit">%</span>-->
<!--                                </dd>-->
<!--                            </dl>-->
                        </section>
                    </div>
                </div> <!--//swiper-wrapper end -->
            </div> <!--//main-card-wrap end -->
        </div>

      <div class="col wp100">
        <section style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 0;">
          <div class="title-wrap">
            <ul class="tab-links-sub">
              <li>
                <a href="#tab1" title="주문의뢰 건수"></a>
              </li>
              <li>
                <a href="#tab2" title="전년대비 건수"></a>
              </li>
              <li>
                <a href="#tab3" title="당월 건수"></a>
              </li>
              <li>
                <a href="#tab4" title="전월 건수"></a>
              </li>
            </ul>
          </div>

          <div class="tab-contents">
            <div class="tab-row" style="display: flex; width: 100%; gap: 20px; margin-bottom: 3px;">
              <section style="width: 50%; height: 260px; padding: 10px;">
                <div class="tab-item-sub" id="tab1" style="height: 100%">
                  <h5>올해 월별 건수</h5>
                  <!--<div class="chart-wrap">
                   &lt;!&ndash; <div id="chartHolder1"  style="width: 100%; height: 420px; padding-top: 13px"></div>&ndash;&gt;
                      <canvas id="revenueChart"></canvas>
                  </div>-->
                    <div class="chart-wrap" style="justify-content: normal;position: relative;height: 210px;">
                        <canvas id="revenueChart" width="740" height="185" style="width: 740px; height: 185px;"></canvas>
                        <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('revenueChart')">zoom_out_map</span>
                    </div>
                </div>
              </section>
              <section style="width: 50%; height: 260px; padding: 10px;">
                <div class="tab-item-sub" id="tab2" style="height: 100%">
                  <h5>작년 월별 건수</h5>
                 <!-- <div class="chart-wrap">
                    &lt;!&ndash;<div id="chartHolder2"  style="width: 100%; height: 420px; padding-top: 13px"></div>&ndash;&gt;
                      <canvas id="orderChart"></canvas>
                  </div>-->
                    <div class="chart-wrap" style="justify-content: normal;position: relative;height: 210px;">
                        <canvas id="orderChart" width="740" height="185" style="width: 740px; height: 185px;"></canvas>
                        <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('orderChart')">zoom_out_map</span>
                    </div>
                </div>
              </section>
            </div>
            <div class="tab-row" style="display: flex; width: 100%; gap: 20px; margin-bottom: 3px;">
              <section style="width: 50%; height: 260px; padding: 10px;">
                <div class="tab-item-sub" id="tab3" style="height: 100%">
                  <h5>당월 일별 건수</h5>
                  <!--<div class="chart-wrap">
                    &lt;!&ndash;<div id="chartHolder3"  style="width: 100%; height: 420px; padding-top: 13px"></div>&ndash;&gt;
                      <canvas id="estimateChart"></canvas>
                  </div>-->
                    <div class="chart-wrap" style="justify-content: normal;position: relative;height: 210px;">
                        <canvas id="estimateChart" width="740" height="185" style="width: 740px; height: 185px;"></canvas>
                        <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('estimateChart')">zoom_out_map</span>
                    </div>
                </div>
              </section>
              <section style="width: 50%; height: 260px; padding: 10px;">
                <div class="tab-item-sub" id="tab4" style="height: 100%">
                  <h5>전월 일별 건수</h5>
                  <!--<div class="chart-wrap">
                    &lt;!&ndash;<div id="chartHolder4"  style="width: 100%; height: 420px; padding-top: 13px"></div>&ndash;&gt;
                      <canvas id="requestChart"></canvas>
                  </div>-->
                    <div class="chart-wrap" style="justify-content: normal;position: relative;height: 210px;">
                        <canvas id="requestChart" width="740" height="185" style="width: 740px; height: 185px;"></canvas>
                        <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('requestChart')">zoom_out_map</span>
                    </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>
    </div> <!--//layout-contents end -->
    <footer>
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
    </div>

    <div style="height: 10px"></div>

    <div id="chartModal" class="modal" style="opacity:100">
        <div class="modal-content">
            <span class="close">&times;</span>
            <canvas id="modalChartHolder" style="width: 1292px; height: 474px; box-sizing: border-box; display: block;" width="1292" height="474"></canvas>
        </div>
    </div>



</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        // 차트 데이터 설정
        const revenueData = {
            labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            datasets: [{
                data: [12, 15, 18, 21, 24, 27, 15, 16, 16, 19, 22, 25],
                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                borderColor: 'rgba(98, 178, 253, 1)',
                borderWidth: 1
            }]
        };

        const orderData = {
            labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            datasets: [{
                data: [1000, 1200, 1500, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3500],
                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                borderColor: 'rgba(98, 178, 253, 1)',
                borderWidth: 1
            }]
        };

        const estimateData = {
            labels: ["1일", "2일", "3일", "4일", "5일", "6일", "7일", "8일", "9일", "10일"
                , "11일", "12일", "13일", "14일", "15일", "16일", "17일", "18일", "19일", "20일"
                , "21일", "22일", "23일", "24일", "25일", "26일", "27일", "28일", "29일", "30일"],
            datasets: [{
                data: [700, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400
                    , 2600, 2800, 700, 800, 1000, 1200, 1400, 1600, 1800, 2000
                    , 2600, 2800, 700, 800, 1000, 1200, 1400, 1600, 1800, 2000],
                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                borderColor: 'rgba(98, 178, 253, 1)',
                borderWidth: 1
            }]
        };

        const requestData = {
            labels: ["1일", "2일", "3일", "4일", "5일", "6일", "7일", "8일", "9일", "10일"
                , "11일", "12일", "13일", "14일", "15일", "16일", "17일", "18일", "19일", "20일"
                , "21일", "22일", "23일", "24일", "25일", "26일", "27일", "28일", "29일", "30일"],
            datasets: [{
                data: [700, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400
                    , 2600, 2800, 700, 800, 1000, 1200, 1400, 1600, 1800, 2000
                    , 2600, 2800, 700, 800, 1000, 1200, 1400, 1600, 1800, 2000],
                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                borderColor: 'rgba(98, 178, 253, 1)',
                borderWidth: 1
            }]
        };

        // 차트 생성 함수
        function createCharts() {
            const ctxRevenue = document.getElementById('revenueChart').getContext('2d');
            const ctxOrder = document.getElementById('orderChart').getContext('2d');
            const ctxEstimate = document.getElementById('estimateChart').getContext('2d');
            const ctxRequest = document.getElementById('requestChart').getContext('2d');

            // 기존 차트 인스턴스가 있으면 제거
            if ($('#revenueChart').data('chart')) {
                $('#revenueChart').data('chart').destroy();
            }
            if ($('#orderChart').data('chart')) {
                $('#orderChart').data('chart').destroy();
            }
            if ($('#estimateChart').data('chart')) {
                $('#estimateChart').data('chart').destroy();
            }
            if ($('#requestChart').data('chart')) {
                $('#requestChart').data('chart').destroy();
            }

            // 차트 생성 후 인스턴스를 data 속성에 저장
            $('#revenueChart').data('chart', new Chart(ctxRevenue, {
                type: 'bar',
                data: revenueData,
                options: {
                    plugins: {
                        legend: {
                            display: false // 범례 비활성화
                        }
                    },
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            }));

            $('#orderChart').data('chart', new Chart(ctxOrder, {
                type: 'bar',
                data: orderData,
                options: {
                    plugins: {
                        legend: {
                            display: false // 범례 비활성화
                        }
                    },
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            }));

            $('#estimateChart').data('chart', new Chart(ctxEstimate, {
                type: 'bar',
                data: estimateData,
                options: {
                    plugins: {
                        legend: {
                            display: false // 범례 비활성화
                        }
                    },
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            }));

            $('#requestChart').data('chart', new Chart(ctxRequest, {
                type: 'bar',
                data: requestData,
                options: {
                    plugins: {
                        legend: {
                            display: false // 범례 비활성화
                        }
                    },
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            }));
        }
        // 모달 열기 함수
        function openModal(chartId) {
            // 아이콘 숨기기
            document.querySelector('.material-symbols-outlined').style.display = 'none';

            let chartInstance = $(`#${chartId}`).data('chart'); // 클릭된 차트의 인스턴스 가져오기
            if (!chartInstance) {
                console.error("차트를 찾을 수 없습니다.");
                return;
            }

            // 모달 열기
            let modal = $('#chartModal');
            modal.show();

            // 모달 캔버스 컨텍스트 가져오기
            let modalChartHolder = $('#modalChartHolder')[0].getContext('2d');
            // 기존 모달 차트가 있으면 삭제 후 생성 (중복 생성 방지)
            if (window.modalChartInstance) {
                window.modalChartInstance.destroy();
            }

            // 약간의 지연 후 차트 생성하여 크기 문제 해결
            setTimeout(() => {
                window.modalChartInstance = new Chart(modalChartHolder, {
                    type: chartInstance.config.type,
                    data: chartInstance.config.data,
                    options: {
                        ...chartInstance.config.options,
                        responsive: true,
                        maintainAspectRatio: false // 모달 크기에 맞추도록 설정
                    }
                });

                // 강제로 리사이즈하여 모달의 크기 맞춤
                window.modalChartInstance.resize();
            }, 3); // 지연 시간 조정
        }
        // 페이지 로드 후 모든 차트 생성 및 이벤트 바인딩
        $(document).ready(function () {
            createCharts(); // 모든 차트를 생성하고 인스턴스 저장

            // 모달 닫기 이벤트
            $(document).on('click', '.close', function () {
                $('#chartModal').hide();
                if (window.modalChartInstance) {
                    window.modalChartInstance.destroy();
                    window.modalChartInstance = null; // 인스턴스 초기화
                }
            });

            // 모달 외부 클릭 시 닫기
            $(window).on('click', function (event) {
                if ($(event.target).is('#chartModal')) {
                    $('#chartModal').hide();
                    if (window.modalChartInstance) {
                        window.modalChartInstance.destroy();
                        window.modalChartInstance = null; // 인스턴스 초기화
                    }
                    document.querySelector('.material-symbols-outlined').style.display = 'inline'; // 아이콘 다시 보이기
                }
            });
        });

        let csrfToken = $("[name=_csrf]").val();

        var swiper = new Swiper(".card-swiper", {
            slidesPerView: 5,
            spaceBetween: 20,
            loop: true,
            speed: 600,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        document.readyState === 'complete' ? init() : window.onload = init;
        let isBindSpjangcdCalled = false;
        // document.getElementById('search_spjangcd')를 기준으로 페이지 reload
        function init() {
            searchData()
            if (!isBindSpjangcdCalled) {
                bindSpjangcd();
                isBindSpjangcdCalled = true; // 플래그 업데이트
            }
        }
        // 전체 데이터 불러오기
        function searchData(){
            let data2 = [];
            const ctxRevenue = document.getElementById('revenueChart').getContext('2d');
            const ctxOrder = document.getElementById('orderChart').getContext('2d');
            const ctxEstimate = document.getElementById('estimateChart').getContext('2d');
            const ctxRequest = document.getElementById('requestChart').getContext('2d');

            // 기존 차트 인스턴스가 있으면 제거
            if ($('#revenueChart').data('chart')) {
                $('#revenueChart').data('chart').destroy();
            }
            if ($('#orderChart').data('chart')) {
                $('#orderChart').data('chart').destroy();
            }
            if ($('#estimateChart').data('chart')) {
                $('#estimateChart').data('chart').destroy();
            }
            if ($('#requestChart').data('chart')) {
                $('#requestChart').data('chart').destroy();
            }
            $.ajax({
                url: '/api/dashboard2/LastYearCnt',
                type: 'GET',
                data: {
                    'search_spjangcd': $('#search_spjangcd').val()
                },
                async: false,
                success: function (data) {
                    data2 = data.data;
                    console.log("data2 : ", data2);

                    // 차트 작업
                    // 올해 월별 데이터(전월로 바꿔야함)
                    let ThisYearCntOfMonth = data2.ThisYearCntOfMonth;
                    // X축 레이블과 Y축 데이터 생성
                    const ThisMonth = ThisYearCntOfMonth.map(item => item.Month.slice(-2) + '월');
                    const ThisMonthCnt = ThisYearCntOfMonth.map(item => item.TotalCount); // TotalCount
                    // 새로운 차트 데이터
                    const revenueData = {
                        labels: ThisMonth,
                        datasets: [{
                            data: ThisMonthCnt,
                            backgroundColor: 'rgba(98, 178, 253, 0.5)',
                            borderColor: 'rgba(98, 178, 253, 1)',
                            borderWidth: 1
                        }]
                    };
                    // 차트 생성 후 인스턴스를 data 속성에 저장
                    $('#revenueChart').data('chart', new Chart(ctxRevenue, {
                        type: 'bar',
                        data: revenueData,
                        options: {
                            plugins: {
                                legend: {
                                    display: false // 범례 비활성화
                                }
                            },
                            scales: {
                                y: { beginAtZero: true }
                            }
                        }
                    }));
                    // 작년 월별 데이터
                    let LastYearCntOfMonth = data2.LastYearCntOfMonth;
                    // X축 레이블과 Y축 데이터 생성
                    const LastMonth = LastYearCntOfMonth.map(item => item.Month.slice(-2) + '월');
                    const LastMonthCnt = LastYearCntOfMonth.map(item => item.TotalCount); // TotalCount
                    // 새로운 차트 데이터
                    const orderData = {
                        labels: LastMonth,
                        datasets: [{
                            data: LastMonthCnt,
                            backgroundColor: 'rgba(98, 178, 253, 0.5)',
                            borderColor: 'rgba(98, 178, 253, 1)',
                            borderWidth: 1
                        }]
                    };
                    // 차트 생성 후 인스턴스를 data 속성에 저장
                    $('#orderChart').data('chart', new Chart(ctxOrder, {
                        type: 'bar',
                        data: orderData,
                        options: {
                            plugins: {
                                legend: {
                                    display: false // 범례 비활성화
                                }
                            },
                            scales: {
                                y: { beginAtZero: true }
                            }
                        }
                    }));

                    // 올해 당월 일별 데이터
                    let ThisMonthCntOfDate = data2.ThisMonthCntOfDate;
                    // X축 레이블과 Y축 데이터 생성
                    const ThisDate = ThisMonthCntOfDate.map(item => item.Day.slice(-2) + '일');
                    const ThisDateCnt = ThisMonthCntOfDate.map(item => item.TotalCount); // TotalCount
                    // 새로운 차트 데이터
                    const estimateData = {
                        labels: ThisDate,
                        datasets: [{
                            data: ThisDateCnt,
                            backgroundColor: 'rgba(98, 178, 253, 0.5)',
                            borderColor: 'rgba(98, 178, 253, 1)',
                            borderWidth: 1
                        }]
                    };
                    // 차트 생성 후 인스턴스를 data 속성에 저장
                    $('#estimateChart').data('chart', new Chart(ctxEstimate, {
                        type: 'bar',
                        data: estimateData,
                        options: {
                            plugins: {
                                legend: {
                                    display: false // 범례 비활성화
                                }
                            },
                            scales: {
                                y: { beginAtZero: true }
                            }
                        }
                    }));

                    // 전월 일별 데이터
                    let LastMonthCntOfDate = data2.LastMonthCntOfDate;
                    // X축 레이블과 Y축 데이터 생성
                    const LastDate = LastMonthCntOfDate.map(item => item.Day.slice(-2) + '일');
                    const LastDateCnt = LastMonthCntOfDate.map(item => item.TotalCount); // TotalCount
                    // 새로운 차트 데이터
                    const requestData = {
                        labels: LastDate,
                        datasets: [{
                            data: LastDateCnt,
                            backgroundColor: 'rgba(98, 178, 253, 0.5)',
                            borderColor: 'rgba(98, 178, 253, 1)',
                            borderWidth: 1
                        }]
                    };
                    // 차트 생성 후 인스턴스를 data 속성에 저장
                    $('#requestChart').data('chart', new Chart(ctxRequest, {
                        type: 'bar',
                        data: requestData,
                        options: {
                            plugins: {
                                legend: {
                                    display: false // 범례 비활성화
                                }
                            },
                            scales: {
                                y: { beginAtZero: true }
                            }
                        }
                    }));

                    // 카드 작업
                    // 작년 상태값별 데이터
                    let LastYearCnt = data2.LastYearCnt;
                    // 올해 상태값별 데이터
                    let ThisYearCnt = data2.ThisYearCnt;
                    // ordflag가 0인 TotalCount 추출
                    const lastYearCountOf0 = LastYearCnt.find(item => item.ordflag === '0')?.TotalCount || 0;
                    const thisYearCountOf0 = ThisYearCnt.find(item => item.ordflag === '0')?.TotalCount || 0;
                    // 두 값의 차이 계산
                    const difference0 = thisYearCountOf0 - lastYearCountOf0;
                    // 결과를 HTML에 업데이트
                    const requestSection = document.querySelector('.request dl dd');
                    if(difference0 >= 0) {
                        requestSection.innerHTML = `<span class="up"></span> ${difference0} <span class="unit">건</span>`;
                    }else{
                        requestSection.innerHTML = `<span class="down"></span> ${difference0} <span class="unit">건</span>`;
                    }
                    // ordflag가 1인 TotalCount 추출
                    const lastYearCountOf1 = LastYearCnt.find(item => item.ordflag === '1')?.TotalCount || 0;
                    const thisYearCountOf1 = ThisYearCnt.find(item => item.ordflag === '1')?.TotalCount || 0;
                    const difference1 = thisYearCountOf1 - lastYearCountOf1;
                    const checkSection = document.querySelector('.check dl dd');
                    if(difference1 >= 0) {
                        checkSection.innerHTML = `<span class="up"></span> ${difference1} <span class="unit">건</span>`;
                    }else {
                        checkSection.innerHTML = `<span class="down"></span> ${difference1} <span class="unit">건</span>`;
                    }
                    // ordflag가 2인 TotalCount 추출
                    const lastYearCountOf2 = LastYearCnt.find(item => item.ordflag === '2')?.TotalCount || 0;
                    const thisYearCountOf2 = ThisYearCnt.find(item => item.ordflag === '2')?.TotalCount || 0;
                    const difference2 = thisYearCountOf2 - lastYearCountOf2;
                    const orderSection = document.querySelector('.order dl dd');
                    if(difference2 >= 0) {
                        orderSection.innerHTML = `<span class="up"></span> ${difference2} <span class="unit">건</span>`;
                    }else {
                        orderSection.innerHTML = `<span class="down"></span> ${difference2} <span class="unit">건</span>`;
                    }
                    // ordflag가 3인 TotalCount 추출
                    const lastYearCountOf3 = LastYearCnt.find(item => item.ordflag === '3')?.TotalCount || 0;
                    const thisYearCountOf3 = ThisYearCnt.find(item => item.ordflag === '3')?.TotalCount || 0;
                    const difference3 = thisYearCountOf3 - lastYearCountOf3;
                    const productSection = document.querySelector('.product dl dd');
                    if(difference3 >= 0) {
                        productSection.innerHTML = `<span class="up"></span> ${difference3} <span class="unit">건</span>`;
                    }else {
                        productSection.innerHTML = `<span class="down"></span> ${difference3} <span class="unit">건</span>`;
                    }
                    // ordflag가 4인 TotalCount 추출
                    const lastYearCountOf4 = LastYearCnt.find(item => item.ordflag === '4')?.TotalCount || 0;
                    const thisYearCountOf4 = ThisYearCnt.find(item => item.ordflag === '4')?.TotalCount || 0;
                    const difference4 = thisYearCountOf4 - lastYearCountOf4;
                    const deliverySection = document.querySelector('.delivery dl dd');
                    if(difference4 >= 0){
                        deliverySection.innerHTML = `<span class="up"></span> ${difference4} <span class="unit">건</span>`;
                    }else {
                        deliverySection.innerHTML = `<span class="down"></span> ${difference4} <span class="unit">건</span>`;
                    }
                }
            })
        }
        function bindSpjangcd() {
            $.ajax({
                url: '/api/dashboard2/bindSpjangcd',
                type: 'GET',
                async: false,
                success: function (data) {
                    data2 = data.data;
                    const selectElement = document.getElementById('search_spjangcd');
                    if (selectElement) {
                        selectElement.value = data2; // value 속성으로 선택
                    }
                }
            })
        }


    </script>
</th:block>
</html>