<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>로봇 모니터링</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>모니터링</li>
                <li>로봇 모니터링</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
            <div class="">
                <a href="#" title="카드설정" class="btn">
                    <img src="/images/icon/ico-robot.svg" alt="로봇 아이콘">
                    로봇관제화면연결
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-1 wp70 mg-r20">
                <section>
                    <div class="title-wrap">
                        <h3>운영로봇</h3>
                        <div class="btn-wrap">
                            <div class="srch-box">
                                <div class="input-clear">
                                    <input type="text" id="text1" class="input-srch" placeholder="점검자명 검색"><span
                                        class="btn-clear">×</span>
                                </div>
                                <a href="#a" class="btn-srch" title="검색"></a>
                            </div>
                            <select id="select1">
                                <option>All followers</option>
                            </select>
                        </div>
                    </div>
                    <div class="section-cont">
                        <ul class="robot-operation toggle-group">
                            <li data-robot-id="nc0001">
                                <div class="top">
                                    <div class="left">
                                        <p class="robot-on">ON</p>
                                        <h4>R#001</h4>
                                    </div>
                                    <div class="right battery-wrap">
                                        <div class="battery">
                                            <div class="battery-level">
                                                <!-- 충전중 :  charging class 추가 -->
                                                <div class="charging-indicator"></div>
                                            </div>
                                            <div class="battery-cap"></div>
                                        </div>
                                        <p class="battery-num"></p>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <img src="/images/icon/robot.svg" alt="로봇 이미지">
                                </div>
                            </li>
                            <li class="on" data-robot-id="nc0002">
                                <div class="top">
                                    <div class="left">
                                        <p class="robot-on">ON</p>
                                        <h4>R#002</h4>
                                    </div>
                                    <div class="right battery-wrap">
                                        <div class="battery">
                                            <div class="battery">
                                                <div class="battery-level">
                                                    <div class="charging-indicator"></div>
                                                </div>
                                                <div class="battery-cap"></div>
                                            </div>
                                            <div class="battery-cap"></div>
                                        </div>
                                        <p class="battery-num"></p>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <img src="/images/icon/robot.svg" alt="로봇 이미지">
                                </div>
                            </li>
                            <li data-robot-id="nc0003">
                                <div class="top">
                                    <div class="left">
                                        <p class="robot-off">OFF</p>
                                        <h4>R#003</h4>
                                    </div>
                                    <div class="right battery-wrap">
                                        <div class="battery">
                                            <div class="battery-level">
                                                <div class="charging-indicator"></div>
                                            </div>
                                            <div class="battery-cap"></div>
                                        </div>
                                        <p class="battery-num"></p>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <img src="/images/icon/robot.svg" alt="로봇 이미지">
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div class="title-wrap mg-b10">
                        <div class="left">
                            <h3 class="mg-r10">R#002(NC0001)</h3>
                            <span class="sta-blue">MOVE</span>
                        </div>
                        <div class="right">
                            <p class="robot-on">
                                <img src="/images/icon/ico-bt-power.svg" alt="전원아이콘">
                                ON
                            </p>
                            <div class="battery-wrap mg-l10">
                                <div class="battery">
                                    <div class="battery">
                                        <div class="battery-level">
                                            <div class="charging-indicator"></div>
                                        </div>
                                        <div class="battery-cap"></div>
                                    </div>
                                    <div class="battery-cap"></div>
                                </div>
                                <p class="battery-num">50</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="view-table">
                            <caption>운영로봇 상세 테이블</caption>
                            <colgroup>
                                <col class="wp15">
                                <col class="wp15">
                                <col class="wp15">
                                <col class="wp15">
                                <col class="wp15">
                                <col class="wp15">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>PositionName</th>
                                <td>F/C #1</td>
                                <th>PositionType</th>
                                <td>대피소</td>
                                <th>PositionStatus</th>
                                <td>Started</td>
                            </tr>
                            <tr>
                                <th>목적지</th>
                                <td>F/C #2</td>
                                <th>도착예정시간</th>
                                <td>14:20</td>
                                <th>남은거리</th>
                                <td>10m</td>
                            </tr>
                            <tr>
                                <th>이동속도</th>
                                <td>1m/s</td>
                                <th>AI 감지 된 사람 수</th>
                                <td>1</td>
                                <th>사람혼잡도</th>
                                <td>QUIET (1~3명) 한산</td>
                            </tr>
                            <tr>
                                <th>전방등상태</th>
                                <td>O</td>
                                <th>후방등 상태</th>
                                <td>O</td>
                                <th>라이다모터</th>
                                <td>O</td>
                            </tr>
                            <tr>
                                <th>비상등</th>
                                <td>O</td>
                                <th>도어</th>
                                <td>대피소</td>
                                <th>Gas 농도</th>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th>미세먼지 농도</th>
                                <td>1ug/m3</td>
                                <th>온도</th>
                                <td>12℃</td>
                                <th>습도</th>
                                <td>45%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="col col-2 wp30">
                <section>
                    <div class="title-wrap">
                        <h3>로봇이벤트 발생현황</h3>
                        <div class="btn-wrap">
                            <a title="더보기" class="btn-plus btn-popup-open" data-popup="popup1"></a>
                        </div>
                    </div>
                    <div class="robot-event">
                        <ul>
                            <li>
                                <div class="event-img">
                                    <img src="/images/icon/robot/ico-robotevent03.svg" alt="Fall">
                                    <p>Fall</p>
                                </div>
                                <dl class="event-text">
                                    <dt>R#002</dt>
                                    <dd>24.07.03 12:10</dd>
                                    <dd>Which landing pages with over 10 sessions have the worst bounce rates?</dd>
                                </dl>
                            </li>
                            <li>
                                <div class="event-img">
                                    <img src="/images/icon/robot/ico-robotevent04.svg" alt="Fall">
                                    <p>Fire</p>
                                </div>
                                <dl class="event-text">
                                    <dt>R#001</dt>
                                    <dd>24.07.03 12:10</dd>
                                    <dd>Which landing pages with over 10 sessions have the worst bounce rates?</dd>
                                </dl>
                            </li>
                            <li>
                                <div class="event-img">
                                    <img src="/images/icon/robot/ico-robotevent09.svg" alt="Fall">
                                    <p>Fire<br>Extinguisher</p>
                                </div>
                                <dl class="event-text">
                                    <dt>R#002</dt>
                                    <dd>24.07.03 12:10</dd>
                                    <dd>Which landing pages with over 10 sessions have the worst bounce rates?</dd>
                                </dl>
                            </li>
                            <li>
                                <div class="event-img">
                                    <img src="/images/icon/robot/ico-robotevent01.svg" alt="Fall">
                                    <p>Mask</p>
                                </div>
                                <dl class="event-text">
                                    <dt>R#001</dt>
                                    <dd>24.07.03 12:10</dd>
                                    <dd>Which landing pages with over 10 sessions have the worst bounce rates?</dd>
                                </dl>
                            </li>
                            <li>
                                <div class="event-img">
                                    <img src="/images/icon/robot/ico-robotevent14.svg" alt="Fall">
                                    <p>Scream</p>
                                </div>
                                <dl class="event-text">
                                    <dt>R#003</dt>
                                    <dd>24.07.03 12:10</dd>
                                    <dd>Which landing pages with over 10 sessions have the worst bounce rates?</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div> <!--//layout-contents end -->
    <footer>
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
    <!-- [대시보드] 팝업  -->
    <div class="dashboard-layout-popup">
        <div class="popup-overlay"></div>
        <div class="popup-wrapper" id="popup1">
            <div class="popup-title">
                <h3>알림</h3>
                <a title="팝업닫기" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="popup-robot-alarm">
                    <div>
                        <h4>R#001</h4>
                        <p class="time">발생시간 : 2024.04.08 12:05</p>
                    </div>
                    <div class="event-img">
                        <img src="/images/icon/robot/ico-robotevent04.svg" alt="Fall">
                        <p>Fire</p>
                    </div>
                    <p>Which landing pages with over 10 sessions have the worst bounce rates?</p>
                </div>
            </div>
            <div class="popup-button">
                <button class="btn-navy btn-popup-close">확인</button>
            </div>
        </div>
    </div> <!-- //dashboard-layout-popup end -->


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const batteryItems = document.querySelectorAll('.battery-wrap');

            batteryItems.forEach(item => {
                const batteryLevelElement = item.querySelector('.battery-level');
                const chargingIndicatorElement = item.querySelector('.charging-indicator');
                const batteryNumElement = item.querySelector('.battery-num');
                const batteryLevel = parseInt(batteryNumElement.textContent, 10);

                updateBatteryLevel(batteryLevelElement, chargingIndicatorElement, batteryNumElement, batteryLevel, chargingIndicatorElement.classList.contains('charging'));
            });

            var ws = new WebSocket('ws://localhost:8060/websocket');
            ws.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.log("Received data:", data);

                var robotElement = document.querySelector(`li[data-robot-id='${data.robotId}']`);
                if (robotElement) {
                    var batteryStatus = parseInt(data.batteryStatus, 10);
                    if (isNaN(batteryStatus)) {
                        batteryStatus = 0; // 기본값을 0으로 설정 또는 원하는 기본값으로 설정
                    }
                    var isCharging = data.chargingIndicator === "charging";
                    const batteryLevelElement = robotElement.querySelector('.battery-level');
                    const chargingIndicatorElement = robotElement.querySelector('.charging-indicator');
                    const batteryNumElement = robotElement.querySelector('.battery-num');

                    // updateBatteryLevel 함수를 호출하여 배터리 레벨과 충전 상태를 업데이트합니다.
                    updateBatteryLevel(batteryLevelElement, chargingIndicatorElement, batteryNumElement, batteryStatus, isCharging);
                }
            };

            ws.onopen = function() {
                console.log('WebSocket connection opened');
            };

            ws.onclose = function() {
                console.log('WebSocket connection closed');
            };

            ws.onerror = function(error) {
                console.log('WebSocket error: ' + error);
            };

            // updateBatteryLevel 함수 정의 (ui.js 파일에 정의된 함수와 동일하게)
            function updateBatteryLevel(batteryLevelElement, chargingIndicatorElement, batteryNumElement, level, isCharging) {
                batteryLevelElement.style.width = level + '%';
                batteryNumElement.textContent = level + '%'; // 배터리 잔량 숫자로 표기

                // 충전 중일 때 배터리 컬러 변경
                if (isCharging) {
                    batteryLevelElement.style.backgroundColor = '#19D7B4';
                    chargingIndicatorElement.classList.add('charging');
                } else {
                    chargingIndicatorElement.classList.remove('charging');
                    // 배터리 상태에 따라 색상을 변경
                    if (level > 50) {
                        batteryLevelElement.style.backgroundColor = '#00FF00'; // 녹색
                    } else if (level > 20) {
                        batteryLevelElement.style.backgroundColor = '#FFFF00'; // 노란색
                    } else {
                        batteryLevelElement.style.backgroundColor = '#FF0000'; // 빨간색
                    }
                }
            }
        });


    </script>

</th:block>
</html>
