<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>사용자권한신청조회</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>사용자권한신청조회</li>
            </ul>
        </div>
        <!-- Select -->

        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록" id="listTabLink">목록</a>
                </li>
                <li>
                    <a href="#tab2" title="승인" id="inputTabLink">승인</a>
                </li>
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    신청기간
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="searchfrdate" name="searchfrdate">
                                            <label for="searchfrdate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="searchtodate" name="searchtodate">
                                            <label for="searchtodate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>


                            <dl>
                                <dt>
                                    <label for="flag">
                                        승인여부
                                    </label>
                                </dt>
                                <dd>
                                    <ul>
                                        <li>
                                            <select id="flag" class="w120">
                                                <option value="">전체</option>
                                                <option value="Y">승인</option>
                                                <option value="N">미승인</option>
                                            </select>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>


                            <dl>
                                <dt>
                                    <label for="searchusr">
                                        신청자명
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="searchusr" name="searchusr" class="input-srch" placeholder="신청자명 검색">
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="searchuserid">
                                        ID
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="searchuserid" name="searchuserid" class="input-srch" placeholder="아이디 검색">
                                        <a  class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()"></a>
                                    </div>
                                </dd>
                            </dl>

                        </div>
                        <div class="button-wrap">
                            <ul>

                                <li>
                                    <a  class="btn btn-delete" title="승인" id="btnAppr">
                                        <img src="/images/icon/ico-save.svg" alt="엑셀 아이콘">
                                        승인
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="삭제" id="btnDelete">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>
                <!-- Section -->
                <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>사용자권한 승인</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="write-table">
                            <caption>사용자권한신청조회 승인 테이블</caption>
                            <colgroup>
                                <col class="wp12">
                                <col class="wp40">
                                <col class="wp12">
                                <col class="wp40">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="agency">
                                       소속사
                                    </label>
                                </th>
                                <td>
                                    <select id="agency" disabled name="agency">

                                    </select>
                                    <input type="hidden" id="userid" name="userid" readonly>

                                </td>

                                <th>
                                    <label for="divinm">
                                        소속부서
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="divinm" name="divinm" class="wp100" readonly>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="rank">
                                        직급
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="rank" name="rank" class="wp100" placeholder="직급" readonly>
                                </td>
                                <th>
                                    <label for="tel">
                                        핸드폰 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="tel" name="tel" class="wp100" readonly>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="email">
                                      이메일
                                    </label>
                                </th>
                                <td>
                                    <div class="input-btnbox">
                                        <input type="text" id="email" name="email" class="wp100" readonly>
                                    </div>
                                </td>
                                <th>
                                    <label for="usernm">
                                        성명 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="usernm" name="usernm" class="wp100"  readonly>
                                </td>
                            </tr>


                            <tr>
                                <th>
                                    <label for="authType">
                                       권한그룹
                                    </label>
                                </th>
                                <td>
                                    <ul>
                                        <li>
                                            <select id="authType" disabled name="authType">

                                            </select>
                                        </li>
                                    </ul>
                                </td>
                                <th>
                                    <label>
                                      권한상세
                                    </label>
                                </th>
                                <td>
                                    <ul id="dataList">
                                        <li>
                                            <!--<input type="text" id="spworknm" name="spworknm" class="w150" readonly>
                                            <input type="text" id="spcompnm" name="spcompnm" class="w150" readonly>
                                            <input type="text" id="spplannm" name="spplannm" class="w150" readonly>-->
                                        </li>
                                    </ul>
                                </td>
                            </tr>


                            <tr>
                                <th>
                                    <label for="reason">
                                        신청사유
                                    </label>
                                </th>
                                <td colspan="3">
                                    <div class="input-btnbox">
                                        <input type="text" id="reason" name="reason" class="wp100"  placeholder="유지보수" readonly>
                                    </div>
                                </td>

                            </tr>


                            <tr>
                                <th>
                                    <label for="appflag">
                                        승인
                                    </label>
                                </th>
                                <td>
                                    <ul>
                                        <li>
                                            <select class="w120" id="appflag">
                                                <option value="Y">승인</option>
                                                <option value="N">미승인</option>
                                            </select>
                                        </li>
                                    </ul>
                                </td>
                                <th>
                                    <label for="appdatem">
                                        승인일시
                                    </label>
                                </th>
                                <td>
                                    <div class="input-btnbox">
                                        <input type="text" id="appdatem" name="appdatem" class="wp100" readonly>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->
</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        let selectedFiles = [];
        let SelectItem;
        let csrfToken = $("[name=_csrf]").val();

        let columns = [
            { binding: 'askdatem', header: '신청일자', align: 'center', width:"*"},
            { binding: 'agencynm', header: '소속사', align: 'center', width:"*"},
            { binding: 'divinm', header: '부서', align: 'center', width: 200 },
            { binding: 'ranknm', header: '직급', align: 'center', width: 140 },
            { binding: 'usernm', header: '성명', align: 'center', width: 200 },
            { binding: 'authgrpcd', header: '권한그룹', align: 'center', width: "*", visible: false },
            { binding: 'userid', header: '아아디', align: 'center', width: 200 },
            { binding: 'agencycd', header: '회사', align: 'center', width: 230 },


            { binding: 'appdatem', header: '승인일자', align: 'center', width: "*" },
            { binding: 'askreason', header: '신청사유', align: 'center', width: "*", visible: false },
            { binding: 'userhp', header: '핸드폰', align: 'center', width: "*", visible: false },
            { binding: 'usermail', header: '이메일', align: 'center', width: "*", visible: false },
            { binding: 'appflag', header: '승인여부', align: 'center', width: "*", visible: false },
            { binding: 'spworknm', header: '관리대상발전시설명', align: 'center', width: "*", visible: false },
            { binding: 'spcompnm', header: '관리대상발전산단명', align: 'center', width: "*", visible: false },
            { binding: 'spplannm', header: '관리대상발전소명', align: 'center', width: "*", visible: false },
       ]


        function submitTextarea(event){
            let key = event.key || event.keyCode;

            if(key === 'Enter' || key === 13){
                searchData();
            }
        }

        let searchusrval = document.getElementById('searchuserid');
        searchusrval.addEventListener('keyup', event => submitTextarea(event))


        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let searchusr = $('#searchusr').val();
            let searchfrdate = $('#searchfrdate').val();
            let searchtodate = $('#searchtodate').val();

            $.ajax({
                url: '/api/system/auth_list/read',
                type: 'GET',
                data: {
                    'searchusr' : searchusr,
                    'searchfrdate' : searchfrdate,
                    'searchtodate' : searchtodate
                },
                async: false,
                success: function(data){

                    let DataLength = 10 - data.data.length;

                    if(data.data.length < 10){

                        for(let i=0; i < DataLength; i++){
                            data.data.push('empty');
                        }
                    }
                    data2 = data.data;

                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);

            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                columns: columns,
                allowSorting: 'MultiColumn',
                selectionMode: 'ListBox',
                itemsSource: viewdata
            });

            console.log('grid', theGrid.columns)

            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: (e, ctx) => {
                    SelectItem = theGrid.rows.filter(r => r.isSelected);

                }
            })
        }
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        let page = null;

        //검색
        function searchData(){
            let data = {
                'searchusr' : $('#searchusr').val(),
                'searchfrdate': $('#searchfrdate').val(),
                'searchtodate': $('#searchtodate').val(),
                'searchflag' : $('#flag').val(),
                'searchuserid' : $('#searchuserid').val()
            }

            let result =  AjaxUtil.getSyncData('/api/system/auth_list/read', data);

            if(result.success){
                console.log(result.data);

                let DataLength = 10 - result.data.length;

                if(result.data.length < 10){
                    for(let i=0; i < DataLength; i++){
                        result.data.push('empty');
                    }
                }

                grid_binding(result.data);
            }
        }

        function grid_binding(data){
            var inspecDto = data;
            var inspecData = [];
            var cnt = 1;
            for (var i = 0; i < inspecDto.length; i++) {
                inspecData.push({
                    userid : inspecDto[i]["userid"],
                    agencycd: inspecDto[i]["agencycd"],
                    divinm: inspecDto[i]["divinm"],
                    ranknm: inspecDto[i]["ranknm"],
                    usernm: inspecDto[i]["usernm"],
                    askdatem: inspecDto[i]["askdatem"],
                    appdatem: inspecDto[i]["appdatem"],
                    askreason: inspecDto[i]["askreason"],
                    userhp: inspecDto[i]["userhp"],
                    usermail: inspecDto[i]["usermail"],
                    authgrpcd: inspecDto[i]["authgrpcd"],
                    appflag: inspecDto[i]["appflag"],
                    spworknm : inspecDto[i]["spworknm"],
                    spcompnm : inspecDto[i]["spcompnm"],
                    spplannm : inspecDto[i]["spplannm"],
                    agencynm : inspecDto[i]["agencynm"],




                });
                cnt++;
            }

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;
            viewdata.sourceCollection = inspecData;


            for (var i = 0; i < columns.length; i++) {
                var col = new wijmo.grid.Column(columns[i]);
                theGrid.columns.push(col);
            }
            SelectItem = undefined;

        }



        $(document).ready(function (e) {



            initializeSelect({
                url: '/user-auth/type',
                params: {},
                elementId: 'authType',
                valueField: "code",
                textField: 'name'
            })

            initializeSelect({
                url: '/user-codes/parent',
                params: { parentId: 154 },
                elementId: 'agency'
            })

            let bindingList = [ 'agency', 'divinm', 'rank', 'tel', 'email', 'usernm', 'reason', 'authType', 'appflag', 'userid'];




            let today = getDateYYYYMMDD();
            let MonthLastDay = getLastDayOfCurrentMonth();


            let appdatem = document.getElementById('appdatem');
            appdatem.value = today;


            $('#searchfrdate').val(today);
            $('#searchtodate').val(MonthLastDay);


            // 저장 시작
            $('#btnSave').click(function (e){
                Alert.confirm('', '저장하시겠습니까?', function() {

                        let formData = new FormData();

                        // 다른 데이터를 FormData에 추가합니다.
                        formData.append('userid', $('#userid').val());
                        formData.append('appflag', $('#appflag').val());
                        formData.append('_csrf', $('[name=_csrf]').val());


                        AjaxFunction.PostAjaxRequest('/api/system/auth_list/save', true, false, false, formData, function(response){
                            if (response.success) {
                                Alert.alert('', response.message, function(){
                                    $('#listTabLink').click();

                                    searchData();
                                });

                                   for(let i=0; i < bindingList.length; i++){
                                       ElementBinding(bindingList[i], '')
                                   }

                                    $('#dataList').empty();


                            }
                        }, function (){Alert.alert('', '에러가발생하였습니다.');})
                })

            })

            function checkAppflag() {
                for (let i = 0; i < SelectItem.length; i++) {
                    if (SelectItem[i]._data.appflag === 'Y') {

                        return false; // Y 값을 찾으면 false 반환
                    }
                }
                return true; // Y 값을 찾지 못하면 true 반환
            }

            //삭제
            $('#btnDelete').click(function(e){

                if(SelectItem === undefined || SelectItem.length === 0){
                    Alert.alert('', '삭제할 항목을 선택하세요.');
                    return;
                }
                console.log('Select1_del: ', SelectItem);

                if(!checkAppflag()){
                   Alert.alert('','승인된 값이 존재합니다.');
                   return false;
                }

                let delList = [];

                delList = SelectItemPush(SelectItem, '_data.userid');

                console.log('삭제확인', delList);
                Alert.confirm('', '삭제하시겠습니까?', function(){

                    let data = {
                        'userid' : JSON.stringify(delList),
                        '_csrf' :  csrfToken
                    }

                    let fnSuccess = function (res){
                        if(res.success){
                            Alert.alert('', '삭제되었습니다.');
                            searchData();
                        }
                    }

                    AjaxUtil.postAsyncData('/api/system/auth_list/delete', data, fnSuccess);


                })
            })

            $('#inputTabLink').click(function(e){

                $('#dataList').empty();

                if(SelectItem === undefined){

                    Alert.alert('', '항목을 선택해주세요', function(){
                        $('#listTabLink').click();
                    });

                    return false;
                }

                if(SelectItem.length > 1){

                    Alert.alert('', '하나의 항목만 선택해주세요', function(){
                        $('#listTabLink').click();
                    });

                    return false;
                }


                let selectedItem = SelectItem[0];

                if(selectedItem === undefined){
                    Alert.alert('', '항목을 선택해주세요', function(){
                        $('#listTabLink').click();
                    });

                    return false;
                }

                let valueList = [ selectedItem._data.agencycd, selectedItem._data.divinm, selectedItem._data.ranknm ,selectedItem._data.userhp,
                    selectedItem._data.usermail, selectedItem._data.usernm, selectedItem._data.askreason, selectedItem._data.authgrpcd, selectedItem._data.appflag,
                    selectedItem._data.userid
                ]

                console.log("12")

                for(let i=0; i < bindingList.length; i++){
                    console.log(bindingList[i], valueList[i]);
                    ElementBinding(bindingList[i], valueList[i]);
                }
                console.log("1")

                $.ajax({
                    url: '/api/system/auth_list/tb_rp945List',
                    type: 'GET',
                    data: {
                        'userid' : $('#userid').val()
                    },
                    success: function(data) {
                        console.log(data);

                        const listLen = data.data.length;


                        const paraent = $('#dataList');

                        for(let i=0; i < listLen; i++){
                            const newLi = $('<li>');

                            const firstInput = $('<input>', {
                                type: 'text',
                                id: 'spworknm' + (i + 1),
                                name: 'spworknm' + (i + 1),
                                class: 'w150',
                                style: 'margin: 3px 5px',
                                readOnly: '',
                                value: data.data[i].spworknm
                            });

                            const secondInput = $('<input>', {
                                type: 'text',
                                id: 'spcompnm' + (i + 1),
                                name: 'spcompnm' + (i + 1),
                                class: 'w150',
                                style: 'margin: 3px 5px',
                                readonly: '',
                                value: data.data[i].spcompnm
                            });

                            const thirdInput = $('<input>', {
                                type: 'text',
                                id: 'spplannm' + (i + 1),
                                name: 'spplannm' + (i + 1),
                                class: 'w150',
                                style: 'margin: 3px 5px',
                                readonly: '',
                                value: data.data[i].spplannm
                            });

                            newLi.append(firstInput).append(secondInput).append(thirdInput);
                            paraent.append(newLi);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('error');
                    }
                });

            })

            $('#btnAppr').click(function (e){

                if(SelectItem === undefined || SelectItem.length === 0){
                    Alert.alert('', '승인할 항목을 선택하세요.');
                    return false;
                }

                if(!checkAppflag()){
                    Alert.alert('','승인된 값이 존재합니다.');
                    return false;
                }

                let apprList = [];

                apprList = SelectItemPush(SelectItem, '_data.userid');


                Alert.confirm('', '승인하시겠습니까?', function(){
                    let data = {
                        'userid' : JSON.stringify(apprList),
                        '_csrf' : csrfToken,
                        'appflag' : 'Y'
                    }

                    let fnSuccess = function (res){
                        if(res.success){
                            Alert.alert('', '승인되었습니다.');
                            searchData();
                        }
                    }
                    AjaxUtil.postAsyncData('/api/system/auth_list/approve', data, fnSuccess)
                })
            })


        });
    </script>
</th:block>

</html>