<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>공통코드등록</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>공통코드등록</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
<!--                <li>-->
<!--                    <a href="#tab2" title="등록">등록</a>-->
<!--                </li>-->
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">

                            <dl>
                                <dt>
                                    <label for="text1">
                                        코드명<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="txtCode" name="txtCode" class="input-srch">
                                        <a class="btn-srch" id="searchgrid" title="검색"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>


<!--                        <div class="button-wrap">-->
<!--                            <ul>-->
<!--                                &lt;!&ndash;                                <li>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <a class="btn btn-excell" title="일괄다운로드">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <img src="/images/icon/ico-down-blue.svg" alt="엑셀 아이콘">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        일괄다운로드&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </li>&ndash;&gt;-->
<!--                                <li>-->
<!--                                    <a class="btn btn-excell" title="엑셀다운로드">-->
<!--                                        <img src="/images/icon/ico-excell.svg" alt="엑셀 아이콘">-->
<!--                                        엑셀다운로드-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                &lt;!&ndash;                                <li>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <a  class="btn btn-delete" title="삭제" id="btnDelete">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        삭제&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </li>&ndash;&gt;-->
<!--                                <li>-->
<!--                                    <a class="btn btn-edit" title="수정">-->
<!--                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">-->
<!--                                        Setting-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                &lt;!&ndash;                                <li>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <a class="btn btn-print" title="순회점검일지 출력">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <img src="/images/icon/ico-print.svg" alt="엑셀 아이콘">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        순회점검일지 출력&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </li>&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div> <!--//section-top end -->
                    <div class="container-fluid" style="display: flex;">
                        <p id="selectedItem"></p>
                        <!--                        <div id="theGrid" style="height: 400px;" class="data-ax5grid=theGrid"></div>-->
                        <div id="theGrid" style="height: 400px; width: 700px; flex: 1;" data-ax5grid="code-grid"></div>




                        <div class="table-wrap" style="width: 700px; flex: 1; height: 400px; margin-left: 5px;">
                            <form id = "codeForm" >
                        <input type="hidden" id="parent_id" name="parent_id" value=""/>
                        <input class="form-control2" type="text" id="id" name="id" hidden/>
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wauto">
                                <col class="wauto">
                                <col class="wauto">
                                <col class="wauto">
                                <col class="wauto">
                                <col class="wauto">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="parent_name">
                                        상위코드 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="parent_name" name="parent_name" class="wp100 form-control2"/>
                                </td>
                                <th>
                                    <label for="code">
                                        코드 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="code" name="code" class="wp100 form-control2"/>
                                </td>

                                <th>
                                    <label for="name">
                                        코드명 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="name" name="name" class="wp100 form-control2">
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label for="description">
                                        설명
                                    </label>
                                </th>
                                <td colspan="5">
                                    <div class="textarea-box">
                                        <textarea id="description" name="description" maxlength="200"></textarea>
                                        <p class="text-count" id="text=count1" name="description">0/200</p>
                                    </div>
                                </td>

                                <!--                                    <div class="textarea-box">-->
                                <!--                                        <textarea id="checkplan" name="checkplan" maxlength="200" placeholder="개선방향"></textarea>-->
                                <!--                                        <p class="text-count" id="text-count2" name="checkplan">0/200</p>-->
                                <!--                                    </div>-->
                            </tr>
                            </tbody>
                        </table>
                        </form>
                            <br/>
                            <div class="section-top">
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a  class="btn btn-excell" title="엑셀다운로드">
                                                <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                                신규등록
                                            </a>
                                        </li>
                                        <li>
                                            <a  class="btn btn-delete" title="삭제">
                                                <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-edit" id="btnSave" title="저장">
                                                <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                                저장
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="btn-wrap">
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        $(document).ready(function (e) {
            class CodePage {
                constructor() {
                    this.grid = null;
                    this.init();
                }

                init() {
                    let _this = this;
                    let config = {
                        target: $('[data-ax5grid="code-grid"]'),
                        frozenColumnIndex: 0,
                        frozenRowIndex: 0,
                        showLineNumber: false,
                        showRowSelector: false,
                        multipleSelect: false,
                        sortable: true,
                        multiSort: true,
                        header: {
                            align: 'center',
                            columnHeight: 61,
                            fontSize:15
                        },
                        body: {
                            columnHeight: 25,
                            onClick: function (e) {
                                _this.showDetail(e.item.id);
                            }
                        },
                        page: {
                            display: true,
                            statusDisplay: true,
                        },
                        columns: [
                            {key: 'id', label: '코드번호', width: 70, align: 'center', sortable: false, hidden: true},
                            {key: 'name', label: '코드명', width: 250, align: 'left', treeControl: true},
                            {key: 'code', label: '코드', width: 100, align: 'left', sortable: false},
                            {key: 'description', label: '설명', width: 350, align: 'left', sortable: false},
                        ],
                        tree: {
                            use: true,
                            indentWidth: 15,
                            arrowWidth: 15,
                            iconWidth: 18,
                            icons: {
                                openedArrow: '<i class="fa fa-caret-down" aria-hidden="true"></i>',
                                collapsedArrow: '<i class="fa fa-caret-right" aria-hidden="true"></i>',
                                groupIcon: '<i class="fa fa-minus-square" aria-hidden="true"></i>',
                                collapsedGroupIcon: '<i class="fa fa-plus-square" aria-hidden="true"></i>',
                                itemIcon: '-'
                            },
                            columnKeys: {
                                parentKey: 'parent_id',
                                selfKey: 'id'
                            }
                        }
                    };

                    this.grid = new ax5.ui.grid(config);
                }

                showDetail(idx) {
                    let param = {'id': idx, 'action': 'detail'};
                    let url = '/api/system/code';
                    let result = AjaxUtil.getSyncData(url + '/detail', param);
                    if (result.success) {
                        FormUtil.BindDataForm(result.data, $('#codeForm'));
                        $('#description').text(result.description);
                    }
                    this.setButtonState();
                }

                setButtonState() {
                    let pk = $('#id').val();
                    $('#btnNew').prop('disabled', false);
                    $('#btnSave').prop('disabled', false);
                    $('#btnDel').prop('disabled', !pk);
                    $('#btnNewChild').prop('disabled', !pk);
                    $('#btnNewBro').prop('disabled', !pk);
                }

                searchMainData() {
                    let _this = this;
                    let txtCode = $('#txtCode').val();
                    let data = {'txtCode': txtCode};

                    $('#codeForm')[0].reset();
                    $('#parent_id').val('');
                    $('#id').val('');
                    $('#description').text('');
                    let url = '/api/system/code';

                    let result = AjaxUtil.getSyncData(url + '/read', data);
                    console.log(data);

                    let codeinformation = Array.isArray(data) ? data : [data];
                    console.log("변환된 데이터:", codeinformation);
                    if (result != null) {
                        let recordsTotal = result.data.length;
                        _this.grid.setData({
                            list: result.data,
                            page: {
                                display: true,
                                totalElements: recordsTotal,
                            }
                        });
                    }
                    this.setButtonState();
                }
            }

            let page = new CodePage();

            $('#btnSearch').click(function (ex) {
                page.searchMainData();
            });

            $('#btnSave').click(function (e) {
                Alert.confirm('', '저장하시겠습니까?', function () {
                    page.saveCode();
                }, function () {
                });
            });

            page.searchMainData();
        });
    </script>
</th:block>

</html>