<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">

<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">

<head>
    <style>

        .wj-header {
            text-align: center !important;
        }

        input[type="checkbox"] {
            margin: 0 auto; /* 마진을 통해 가운데 정렬을 보완 */
            display: block; /* 블록으로 변경하여 중앙 정렬에 도움 */
            margin-top: 5px;
            width: 30px;
            height: 30px;
        }

        a.disabled {
            pointer-events: none; /* 클릭 방지 */
            opacity: 0.5; /* 비활성화된 느낌으로 스타일 변경 */
            cursor: default; /* 기본 커서로 변경 */
        }

    </style>
</head>

<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>공통코드 등록</h2>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>공통코드 등록</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
        </div>

        <div class="tab-wrap">
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" style="display: block; height: 800px;" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    <label for="txtCode">
                                        코드명<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="txtCode" name="txtCode" class="input-srch"
                                               style="border-radius: 5px 5px 5px 5px;">
                                        <!-- <a class="btn-srch" id="btnSearch" title="검색"></a>-->
                                        <a class="btn btn-delete" title="검색" id="btnSearch" style="margin-left: 5px;">
                                            <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                            검색
                                        </a>
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="button-wrap" style="border-top:none;">
                            <ul>
                                <li>
                                    <a class="btn modal_btn" title="How to Use">
                                        How to Use
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-excell" title="신규등록" id="Newbtn">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a class="btn" title="하위추가" id="btnAddChild">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        하위추가
                                    </a>
                                </li>

                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-delete " title="삭제" id="btnDelete"><!--삭제버튼 disabled 쓸려면 class에 disabled 추가하기-->
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="row">
                        <div class="wp70 mg-r20">
                            <div class="container-fluid col">
                                <p id="selectedItem"></p>
                                <div id="theGrid" style="max-height: 740px;"></div>
                            </div>
                        </div>
                        <div class="col wp30">
                            <div class="section">
                                <form id="codeForm">
                                    <input type="hidden" id="parent_id" name="parent_id"/>
                                    <input class="form-control2" type="text" id="id" name="id" hidden/>
                                    <div class="table-wrap">
                                        <table class="view-table" id="selectedData">
                                            <caption>코드등록 테이블</caption>
                                            <colgroup>
                                                <col class="wp20">
                                                <col class="wauto">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th><label for="parent_name">상위코드</label></th>
                                                <td>
                                                    <input type="text" id="parent_name" name="parent_name" class="wp100"
                                                           readonly>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="code">코드</label></th>
                                                <td>
                                                    <input type="text" id="code" name="code" class="wp100" required>
                                                    <div style="text-align:left; ">
                                                        <span id="code-check-message"
                                                              style="color: red; display: none; ">중복된 코드입니다.</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="name">코드명</label></th>
                                                <td>
                                                    <input type="text" id="name" name="name" class="wp100">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="description">설명</label></th>
                                                <td>
                                                    <input type="text" id="description" name="description"
                                                           class="wp100">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th><label for="status">사용여부</label></th>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    <input type="checkbox" id="status" naem="status" checked>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section -->
            </div>
        </div>
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 12px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>

    <div class="modal2">
        <div class="modal_popup">
            <h3 style="text-align: center; margin-bottom: 20px">화면 설명서(목록탭)</h3>
            <img src="/images/공통코드등록.png" style="margin-bottom: 10px"/>
            <p style="margin-bottom: 8px"></p>
            <p style="margin-bottom: 8px">1. 상위분류명을 통해 검색하여 조회할 수 있습니다.</p>
            <p style="margin-bottom: 8px">2. 신규로 상위코드 등록 할 경우 코드, 코드명, 설명을 입력하고 저장 버튼을 누릅니다.</p>
            <p style="margin-bottom: 8px">3. 중위코드 생성 시 상위분류명을 클릭 후 하위추가 버튼을 누르고 입력값 입력 후 저장 버튼을 누릅니다. </p>
            <p style="margin-bottom: 8px">3-1. 하위코드 생성 시 증위분류명을 클릭 후 하위추가 버튼을 누르고 입력값 입력 후 저장 버튼을 누릅니다.</p>
            <p style="margin-bottom: 8px">4. 상위분류명, 중분류명, 하위분류명 중 삭제 대상을 클릭 후 삭제 버튼을 누릅니다.</p>
            <p style="margin-bottom: 8px"> ※ 상위분류명 선택 후 삭제 시 해당 전체 데이터가 삭제 됩니다.</p>
            <button style="border: 1px solid #03428E !important; font-size: 15px !important; position: absolute; top: 10px; right: 10px"
                    class="close_btn">닫기
            </button>
        </div>
    </div>

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        var theGrid2;
        let csrfToken = $("[name=_csrf]").val();
        var selectedItem; // 전역 변수로 선택한 항목을 저장
        var menuGroupName;

        const modal2 = document.querySelector('.modal2');
        const modalOpen = document.querySelector('.modal_btn');
        const modalClose = document.querySelector('.close_btn');

        //열기 버튼을 눌렀을 때 모달팝업이 열림
        modalOpen.addEventListener('click', function () {
            //display 속성을 block로 변경
            modal2.style.display = 'block';
        });
        //닫기 버튼을 눌렀을 때 모달팝업이 닫힘
        modalClose.addEventListener('click', function () {
            //display 속성을 none으로 변경
            modal2.style.display = 'none';
        });


        // wijmo grid에서 hidden 사용할려면 visible 사용해야함
        var columns = [
            { binding: 'aid', header: 'AID', align: 'left', width: "*", visible: false},
            { binding: 'agropcd', header: '상위코드', align: 'left', width: "*", isReadOnly: true },
            { binding: 'agroupnm', header: '상위분류명', align: 'left', width: "*" },
            { binding: 'Astatus', header: 'A 사용여부', align: 'left', width: "*", visible: false },
            /*   { binding: 'ADescription', header: 'A설명', align: 'left', width: 100, visible: false },*/
            { binding: 'bid', header: 'BID', align: 'left', width: "*", visible: false, isReadOnly: true },
            { binding: 'bgropcd', header: '중위코드', align: 'left', width: "*", isReadOnly: true  },
            { binding: 'bgroupnm', header: '중분류명', align: 'left', width: "*" },
            { binding: 'Bstatus', header: 'B 사용여부', align: 'left', width: "*", visible: false },
            { binding: 'bdescription', header: '중분류 설명', align: 'left', width: 185},
            { binding: 'cid', header: 'CID', align: 'left', width: "*", visible: false, isReadOnly: true },
            { binding: 'cgropcd', header: '하위코드', align: 'left', width: "*", isReadOnly: true  },
            { binding: 'cgroupnm', header: '하위분류명', align: 'left', width: "*" },
            { binding: 'Cstatus', header: 'C 사용여부', align: 'left', width: "*", visible: false },
            { binding: 'cdescription', header: '하위분류 설명', align: 'left', width: "*" },
            /*   { binding: 'adescription', header: '설명', align: 'left', width: '*' }*/
        ];


        document.readyState === 'complete' ? init() : window.onload = init;

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        let selectedRowIndex = null;  // 선택된 행 인덱스 저장
        let selectedColumnIndex = null;  // 선택된 열 인덱스 저장
        document.addEventListener('DOMContentLoaded', function () {
            // 특정 조건에 따라 활성화 상태를 설정
            let isActive = true; // 조건을 기반으로 값을 설정
            document.getElementById('status').checked = isActive;
        });

        function init() {
            let data2 = [];
            let txtCode = $('#txtCode').val();

            $.ajax({
                url: '/api/system/code/read',
                type: 'GET',
                data: {
                    'txtCode': txtCode,
                },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                }
            })

            menuGroupName = new wijmo.collections.PropertyGroupDescription('코드명', function (item, proName) {
                return item.agroupnm;
            });


            // 데이터 배열이 비어있을 경우 여러 개의 빈 객체 추가
            if (data2.length === 0) {
                let emptyRowsCount = 8;  // 원하는 빈 행의 수
                for (let i = 0; i < emptyRowsCount; i++) {
                    data2.push({});
                }
                console.log('Grid initialized with empty data.');
            }

            viewdata = new wijmo.collections.CollectionView(data2);
            viewdata.groupDescriptions.push(menuGroupName);


            // viewdata = new wijmo.collections.CollectionView(data2);

            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                itemsSource: viewdata,
                isReadOnly: true,
            });

            theGrid.selectionChanged.addHandler(function (s, e) {
                selectedRowIndex = s.selection.row; // 선택된 행 인덱스
                selectedColumnIndex = s.selection.col; // 선택된 열 인덱스

                // 선택된 행 인덱스가 유효한지 확인
                if (selectedRowIndex < 0 || selectedRowIndex >= s.rows.length) {
                    return; // 선택된 행이 유효하지 않은 경우 함수를 종료
                }

                let selectedItem = s.rows[selectedRowIndex]?.dataItem; // 선택된 행의 데이터

                console.log(JSON.stringify(selectedItem, null, 2) + " 선택된 셀 정보확인");

                // 선택된 항목과 선택된 셀의 바인딩을 확인
                if (selectedItem) {

                    var binding = theGrid.columns[selectedColumnIndex].binding;

                    // 바인딩에 따라 값을 필드에 설정
                    if (binding === 'agroupnm') {
                        $('#id').val(selectedItem.aid || '');
                        $('#code').val(selectedItem.agropcd || '');
                        $('#name').val(selectedItem.agroupnm || '');
                        $('#description').val(selectedItem.adescription || '');
                        $('#parent_name').val(''); // 상위코드는 비웁니다
                        // A 그룹 체크박스 상태 반영
                        $('#status').prop('checked', selectedItem.astatus === 'y');
                    } else if (binding === 'bgroupnm') {
                        $('#id').val(selectedItem.bid || '');
                        $('#parent_name').val(selectedItem.agropcd || '');
                        $('#code').val(selectedItem.bgropcd || '');
                        $('#name').val(selectedItem.bgroupnm || '');
                        $('#description').val(selectedItem.bdescription || '');
                        // B 그룹 체크박스 상태 반영
                        $('#status').prop('checked', selectedItem.bstatus === 'y');
                    } else if (binding === 'cgroupnm') {
                        $('#id').val(selectedItem.cid || '');
                        $('#parent_name').val(selectedItem.bgropcd || '');
                        $('#code').val(selectedItem.cgropcd || '');
                        $('#name').val(selectedItem.cgroupnm || '');
                        $('#description').val(selectedItem.cdescription || '');
                        // C 그룹 체크박스 상태 반영
                        $('#status').prop('checked', selectedItem.cstatus === 'y');
                    } else {
                        // 해당 바인딩에 값이 없으면 필드 초기화
                        $('#id').val('');
                        $('#code').val('');
                        $('#name').val('');
                        $('#description').val('');
                        $('#parent_name').val('');
                        $('#status').prop('checked', true); // A 그룹 체크박스 초기화
                    }

                    // 선택한 셀의 정보 출력
                    /*    console.log('Selected Cell Binding:', binding);
                        console.log('Selected Cell Value:', selectedItem[binding]);*/
                }
            });


            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기

            // 신규등록 버튼 클릭 이벤트 핸들러 등록
            $('#Newbtn').click(function () {
                // 상위코드 입력 필드를 비활성화
                $('#parent_name').prop('disabled', true);

                // 나머지 필드 초기화
                $('#codeForm input[type="text"]').val('');
            });

            $('#btnSave').click(saveCode);   // 등록 버튼 클릭 이벤트 핸들러 등록

            $('#btnDelete').click(deleteCode);

            $('#btnSearch').click(searchDataBind); // 검색 버튼 클릭 이벤트 핸들러 등록

            $('#btnAddChild').click(addChildCode);

            new FlexGridContextMenu(theGrid);
            window.downloadFileName = '공통코드등록';

        }

        function addChildCode() {
            console.log("하위추가 버튼 클릭 이벤트");

            // `code` 필드의 값을 `parent_name`으로 설정 (상위 코드로 설정)
            $('#parent_name').val($('#code').val());

            // 선택된 셀의 `id`를 `parent_id`로 설정 (새로 추가되는 데이터의 상위 ID로 설정)
            $('#parent_id').val($('#id').val());

            // 새로운 데이터를 입력할 수 있도록 나머지 필드들은 초기화
            $('#id').val('');  // 새로운 데이터이므로 id는 초기화 (신규 등록을 의미)
            $('#code').val('');
            $('#name').val('');
            $('#description').val('');
            $('#status').prop('checked', true);
        }

        function saveCode() {
            let url = '/api/system/code/save';
            let data = FormUtil.extractForm($('#codeForm'));

            // 체크박스 상태에 따라 값을 설정
            data.status = $('#status').is(':checked') ? 'y' : 'n';

            data.parent_id = $('#parent_id').val(); // hidden input에서 parent_id 값 가져오기

            // 필수 항목 확인
            if (!data.code || !data.name) {
                Alert.alert('', '필수항목을 입력해주세요');
                return;
            }

            let fnSuccess = function (res) {
                if (res.success) {
                    Alert.alert('', '저장되었습니다.');
                    searchDataBind();

                    // 입력 필드 초기화
                    clearTableInputs();

                    // 그리드의 선택 상태를 초기화
                    theGrid.collectionView.moveCurrentToPosition(-1);
                    theGrid.selection = new wijmo.grid.CellRange(-1, -1, -1, -1); // 모든 셀의 선택을 해제
                } else {
                    Alert.alert('', res.message);
                }
            };

            // 데이터 전송
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }


        function searchDataBind() {
            console.log("searchDataBind called");

            let data = {'txtCode': $('#txtCode').val()};

            console.log("Data to send:", data);

            $.ajax({
                url: '/api/system/code/read',
                type: 'GET',
                data: data,
                success: function (result) {
                    if (result.success) {
                        console.log("Result data:", result.data);
                        grid_binding(result.data);
                    } else {
                        console.log("Error occurred");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });
        }

        function grid_binding(data) {
            console.log("Binding data to grid:", data);

            let formattedData = data.map(item => ({
                aid: item.aid,
                agropcd: item.agropcd,
                agroupnm: item.agroupnm,
                astatus: item.astatus,
                adescription:item.adescription,
                bid: item.bid,
                bgropcd: item.bgropcd,
                bgroupnm: item.bgroupnm,
                bstatus: item.bstatus,
                bdescription:item.bdescription,
                cid: item.cid,
                cgropcd: item.cgropcd,
                cgroupnm: item.cgroupnm,
                cstatus: item.cstatus,
                cdescription:item.cdescription
            }));

            console.log("Formatted data:", formattedData);

            // Clear existing columns
            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;

            // Add new columns
            columns.forEach(colDef => {
                let col = new wijmo.grid.Column(colDef);
                theGrid.columns.push(col);
            });

            // Create CollectionView and bind data
            viewdata = new wijmo.collections.CollectionView(formattedData);

            // Set up grouping
            if (typeof menuGroupName !== 'undefined') {
                viewdata.groupDescriptions.clear();
                viewdata.groupDescriptions.push(menuGroupName);
            } else {
                console.error("menuGroupName is not defined.");
            }

            // Bind CollectionView to grid
            theGrid.itemsSource = viewdata;
            theGrid.refresh();

            // 체크박스 상태 업데이트
            if (formattedData.length > 0) {
                // 첫 번째 항목의 상태를 체크박스에 반영
                $('#status').prop('checked', formattedData[0].a_status === 'y');
                $('#b_status').prop('checked', formattedData[0].b_status === 'y');
                $('#c_status').prop('checked', formattedData[0].c_status === 'y');
            }
        }



        function deleteCode() {
            // 그리드에서 선택된 항목과 열 정보를 가져옵니다
            var selectedRow = theGrid.selection.row;
            var selectedColumn = theGrid.selection.col; // .column 대신 .col로 변경

            // 선택된 항목의 데이터 아이템을 가져옵니다
            var selectedItem = theGrid.rows[selectedRow]?.dataItem;

            if (!selectedItem) {
                alert('선택된 항목이 없습니다.');
                return;
            }

            if (selectedColumn === null || selectedColumn === undefined) {
                alert('선택된 열이 없습니다.');
                console.error('Invalid column index:', selectedColumn);
                return;
            }

            var column = theGrid.columns[selectedColumn];

            if (!column) {
                alert('유효한 열이 아닙니다. 선택된 열이 없는 것 같습니다.');
                console.error('Invalid column:', column);
                return;
            }

            var cellBinding = column.binding;

            // 바인딩 이름을 확인합니다
            console.log('Selected Column Object:', column);
            console.log('Selected Cell Binding:', cellBinding);

            // 셀의 바인딩 이름에 따라 ID를 설정합니다
            let id = null;
            let value = null;
            switch (cellBinding) {
                case 'agroupnm':
                    id = selectedItem.aid;
                    value = selectedItem.agroupnm;
                    break;
                case 'bgroupnm':
                    id = selectedItem.bid;
                    value = selectedItem.bgroupnm;
                    break;
                case 'cgroupnm':
                    id = selectedItem.cid;
                    value = selectedItem.cgroupnm;
                    break;
                default:
                    alert('알 수 없는 바인딩입니다: ' + cellBinding); // 바인딩 이름을 출력
                    return;
            }

            if (!id) {
                alert('유효한 ID를 찾을 수 없습니다.');
                return;
            }

            // 확인 대화 상자를 표시하여 사용자에게 삭제 확인을 요청합니다
            var confirmationMessage = `선택한 값: ${value}\n삭제하시겠습니까?`;
            if (!confirm(confirmationMessage)) {
                return; // 사용자가 취소를 클릭하면 삭제를 하지 않음
            }

            let url = '/api/system/code/delete';

            // 삭제할 항목의 ID와 CSRF 토큰 데이터 설정
            let data = {
                id: id,  // 선택된 항목의 ID를 사용하여 서버에 전송
                '_csrf': csrfToken
            };

            console.log(data, "id값 불러오기");

            // Ajax를 통해 서버에 삭제 요청 전송
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function (res) {
                    // 삭제 성공 시 사용자에게 알림 표시 후 그리드 갱신
                    if (res.success) {
                        alert('삭제되었습니다.');
                        searchDataBind(); // 데이터 삭제 후 그리드를 새로 고침

                        // 입력 필드 초기화
                        clearTableInputs();

                        // 그리드의 선택 상태를 초기화
                        theGrid.collectionView.moveCurrentToPosition(-1);
                        theGrid.selection = new wijmo.grid.CellRange(-1, -1, -1, -1); // 모든 셀의 선택을 해제

                    } else {
                        alert(res.message);  // 오류 발생 시 사용자에게 알림 표시
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        }

        function clearTableInputs() {
            // 모든 입력 필드를 선택합니다.
            let inputs = document.querySelectorAll('#codeForm input[type="text"], #codeForm input[type="number"], #codeForm textarea');

            // 각 입력 필드의 값을 빈 문자열로 설정하여 초기화합니다.
            inputs.forEach(function (input) {
                input.value = '';
            });

            // 체크박스를 선택하고 체크 해제 상태로 설정합니다.
            let checkboxes = document.querySelectorAll('#codeForm input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });

        }

        function checkCodeDuplicate(code) {
            $.ajax({
                url: '/api/system/code/checkDuplicate',
                type: 'GET',
                data: {code: code},
                success: function (response) {
                    if (response.exists) {
                        $('#code-check-message').text('중복된 코드입니다.').show();
                    } else {
                        $('#code-check-message').hide();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('중복 체크 오류:', textStatus, errorThrown);
                }
            });
        }

        $(document).ready(function () {
            $('#code').on('input', function () {
                let code = $(this).val();
                if (code) {
                    checkCodeDuplicate(code);
                } else {
                    $('#code-check-message').hide();
                }
            });
        });

    </script>

</th:block>
</html>