<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">

<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">

<head>
    <style>
        #theGrid2.wj-flexgrid .wj-cell {
            padding: 12px;

        }

        #theGrid2.wj-flexgrid .downloads {

            padding-top: 0px;
        }

    </style>
</head>

<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>공통코드 등록</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>공통코드 등록</li>
            </ul>
        </div>


        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역" id="spworkcd" name="spworkcd" onchange="updateSelect('spworkcd', 'spworknm')">
                        <option value="001">대구</option>
                        <input type="hidden" id="spworknm" name="spworknm">
                    </select>
                </li>
                <li>
                    <select title="구" id="spcompcd" name="spcompcd" onchange="updateSelect('spcompcd', 'spcompnm')">
                        <option value="001">성서산단</option>
                        <input type="hidden" id="spcompnm" name="spcompnm">
                    </select>
                </li>
                <li>
                    <select title="시설" id="spplancd" name="spplancd" onchange="updateSelect('spplancd', 'spplannm')">
                        <option value="001">대구물류센터</option>
                        <input type="hidden" id="spplannm" name="spplannm">
                    </select>
                </li>
            </ul>
        </div>

        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="#tab2" title="등록">등록</a>-->
                <!--                </li>-->
            </ul>


            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    <label for="txtCode">
                                        코드명<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="txtCode" name="txtCode" class="input-srch">
                                        <a class="btn-srch" id="btnSearch" title="검색"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="엑셀다운로드" id="NewbtnSave">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-delete" title="삭제" id="btnDelete">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" title="수정" id="btnEdit">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        수정
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="row">
                        <div class="wp60 mg-r20">
                            <div class="container-fluid col">
                                <p id="selectedItem"></p>
                                <div id="theGrid" style="max-height: 493px;"></div>
                            </div>
                        </div>
                        <div class="col wp40">
                            <div class="section">
                                <form id="codeForm">
                                    <!--                                    <input type="hidden" id="parent_id" name="parent_id" value=""/>-->
                                    <div class="table-wrap">
                                        <table class="view-table">
                                            <caption>보고분기 상세 테이블</caption>
                                            <colgroup>
                                                <col class="wp20">
                                                <col class="wauto">
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <th><label for="groupcd">상위코드</label></th>
                                                <td>
                                                    <input type="text" id="groupcd" name="groupcd" class="wp100">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="itemnm">코드명</label></th>
                                                <td>
                                                    <input type="text" id="itemnm" name="itemnm" class="wp100">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="itemcd">코드</label></th>
                                                <td>
                                                    <input type="text" id="itemcd" name="itemcd" class="wp100" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><label for="itemrm">설명</label></th>
                                                <td>
                                                    <input type="text" id="itemrm" name="itemrm" class="wp100">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section -->

            </div>
        </div>

    </div> <!--//layout-contents end -->


</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        var theGrid2;
        let csrfToken = $("[name=_csrf]").val();

        var columns = [
            {binding: 'itemnm', header: '코드명', align: 'center', width: 200},
            {binding: 'itemcd', header: '코드', align: 'center', width: 200},
            {binding: 'itemrm', header: '설명', align: 'center', width: "*"}
        ];

        document.readyState === 'complete' ? init() : window.onload = init;

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->


        function init() {
            let data2 = [];
            let txtCode = $('#txtCode').val();

            $.ajax({
                url: '/api/system/tbrp910/read',
                type: 'GET',
                data: {
                    'txtCode': txtCode,
                },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                }
            })

            let menuGroupName = new wijmo.collections.PropertyGroupDescription('itemnm', function (item, proName) {
                return item.groupnm;
            });


            // 데이터 배열이 비어있을 경우 여러 개의 빈 객체 추가
            if (data2.length === 0) {
                let emptyRowsCount = 8;  // 원하는 빈 행의 수
                for (let i = 0; i < emptyRowsCount; i++) {
                    data2.push({});
                }
                console.log('Grid initialized with empty data.');
            }

            viewdata = new wijmo.collections.CollectionView(data2);
            viewdata.groupDescriptions.push(menuGroupName);


            // viewdata = new wijmo.collections.CollectionView(data2);

            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                itemsSource: viewdata
            });

            // 행 선택 이벤트 핸들러 (Optional)
            theGrid.selectionChanged.addHandler(function (s, e) {
                var selectedRow = s.selection.row;
                var selectedItem = s.rows[selectedRow].dataItem;
                console.log('Selected row ID:', selectedItem.id);
            });

            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: (e, ctx) => {
                    SelectItem = theGrid.rows.filter(r => r.isSelected);

                }
            })


            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기

            //저장
            $('#NewbtnSave').click(saveCode); // 신규등록 버튼 클릭 이벤트 핸들러 등록
            // $('#btnSave').click(updateCode);   // 등록 버튼 클릭 이벤트 핸들러 등록

            // $('#btnDelete').click(deleteCode);

            $('#btnSearch').click(searchDataBind); // 검색 버튼 클릭 이벤트 핸들러 등록

            $('#btnEdit').click(editCode); // 수정 버튼 클릭 이벤트 핸들러 등록

        }


        function saveCode() {

            let url = '/api/system/tbrp910/save';

            //let data = $('#codeForm').serialize();
            let data = {
                groupcd: $('#groupcd').val(),
                itemcd: $('#itemcd').val(),
                itemnm: $('#itemnm').val(),
                itemrm: $('#itemrm').val()
            };

            // if (!data.itemcd || !data.itemnm) {
            //     Alert.alert('', '필수항목을 입력해주세요');
            //     return;
            // }

            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success(res.message || '저장되었습니다'); // 수정된 메시지 표시
                    searchDataBind(); // 저장 후 데이터 새로 고침
                    location.reload();
                } else {
                    Alert.alert('', res.message);
                }
            };

            // Ajax 요청 보내기
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }




        function searchDataBind() {
            console.log("searchDataBind called");

            let data = { 'txtCode': $('#txtCode').val() };

            console.log("Data to send:", data);

            $.ajax({
                url: '/api/system/tbrp910/read',
                type: 'GET',
                data: data,
                success: function (result) {
                    if (result.success) {
                        console.log("Result data:", result.data);
                        grid_binding(result.data);
                    } else {
                        console.log("Error occurred");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });
        }


        let menuGroupName = new wijmo.collections.PropertyGroupDescription('itemnm', function (item, proName) {
            return item.groupcd;
        });


        function grid_binding(data) {

            let formattedData = data.map(item => ({
                itemnm: item.itemnm,
                itemcd: item.itemcd,
                itemrm: item.itemrm,
            }));

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;

            columns.forEach(colDef => {
                let col = new wijmo.grid.Column(colDef);
                theGrid.columns.push(col);
            });

            viewdata = new wijmo.collections.CollectionView(formattedData);
            viewdata.groupDescriptions.push(menuGroupName);

            theGrid.itemsSource = viewdata;
            theGrid.refresh();

        }

        function editCode() {
            var selectedRow = theGrid.selection.row;
            if (selectedRow === null || selectedRow < 0) {
                Alert.alert('', '수정할 행을 선택해주세요');
                return;
            }

            var selectedItem = theGrid.rows[selectedRow].dataItem;

            // Update form fields with selected item data
            $('#groupcd').val(selectedItem.groupcd || '');
            $('#itemcd').val(selectedItem.itemcd || '');
            $('#itemnm').val(selectedItem.itemnm || '');
            $('#itemrm').val(selectedItem.itemrm || '');
        }

        // function deleteCode() {
        //     let selectedRow = theGrid.selection.row;
        //     if (selectedRow === null || selectedRow < 0) {
        //         Alert.alert('', '삭제할 행을 선택해주세요');
        //         return;
        //     }
        //
        //     let selectedItem = theGrid.rows[selectedRow].dataItem;
        //     let itemId = selectedItem.itemcd; // Assuming itemcd is a unique identifier
        //
        //     let url = '/api/system/tbrp910/delete';
        //     let data = { itemcd: itemId };
        //
        //     $.ajax({
        //         url: url,
        //         type: 'POST',
        //         data: data,
        //         success: function (result) {
        //             if (result.success) {
        //                 Notify.success('삭제되었습니다');
        //                 searchDataBind(); // Refresh data
        //             } else {
        //                 Alert.alert('', result.message);
        //             }
        //         },
        //         error: function (jqXHR, textStatus, errorThrown) {
        //             console.error('Error deleting data:', textStatus, errorThrown);
        //         }
        //     });
        // }

        $(document).ready(function() {
            var csrfToken = $('meta[name="_csrf"]').attr('content');
            var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            function deleteCode() {
                let selectedRow = theGrid.selection.row;
                if (selectedRow === null || selectedRow < 0) {
                    Alert.alert('', '삭제할 행을 선택해주세요');
                    return;
                }

                let selectedItem = theGrid.rows[selectedRow].dataItem;
                let itemId = selectedItem.itemcd;

                let url = '/api/system/tbrp910/delete';
                let data = { itemcds: [itemId] };

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    headers: {
                        [csrfHeader]: csrfToken
                    },
                    success: function(result) {
                        if (result.success) {
                            Notify.success('삭제되었습니다');
                            searchDataBind();
                        } else {
                            Alert.alert('', result.message);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Error deleting data:', textStatus, errorThrown);
                    }
                });
            }

            $('#btnDelete').click(deleteCode);
        });






    </script>

</th:block>
</html>

