<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">

    <div class="content_wrap">

        <section class="section mb-1">

            <div class="layout-contents">
                <!-- Page Title -->
                <div class="page-title-wrap">
                    <div class="left">
                        <h2>비상연락망등록</h2>
                        <a href="#" title="북마크" class="bookmark toggle">
                            내메뉴
                        </a>
                    </div>
                    <ul class="page-navi">
                        <li><img src="../assets/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                        <li>시스템관리</li>
                        <li>비상연락망등록</li>
                    </ul>
                </div>
                <!-- Select -->
                <div class="search-wrap">
                    <ul>
                        <li>
                            <select title="지역">
                                <option>대구</option>
                            </select>
                        </li>
                        <li>
                            <select title="구">
                                <option>성서산단</option>
                            </select>
                        </li>
                        <li>
                            <select title="동">
                                <option>성서</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-wrap">
                    <ul class="tab-links">
                        <li>
                            <a href="#tab1" title="목록">목록</a>
                        </li>
                        <li>
                            <a href="#tab2" title="등록">등록</a>
                        </li>
                    </ul>
                    <div class="tab-contents">
                        <!-- Section -->
                        <section class="tab-item" id="tab1">
                            <div class="section-top">
                                <div class="search-wrap">
                                    <dl>
                                        <dt>
                                            등록일자<span class="eq">*</span>
                                        </dt>
                                        <dd>
                                            <ul class="date-box">
                                                <li>
                                                    <input type="date" id="date1" name="">
                                                    <label for="date1" class="hide">시작일</label>
                                                </li>
                                                <li>
                                                    <input type="date" id="date2" name="">
                                                    <label for="date2" class="hide">종료일</label>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="text1">
                                                점검자<span class="eq">*</span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <input type="text" id="text1" class="input-srch" placeholder="점검자명 검색">
                                                <a href="#a" class="btn-srch" title="검색"></a>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="select1">
                                                점검여부<span class="eq">*</span></dt>
                                        </label>
                                        <dd>
                                            <select id="select1" class="w120">
                                                <option>전체</option>
                                                <option>완료</option>
                                                <option>미완료</option>
                                            </select>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a href="#" class="btn btn-excell" title="엑셀다운로드">
                                                <img src="../assets/images/icon/ico-excell.svg" alt="엑셀 아이콘">
                                                엑셀다운로드
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-delete" id="btnDel" title="삭제">
<!--                                            <button type="button" class ="btn btn-delete" id="delete" title="삭제"/>-->
                                                <img src="../assets/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-edit" id="btnEdit" title="수정">
<!--                                                <button tpye="button" class ="btn btn-edit" id="edit" title="수정"/>-->
                                                <img src="../assets/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                                수정
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-print" title="순회점검일지 출력">
                                                <img src="../assets/images/icon/ico-print.svg" alt="엑셀 아이콘">
                                                순회점검일지 출력
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div> <!--//section-top end -->
                            <div class="table-wrap">
                                <table class="list-table">
                                    <caption>공지사항 테이블</caption>
                                    <colgroup>
                                        <col class="wp5">
                                        <col class="wauto">
                                        <col class="wauto">
                                        <col class="wauto">
                                        <col class="wauto">
                                        <col class="wauto">
<!--                                        <col class="wp10">-->
<!--                                        <col class="wauto">-->
<!--                                        <col class="wp10">-->
<!--                                        <col class="wp10">-->
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>업체명</th>
                                        <th>담당자</th>
                                        <th>사무실전화</th>
                                        <th>모바일</th>
                                        <th>이메일</th>
<!--                                        <th>점검장소</th>-->
<!--                                        <th>점검시간</th>-->
<!--                                        <th>점검일지 다운로드</th>-->
<!--                                        <th>점검일지 업로드</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>대구</td>
                                        <td>성서산단</td>
                                        <td>성서</td>
                                        <td>2024-06-10</td>
                                        <td>홍길동</td>
<!--                                        <td>성서산단</td>-->
<!--                                        <td>06.10 13:00 ~ 06.10 15:00</td>-->
<!--                                        <td>-->
<!--                                            <a href="#" title="다운로드" class="btn-filedown">다운로드</a>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <a href="#" title="업로드" class="btn btn-popup-open" data-popup="popup1">-->
<!--                                                업로드-->
<!--                                            </a>-->
<!--                                        </td>-->
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>대구에너지</td>
                                        <td>홍길동</td>
                                        <td>02-1111-2222</td>
                                        <td>010-1111-2222</td>
                                        <td>admin@naver.com</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>대구에너지</td>
                                        <td>홍길동</td>
                                        <td>02-1111-2222</td>
                                        <td>010-1111-2222</td>
                                        <td>admin@naver.com</td>
                                    </tr>



                                    </tbody>
                                </table>
                            </div>
                            <div class="btn-wrap">
                                <div class="center">
                                    <ul class="paging-wrap">
                                        <li><a href="#" title="처음" class="btn-first"></a></li>
                                        <li><a href="#" title="이전" class="btn-prev"></a></li>
                                        <li class="on"><a href="#" title="1">1</a></li>
                                        <li><a href="#" title="2">2</a></li>
                                        <li><a href="#" title="3">3</a></li>
                                        <li><a href="#" title="4">4</a></li>
                                        <li><a href="#" title="5" class="disable">5</a></li>
                                        <li><a href="#" title="다음" class="btn-next"></a></li>
                                        <li><a href="#" title="마지막" class="btn-last"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- Section -->
                        <section class="tab-item" id="tab2">
                            <div class="section-top">
                                <div class="title-wrap">
                                    <h3>점검 등록</h3>
                                </div>
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a href="#" class="btn btn-excell" title="엑셀다운로드">
                                                <img src="../assets/images/icon/ico-plus.svg" alt="등록 아이콘">
                                                신규등록
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-delete" id="btnDel" title="삭제">
<!--                                                <button tpye="button" class ="btn btn-delete" id="delete" title="저장"/>-->
                                                <img src="../assets/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-edit" id="btnSave" title="저장">
<!--                                                <button tpye="button" class ="btn btn-edit" id="btnSave" title="저장"/>-->
                                                    <img src="../assets/images/icon/ico-save.svg" alt="저장 아이콘">
                                                    저장

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <form id="980_form">
                                    <input type="hidden" id="indatem" name="inuserid">
                                    <input type="hidden" id="inuserid" name="inusernm">
                                <table class="write-table">
                                    <caption>점검등록 테이블</caption>
                                    <colgroup>
                                        <col class="wp12">
                                        <col class="wp40">
                                        <col class="wp12">
                                        <col class="wp40">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>
                                            <label for="test">
                                                협력사명
                                            </label>
                                        </th>
                                        <td>
                                            <input type="text" id="test" name="emconcomp" class="wp100" placeholder="협력사명">
                                        </td>
                                        <th>
                                            <label>
                                                소속부서
                                            </label>
                                        </th>
                                        <td>
                                            <input type="text" id="text2" class="wp100" name ="divinm" placeholder="유지보수">
                                        </td>


                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="text2">
                                                성명 <span class="req">*</span>
                                            </label>
                                        </th>
                                        <td>
<!--                                            <input type="datetime-local" id="date4" name="">-->
                                            <input type="text" id="text3" name="emconper" class="wp100" placeholder="성명">
                                        </td>
                                        <th>
                                            <label for="text2">
                                                모바일 <span class="req">*</span>
                                            </label>
                                        </th>
                                        <td>
<!--                                            <input type="datetime-local" id="date5" name="">-->
                                            <input type="text" id="text4" name="emconmno" class="wp100" placeholder="010">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="text2">
                                                이메일
                                            </label>
                                        </th>
                                        <td>
                                            <input type="email" id="text5" name="emconemail" class="wp100" placeholder="admin@">
                                        </td>

                                        <th>
                                            <label for="text3">
                                                사무실전화 <span class="req">*</span>
                                            </label>
                                        </th>
                                        <td>
                                            <input type="text" id="text6" name="emcontel" class="wp100" placeholder="02">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="text2">
                                                지역
                                            </label>
                                        </th>
                                        <td>
                                            <div class="search-wrap">
                                                <ul>
                                                    <li>
                                                        <select title="지역">
                                                            <option>대구</option>
                                                        </select>
                                                    </li>
                                                </ul>
<!--                                                <textarea id="textarea1" placeholder="점검사항"></textarea>-->
<!--                                                <p class="text-count" id="text-count1">0/100</p>-->
                                            </div>
                                        </td>
                                        <th>
                                            <label for="text2">
                                                산단
                                            </label>
                                        </th>
                                        <td>
                                            <div class="search-wrap">
                                                <ul>
                                                    <li>
                                                        <select title="구">
                                                            <option>성서산단</option>
                                                        </select>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            담당업무
                                        </th>
<!--                                        <td colspan="3">-->
<!--                                            <div id="uploadComponent1" class="upload-component">-->
<!--                                                <div class="upload-filebox">-->
<!--                                                    <img src="../assets/images/icon/ico-fileupload.svg" alt="업로드아이콘">-->
<!--                                                    <a href="#" class="btn" title="파일업로드">파일업로드</a>-->
<!--                                                    <input type="file" id="fileInput1" class="fileInput" multiple>-->
<!--                                                    <p>Maximun upload file size <span>1GiB</span></p>-->
<!--                                                </div>-->
<!--                                                <div class="upload-filelist">-->
<!--                                                    <div class="title">-->
<!--                                                        <h5>Files (0)</h5>-->
<!--                                                        <a href="#" title="Delete all" class="btn-file-deleteall">Delete all</a>-->
<!--                                                    </div>-->
<!--                                                    <ul class="filelist">-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        <td>
                                            <input type="text" id="text7" name="taskwork" class="wp100" placeholder="담당업무">
                                        </td>

                                        <th>
                                            <label for="date3">
                                                생성일시
                                            </label>
                                        </th>
                                        <td>
                                            <input type="date" id="date3" name="" value="2024-07-02" readonly >
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </form>
                            </div>
                        </section>
                    </div> <!--//tab-contens end-->
                </div> <!--//tab-wrap end-->
            </div> <!--//layout-contents end -->


        </section>

<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->

<!--                <div class="tab-content">-->
<!--                    <div class="tab" id="tab_basic">-->
<!--                        <div class="tab_con_box">-->
<!--                            <div class="table_box">-->
<!--                                <span class="right_align rpt" data-labelCd="사용자 상세 정보">사용자 상세 정보</span>-->
<!--                                <button type="button" class="btn-default" id="btnNew" name="btnNew" title="신규"><i class="fas fa-plus"></i></button>-->
<!--                                <button type="button" class="btn-danger" id="btnDel" title="삭제"><i class="fas fa-trash"></i></button>-->
<!--                                <button type="button" class="btn-default" id="btnSave"  title="저장"><i class="fas fa-save"></i></button>-->

<!--                            </div>-->

<!--                <div calss="table_box">-->
<!--                    <form id = "Tbrp980Form">-->
<!--                        <div class="table_box sub">-->
<!--                            <div class="row">-->
<!--                                <input type = "hidden" id="id" name="id"/>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="협력사">협력사</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comp" name="comp" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="협력사">소속부서</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comnp" name="comnp" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="협력사">성명</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="name" name="name" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="모바일">모바일</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="tel" name="mo" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="이메일">이메일</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="email" name="email" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="사무실전화">사무실전화</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comtel" name="comtel" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="지역">지역</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comp1" name="comp1" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="산단">산단</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comp2" name="comp2" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="담당업무">담당업무</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comp3" name="comp3" />-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="col-6 col-md-3 col-lg-3" >-->
<!--                                    <div class="input-group" >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text fit_box_t7" data-labelCd="생성일시">생성일시</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control2 "  id="comp5" name="comp5" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->

<!--                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->

<!--            </div>-->
        </div>
    </div>

    <script type="text/x-tmpl" id="docCreateTemplate">
        <div class="content_wrap popup">
            <section class="pt-2">
                <form id="docForm">
                    <input type="hidden" id="id" name="id" value="{%=o.id%}">
                    <div class="table_box sub" id="detail_box">
                        <div class="row">
                             <div class="col-6">
                                <div class="input-group" data-ax5picker="basic" id="docDateDiv">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t4">일자</span>
                                    </div>
                                    <input class="form-control2 tac" type="text" id="doc_date" name="doc_date" value="{%=o.doc_date%}"/>
                                    <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color" ></i></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t4">문서명</span>
                                    </div>
                                     <input class="form-control2" type="text" id="doc_name" name="doc_name" value="{%=o.doc_name%}"  />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_t4_area">내용</span>
                                    </div>
                                    <textarea class="form-control2" id="content" name="content">{%=o.content%}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="grid_box" id='image_upload1'></div>


            </section>
            <section class="section">
                <div class="popup_button_group bottom">
                    <div class="left_align">
                    <button type="button" class="btn-popup" id="btn_doc_save" ><span>저장</span></button>
                    <button type="button" class="btn-popup" id="modal-close-button"><span>닫기</span></button>

                    </div>
                </div>
            </section>
            <img id="imgPhoto" src="" height="600" width="400" />
        </div>
    </script>
</th:block>

<th:block layout:fragment="scripts">

    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>

    <script type="text/javascript">
        class DocumentPage {
            constructor() {
                // this.grid = null;
                // this.uploader = null;
                this.base_url = '/api/system/tel_List';
                // this.init();
            }

            // init() {
            //     let _this = this;
            //     let config = {
            //         target: $('[data-ax5grid="document-grid"]'),
            //         sortable: true,
            //         frozenColumnIndex: 0, // 열 고정
            //         frozenRowIndex: 0,    // 행 고정
            //         showLineNumber: true, // 열의 번호 보이기 여부
            //         showRowSelector: false,  // checkbox(선택) 보이기 여부
            //         multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
            //         sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
            //         multiSort: true, // 다중 정렬 여부
            //         header: {
            //             align: 'center',  // 헤더의 기본 정렬
            //             columnHeight: 38  // 헤더 높이
            //         },
            //         body: {
            //             columnHeight: 25, // body의 기본 높이
            //             onClick: function (e) {
            //                 _this.grid.select(this.dindex);
            //             }
            //         },
            //         page: {
            //             display: true,  // 페이징 보이기 여부
            //             statusDisplay: true,
            //         },
            //         columns: [
            //             { key: 'id', label: 'No', width: 100, align: 'right'},
            //             { key: 'doc_date', label: '협력사', width: 150, align: 'center' },
            //             { key: 'doc_name', label: '성명', width: 150, align: 'left' },
            //             { key: 'email', label: '이메일', width: 150, align: 'left' },
            //             { key: 'content1', label: '지역', width: 150, align: 'left' },
            //             { key: 'content2', label: '담담업무', width: 150, align: 'left' },
            //             { key: 'content3', label: '생성일시', width: 150, align: 'left' },
            //             { key: 'content4', label: '소속부서', width: 150, align: 'left' },
            //             { key: 'content5', label: '모바일', width: 150, align: 'left' },
            //             { key: 'content6', label: '사무실전화', width: 150, align: 'left' },
            //             { key: 'content7', label: '산단', width: 150, align: 'left' },
            //             {
            //                 key: 'files', label: '파일', width: 150, align: 'left',
            //                 formatter: function () {
            //                     let result = '';
            //                     let files = this.item.files
            //                     if (files != null) {
            //                         files.forEach(function (file) {
            //                             result += '<a href="javascript:gridFileDownload(\'' + file.attach_name + '\',' + file.file_id + ',\'' + file.file_name + '\')" title="'+ file.file_name + '">&nbsp;<i class="far fa-file" aria-hidden="true" ></i >&nbsp;</a>&nbsp;'
            //                         });
            //                     }
            //                     return result;
            //                 }
            //             },
            //         ]
            //     };
            //
            //     this.grid = new ax5.ui.grid(config);
            //     this.grid_config = config;
            // }

            // 버튼 활성화 설정
            //setButtonDisable(_boolnew, _boolsave, _booldel) {
            //    $('[id=btnNew]').prop('disabled', _boolnew);
            //    $('[id=btnEdit]').prop('disabled', _boolsave);
            //    $('[id=btnDel]').prop('disabled', _booldel);
            //}

            // //버튼 활성화
            // setButtonState() {
            //     let pk = this.grid.getList("selected");
            //     $('#btnNew').prop('disabled', false);
            //     $('#btn-edit').prop('disabled', false);
            //     $('#btnsave').prop('disabled', false);
            //     if (pk) {
            //         $('#btnDel').prop('disabled', false);
            //         $('#btnEdit').prop('disabled', false);
            //     }
            //     else {
            //         $('#btnDel').prop('disabled', true);
            //         $('#btnEdit').prop('disabled', true);
            //     }
            // }

            // //모달
            // showDocEdit(data) {
            //     let _this = this;
            //     let content = tmpl('docCreateTemplate', data);
            //     let $content = $(content);
            //     let modalContainer;
            //     if (!data.id) {
            //         modalContainer = new PopupDraggable('문서 등록');
            //     } else {
            //         modalContainer = new PopupDraggable('문서 수정');
            //     }
            //     modalContainer.open({ width: 800, height: 400, $content });
            //
            //     $('#docDateDiv').ax5DatePicker({ direction: 'top' });
            //     $content.find('#btn_doc_save').on('click', function () {
            //         let $form = $content.find('#docForm');
            //         Alert.confirm('',
            //             '저장하시겠습니까?',
            //             function () { _this.saveDocument($form, modalContainer); },
            //             function () { }
            //         );
            //     });
            // }
            //


            // 비상연락망 조회
            searchMainData(){
                let _this = this;

                let data = {
                    'group': $('#emconcomp').val(),
                    'txtName' :$('#emconper').val(),
                    'txtMno' :$('#emconmno').val()
                };
                let result = AjaxUtil.getSyncData(_this.base_url+'/read',data);
                if(result.data != null){
                    let recordsTotal = result.data.length;
                    _this.grid.setData({
                        list: result.data,
                        page:{
                            display:true,
                            totalElements : recordsTotal,
                        }
                    });
                    $('#tel_pk').val('');   // tel_pk hidden으로 받는 input태그 생성
                }

                $('#980_form')[0].reset();
                $('980_form').find('#id').val('');



            }



            // 비상연락망 저장
            saveTel(type) {
                let _this = this;

                let data = FormUtil.extractForm($('#980_form'));
                let fnSuccess = function(res){
                    data.type= type;
                    console.log(res,"+",data);

                    if (res.success){
                        Notify.success("등록되었습니다.");

                    }else if (!res.success){
                        Alert.alert('',res.message);
                        _this.searchDataBind();
                    }
                };
                AjaxUtil.postAsyncData(_this.base_url+'/save', data, fnSuccess);
            }

            // 비상연락망 삭제
            deleteTel(){
                let _this = this;
                let id = $('#980_form').find('#id').val();
                let data = {id: id};
                let fnsuccess = function (res){
                    if(res.success){
                        Notify.success('삭제했습니다.');
                        // _this.searchMainData();
                    }else{
                        Alert.alert('',res.message);
                    }
                };
                let result = AjaxUtil.postAsyncData(_this.base_url+'/delete',data,fnsuccess);
            }

            // 비상연락망 수정
            editTel(){

               let _this = this;
               let id = $('#980_form').find('#id').val();
               let data = FormUtil.extractForm($('#980_form'));
               data.id = id;

               AjaxUtil.postAsyncData(_this.base_url+'/edit',data,function(res){
                if(res.success){
                    Notify.success('수정했습니다.');
                }else{
                    Alert.alert('',res.message);
                }
            });
        }

        viewDatails(){
                let _this = this;
                let id = $('#980_form').find('#id').val();
                let data = {id : id};
        }

        // 비상연락망 상세보기
            showDetailTel(){
                let _this = this;
                let id = $('#980_form').find('#id').val();
            }





        }

        let page = null;

        $(document.body).ready(function (e) {
            page = new DocumentPage();
            // page.searchDataBind();



            $('#btnSave').click(function (e) {
                console.log('22');
                Alert.confirm('',
                    '등록하시겠습니까?',
                    function () {
                        page.saveTel("S")
                    },
                    function () {
                    }
                );
            });

            $('#btnDel').click(function (e) {
                Alert.confirm('',
                    '삭제하시겠습니까?',
                    function () { page.deleteUser() },
                    function () { }
                );
            });

            $('#btnEdit').click(function (e){
                Alert.confirm('',
                '수정하시겠습니까?',
                function () { page.editTel() },
                function() { }
                );
            });




        });



    </script>
</th:block>