<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>메뉴 로그</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>메뉴로그</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="메뉴카운트">메뉴 카운트</a>
                </li>
                <li>
                    <a href="#tab2" title="메뉴로그">메뉴 로그</a>
                </li>
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <form id="searchForm">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    발생일<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input class="tac w150 " type="text" id="date_from" name="date_from" />
                                            <label for="searchfrdate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input class="tac w150" type="text" id="date_to" name="date_to" />
                                            <label for="searchtodate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="select1">
                                        <span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select class="form-control2" id="cboMenu" name="cboMenu"></select>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="text1">
                                        사용자<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select class="form-control2" id="cboUser" name="cboUser"></select>
                                </dd>
                            </dl>

                            </br>
                            <dl>
                                <dt>
                                    <label for="text1">
                                        <span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <!--                                        <input type="text" id="searchusr" name="searchusr" class="input-srch" placeholder="점검자명 검색">-->
                                        <a class="btn-srch" id="searchgrid" title="검색" ></a>
                                    </div>
                                </dd>
                            </dl>

                        </div>
                        </form>
                        <div class="button-wrap">
                                <ul>
                                    <li>
                                        <a title="설정"  class="btn btn-edit btn-popup-open"
                                           data-popup="popup1">
                                            <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                            Setting
                                        </a>
                                    </li>
                                </ul>
                        </div>


                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>
                <!-- Section -->
                <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    발생일<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="searchfrdate" name="searchfrdate">
                                            <label for="searchfrdate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="searchtodate" name="searchtodate">
                                            <label for="searchtodate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="text1">
                                        점검자<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="searchusr" name="searchusr" class="input-srch"
                                               placeholder="점검자명 검색">
                                        <a href="#a" class="btn-srch" id="searchgrid" title="검색" onclick="searchData()"
                                           onkeyup="searchData()"></a>
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="select1">
                                        <span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select id="select1" class="w120">
                                        <option>전체</option>
                                        <option>완료</option>
                                        <option>미완료</option>
                                    </select>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="text1">
                                        사용자<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select id="select2" class="w120">
                                        <option>전체</option>
                                        <option>완료</option>
                                        <option>미완료</option>
                                    </select>
                                </dd>
                            </dl>

                            </br>
                            <dl>
                                <dt>
                                    <label for="text1">
                                        <span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">

                                        <a  class="btn-srch" id="searchgrid" title="검색" onclick="searchData()"
                                           onkeyup="searchData()"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>


                    </div>
                    <div class="container-fluid">
                        <p id="selectedItem1"></p>
                        <div id="theGrid2"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        let selectedFiles = [];


        function getTextValue(e) {
            // 기본 동작 (예: 링크 이동)을 막습니다.
            e.preventDefault();

            // e.currentTarget은 클릭된 btn-file-delete 요소를 가리킵니다.
            const button = e.currentTarget;
            // 부모 li 요소를 찾습니다.
            const liElement = button.closest('li');
            // li 요소 내의 p 태그를 찾습니다.
            const pElement = liElement.querySelector('p');
            // p 태그의 텍스트 내용을 가져옵니다.
            const textValue = pElement.textContent;

            // 텍스트 값을 콘솔에 출력합니다.
            console.log(textValue);

            // 필요에 따라 다른 작업을 수행할 수 있습니다.
        }


        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let data3 = [];
            let param = FormUtil.extractForm($('#searchForm'));

            // 'date_from'과 'date_to'를 폼에서 추출
            let date_from = $('#date_from').val();
            let date_to = $('#date_to').val();
            let cboMenu = $('#cboMenu').val();
            let cboUser = $('#cboUser').val();

            $.ajax({
                url: '/api/system/menulog/log_count',
                type: 'GET',
                data: {
                    'param': param,
                    date_from: date_from,
                    date_to: date_to,
                    cboMenu: cboMenu,
                    cboUser: cboUser
                },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_count data:', textStatus, errorThrown);
                }
            })

            $.ajax({
                url : '/api/system/menulog/log_list',
                type: 'GET',
                data: {
                    'param' : param,
                    date_from: date_from,
                    date_to: date_to,
                    cboMenu: cboMenu,
                    cboUser: cboUser
                },
                async: false,
                success: function (data){
                    console.log('wijmo', data.data);
                    data3 = data.data;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);
            viewdata2 = new wijmo.collections.CollectionView(data3);

            // 데이터 그리드에 바인딩


            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    { binding: 'folder_name', header: '메뉴폴더', width: 200, align: 'center' },
                    { binding: 'menu_name', header: '메뉴', width: 200, align: 'center' },
                    { binding: 'use_count', header: '사용횟수', width: 200, align: 'center', format: 'n0' },
                    {binding: '', header: '', width: 950, align: 'center'},
                ],

                itemsSource: viewdata
            });

            theGrid2 = new wijmo.grid.FlexGrid('#theGrid2', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {binding: 'id', header: 'No', width: 160, align: 'center'},
                    {binding: 'folder_name', header: '메뉴폴더', width: 160, align: 'center'},
                    {binding: 'menu_name', header: '메뉴', width: 260, align: 'center'},
                    {binding: 'username', header: '아이디', width: 160, align: 'center'},
                    {binding: 'user_name', header: '이름', width: 160, align: 'center'},
                    {binding: 'click_date', header: '일시', width: 260, align: 'center'},
                    {binding: '', header: '', width: 400, align: 'center'},

                ],

                itemsSource: viewdata2
            });

            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: () => {

                }
            })

            let selector2 = new wijmo.grid.selector.Selector(theGrid2, {
                itemChecked: () => {

                }
            })

            // 그리드 초기화
            // new wijmo.grid.FlexGrid('#theGrid', theGrid);
            // new wijmo.grid.FlexGrid('#theGrid2', theGrid2);



            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
            theGrid2.rowHeaders.columns.splice(0, 1);

            // create the fast scroller element
            var theScroller = document.createElement('div');
            theScroller.classList.add('fast-scroller');
            for (var i = 65; i <= 90; i++) {
                var initial = wjCore.createElement('<div>' + String.fromCharCode(i) + '</div>');
                theScroller.appendChild(initial);
            }
            theGrid2.hostElement.firstElementChild.appendChild(theScroller);
            theScroller.addEventListener('mousedown', function (e) {
                //
                // get initial we're looking for
                var initial = e.target.textContent;
                scrollTo(initial);
                e.preventDefault();
            });
            //
            // allow scrolling by typing the initial as well
            theGrid2.hostElement.addEventListener('keypress', function (e) {
                scrollTo(String.fromCharCode(e.keyCode));
            });
            //
            // scroll the grid to show a given initial
            function scrollTo(initial) {
                if (initial.length == 1) {
                    initial = initial.toUpperCase();
                    for (var i = 0; i < theGrid2.rows.length; i++) {
                        var row = theGrid2.rows[i];
                        if (row instanceof wjGrid.GroupRow && row.dataItem.name == initial) {
                            var rc = theGrid2.cells.getCellBoundingRect(i, 0, true);
                            var pt = theGrid2.scrollPosition;
                            //
                            // scroll with animation
                            if (true) {
                                wjCore.animate(function (pct) {
                                    var y = (pt.y * (1 - pct)) + (-rc.top * pct);
                                    theGrid2.scrollPosition = new wjCore.Point(pt.x, y);
                                }, 300);
                            }
                            else { // or without
                                theGrid2.scrollPosition = new wjCore.Point(pt.x, -rc.top);
                            }
                            break;
                        }
                    }
                }
            }



        }

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->



        let filelist = [];

        function filevalueinit(param) {
            filelist = param;

        }

        let page = null;

        //검색
        // function searchData() {
        //     let data = {
        //         'searchusr': $('#searchusr').val(),
        //         'searchfrdate': $('#searchfrdate').val(),
        //         'searchtodate': $('#searchtodate').val()
        //     }
        //
        //     let result = AjaxUtil.getSyncData('/api/inspec_report/read', data);
        //
        //     if (result.success) {
        //         console.log(result.data);
        //         grid_binding(result.data);
        //     }
        // }

        $(document).ready(function (e) {

            $('#date_from').val(CommonUtil.getYYYYMMDD(-7));
            $('#date_to').val(CommonUtil.getYYYYMMDD());

            AjaxUtil.fillSelectOptions($('#cboMenu'), 'menu_item', 'all');

            let url = '/api/system/menulog/user_list';
            let user_list = AjaxUtil.getSyncData(url, {});
            let $combo = $('#cboUser');
            $combo.empty();
            let option = $('<option>',
                {
                    value: '',
                    text: '전체',
                });
            $combo.append(option);
            $.each(user_list.data, function (index, row) {
                let option = $('<option>',
                    {
                        value: row['value'],
                        text: row['text'],
                    });
                $combo.append(option);
            });
//그리드 컬럼 설정
            page.popColSetting = new popColSetting();
            let columns1 = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'thegrid', page.count_grid);
            let columns2 = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'thegrid2', page.grid);

            if (userinfo.group_code == 'admin') {
                $('#btnGridSetting1').css('visibility','visible');
                $('#btnGridSetting2').css('visibility','visible');
            }

            $('#btnGridSetting1').click(function (e) {
                let _this = this;
                let fix_cols = page.grid_config1.frozenColumnIndex;
                page.popColSetting.show(gui.gui_code, gui.template_key, 'thegrid', page.grid_config1.columns, page.count_grid, { 'order_fix':false,  'fix_cols' : fix_cols });
            });
            $('#btnGridSetting2').click(function (e) {
                let _this = this;
                let fix_cols = page.grid_config2.frozenColumnIndex;
                page.popColSetting.show(gui.gui_code, gui.template_key, 'thegrid2', page.grid_config2.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
            });

            page.searchDataBind();

            $('#btnSearch').click(function (ex) {
                page.searchDataBind();
            });




        });
    </script>
</th:block>

</html>