<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <section >
        <div class="title_box">
            <div class="left_align">
                <h3 data-labelCd="프라퍼티 마스터 관리">프라퍼티 마스터 관리</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>        
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-md-3 col-lg-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_lg" data-labelCd="테이블">테이블</span>
                        </div>
                        <select class="form-control2" id="cboTable_name" name="cboTable_name"></select>
                    </div>
                </div>
                <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 
            </div>
        </div>
    </section>    
        
    <section>
        <div class="grid_box" >
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="테이블 데이터">테이블 데이터</span>
            </div>
            <div class="h-350" data-ax5grid="data_grid"></div>  
        </div> 
    </section>
    

    <section>
        <div class="title_box">
            <button type="button" class="btn-default" id="btnNew" title="데이터추가"><i class="fas fa-plus"></i></button>
             <button type="button" class="btn-default" id="btnSave" title="데이터저장"><i class="fas fa-save"></i></button>
            <button type="button" class="btn-cancel" id="btnDelete" title="데이터삭제"><i class="fas fa-trash"></i></button>
           
        </div>
        <div class="table_box sub" id="detailBox">
            <form id="prop_master_form">
            <div class="row">
                <input class="form-control2" type="text" id="id" name="id" hidden/>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t7" data-labelCd="테이블">테이블</span>
                        </div>
                        <select class="form-control2 "  id="table_name" name="table_name" disabled="disabled" required></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_lg" data-labelCd="코드">코드</span>
                        </div>
                        <input type="text" class="form-control2" id="table_code" name="table_code" disabled="disabled" required/>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-3" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_lg" data-labelCd="설명">설명</span>
                        </div>
                        <input type="text" class="form-control2" id="description" name="description" disabled="disabled" />
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t7" data-labelCd="값유형">값유형</span>
                        </div>
                        <select class="form-control2 "  id="val_type" name="val_type" disabled="disabled" required></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-2 col-xl-2 mt-5 tac" >
                    <input type="checkbox" id="new_data" name="new_data" value="Y" disabled />
                    새 데이터로 저장 
                </div>
            </div>
            </form>
        </div>
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">

<script type="text/javascript">

    class PropMasterPage {
        constructor() {
            this.url = '/api/system/property_master';
            this.init();
      
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="data_grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 40  // 헤더 높이
                },
                body: {
                    columnHeight: 28, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetailPropMaster(e.item.id);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'table_name', label: '테이블', width: 100, align: 'center', sortable: false },
                    { key: 'table_code', label: '코드', width: 100, align: 'left', sortable: false },
                    { key: 'description', label: '설명', width: 150, align: 'left', sortable: false },
                    { key: 'val_type', label: '값유형', width: 100, align: 'left', sortable: false },
                ]
            };

            this.grid = new ax5.ui.grid(config);


            AjaxUtil.fillSelectOptions($('#cboTable_name'), 'system_code', 'all', false, 'prop_master');
            AjaxUtil.fillSelectOptions($('#table_name'), 'system_code', 'choose', false, 'prop_master');
            AjaxUtil.fillSelectOptions($('#val_type'), 'system_code', 'choose', false, 'value_type');
        }

        searchMainData() {
            let _this = this;
            let data = {
                'tb_name': $('#cboTable_name').val(),
            };

            let result = AjaxUtil.getSyncData(this.url + '/read', data);
            if (result != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            }
            $('#prop_master_form')[0].reset();
            $('#prop_master_form').find('#id').val();

            $('#detailBox').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });
            page.setButtonState();
        }



        setButtonState() {
            let pk = $('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDelete').prop('disabled', false);
            }
            else {
                $('#btnDelete').prop('disabled', true);
            }
        }

        showDetailPropMaster(id) {
            let param = { 'id': id };
            let result = AjaxUtil.getSyncData(this.url + '/detail', param);

            if (result != null) {
                FormUtil.BindDataForm(result.data, $('#prop_master_form'));
            }
             $('#new_data').prop('disabled', false);
            page.setButtonState();
        }



        savePropMaster() {
            let _this = this;
            let validate = true;
            let $target = null
  
          
            let data = FormUtil.extractForm($('#prop_master_form'));

            let fnSuccess = function (res) {
                if (!res.success) {
                    Alert.alert('', res.message);
                } else {
                    Notify.success("저장되었습니다."); // Notification
                    
                    _this.searchMainData();
                    _this.showDetailPropMaster(res.data.id);
                }
            }
            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':required')) {
                    if (!$(this).val()) {
                        validate = false;
                        $target = $(this);
                        return false;
                    }
                }
            });

            if (validate) {
                AjaxUtil.postAsyncData(this.url + '/save', data, fnSuccess);
            } else {
                Alert.alert('', '필수 항목 [ 테이블, 코드, 값유형 ]을  입력해주세요.', function () {
                    $target.focus();
                });
            }
        }

        deletePropMaster() {
            let _this = this;
            let id = $('#prop_master_form').find('#id').val();
   
            let data = { 'id': id };
            let fnsuccess = function (result) {
                Notify.success('삭제했습니다.');
                _this.searchMainData();
            };
            let result = AjaxUtil.postAsyncData(this.url + '/delete', data, fnsuccess);
        }

    }

    let page = null;
    $(document).ready(function (e) {
        page = new PropMasterPage();

        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        $('#btnNew').click(function (e) {
            
            $('#prop_master_form')[0].reset();
            $('#prop_master_form').find('#id').val('');

            $('#detailBox').find('input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            page.setButtonState();
        });

         $('#btnSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.savePropMaster() },
                function () { }
            );
        });

        $('#btnDelete').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deletePropMaster() },
                function () { }
            );
        });

        page.searchMainData();
    });

</script>
</th:block>
</html>