<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <section class="section">
        <div class="title_box">
            <div class="left_align">
                <h4>Site Setup</h4>
            </div>
            <div class="right_align">
            </div>
        </div>        
        <section class="section">
            <div class="title_box">
                <div class="left_align"><h4>폴더메뉴설정</h4></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="tab_con_box">
                        <div class="title_box">
                            <div class="left_align">
                                <h4>메뉴폴더</h4>
                            </div>
                        </div>
                        <div class="title_box">
                            <div class="left_align">
                                <div class="button_group">
                                    <img src="/img/icon/sort-up.png" id="imgFolderUp" style="width: 20px; margin: 5px;cursor:pointer">
                                    <img src="/img/icon/sort-down.png" id="imgFolderDown" style="width: 20px; margin: 5px;cursor:pointer">
                                    <button id="btnFolderOrderSave" type="button" class="new">순서저장</button>
                                    <button id="btnNewFolder" type="button" class="new">폴더추가</button>
                                    <button id="btnFolderRename" type="button" class="new">이름변경</button>
                                    <button id="btnFolderDelete" type="button" class="del">삭제</button>
                                </div>
                            </div>
                        </div>

                        <div class="grid_box">
                            <div style="position: relative;height:400px;">
                                <div data-ax5grid="folder_grid" style="height:100%;"></div>
                            </div>
                            <div class="table_info_box"></div>
                        </div>
                        <form id="menuFolderForm">
                            <table class="table">
                                <colgroup>
                                    <col style="width:30%" />
                                    <col style="width:70%" />
                                </colgroup>
                                <tr>
                                    <th>상위폴더</th>
                                    <td><select id="cboParentFolder" name="Parent_id"></select></td>
                                </tr>

                                <tr>
                                    <th>번호</th>
                                    <td><input type="number" id="txtFolder_id" name="Folder_id" readonly /> </td>
                                </tr>
                                <tr>
                                    <th>폴더명</th>
                                    <td><input type="text" id="txtFolderName" name="FolderName"></td>
                                </tr>
                                <tr>
                                    <th>순서</th>
                                    <td><input type="text" id="txtOrder" name="_order"></td>
                                </tr>
                                <tr>
                                    <th>아이콘</th>
                                    <td><input type="text" id="txtIconCSS" name="IconCSS"><i id="imageIcon" class="fa" aria-hidden="true"></i></td>
                                    <td id="imageIcon"><i class="fa" aria-hidden="true"></i></td>
                                    <td></td>
                                </tr>
                                <tr><th>아이콘찾기</th><td><a target="_new" href="https://fontawesome.com/v4/icons/#">https://fontawesome.com/v4/icons/#</a></td></tr>
                            </table>
                        </form>

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="tab_con_box">
                        <div class="title_box">
                            <div class="left_align">
                                <h4>메뉴항목</h4>
                            </div>
                        </div>
                        <div class="title_box">
                            <div class="left_align">
                                <img src="/img/icon/sort-up.png" id="imgMenuUp" style="width: 20px; margin: 5px;cursor:pointer">
                                <img src="/img/icon/sort-down.png" id="imgMenuDown" style="width: 20px; margin: 5px;cursor:pointer">

                                <button id="btnMenuSave" type="button" class="new">메뉴저장</button>
                                <button id="btnFolderChange" type="button" class="search">폴더변경</button>
                            </div>
                        </div>
                        <div class="grid_box">
                            <div style="position: relative;height:640px;">
                                <div data-ax5grid="menu_grid" style="height:100%;">
                                </div>
                            </div>
                            <div class="table_info_box"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 align-middle text-center">
                    <div class="tab_con_box" style="height:640px;">
                        <br /><br /><br /><br /><br /><br />
                        <br /><br /><br /><br /><br /><br />
                        <br /><br /><br /><br /><br /><br />
                        <br /><br /><br /><br /><br /><br />
                        <button id="deleteMenu" class="del"><i class="fas fa-trash"></i><span> ==&gt;</span></button>
                        <br /><br />
                        <button id="addMenu" class="new"><i class="fas fa-plus"></i><span> &lt;==</span></button>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="tab_con_box">
                        <div class="title_box">
                            <div class="left_align">
                                <h4>소스메뉴</h4>
                            </div>
                        </div>
                        <div class="title_box">
                            <div class="left_align">
                                <div class="input-group">
                                    <input id="unset" type="checkbox" />
                                    <button>미사용메뉴</button>
                                </div>
                            </div>
                            <input type="text" id="menu_keyword" />
                            <button id="btnMenuList" class="new">조회</button>
                        </div>

                        <div class="grid_box">
                            <div style="position: relative;height:640px;">
                                <div data-ax5grid="gui_use_grid" style="height:100%;">
                                </div>
                            </div>
                            <div class="table_info_box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink=".tabs .tab1" id="tab1" class="tab">폴더메뉴설정</a></li>
                        <li><a href="#" data-tablink=".tabs .tab2" id="tab2" class="tab">시스템옵션정보</a></li>
                        <li><a href="#" data-tablink=".tabs .tab3" id="tab3" class="tab">시스템코드</a></li>
                        <li><a href="#" data-tablink=".tabs .tab4" id="tab4" class="tab">기타설정</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab tab1">
                    <section class="section">
                        <div class="title_box">
                            <div class="left_align"><h4>폴더메뉴설정</h4></div>
                            <div class="right_align">
                                <button type="button" id="menuSetup" class="search">Menu Setup</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="tab_con_box">
                                    <div class="title_box">
                                        <div class="left_align">
                                            <h4>메뉴폴더</h4>
                                        </div>
                                    </div>
                                    <div class="title_box">
                                        <div class="left_align">
                                            <div class="button_group">
                                                <img src="/img/icon/sort-up.png" id="imgFolderUp" style="width: 20px; margin: 5px;cursor:pointer">
                                                <img src="/img/icon/sort-down.png" id="imgFolderDown" style="width: 20px; margin: 5px;cursor:pointer">
                                                <button id="btnFolderOrderSave" type="button" class="new">순서저장</button>
                                                <button id="btnNewFolder" type="button" class="new">폴더추가</button>
                                                <button id="btnFolderRename" type="button" class="new">이름변경</button>
                                                <button id="btnFolderDelete" type="button" class="del">삭제</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid_box">
                                        <div style="position: relative;height:400px;">
                                            <div data-ax5grid="folder_grid" style="height:100%;">
                                            </div>
                                        </div>
                                        <div class="table_info_box"></div>
                                    </div>
                                    <form id="menuFolderForm">
                                        <table class="table">
                                            <colgroup>
                                                <col style="width:30%" />
                                                <col style="width:70%" />
                                            </colgroup>
                                            <tr>
                                                <th>상위폴더</th>
                                                <td><select id="cboParentFolder" name="Parent_id"></select></td>
                                            </tr>

                                            <tr>
                                                <th>번호</th>
                                                <td><input type="number" id="txtFolder_id" name="Folder_id" readonly /> </td>
                                            </tr>
                                            <tr>
                                                <th>폴더명</th>
                                                <td><input type="text" id="txtFolderName" name="FolderName"></td>
                                            </tr>
                                            <tr>
                                                <th>순서</th>
                                                <td><input type="text" id="txtOrder" name="_order"></td>
                                            </tr>
                                            <tr>
                                                <th>아이콘</th>
                                                <td><input type="text" id="txtIconCSS" name="IconCSS"><i id="imageIcon" class="fa" aria-hidden="true"></i></td>
                                                <td id="imageIcon"><i class="fa" aria-hidden="true"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr><th>아이콘찾기</th><td><a target="_new" href="https://fontawesome.com/v4/icons/#">https://fontawesome.com/v4/icons/#</a></td></tr>
                                        </table>
                                    </form>

                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="tab_con_box">
                                    <div class="title_box">
                                        <div class="left_align">
                                            <h4>메뉴항목</h4>
                                        </div>
                                    </div>
                                    <div class="title_box">
                                        <div class="left_align">
                                            <img src="/img/icon/sort-up.png" id="imgMenuUp" style="width: 20px; margin: 5px;cursor:pointer">
                                            <img src="/img/icon/sort-down.png" id="imgMenuDown" style="width: 20px; margin: 5px;cursor:pointer">

                                            <button id="btnMenuSave" type="button" class="new">메뉴저장</button>
                                            <button id="btnFolderChange" type="button" class="search">폴더변경</button>
                                        </div>
                                    </div>

                                    <div class="grid_box">
                                        <div style="position: relative;height:640px;">
                                            <div data-ax5grid="menu_grid" style="height:100%;">
                                            </div>
                                        </div>
                                        <div class="table_info_box"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 align-middle text-center">
                                <div class="tab_con_box" style="height:640px;">
                                    <br /><br /><br /><br /><br /><br />
                                    <br /><br /><br /><br /><br /><br />
                                    <br /><br /><br /><br /><br /><br />
                                    <br /><br /><br /><br /><br /><br />
                                    <button id="deleteMenu" class="del"><i class="fas fa-trash"></i><span> ==&gt;</span></button>
                                    <br /><br />
                                    <button id="addMenu" class="new"><i class="fas fa-plus"></i><span> &lt;==</span></button>
                                </div>
                            </div>
                            <div class="col-lg-4">

                                <div class="tab_con_box">
                                    <div class="title_box">
                                        <div class="left_align">
                                            <h4>소스메뉴</h4>
                                        </div>
                                    </div>
                                    <div class="title_box">
                                        <div class="left_align">
                                            <div class="input-group">
                                                <input id="unset" type="checkbox" />
                                                <button>미사용메뉴</button>
                                            </div>
                                        </div>
                                        <input type="text" id="menu_keyword" />
                                        <button id="btnMenuList" class="new">조회</button>
                                    </div>

                                    <div class="grid_box">
                                        <div style="position: relative;height:640px;">
                                            <div data-ax5grid="gui_use_grid" style="height:100%;">
                                            </div>
                                        </div>
                                        <div class="table_info_box"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab tab2">
                    <section class="section">
                        <div class="title_box">
                            <div class="left_align"><h4>시스템옵션정보</h4></div>
                            <div class="right_align">
                                <button type="button" id="systemOptionSetup" class="search">System Option Setup</button>
                            </div>
                        </div>

                        <div class="tab_con_box">
                            <div class="title_box">
                                <span class="right_align rpt">설정정보(setings.py)</span>
                            </div>

                            <div class="table_box">
                                <div class="table_box sub">
                                    <div class="row">
                                        <div class="col-6">
                                            <table class="table table-bordered">
                                                <tr><th>항목</th><th>값</th></tr>
                                                <tbody>
                                                    <tr><td>SITE_NAME</td><td>{{SITE_NAME}}</td></tr>
                                                    <tr><td>MOSQUITTO_HOST</td><td>{{MOSQUITTO_HOST}}</td></tr>
                                                    <tr><td>TOPIC_DEVICE_EVENT</td><td>{{TOPIC_DEVICE_EVENT}}</td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="col-6">
                                            <table class="table table-bordered">
                                                <tr><th>항목</th><th>값</th></tr>
                                                <tbody>
                                                    <tr><td>DEBUG</td><td>{{DEBUG}}</td></tr>
                                                    <tr><td>TOPIC_DEVICE_DATA</td><td>{{TOPIC_DEVICE_DATA}}</td></tr>
                                                    <tr><td>TOPIC_HMI_DATA</td><td>{{TOPIC_HMI_DATA}}</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid_box">
                                <div class="title_box">
                                    <span class="right_align rpt">시스템 옵션</span>
                                </div>
                                <div class="h-250" data-ax5grid="systemOptionGrid"></div>
                            </div>

                            <div class="title_box mb-2">
                                <span class="right_align rpt">상세 정보</span>
                                <button type="button" class="btn-default" id="btnNewSystemOption" name="btnNewSystemOption"><i class="fas fa-plus"></i></button>
                                <button type="button" class="btn-danger" id="btnDelSystemOption" disabled><i class="fas fa-trash"></i></button>
                                <button type="button" class="btn-default" id="btnSaveSystemOption" title="시스템 옵션저장" disabled><span class="fas fa-save"></span></button>
                            </div>
                            <div class="tab_con_box">
                                <form id="formSystemOption">
                                    <div class="table_box sub">
                                        <div class="row">
                                            <input type="hidden" id="sytem_option_id" name="id" />
                                            <div class="col-6 col-md-3 col-lg-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md">코드</span>
                                                    </div>
                                                    <input class="form-control2" type="text" id="option_code" name="code" disabled />
                                                </div>
                                            </div>

                                            <div class="col-6 col-md-3 col-lg-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md">값</span>
                                                    </div>
                                                    <input class="form-control2" type="text" id="option_value" name="value" disabled />
                                                </div>
                                            </div>

                                            <div class="col-6 col-md-6 col-lg-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text fit_box_md">설명</span>
                                                    </div>
                                                    <input class="form-control2" type="text" id="option_description" name="description" disabled />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="title_box">
                            <div class="left_align">
                                
                            </div>
                        </div>
                    </section>

                </div>
                <div class="tab tab3">
                    <div class="table_box search">
                        <table class="table search">
                            <caption>조회조건</caption>
                            <colgroup>
                                <col style="width:100px"/>
                                <col/>
                                <col style="width:100px"/>
                                <col/>
                                <col />
                            </colgroup>
                            <tr>
                                <th>코드구분</th>
                                <td>
                                    <div class="select_group" style="width:200px;">
                                        <select id="cboSystemCodeType" name="cboSystemCodeType" style="width:200px;"></select>
                                    </div>
                                </td>
                                <th>표시명</th>
                                <td>
                                    <input type="text" id="codeKeyword" name="codeKeyword" value="" />
                                </td>
                                <td>
                                    <button type="button" id="systemCodeSearch" class="search right_align">검색</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <section class="section">
                        <div class="title_box">
                            <div class="left_align"><h4>시스템코드정보</h4></div>
                        </div>
                        <div class="grid_box">
                            <div style="position: relative;height:400px;">
                                <div data-ax5grid="systemcode-grid" style="height:100%;"></div>
                            </div>
                            <div class="table_info_box">

                            </div>
                        </div>
                        <div class="title_box">
                            <div class="left_align">
                                <button type="button" id="systemCodeSetup" class="search">SystemCode Setup</button>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab tab4">
                    <section class="section">
                        <div class="tab_con_box">


                            <div class="title_box mb-2">
                                <div class="left_align">
                                    <h4>기타초기화</h4>
                                </div>
                            </div>

                            <div class="tab_con_box">
                                <div class="table_box sub">
                                    <div class="row">
                                        <div class="left_align">
                                            <button type="button" id="factorySetup" class="btn-default">Factory Setup</button>
                                            <button type="button" id="dasServerSetup" class="btn-default">DasServer Setup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
        -->
    </section>
</div>
</th:block>

<th:block layout:fragment="scripts">
<script src="/js/grid.js?v=1000"></script>
<script type="text/javascript">
    /*class SetupPage {
        constructor() {
            this.guiGrid = null;
            this.systemCodeGrid = null;
            this.init();
        }

        init() {
            let _this = this;
            this.initSystemCodeConfig();
            this.initSystemOption();
        }

        initSystemOption() {
            let _this = this;
            let url = '/api/system/system_option';
            let $formSystemOption = $('#formSystemOption');
            let $btnNewSystemOption = $('#btnNewSystemOption');
            let $btnDelSystemOption = $('#btnDelSystemOption');
            let $btnSaveSystemOption = $('#btnSaveSystemOption');

            let systempOptitonConfig = {
                target: $('[data-ax5grid="systemOptionGrid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 25  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.systemOptionGrid.select(this.dindex);
                        _this.showSystemOptionDetail(e.item.id);
                        $btnDelSystemOption.removeAttr('disabled');
                        $btnSaveSystemOption.removeAttr('disabled');
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'code', label: '코드', width: 200, align: 'left' },
                    { key: 'value', label: '값', width: 200, align: 'left' },
                    { key: 'description', label: '설명', width: 600, align: 'left' },
                ]
            };
            this.systemOptionGrid = new ax5.ui.grid(systempOptitonConfig);
            this.systemOptionList();

            // 시스템옵션 신규작성
            $btnNewSystemOption.click(function (e) {
                $formSystemOption[0].reset();
                $formSystemOption.find('input, select').removeAttr('disabled');
                $btnSaveSystemOption.removeAttr('disabled');

            });

            // 시스템옵션 삭제
            $btnDelSystemOption.click(function (e) {
                Alert.confirm('', '삭제하시겠습니까?', function () {
                    let data = FormUtil.extractForm($formSystemOption);
                    if (data.id == '') {
                        Alert.alert('', '데이터가 선택되지 않았습니다.');
                        return;
                    }

                    let fnsuccess = function (result) {
                        Notify.success('삭제되었습니다.');
                        _this.systemOptionList();
                        $formSystemOption[0].reset();
                    };

                    data.action = 'delete';
                    AjaxUtil.postAsyncData(url+'?action=delete', data, fnsuccess);
                });
            });

            // 시스템옵션 저장
            $btnSaveSystemOption.click(function (e) {

                Alert.confirm('', '저장하시겠습니까?', function () {
                    let data = FormUtil.extractForm($formSystemOption);
                    if (data.code == '') {
                        Alert.alert('', '코드값 누락', function () { });
                        return;
                    }
                    let fnsuccess = function (result) {
                        Notify.success('저장되었습니다.');
                        _this.systemOptionList();
                        $formSystemOption[0].reset();
                    };

                    data.action = 'save';
                    AjaxUtil.postAsyncData(url+'?action=save', data, fnsuccess);
                });

            });
        }


        initSystemCodeConfig() {
            let _this = this;
            let systemCodeConfig = {
                target: $('[data-ax5grid="systemcode-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 35  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.systemCodeGrid.select(this.dindex);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: 'id', width: 80, align: 'center' },
                    { key: 'CodeType', label: '코드구분', width: 150, align: 'left' },
                    { key: 'Code', label: '코드', width: 150, align: 'left' },
                    { key: 'Value', label: '표시명', width: 150, align: 'left' },
                    { key: '_ordering', label: '순서', width: 100, align: 'center' },
                    { key: 'Description', label: '설명', width: 250, align: 'left' },
                ]
            };
            this.systemCodeGrid = new ax5.ui.grid(systemCodeConfig);
            AjaxUtil.fillSelectOptions($('#cboSystemCodeType'), 'system_codetype', 'all', false);
        }

        systemCodeList() {
            let _this = this;
            let url = '/api/system/system_code?action=read';
            let code_type = $('#cboSystemCodeType').val();
            let keyword = $('#codeKeyword').val();
            let data = { code_type: code_type, keyword: keyword };
            let result = AjaxUtil.getSyncData(url, data);
            let recordsTotal = result.length;
            _this.systemCodeGrid.setData({
                list: result,
                page: {
                    display: true,
                    totalElements: recordsTotal,
                }
            });
        }

        systemOptionList() {
            let _this = this;
            let data = {action:'read'};
            let fnsuccess = function (result) {
                let recordsTotal = result.length;
                _this.systemOptionGrid.setData({
                    list: result,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            };
            AjaxUtil.getAsyncData('/api/system/system_option', data, fnsuccess);
        }
    
        showSystemOptionDetail(id) {

            let _this = this;
            let data = {
                action: 'detail',
                id : id
            };

            let $form = $('#formSystemOption');

            let fnsuccess = function (result) {
                FormUtil.BindDataForm(result, $form);
            };
            AjaxUtil.getAsyncData('/api/system/system_option', data, fnsuccess);
        }

        systemOptionSetup() {
            let yCallback = function () {
                let url = '/api/system/system_option';
                let data = { action: 'setup' };

                let fnsuccess = function (req) {
                    if (req.success) {
                        Notify.success(req.saved_count + '개가 설정되었습니다.');
                    }
                };
                AjaxUtil.getAsyncData(url, data, fnsuccess);
            };

            Alert.confirm('확인', '시스템옵션에 값이 없을 경우만 기본값이 설정됩니다. 계속하시겠습니까?', yCallback);
        }

    };//SetupPage
	*/

    class MenuFolderPage {
        constructor() {
            this.folderGrid = null;
            this.menuGrid = null;
            this.guiUseGrid = null;
            this.selectedFolderData = null;
            this.init();
        }

        init() {
            let _this = this;
            let menuFolderConfig = {
                target: $('[data-ax5grid="folder_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 28, // body의 기본 높이
                    onClick: function (e) {

                        //트리 설정된 그리드에서는 아래 코드가 동작하지 않고 있음
                        this.self.select(this.dindex);
                        _this.selectedFolderData = this.item;
                        _this.bindFolderForm(this.item);
                        _this.showSubMenuList(this.item.id);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '번호', width: 80, align: 'center'},
                    {
                        key: 'FolderName', label: '폴더/메뉴명', width: 200, align: 'left',
                        treeControl: true,
                        editor: { type: 'text' },
                    },
                    {
                        key: 'IconCSS', label: "ICON", width: 100, align: 'center', 
                        formatter: function () {
                            let icon = '';
                            if (this.item.IconCSS != '') {
                                icon = '<i class="fas ' + this.item.IconCSS + '"></i>';
                            }
                            return icon;
                        }
                    },
                    {
                        key: '_order', label: '순서', width: 80, align: 'center', 
                    }
                    
                ],
            };
            this.folderGrid = new ax5.ui.grid(menuFolderConfig);

            let menuConfig = {
                target: $('[data-ax5grid="menu_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: true,  // checkbox(선택) 보이기 여부
                multipleSelect: true, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 28, // body의 기본 높이
                    onClick: function (e) {
                        this.self.select(this.dindex);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [ //컬럼 설정 menu = {'objId' : k, 'objNm':name, 'objUrl': obj_url, 'menuDepth':1, 'isbookmark':'False', 'nodes':[]}
                    { key: 'MenuCode', label: '메뉴코드', width: 230, align: 'left' },
                    {
                        key: 'MenuName', label: '메뉴명(소스)', width: 150, align: 'left', 
                        editor: { type: 'text' },
                    },
                    { key: '_order', label: '순서', width: 80, align: 'center', },
                ],

            };
            this.menuGrid = new ax5.ui.grid(menuConfig);
            let guiConfig = {
                target: $('[data-ax5grid="gui_use_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 28, // body의 기본 높이
                    onClick: function (e) {
                        this.self.select(this.dindex);

                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'MenuCode', label: '메뉴코드', width: 250, align: 'left', },
                    { key: 'MenuName', label: '메뉴명', width: 150, align: 'left',  },
                    { key: 'FolderName', label: '설정폴더', width: 150, align: 'left', },
                ],

            };
            this.guiUseGrid = new ax5.ui.grid(guiConfig);
            this.initEventHandler();
        }

        initEventHandler() {
            let _this = this;
            $('#btnFolderOrderSave').click(function(e){
                let folderItems = _this.folderGrid.list;

                Alert.confirm('확인','순서를 저장하시겠습니까?', function(){
                    let items = [];
                    $.each(folderItems, function(idx, item){
                        items.push(item.id);
                    });

                    let data = { Q : JSON.stringify(items) };
                    let url = '/api/system/menu_setup/folder_order_save';
                    let fnsuccess = function (res) {
                        Notify.success('저장했습니다.');
                        _this.loadFolderList();
                    };
                    AjaxUtil.postAsyncData(url, data, fnsuccess);
                });
            });

            AjaxUtil.fillSelectOptions($('#cboParentFolder'), 'menu_folder', 'choose', false);
            // 폴더
            $('#btnFolderDelete').click(function (e) {

                if (_this.selectedFolderData == null) {
                    Alert.alert('', '선택된 폴더가 없습니다.');
                    return;
                }
                else {
                    Alert.confirm('', '삭제하시겠습니까?', function () { _this.deleteFolder() });
                }
            });

            $("#imgFolderUp").click(function (e) {
                GridUtil.changeOrder("U", _this.folderGrid);
            });

            $("#imgFolderDown").click(function (e) {
                GridUtil.changeOrder("D", _this.folderGrid);
            });

            $("#txtIconCSS").blur(function (e) {
                let icon = $("#txtIconCSS").val();
                let html = `<i class="fa ${icon}" aria-hidden="true"></i>`;
                $('#imageIcon').html(html);
            });

            $('#btnNewFolder').click(function (e) {
                let url = '/api/system/menu_setup/folder_insert';
                let id = $('#menuFolderForm').find('#txtFolder_id').val();
                let FolderName = $('#menuFolderForm').find('#txtFolderName').val();
                let IconCSS = $('#menuFolderForm').find('#txtIconCSS').val();
                let data = {
                    old_id: id,
                    FolderName: FolderName,
                    IconCSS:IconCSS,
                };
                let fnsuccess = function (res) {
                     _this.loadFolderList();
                    Notify.info('ok');
                };
                AjaxUtil.postAsyncData(url, data, fnsuccess);

            });

            $('#btnFolderRename').click(function (e) {
                let url = '/api/system/menu_setup/folder_name_save';
                let id = $('#menuFolderForm').find('#txtFolder_id').val();
                let FolderName = $('#menuFolderForm').find('#txtFolderName').val();
                let IconCSS = $('#menuFolderForm').find('#txtIconCSS').val();
                let data = {
                    id: id,
                    FolderName:FolderName,
                    IconCSS:IconCSS,
                };
                let fnsuccess = function (res) {
                     _this.loadFolderList();
                    Notify.info('ok');
                };
                AjaxUtil.postAsyncData(url, data, fnsuccess);

            });


            // 메뉴
            $("#imgMenuUp").click(function (e) {
                GridUtil.changeOrder("U", _this.menuGrid);
            });

            $("#imgMenuDown").click(function (e) {
                GridUtil.changeOrder("D", _this.menuGrid);
            });

            $('#btnMenuSave').click(function (e) {

                let count = _this.menuGrid.list.length;
                if (count > 0) {
                    Alert.confirm('', '변경사항을 전체 저장하시겠습니까?', function () { _this.saveMenuList() });
                } else {
                    Alert.alert('', '변경사항이 없습니다.');
                }
            });

            $('#addMenu').click(function (e) { _this.addMenu();});

            $('#deleteMenu').click(function (e) {
                let selectedMenuItems = _this.menuGrid.getList("selected");
                if (selectedMenuItems.length > 0) {
                    Alert.confirm('', '삭제하시겠습니까?', function () { _this.deleteMenu(selectedMenuItems); });
                } else {
                    Alert.alert('', '선택된 데이터가 없습니다.');
                }
            });

            $('#unset').click(function (e) {
                _this.showGUIUseList();
            });

            $('#btnMenuList').click(function (e) {
                _this.showGUIUseList();
            });

            //$('#menuSetup').click(function (e) {
            //    let url = '/api/system/menu_setup?action=auto_save';
            //    let fnsuccess = function (res) { Notify.info('ok'); };
            //    AjaxUtil.getAsyncData(url, null, fnsuccess);
            //});
        }

        bindFolderForm(data) {
            let parent_id = '';
            if (data.Parent_id !== 'top') {
                parent_id = data.Parent_id;
            }

            $('#cboParentFolder').val(parent_id);
            $('#txtFolder_id').val(data.id);
            $('#txtFolderName').val(data.FolderName);
            $('#txtOrder').val(data._order);
            $('#txtIconCSS').val(data.IconCSS);
            let html = `<i class="fa ${data.IconCSS}" aria-hidden="true"></i>`;
            $('#imageIcon').html(html);
        }

        resetFolderForm() {
            $('#cboParentFolder').val('');
            $('#txtFolder_id').val('');
            $('#txtFolderName').val('');
            $('#txtOrder').val('');
        }

        showSubMenuList(folderID) {
            let _this = this;
            let url = '/api/system/menu_setup/submenu_list';
            let data = { folder_id: folderID };

            let fnsuccess = function (result) {
                let recordsTotal = result.data.length;
                _this.menuGrid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            };
            AjaxUtil.getAsyncData(url, data, fnsuccess);
        }

        showGUIUseList() {
            let _this = this;
            let url = '/api/system/menu_setup/gui_use_list';
            let unset = $('#unset').is(':checked') ? 'y' : '';
            let keyword = $('#menu_keyword').val();
            let param = {
                unset: unset,
                keyword: keyword,
            };
            let fnsuccess = function (result) {
                let count = result.data.length;
                _this.guiUseGrid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: count,
                    }
                });
            };
            AjaxUtil.getAsyncData(url, param, fnsuccess);
        }

        loadFolderList() {
            this.selectedFolderData = null;
            let _this = this;
            let url = '/api/system/menu_setup/read';
            let fnsuccess = function (res) {
                let recordsTotal = res.data.length;
                _this.folderGrid.setData({
                    list: res.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            };
            AjaxUtil.getAsyncData(url, null, fnsuccess);
        }

        addMenu() {
            let _this = this;
            let selectedGUIItems = _this.guiUseGrid.getList("selected");
            if (selectedGUIItems.length > 0) {
                if (_this.selectedFolderData == null) {
                    Alert.alert('', '선택된 폴더가 없습니다.');
                    return;
                }
            }
            else {
                Alert.alert('', '선택된 소스메뉴가 없습니다.');
                return;
            }

            Alert.confirm('', '추가하시겠습니까?', function () {
                let guiItem = selectedGUIItems[0];
                let folderID = _this.selectedFolderData.id;

                let url = '/api/system/menu_setup/menu_save';
                let data = {
                    MenuCode: guiItem.MenuCode,
                    Folder_id: folderID
                };
                let fnsuccess = function (result) {
                    if (result.success) {
                        Alert.alert('', '저장했습니다.');
                        _this.showSubMenuList(folderID);
                        _this.showGUIUseList();
                    }
                };
                AjaxUtil.postAsyncData(url, data, fnsuccess);
            });
        }

        saveMenuList() {
            let _this = this;
            let items = [];
            let order = 10;
            let folderID = '';
            $.each(_this.menuGrid.list, function (idx, item) {
                items.push({ MenuFolder_id: item.MenuFolder_id, MenuCode: item.MenuCode, MenuName: item.MenuName, _order: order });
                folderID = item.MenuFolder_id;
                order += 10;
            });

            let url = '/api/system/menu_setup/menu_list_save';
            let strItems = JSON.stringify(items);
            let data = { Folder_id: folderID, menus: strItems };
            let fnsuccess = function (result) {
                Alert.alert('', '저장되었습니다.');
                _this.showSubMenuList(folderID);
            };

            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        deleteFolder() {
            let _this = this;
            let id = _this.selectedFolderData.id;
            let url = '/api/system/menu_setup/folder_delete';
            let data = { Folder_id: id };
            let fnsuccess = function (result) {
                if (result.success) {
                    Notify.success('삭제했습니다.');
                    _this.loadFolderList();
                } else {
                    Notify.error(result.message);
                }
            };
            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }

        deleteMenu(items) {
            let _this = this;
            let folderID = '';
            let menuItems = [];
            $.each(items, function (idx, item) {
                menuItems.push({ MenuCode: item.MenuCode, Folder_id: item.MenuFolder_id });
                folderID = item.MenuFolder_id;
            });

            let menus = JSON.stringify(menuItems);
            let url = '/api/system/menu_setup/menu_delete';
            let data = { menus: menus };
            let fnsuccess = function (result) {
                if (result.success) {
                    Notify.success('삭제했습니다.');
                    _this.showSubMenuList(folderID);
                    _this.showGUIUseList();
                } else {
                    Notify.error('에러가 발생했습니다.');
                }
            };
            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }
    };


    var page = null;
    $(document.body).ready(function () {

        // 메뉴설정
        let mfpage = new MenuFolderPage()
        
        mfpage.loadFolderList();
        mfpage.showGUIUseList();

        // 설정
        //page = new SetupPage();
     
        //$('#factorySetup').click(function (e) {
        //    let url = '/api/system/factory_setup';
        //    let fnsuccess = function (res) { Notify.info('ok'); };
        //    AjaxUtil.getAsyncData(url, null, fnsuccess);
        //});

        //$('#systemCodeSetup').click(function (e) {
        //    let url = '/api/system/systemcode_setup';
        //   let fnsuccess = function (res) { Notify.info('ok'); };
        //    AjaxUtil.getAsyncData(url, null, fnsuccess);
        //});

        //$('#dasServerSetup').click(function (e) {
        //    let url = '/api/system/das_server_setup';
        //    let fnsuccess = function (res) { Notify.info('ok'); };
        //    AjaxUtil.getAsyncData(url, null, fnsuccess);
        //});
        
        //$('#systemCodeSearch').click(function (e) {
        //    page.systemCodeList();
        //});

        //$('#cboSystemCodeType').change(function (e) {
        //    page.systemCodeList();
        //});


        //$('#systemOptionSetup').click(function (e) {
        //    page.systemOptionSetup();
        //});

    });
</script>
</th:block>
</html>
