<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>메뉴권한</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>메뉴권한</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="#tab2" title="등록">등록</a>-->
                <!--                </li>-->
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <form id="searchForm" autocomplete="off">
                            <div class="search-wrap">
                                <dl>
                                    <dt>
                                        <label for="cboUserGroup">
                                            사용자그룹<span class="eq"></span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <select class="form-control2" id="cboUserGroup" name="cboUserGroup"></select>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <label for="cboMenuFolder">
                                            메뉴폴더<span class="eq"></span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <select class="form-control2" id="cboMenuFolder" name="cboMenuFolder"></select>
                                    </dd>
                                </dl>

                                </br>

                                <dl>

                                    <dd>
                                        <div class="srch-box" style="margin-top: 20px">
                                            읽기<input type="checkbox" id="AllcheckRead">
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <div class="srch-box" style="margin-top: 20px;">
                                            쓰기<input type="checkbox" id="AllcheckWrite" >
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </form>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="엑셀 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--//section-top end -->

                    <!--grid 영역-->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap"></div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;

        function init() {
            let _this = this;

            let data2 = [];
            let group_id = $('#cboUserGroup').val();
            let folder_id = $('#cboMenuFolder').val();


            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });

            let menuGroupName = new wijmo.collections.PropertyGroupDescription('메뉴명', function (item, proName) {
                return item.gpname;
            })


            // viewdata = new wijmo.collections.CollectionView(data2);

            // CollectionView 설정 및 데이터 소스 바인딩
            viewdata = new wijmo.collections.CollectionView(data2, {
                groupDescriptions: [
                    menuGroupName
                ]
            });

            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {
                        binding: 'name',
                        header: '코드명',
                        width: 250,
                        align: 'center',
                    },
                    {
                        binding: 'r',
                        header: '읽기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                    },
                    {
                        binding: 'w',
                        header: '쓰기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                    },
                    {binding: '', header: '', width: "*", align: 'center'},

                ],
                itemsSource: viewdata,
                formatItem: function (s, e) {
                    // 특정 컬럼과 행에 대해 readonly 속성을 부여
                    if (e.panel.cellType == wijmo.grid.CellType.Cell) {
                        var col = s.columns[e.col];
                        var item = s.rows[e.row].dataItem;

                        // 예: 첫 번째 컬럼의 셀을 읽기 전용으로 설정
                        if (col.binding == 'name') {
                            e.cell.style.pointerEvents = 'none';  // 마우스 클릭 비활성화
                            e.cell.style.userSelect = 'none';  // 텍스트 선택 비활성화
                        }
                    }
                }
            });



            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: () => {

                }

            })
            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기


            // "읽기" 체크박스 클릭 이벤트 핸들러
            document.getElementById('AllcheckRead').addEventListener('change', function () {
                var checked = this.checked;
                for (var i = 0; i < theGrid.rows.length; i++) {
                    theGrid.setCellData(i, 'r', checked);
                }
            });


            // "쓰기" 체크박스 클릭 이벤트 핸들러
            document.getElementById('AllcheckWrite').addEventListener('change', function () {
                var checked = this.checked;
                for (var i = 0; i < theGrid.rows.length; i++) {
                    theGrid.setCellData(i, 'w', checked);
                }
            });

            $('#btnSearch').click(searchData);
            $('#btnSave').click(saveUserGroupMenu);


            new FlexGridContextMenu(theGrid);
            window.downloadFileName = '메뉴권한';
        }


        let page = null;



        // 초기 콤보박스 채우기
        AjaxUtil.fillSelectOptions($('#cboUserGroup'), 'user_group', '', '');
        AjaxUtil.fillSelectOptions($('#cboMenuFolder'), 'menu_folder', 'all', '');


        // _this.grid 와 _this.grid.itemSource의 Object의 데이터를 출력하는 코드
        // // _this.grid의 속성을 개별적으로 출력
        // for (let prop in _this.grid) {
        //     if (_this.grid.hasOwnProperty(prop)) {
        //         console.log(`this.grid[${prop}]:`, _this.grid[prop]);
        //     }
        // }
        //
        // // _this.grid.itemsSource의 속성을 개별적으로 출력
        // for (let prop in _this.grid.itemsSource) {
        //     if (_this.grid.itemsSource.hasOwnProperty(prop)) {
        //         console.log(`this.grid.itemsSource[${prop}]:`, _this.grid.itemsSource[prop]);
        //     }
        // }


        //검색
        function searchData() {
            let group_id = $('#cboUserGroup').val();
            let folder_id = $('#cboMenuFolder').val();
            console.log(group_id+" 선택된 값들 "+folder_id);

            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    console.log("서버 응답 데이터:", data); //서버에서 반환된 데이터 로그 출력

                    if(data && data.success&& Array.isArray(data.data) && data.data.length > 0){
                        let filteredData = filterDataByFolder(data.data, data.folder_id);
                        grid_binding(filteredData);    // 서버에서 반환된 데이터
                    } else{
                        console.warn('서버에서 반환된 데이터가 없습니다.');
                        console.log("응답 데이터 형식 확인:", data);

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });
        }

        function filterDataByFolder(data, folderId) {
            // folderId에 해당하는 데이터만 필터링
            return data.filter(item => item.folder_id === folderId);
        }


        let menuGroupName = new wijmo.collections.PropertyGroupDescription('메뉴명', function (item) {
            return item.gpname;
        })


        function grid_binding(data){
            console.log("바인딩 데이터:",data);

            let UserMenuData = data.map(item=>({
                name: item.name,
                r: item.r,
                w: item.w,
                gpname: item.gpname,  // 그룹화를 위한 속성 추가
                menu_code: item.menu_code, // 추가: menu_code 필드 포함
                ugm_id: item.ugm_id // 추가: ugm_id 필드 포함
            }));

            console.log("UserMenuData:",UserMenuData);
            console.log("바인딩 이후 데이터");


            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;

            var columns = [
                {binding: 'name',header: '코드명',width: 250,align: 'center',},
                {binding: 'r',header: '읽기',width: 200,align: 'center',dataType: wijmo.DataType.Boolean,isReadOnly: false,},
                {binding: 'w',header: '쓰기',width: 200,align: 'center',dataType: wijmo.DataType.Boolean,isReadOnly: false,},
                {binding: '', header: '', width: "*", align: 'center'},
            ];


            columns.forEach(colDef => {
                let col = new wijmo.grid.Column(colDef);
                theGrid.columns.push(col);
            });


            // CollectionView를 생성하여 그리드에 설정
            viewdata = new wijmo.collections.CollectionView(UserMenuData);

            // 그룹화 설정 추가
            viewdata.groupDescriptions.push(menuGroupName);

            // 그리드에 바인딩
            theGrid.itemsSource = viewdata;

        }

        function saveUserGroupMenu() {

            let group_id = $('#cboUserGroup').val();
            let folder_id = $('#cboMenuFolder').val();

            let url = '/api/system/usergroupmenu/save';
            let data = {group_id: group_id, Q : ''};
            let items = [];


            // itemsSource의 sourceCollection을 사용하여 데이터 순회
            let sourceCollection = theGrid.itemsSource.sourceCollection || [];
            console.log("Source Collection Length:", sourceCollection.length);
            console.log("Source Collection:", JSON.stringify(sourceCollection, null, 2));



            sourceCollection.forEach(item => {
                let menu_code = item.menu_code;
                let ugm_id = item.ugm_id; // 추가
                if (menu_code) {
                    items.push({
                        menu_code: menu_code,
                        r: item.r === true ? true : false,  // Boolean 값으로 변환
                        w: item.w === true ? true : false,  // Boolean 값으로 변환
                        ugm_id: ugm_id, // 추가
                    });
                }
            });


            // 데이터 확인을 위한 콘솔 출력
            console.log("Items to be sent:", JSON.stringify(items, null, 2)); // 전송할 데이터 출력


            data.Q = JSON.stringify(items);
            console.log("Final data object:", JSON.stringify(data, null, 2)); // 최종 데이터 객체 출력
            //데이터입력체크루틴 누락
            //_this.grid.sel

            Alert.confirm('', '저장하시겠습니까?', function () {
                let fnSuccess = function (result) {
                    if(result.success){
                        Alert.alert('','저장되었습니다');
                        searchData(); // 저장 후 새 데이터로 그리드 갱신
                    }else {
                        console.error('저장 실패:', result.message);  // 실패 시 에러 로그
                    }
                };
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }, function () { });

        }


        $('#cboUserGroup, #cboMenuFolder').change(function() {
            // 값이 변경되었을 때 searchData 함수를 호출
            searchData();
        });
        $(document).ready(function (e){
        });

    </script>
</th:block>

</html>