<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .wj-header {
            text-align: center !important;
        }
    </style>
</head>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>사용자그룹</h2>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>시스템정보</li>
                <li>사용자그룹</li>
            </ul>
        </div>
        <!-- Select -->

        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록" id="listTabLink">목록</a>
                </li>
                <li>
                    <a href="#tab2" title="메뉴권한">메뉴권한</a>
                </li>
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">

                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>사용자그룹 등록</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="엑셀다운로드" onclick="clearForm()">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wp12">
                                <col class="wp40">
                                <col class="wp12">
                                <col class="wp40">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="code">
                                        코드
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="code" name="code" class="wp100" maxlength="30" placeholder="코드">
                                    <input type="hidden" id="id" name="id" class="wp100" maxlength="30" placeholder="id">
                                </td>
                                <th>
                                    <label for="name">
                                        그룹명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="name" name="name" class="wp100" maxlength="50" placeholder="그룹명">
                                </td>

                            </tr>
                            <tr>
                                <th>
                                    설명
                                </th>
                                <td>
                                    <input type="text" id="description" name="description" maxlength="100" class="wp100" placeholder="설명">
                                </td>
                                <th>
                                    <label for="name">
                                        기본화면
                                    </label>
                                </th>
                                <td>
                                    <select class="mg-r5" id="gmenu" name="gmenu" style="width: 100%">
                                        <option></option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="section-top" style="float: right; margin-top: 24px;">
                        <div class="button-wrap">
                            <ul>
                                <!--<li>
                                    <a  class="btn btn-edit" title="수정" onclick="modifyData()">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        수정
                                    </a>
                                </li>-->
                                <li>
                                    <a  class="btn btn-delete" title="삭제" id="btnDelete">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="max-height: 700px"></div>
                    </div>
                </section>
                <!-- Section -->

                <!--section 2-->
                <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <form id="searchForm" autocomplete="off">
                            <div class="search-wrap">
                                <dl>
                                    <dt>
                                        <label for="cboUserGroup2">
                                            사용자그룹<span class="eq"></span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <select class="form-control2" id="cboUserGroup2" name="cboUserGroup"></select>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <label for="cboMenuFolder">
                                            메뉴폴더<span class="eq"></span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <select class="form-control2" id="cboMenuFolder" name="cboMenuFolder"></select>
                                    </dd>
                                </dl>

                                </br>

                                <dl>

                                    <dd>
                                        <div class="srch-box" style="margin-top: 20px">
                                            읽기<input type="checkbox" id="AllcheckRead">
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <div class="srch-box" style="margin-top: 20px;">
                                            쓰기<input type="checkbox" id="AllcheckWrite" >
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </form>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-edit" id="btnSave2" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="엑셀 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--//section-top end -->

                    <!--grid 영역-->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid2" style="max-height: 690px;"></div>
                    </div>
                    <div class="btn-wrap"></div>
                </section>

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 24px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        var theGrid2;
        var viewdata2;
        let selectedFiles = [];
        let SelectItem;
        let csrfToken = $("[name=_csrf]").val();

        document.readyState === 'complete' ? init() : window.onload = init;


        let columns = [
            { binding: 'id', header: 'id', width: '*', align: 'center', visible: false },
            { binding: 'code', header: '코드', width: '*', align: 'center' },
            { binding: 'name', header: '그룹명', width: '*', align: 'center' },
            { binding: 'description', header: '설명', width: '*', align: 'center' },
            { binding: 'gmenu', header: 'Dashboard', width: '*', align: 'center', visible: false },
            { binding: 'gmenuname', header: 'Dashboard', width: '*', align: 'center' },
            { binding: 'flag', header: 'flag', width: '*', align: 'center', visible: false },
        ]

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            $.ajax({
                url: '/api/system/usergroup/read',
                type: 'GET',
                data: {

                },
                async: false,
                success: function(data){
                    let DataLength = 10 - data.data.length;

                    if (data.data.length < 10) {
                        for (let i = 0; i < DataLength; i++) {
                            data.data.push({
                                id: '',
                                code: '',
                                name: '',
                                description: '',
                                gmenu: '',
                                gmenuname: '',
                                flag: '',
                            });
                        }
                    }
                    data2 = data.data;
                },
                error: function () {
                    console.error('데이터를 가져오는 중 오류가 발생했습니다.');
                },
            });

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                columns: columns,  //홀짝 로우 음영주기

                itemsSource: viewdata
            });
            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: (e, ctx) => {
                    SelectItem = theGrid.rows.filter(r => r.isSelected);

                }
            })


            // 더블클릭 이벤트 추가
            theGrid.hostElement.addEventListener('dblclick', function(e) {
                let hitTest = theGrid.hitTest(e);
                if (hitTest.cellType === wijmo.grid.CellType.Cell) {
                    let row = hitTest.row;
                    let item = theGrid.rows[row].dataItem;

                    if(item === 'empty'){
                        return;
                    }
                    console.log('Row double-clicked:', item);


                    document.getElementById('code').value = item.code;
                    document.getElementById('name').value = item.name;
                    document.getElementById('id').value = item.id;
                    document.getElementById('description').value = item.description;
                    document.getElementById('gmenu').value = item.gmenu;

                    /*  updateTabLink('id');

                      let tabIds = '#tab2';
                      $(".tab-item").hide();
                      $(tabIds).show();

                      $("#listTabLink").parent().removeClass("active");
                      $("#inputTabLink").parent().addClass("active");*/
                }
            });

            let data3 = [];
            let group_id = $('#cboUserGroup2').val();
            let folder_id = $('#cboMenuFolder').val();


            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data3 = data.data;

                    // 중분류 메뉴를 제외한 데이터 필터링
                    data3 = data.data.filter(item => item.r !== null || item.w !== null);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });


            viewdata2 = new wijmo.collections.CollectionView(data3, {
                groupDescriptions: [
                    menuGroupName
                ]
            });


            theGrid2 = new wijmo.grid.FlexGrid('#theGrid2', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {
                        binding: 'name',
                        header: '코드명',
                        width: 250,
                        align: 'center',
                    },
                    {
                        binding: 'r',
                        header: '읽기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                    },
                    {
                        binding: 'w',
                        header: '쓰기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                    },
                    {binding: '', header: '', width: "*", align: 'center'},

                ],
                itemsSource: viewdata2,
                formatItem: function (s, e) {
                    // 특정 컬럼과 행에 대해 readonly 속성을 부여
                    if (e.panel.cellType == wijmo.grid.CellType.Cell) {
                        var col = s.columns[e.col];
                        var item = s.rows[e.row].dataItem;

                        // 예: 첫 번째 컬럼의 셀을 읽기 전용으로 설정
                        if (col.binding == 'name') {
                            e.cell.style.pointerEvents = 'none';  // 마우스 클릭 비활성화
                            e.cell.style.userSelect = 'none';  // 텍스트 선택 비활성화
                        }
                    }
                }
            });

            theGrid2.rowHeaders.columns.splice(0, 1);

            // "읽기" 체크박스 클릭 이벤트 핸들러
            document.getElementById('AllcheckRead').addEventListener('change', function () {
                var checked = this.checked;
                for (var i = 0; i < theGrid2.rows.length; i++) {
                    theGrid2.setCellData(i, 'r', checked);
                }
            });

            // "쓰기" 체크박스 클릭 이벤트 핸들러
            document.getElementById('AllcheckWrite').addEventListener('change', function () {
                var checked = this.checked;
                for (var i = 0; i < theGrid2.rows.length; i++) {
                    theGrid2.setCellData(i, 'w', checked);
                }
            });

            $('#btnSave2').click(saveUserGroupMenu);
            new FlexGridContextMenu(theGrid2);
        }
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->


        function searchData(){

            let result =  AjaxUtil.getSyncData('/api/system/usergroup/read', {});

            if(result.success){
                console.log(result.data);

                grid_binding(result.data);
            }
        }

        function grid_binding(data) {

            const minimumRows = 10;
            if (data.length < minimumRows) {
                const DataLength = minimumRows - data.length;
                for (let i = 0; i < DataLength; i++) {
                    data.push({
                        id: '',
                        code: '',
                        name: '',
                        description: '',
                        gmenu: '',
                        gmenuname: '',
                        flag: '',
                    });
                }
            }
            const inspecData = data.map((item) => ({
                id: item["id"],
                code: item["code"],
                name: item["name"],
                description: item["description"],
                gmenu: item["gmenu"],
                gmenuname: item["gmenuname"] || '', // gmenu의 이름을 추가
                flag: item["flag"],
            }));

            viewdata.sourceCollection = inspecData; // 새로운 데이터를 바인딩
            viewdata.refresh(); // 데이터를 새로고침

            theGrid.columns.clear(); // 기존 컬럼을 초기화
            columns.forEach((colDef) => {
                theGrid.columns.push(new wijmo.grid.Column(colDef)); // 새로운 컬럼 정의 추가
            });

            theGrid.refresh(); // 그리드를 새로고침
            SelectItem = undefined; // 선택 항목 초기화
        }

        function checkAndAlert(){
            for (let i = 0; i < SelectItem.length; i++) {
                const data = SelectItem[i]._data;

                if(data.id === null || data.id === undefined){
                    Alert.alert('', '빈 값이 존재합니다.');
                    return false;
                }
            }
            return true;
        }

        function clearForm(){
            ['id', 'code', 'name', 'description', 'gmenu'].forEach(id => {
                document.getElementById(id).value = '';
            });

            /*updateTabLink('id');
            */
        }

        //수정
        function modifyData(){
            if(SelectItem === undefined || SelectItem.length === 0){
                Alert.alert('', '수정할 항목을 선택하세요.');
                return;
            }else if(SelectItem.length > 1){
                Alert.alert('', '하나의 항목만 선택해주세요');
                return;
            }
            let selectedItem = SelectItem[0];

            let id = selectedItem._data.id;


            if(!selectedItem._data.id){
                Alert.alert('', '수정할 게시물이 없습니다.',);
                return false;
            }

            /*let tabIds = '#tab2';
            $(".tab-item").hide();
            $(tabIds).show();

            $("#listTabLink").parent().removeClass("active");
            $("#inputTabLink").parent().addClass("active");*/


            document.getElementById('code').value = selectedItem._data.code;
            document.getElementById('name').value = selectedItem._data.name;
            document.getElementById('id').value = selectedItem._data.id;
            document.getElementById('description').value = selectedItem._data.description;
            document.getElementById('gmenu').value = selectedItem._data.gmenu;

            /*    updateTabLink('id');*/

        }

        // 초기 콤보박스 채우기
        AjaxUtil.fillSelectOptions($('#cboUserGroup2'), 'user_group', '', '');
        AjaxUtil.fillSelectOptions($('#cboMenuFolder'), 'menu_folder', 'all', '');

        function searchData2() {
            let group_id = $('#cboUserGroup2').val();
            let folder_id = $('#cboMenuFolder').val();
            console.log(group_id+" 선택된 값들 "+folder_id);

            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    console.log("서버 응답 데이터:", data); //서버에서 반환된 데이터 로그 출력

                    if(data && data.success&& Array.isArray(data.data) && data.data.length > 0){
                        let filteredData = filterDataByFolder(data.data, data.folder_id);
                        grid_binding2(filteredData);    // 서버에서 반환된 데이터
                    } else{
                        console.warn('서버에서 반환된 데이터가 없습니다.');
                        console.log("응답 데이터 형식 확인:", data);

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });
        }

        function filterDataByFolder(data, folderId) {
            // folderId에 해당하는 데이터만 필터링
            return data.filter(item => item.folder_id === folderId);

        }

        let menuGroupName = new wijmo.collections.PropertyGroupDescription('메뉴명', function (item) {
            return item.gpname;
        })


        function grid_binding2(data) {

            console.log("바인딩 데이터:", data);
            // 중분류 메뉴가 아닌 데이터만 필터링
            let UserMenuData = data
                .filter(item => item.r !== null || item.w !== null) // 읽기(r) 또는 쓰기(w)가 null이 아닌 항목만 선택
                .map(item => ({
                    name: item.name,
                    r: item.r,
                    w: item.w,
                    gpname: item.gpname,  // 그룹화를 위한 속성 추가
                    menu_code: item.menu_code, // 추가: menu_code 필드 포함
                    ugm_id: item.ugm_id // 추가: ugm_id 필드 포함
                }));


            console.log("UserMenuData:", UserMenuData);
            console.log("바인딩 이후 데이터");

            theGrid2.columns.clear();
            theGrid2.autoGenerateColumns = false;

            var columns = [
                { binding: 'name', header: '코드명', width: 250, align: 'left' },
                { binding: 'r', header: '읽기', width: 200, align: 'center', dataType: wijmo.DataType.Boolean, isReadOnly: false },
                { binding: 'w', header: '쓰기', width: 200, align: 'center', dataType: wijmo.DataType.Boolean, isReadOnly: false },
                { binding: '', header: '', width: "*", align: 'center' },
            ];

            columns.forEach(colDef => {
                let col = new wijmo.grid.Column(colDef);
                theGrid2.columns.push(col);
            });

            // **클릭 이벤트 처리**
            theGrid2.cellEditEnded.addHandler((s, e) => {
                let item = s.itemsSource[e.row];
                let column = theGrid2.columns[e.col];

                if (column.binding === 'r' || column.binding === 'w') {
                    item[column.binding] = !item[column.binding]; // 상태 토글
                    console.log(`Updated ${column.binding} for ${item.menu_code}: ${item[column.binding]}`);
                }
            });


            // CollectionView를 생성하여 그리드에 설정
            viewdata2 = new wijmo.collections.CollectionView(UserMenuData);

            // 그룹화 설정 추가
            viewdata2.groupDescriptions.push(menuGroupName);

            // 그리드에 바인딩
            theGrid2.itemsSource = viewdata2;
        }

        function saveUserGroupMenu() {
            let group_id = $('#cboUserGroup2').val();
            let folder_id = $('#cboMenuFolder').val();

            let url = '/api/system/usergroupmenu/save';
            let data = { group_id: group_id, Q: '' };
            let items = [];

            // itemsSource의 sourceCollection을 사용하여 데이터 순회
            let sourceCollection = theGrid2.itemsSource.sourceCollection || [];
            console.log("Source Collection Length:", sourceCollection.length);

            sourceCollection.forEach(item => {
                items.push({
                    menu_code: item.menu_code,
                    ugm_id: item.ugm_id,
                    r: !!item.r, // 읽기 상태
                    w: !!item.w, // 쓰기 상태
                });
            });

            console.log("Items to be sent:", JSON.stringify(items, null, 2));
            data.Q = JSON.stringify(items);

            Alert.confirm('', '저장하시겠습니까?', function () {
                let fnSuccess = function (result) {
                    console.log("Server response:", JSON.stringify(result, null, 2));
                    if (result.success) {
                        Alert.alert('', '저장되었습니다');
                        searchData2(); // 저장 후 데이터 갱신
                    } else {
                        console.error('저장 실패:', result.message);
                    }
                };
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            });
        }


        $('#cboUserGroup2, #cboMenuFolder').change(function () {
            // 값이 변경되었을 때 searchData 함수를 호출
            searchData2();
        });

        // 체크박스 초기화
        function clearForm2() {
            ['AllcheckRead', 'AllcheckWrite'].forEach(id => {
                document.getElementById(id).checked = false;
            });
        }
        $(document).ready(function (e) {

            initializeSelect({
                url: '/api/system/usergroup/defaultMenu',
                params: {},
                elementId: 'gmenu',
                valueField: "menuCode",
                textField: "menuName"
            });

            $('#btnSave').click(function () {

                Alert.confirm('', '저장하시겠습니까?', function () {

                    const id = $('#id').val().trim();
                    const code = $('#code').val().trim();
                    const name = $('#name').val().trim();
                    const description = $('#description').val().trim();
                    const gmenu = $('#gmenu').val();

                    if (!code) {
                        Alert.alert('', '코드를 입력해주세요.');
                        $('#code').focus();
                        return;
                    }
                    if (!name) {
                        Alert.alert('', '그룹명을 입력해주세요.');
                        $('#name').focus();
                        return;
                    }
                    if (!gmenu) {
                        Alert.alert('', '기본화면 설정을 해주세요.');
                        $('#gmenu').focus();
                        return;
                    }
                    const data = {code: code, name: name, description: description, id: id, gmenu: gmenu};
                    const fnSuccess = function (res) {
                        Alert.alert('', res.message);
                        AjaxUtil.fillSelectOptions($('#cboUserGroup2'), 'user_group', '', '');
                        searchData();
                        clearForm();
                    };
                    AjaxUtil.postAsyncData("/api/system/usergroup/save", data, fnSuccess, function () {
                        Alert.alert('', '서버통신실패');
                    })
                })
            })

            //삭제
            $('#btnDelete').click(function () {


                if (SelectItem === undefined || SelectItem.length === 0) {
                    Alert.alert('', '삭제할 항목을 선택하세요.');
                    return;
                }

                for (let i = 0; i < SelectItem.length; i++) {
                    if (SelectItem[i]._data.flag === 'Y') {
                        Alert.alert('', '사용자가 존재하는 그룹은 삭제불가능합니다.');
                        return;
                    }
                }

                console.log('asd: ', SelectItem);

                if (!checkAndAlert()) {
                    return;
                }

                let delList = [];

                delList = SelectItemPush(SelectItem, '_data.id');
                Alert.confirm('', '삭제하시겠습니까?', function () {
                    let data = {
                        'id': JSON.stringify(delList),
                        '_csrf': csrfToken
                    }
                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', res.message);
                            searchData();
                            AjaxUtil.fillSelectOptions($('#cboUserGroup2'), 'user_group', '', '');
                        } else {
                            Alert.alert('', res.message);

                        }
                    }
                    AjaxUtil.postAsyncData('/api/system/usergroup/delete', data, fnSuccess,
                        function () {
                            Alert.alert('', '에러가 발생하였습니다.');
                        });
                })
            })


        });
    </script>
</th:block>
</html>