<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>메뉴권한</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>메뉴권한</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="#tab2" title="등록">등록</a>-->
                <!--                </li>-->
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">

                            <dl>
                                <dt>
                                    <label for="input-group-text fit_box_md">
                                        사용자그룹<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select class="form-control2" id="cboUserGroup" name="cboUserGroup"></select>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="text1">
                                        메뉴폴더<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                    <select class="form-control2" id="cboMenuFolder" name="cboMenuFolder"></select>
                                        <a class="btn-srch" id="btnSearch" title="조회" ></a>
                                    </div>
                                </dd>
                            </dl>

                            </br>

<!--                            <dl>-->
<!--                                <dt>-->
<!--                                    <label for="text1">-->
<!--                                        <span class="eq"></span>-->
<!--                                    </label>-->
<!--                                </dt>-->
<!--                                <dd>-->
<!--                                    <div class="srch-box">-->
<!--&lt;!&ndash;                                        <input type="text" id="searchusr" name="searchusr" class="input-srch">&ndash;&gt;-->
<!--                                        <a class="btn-srch" id="btnSearch" title="조회" ></a>-->
<!--                                    </div>-->
<!--                                </dd>-->
<!--                            </dl>-->


                            <dl>

                                <dd>
                                    <div class="srch-box" style="margin-top: 20px">
                                    읽기<input type="checkbox" id="AllcheckRead">
                                    </div>
                                </dd>
                            </dl>

                            <dl>

                                <dd>
                                    <div class="srch-box" style="margin-top: 20px;">
                                    쓰기<input type="checkbox" id="AllcheckWrite" >
                                    </div>
                                </dd>
                            </dl>

                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        저장
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div> <!--//section-top end -->

                    <!--                    grid 영역-->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap">

                    </div>
                </section>


                <!-- Section -->

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;

        function init() {

            // _this를 사용하지 않고 this를 통해 데이터 바인딩
            let _this = {
                grid: null
            };



            let data2 = [];
            let group_id = $('#cboUserGroup').val();
            let folder_id = $('#cboMenuFolder').val();


            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    data2 = data.data;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });

            let menuGroupName = new wijmo.collections.PropertyGroupDescription('메뉴명', function (item, proName) {
                return item.gpname;
            })


            // viewdata = new wijmo.collections.CollectionView(data2);

            // CollectionView 설정 및 데이터 소스 바인딩
            viewdata = new wijmo.collections.CollectionView(data2, {
                groupDescriptions: [
                    menuGroupName
                ]
            });

            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {
                        binding: 'name',
                        header: '코드명',
                        width: 250,
                        align: 'center',
                    },
                    {
                        binding: 'r',
                        header: '읽기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                    },
                    {
                        binding: 'w',
                        header: '쓰기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                    },
                    {binding: '', header: '', width: "*", align: 'center'},

                ],
                itemsSource: viewdata
            });



            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: () => {

                }

            })
            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기


            // "읽기" 체크박스 클릭 이벤트 핸들러
            document.getElementById('AllcheckRead').addEventListener('change', function () {
                var checked = this.checked;
                for (var i = 0; i < theGrid.rows.length; i++) {
                    theGrid.setCellData(i, 'r', checked);
                }
            });


            // "쓰기" 체크박스 클릭 이벤트 핸들러
            document.getElementById('AllcheckWrite').addEventListener('change', function () {
                var checked = this.checked;
                for (var i = 0; i < theGrid.rows.length; i++) {
                    theGrid.setCellData(i, 'w', checked);
                }
            });

            // theGrid를 _this.grid로 설정
            _this.grid = theGrid;

        }


        let page = null;



        // 초기 콤보박스 채우기
        AjaxUtil.fillSelectOptions($('#cboUserGroup'), 'user_group', '', '');
        AjaxUtil.fillSelectOptions($('#cboMenuFolder'), 'menu_folder', 'all', '');


        function saveUserGroupMenu()
        {
            let _this = this;
            let url = 'api/system/usergroupmenu/save';

            // _this.grid가 정의되었는지 확인
            if (!_this.grid || !_this.grid.itemsSource) {
                console.error("grid or grid.itemsSource is undefined.");
                return;
            }


            let group_id = $('#cboUserGroup').val();
            let data = {group_id: group_id, Q: ''};


            let items = [];

            $.each(_this.grid.list, function (idx, item) {
                let menu_code = item.menu_code;
                if (menu_code != "") {

                    if (item.r == 'false') item.r = false;
                    if (item.w == 'false') item.w = false;

                    items.push({
                        menu_code: item.menu_code,
                        r: item.r,
                        w: item.w,
                        ugm_id: item.ugm_id
                    });
                }
            });

            data.Q = JSON.stringify(items);

            // 데이터 입력 체크 루틴 누락

            Alert.confirm('', '저장하시겠습니까?', function () {
                let fnSuccess = function (result) {
                    if (result.success) {
                        Notify.success('저장되었습니다');
                        location.reload();
                    }
                };
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }, function () {
            });

        }



        //검색
        function searchData() {
            let group_id = $('#cboUserGroup').val();
            let folder_id = $('#cboMenuFolder').val();


            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    console.log("서버 응답 데이터:", data); //서버에서 반환된 데이터 로그 출력

                    if(data && data.success&& Array.isArray(data.data) && data.data.length > 0){
                        let filteredData = filterDataByFolder(data.data, data.folder_id);
                        grid_binding(filteredData);    // 서버에서 반환된 데이터
                    } else{
                        console.warn('서버에서 반환된 데이터가 없습니다.');
                        console.log("응답 데이터 형식 확인:", data);

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });
        }

        function filterDataByFolder(data, folderId) {
            // folderId에 해당하는 데이터만 필터링
            return data.filter(item => item.folder_id == folderId);
        }


        let menuGroupName = new wijmo.collections.PropertyGroupDescription('메뉴명', function (item) {
            return item.gpname;
        })





        function grid_binding(data){
            console.log("바인딩 데이터:",data);

            let UserMenuData = data.map(item=>({
                name: item.name,
                r: item.r,
                w: item.w,
                gpname: item.gpname  // 그룹화를 위한 속성 추가
            }));

            console.log("UserMenuData:",UserMenuData);


            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;

            var columns = [
                    {binding: 'name',header: '코드명',width: 250,align: 'center',},
                    {binding: 'r',header: '읽기',width: 200,align: 'center',dataType: wijmo.DataType.Boolean,isReadOnly: false,},
                    {binding: 'w',header: '쓰기',width: 200,align: 'center',dataType: wijmo.DataType.Boolean,isReadOnly: false,},
                    {binding: '', header: '', width: "*", align: 'center'},
                ];


            columns.forEach(colDef => {
                let col = new wijmo.grid.Column(colDef);
                theGrid.columns.push(col);
            });


            // CollectionView를 생성하여 그리드에 설정
            viewdata = new wijmo.collections.CollectionView(UserMenuData);

            // 그룹화 설정 추가
            viewdata.groupDescriptions.push(menuGroupName);

            // 그리드에 바인딩
            theGrid.itemsSource = viewdata;

        }




        $(document).ready(function (e){



            $('#btnSave').click(function (e) {
                console.log("그룹권한 저장 이벤트 클릭 이벤트");

                Alert.confirm('', '저장하시겠습니까?', function () {
                        saveUserGroupMenu()
                    },
                    function () {

                    }
                );
            });

            $('#btnSearch').click(function (e) {
                console.log("그룹권한 검색 이벤트 클릭 이벤트");
                Alert.confirm('', '검색하시겠습니까?', function () {
                        searchData();

                        $('#cboUserGroup,#cboMenuFolder').change(function (ex) {

                        });
                    },
                    function () {
                    }
                );
            });

        });

    </script>
</th:block>

</html>