<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>메뉴권한</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>메뉴권한</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록">목록</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="#tab2" title="등록">등록</a>-->
                <!--                </li>-->
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">

                            <dl>
                                <dt>
                                    <label for="input-group-text fit_box_md">
                                        사용자그룹<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select class="form-control2" id="cboUserGroup" name="cboUserGroup"></select>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="text1">
                                        메뉴폴더<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select class="form-control2" id="cboMenuFolder" name="cboMenuFolder"></select>
                                </dd>
                            </dl>

                            </br>

                            <dl>
                                <dt>
                                    <label for="text1">
                                        <span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
<!--                                        <input type="text" id="searchusr" name="searchusr" class="input-srch">-->
                                        <a class="btn-srch" id="input-srch" title="조회" ></a>
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <!--                                <dt>-->
                                <!--                                    <label for="text1">-->
                                <!--                                        사용자 그룹<span class="eq">*</span>-->
                                <!--                                    </label>-->
                                <!--                                </dt>-->
                                <!--                                <dd>-->
                                <!--                                    <div class="srch-box">-->
                                <!--                                        <input type="text" id="searchusr" name="searchusr" class="input-srch" placeholder="점검자명 검색">-->
                                <!--                                        <a href="#a" class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()"></a>-->
                                <!--                                    </div>-->
                                <!--                                </dd>-->
                            </dl>

                        </div>
                        <div class="button-wrap">
                            <ul>
                                <!--                                <li>-->
                                <!--                                    <a class="btn btn-excell" title="일괄다운로드">-->
                                <!--                                        <img src="/images/icon/ico-down-blue.svg" alt="엑셀 아이콘">-->
                                <!--                                        일괄다운로드-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a  class="btn btn-excell" title="엑셀다운로드">-->
                                <!--                                        <img src="/images/icon/ico-excell.svg" alt="엑셀 아이콘">-->
                                <!--                                        엑셀다운로드-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a  class="btn btn-delete" title="삭제">-->
                                <!--                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">-->
                                <!--                                        삭제-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <li>
                                    <a class="btn btn-edit" title="수정">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        저장
                                    </a>
                                </li>
                                <!--                                <li>-->
                                <!--                                    <a class="btn btn-print" title="순회점검일지 출력">-->
                                <!--                                        <img src="/images/icon/ico-print.svg" alt="엑셀 아이콘">-->
                                <!--                                        순회점검일지 출력-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                            </ul>
                        </div>
                    </div> <!--//section-top end -->

                    <!--                    grid 영역-->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap">

                    </div>
                </section>


                <!-- Section -->

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let group_id = $('#cboUserGroup').val();
            let folder_id = $('#cboMenuFolder').val();

            $.ajax({
                url: '/api/system/usergroupmenu/read',
                type: 'GET',
                data: {
                    'group_id': group_id,
                    'folder_id': folder_id
                },
                async: false,
                success: function (data) {
                    console.log('wijmo', data.data);
                    data2 = data.data;
                }
            })

            //계층적 데이터 설정
            // viewdata = new wijmo.collections.CollectionView(data2, {
            //     getChildren: function (item) {
            //         return item.children;
            //     }
            // });

            viewdata = new wijmo.collections.CollectionView(data2);
            viewdata.childItemsPath = 'children';

            // viewdata = new wijmo.collections.CollectionView(data2);

            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    {binding: 'name', header: '코드명', width: 250, align: 'center'},
                    {
                        binding: 'r',
                        header: '읽기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                        // editor: new wijmo.grid.input.CheckBox({
                        //     disabled: function (row, col, cell) {
                        //         // 필요에 따라 checkbox를 비활성화할 조건을 여기에 추가할 수 있습니다.
                        //         return cell.item.isReadOnly;  // 예시: 셀의 isReadOnly 속성 값에 따라 비활성화
                        //     }
                        // })
                    },
                    {
                        binding: 'w',
                        header: '쓰기',
                        width: 200,
                        align: 'center',
                        dataType: wijmo.DataType.Boolean,
                        isReadOnly: false,
                        // headerRenderer: function (panel, col) {
                        //     panel.innerHTML = "<input type='checkbox' id='checkWriteAll' />쓰기";
                        // }
                    },
                    {binding: '', header: '', width: 900, align: 'center'},
                ],
                itemsSource: viewdata,
                childItemsPath: 'children'
            });

            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: () => {

                }
            })

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기




                // 전체 읽기 체크박스 클릭 이벤트
                $('#checkReadAll').click(function (e) {
                    let checked = e.target.checked;
                    viewdata.items.forEach((item) => {
                        item.r = checked;
                        if (item.children) {
                            item.children.forEach((child) => {
                                child.r = checked;
                            });
                        }
                    });
                    viewdata.refresh();
                });

                // 전체 쓰기 체크박스 클릭 이벤트
                $('#checkWriteAll').click(function (e) {
                    let checked = e.target.checked;
                    viewdata.items.forEach((item) => {
                        item.w = checked;
                        if (item.children) {
                            item.children.forEach((child) => {
                                child.w = checked;
                            });
                        }
                    });
                    viewdata.refresh();
                });


                // is_folder가 true인 경우 체크박스 비활성화
                theGrid.formatItem.addHandler((s, e) => {
                    if (e.panel.cellType == wijmo.grid.CellType.Cell) {
                        let col = s.columns[e.col];
                        let item = s.rows[e.row].dataItem;
                        if ((col.binding === 'r' || col.binding === 'w') && item.is_folder) {
                            let input = e.cell.querySelector('input[type=checkbox]');
                            if (input) {
                                input.disabled = true;
                            }
                        }
                    }
                });

                // 초기 콤보박스 채우기
                AjaxUtil.fillSelectOptions($('#cboUserGroup'), 'user_group', '', '');
                AjaxUtil.fillSelectOptions($('#cboMenuFolder'), 'menu_folder', 'all', '');


            <!-- 초반 페이지 진입시 그리드 바인딩 끝-->


            let page = null;

            function searchData() {
                let data = {
                    'group_id': $('#cboUserGroup').val(),
                    'folder_id': $('#cboMenuFolder').val(),
                }

                let result = AjaxUtil.getSyncData('/api/system/usergroupmenu/read', data);

                if (result.success) {
                    console.log(result.data);
                    grid_binding(result.data);
                }
            }


            // function grid_binding(data) {
            //     var usergroup_menu = data;
            //     var usergroup_menu_data = [];
            //     var cnt = 1;
            //     for (var i = 0; i < usergroup_menu.length; i++) {
            //         usergroup_menu_data.push({
            //             name: usergroup_menu[i]["name"],
            //             r: usergroup_menu[i]["r"],
            //             w: usergroup_menu[i]["w"],
            //
            //
            //         });
            //         cnt++;
            //     }
            //
            //     theGrid.columns.clear();
            //     theGrid.autoGenerateColumns = false;
            //     viewdata.sourceCollection = usergroup_menu_data;
            //
            //     var columns = [
            //         {binding: 'name', header: '코드명', width: 250, align: 'center'},
            //         {
            //             binding: 'r',
            //             header: '<input type="checkbox" id="checkReadAll"/>읽기',
            //             width: 100,
            //             align: 'center',
            //             dataType: wijmo.DataType.Boolean,
            //             isReadOnly: false
            //         },
            //         {
            //             binding: 'w',
            //             header: '<input type="checkbox" id="checkWriteAll" />쓰기',
            //             width: 100,
            //             align: 'center',
            //             dataType: wijmo.DataType.Boolean,
            //             isReadOnly: false
            //         },
            //     ];
            //
            //     for (var i = 0; i < columns.length; i++) {
            //         var col = new wijmo.grid.Column(columns[i]);
            //         theGrid.columns.push(col);
            //     }
            //
            // }


            $(document).ready(function (e) {

                page.searchDataBind();
                $('#btnSearch').click(function (ex) {
                    page.searchDataBind();
                });

                $('#cboUserGroup,#cboMenuFolder').change(function (ex) {
                    page.searchDataBind();
                });

                $('#btn_save_group_menu').click(function (e) {
                    Alert.confirm('',
                        '저장하시겠습니까?',
                        function () {
                            page.saveUserGroupMenu()
                        },
                        function () {
                        }
                    );
                });


                // $('#btnSave').click(function (e) {
                //
                //     console.log('selectedFiles: ', selectedFiles);
                //
                //     Alert.confirm('', '저장하시겠습니까?', function () {
                //
                //             let fileInput = document.getElementById('fileInput1');
                //             let files = fileInput.files;
                //             let formData = new FormData();
                //
                //             for (var i = 0; i < files.length; i++) {
                //                 formData.append('filelist', files[i]);
                //             }
                //
                //             const randomString = generateRandomStringWithDate();
                //
                //             var inputs = document.querySelectorAll('input[name="checkusr"]');
                //             var values = [];
                //
                //             inputs.forEach(function (input) {
                //                 values.push(input.value);
                //
                //             })
                //
                //             var checkusrString = values.join(',');
                //
                //
                //             // 다른 데이터를 FormData에 추가합니다.
                //             formData.append('supplier', $('#supplier').val());
                //             formData.append('checkdt', $('#checkdt').val());
                //             formData.append('checkstdt', $('#checkstdt').val());
                //             formData.append('checkendt', $('#checkendt').val());
                //             formData.append('checkusr', checkusrString); // 이미 문자열로 변환된 checkusr
                //             formData.append('checkarea', $('#checkarea').val());
                //             formData.append('checkitem', $('#checkitem').val());
                //             formData.append('checkplan', $('#checkplan').val());
                //             formData.append('randomuuid', randomString);
                //             formData.append('_csrf', $('[name=_csrf]').val());
                //
                //
                //             $.ajax({
                //                 url: '/api/inspec_report/save',
                //                 type: 'POST',
                //                 data: formData,
                //                 processData: false,  // 기본적으로 jQuery는 데이터를 문자열로 변환하려고 하므로 이를 비활성화
                //                 contentType: false,  // 기본적으로 jQuery는 Content-Type을 설정하려고 하므로 이를 비활성화
                //                 success: function (response) {
                //                     if (response.success) {
                //                         Alert.alert('', response.message);
                //                     }
                //                 },
                //                 error: function (jqXHR, textStatus, errorThrown) {
                //                     Alert.alert('', '에러가발생하였습니다.');
                //                 }
                //             });
                //
                //
                //         },
                //         function () {
                //         }
                //     )
                // })


            });
        }
    </script>
</th:block>

</html>