<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>사용자 관리</h2>
<!--                <a title="북마크" class="bookmark toggle">-->
<!--                    내메뉴-->
<!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>시스템설정</li>
                <li>사용자관리</li>
            </ul>
        </div>
        <!-- Select -->

        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="목록" id="listTabLink">목록</a>
                </li>
<!--                <li>-->
<!--                    <a href="#tab2" title="등록" id="inputTabLink">등록</a>-->
<!--                </li>-->
            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">

                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>사용자 등록</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="엑셀다운로드" onclick="clearForm()">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="삭제" id="btnDelete2">
                                        <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wp12">
                                <col class="wp40">
                                <col class="wp12">
                                <col class="wp40">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        사용자ID
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="userid" name="userid" class="wp100" maxlength="50" placeholder="사용자ID">
                                    <input type="hidden" id="id" name="id" />
                                </td>
                                <th>
                                    <label for="supplier2">
                                        사용자명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="usernm" name="usernm" class="wp100" maxlength="50" placeholder="사용자명">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    사용자그룹
                                </th>
                                <td>
                                    <select id="authType" name="authType" class="wp30">

                                    </select>
                                </td>
                                <th>
                                    산단
                                </th>
                                <td>
                                    <ul id="dataList">
                                        <li>
                                            <select class="wp25 mg-r5" id="firstSelect" name="spworkcd" onchange="updateNextSelect(this)">

                                                <option></option>
                                            </select>
                                            <select class="wp25 mg-r5" id="secondSelect" name="spcompcd" onchange="updateNextSelect(this)">
                                                <option></option>
                                            </select>
                                            <select class="wp25 mg-r5" id="thirdSelect" name="spplancd">
                                                <option></option>
                                            </select>
                                            <button type="button" onclick="addselectField(this)" class="btn" style="width: 107px">발전시설 추가</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        비밀번호
                                    </label>
                                </th>
                                <td>
                                    <input type="password" id="password" name="password" class="wp100" maxlength="50" autocomplete="new-password" placeholder="비밀번호">
                                </td>
                                <th>
                                    <label for="supplier2">
                                        이메일
                                    </label>
                                </th>
                                <td>
                                    <input type="email" id="email" name="email" class="wp100" maxlength="30" autocomplete="off" placeholder="이메일">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        휴대전화
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="tel" name="tel" class="wp100" maxlength="50" placeholder="휴대전화">
                                </td>
                                <th>
                                    <label for="supplier2">
                                        부서명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="divinm2" name="divinm2" class="wp100" maxlength="30" placeholder="부서명">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="agencycd">
                                        소속사
                                    </label>
                                </th>
                                <td>
                                    <div class="input-clear">
                                        <select class="mg-r5 wp30" id="agencycd" name="agencycd">
                                            <option></option>
                                        </select>
                                    </div>
                                </td>

                                <th></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>






                    <div class="section-top" style="margin-top: 24px;">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    사용자그룹
                                </dt>
                                <dd>
                                    <select class="mg-r5" id="cboUserGroup" name="cboUserGroup" style="width: 100%">
                                        <option></option>
                                    </select>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="select1">
                                        이름</label></dt>

                                <dd>
                                    <div class="input-clear"><input type="text" id="keyword" name="keyword" class="wp100" maxlength="50" placeholder=""></div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="select1">
                                        사용자ID</label></dt>

                                <dd>
                                    <div class="input-clear"><input type="text" id="username" name="username" class="wp100" maxlength="50" autocomplete="off"></div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="divinm">
                                        부서</label></dt>

                                <dd>
                                    <div class="input-clear"><input type="text" id="divinm" name="divinm" class="wp100" maxlength="50" placeholder=""></div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="text1">
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <div class="input-clear"></div>
                                        <a href="#a" class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()" style="border-radius: 7px;"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a  class="btn btn-delete" title="삭제" id="btnDelete">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-edit" title="수정" onclick="modifyData()">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        수정
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="max-height: 400px;"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>
                <!-- Section -->
               <!-- <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>사용자 등록</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="엑셀다운로드" onclick="clearForm()">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="삭제" id="btnDelete2">
                                        <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wp12">
                                <col class="wp40">
                                <col class="wp12">
                                <col class="wp40">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        사용자ID
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="userid" name="userid" class="wp100" maxlength="50" placeholder="사용자ID">
                                    <input type="hidden" id="id" name="id" />
                                </td>
                                <th>
                                    <label for="supplier2">
                                        사용자명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="usernm" name="usernm" class="wp100" maxlength="50" placeholder="사용자명">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    사용자그룹
                                </th>
                                <td>
                                    <select id="authType" name="authType">

                                    </select>
                                </td>
                                <th>
                                    산단
                                </th>
                                <td>
                                    <ul id="dataList">
                                        <li>
                                            <select class="wp25 mg-r5" id="firstSelect" name="spworkcd" onchange="updateNextSelect(this)">

                                                <option></option>
                                            </select>
                                            <select class="wp25 mg-r5" id="secondSelect" name="spcompcd" onchange="updateNextSelect(this)">
                                                <option></option>
                                            </select>
                                            <select class="wp25 mg-r5" id="thirdSelect" name="spplancd">
                                                <option></option>
                                            </select>
                                            <button type="button" onclick="addselectField(this)" class="btn" style="width: 107px">발전시설 추가</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        비밀번호
                                    </label>
                                </th>
                                <td>
                                    <input type="password" id="password" name="password" class="wp100" maxlength="50" autocomplete="new-password" placeholder="비밀번호">
                                </td>
                                <th>
                                    <label for="supplier2">
                                        이메일
                                    </label>
                                </th>
                                <td>
                                    <input type="email" id="email" name="email" class="wp100" maxlength="30" autocomplete="off" placeholder="이메일">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        휴대전화
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="tel" name="tel" class="wp100" maxlength="50" placeholder="휴대전화">
                                </td>
                                <th>
                                    <label for="supplier2">
                                        부서명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="divinm2" name="divinm2" class="wp100" maxlength="30" placeholder="부서명">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="agencycd">
                                        소속사
                                    </label>
                                </th>
                                <td colspan="3">
                                    <div class="input-clear">
                                        <select class="mg-r5" id="agencycd" name="agencycd" style="width: 100%">
                                            <option></option>
                                        </select>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>-->

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->








</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">


        var theGrid;
        var viewdata;
        let selectedFiles = [];
        let csrfToken = $("[name=_csrf]").val();


        let columns = [
            {binding: 'id', header: 'id', width: '*', align: 'center', visible: false},
            {binding: 'login_id', header: '사용자ID', width: '*', align: 'center'},
            {binding: 'Name', header: '사용자명', width: '*', align: 'center'},
            {binding: 'group_name', header: '사용자그룹', width: '*', align: 'center'},
            {binding: 'group_id', header: '사용자그룹', width: '*', align: 'center', visible: false},
            {binding: 'Value', header: '소속사', width: '*', align: 'center'},
            {binding: 'divinm', header: '부서', width: '*', align: 'center'},
            {binding: 'ranknm', header: '직급', width: '*', align: 'center'},
            {binding: 'is_active', header: '활성화', width: '*', align: 'center'},
            {binding: 'date_joined', header: '생성일', width: '*', align: 'center'},
            {binding: 'email', header: '이메일', width: '*', align: 'center', visible: false},
            {binding: 'tel', header: '휴대전화', width: '*', align: 'center', visible: false},
            {binding: 'agencycd', header: '소속사코드', width: '*', align: 'center', visible: false},
        ];

        const requiredFields = [{id: 'userid', name: '사용자ID'}, {id: 'usernm', name: '사용자명'}, {
            id: 'authType',
            name: '사용자그룹'
        },
            {id: 'email', name: '이메일'}, {id: 'agencycd', name: '소속사'},]

        const nameBasedFields = [
            {name: 'spworkcd', displayName: '관할지역'},
            {name: 'spcompcd', displayName: '발전산단'},
            {name: 'spplancd', displayName: '발전소'}
        ];

        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            $.ajax({
                url: '/api/system/user/read',
                type: 'GET',
                data: {},
                async: false,
                success: function (data) {
                    let DataLength = 10 - data.data.length;

                    if(data.data.length < 10){
                        for(let i=0; i < DataLength; i++){
                            data.data.push('empty');
                        }
                    }
                    data2 = data.data;
                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                isReadOnly: true,
                showMarquee: true,
                allowSorting: 'MultiColumn',
                columns: columns,  //홀짝 로우 음영주기
                selectionMode: wijmo.grid.SelectionMode.Row, // 행 단위 선택
                itemsSource: viewdata,
                formatItem: function(s, e) {
                    if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                        var col = s.columns[e.col];
                        var item = s.rows[e.row].dataItem;
                        if (col.binding === 'is_active') {
                            if(item && item === 'empty'){
                                e.cell.innerHTML = '';
                            }
                            /*if (item && item.downloads) {
                                e.cell.innerHTML = '<a class="btn-filedown" onclick="FileDownload(' + e.row + ')">다운로드</a>';
                            } else {
                                e.cell.innerHTML = ''; // 다운로드 버튼이 표시되지 않도록 빈 문자열 설정
                            }*/
                        }
                    }
                }
            });

            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기


            // 더블클릭 이벤트 추가
            theGrid.hostElement.addEventListener('dblclick', function(e) {
                let hitTest = theGrid.hitTest(e);
                if (hitTest.cellType === wijmo.grid.CellType.Cell) {
                    let row = hitTest.row;
                    let item = theGrid.rows[row].dataItem;

                    if(item === 'empty'){
                        return;
                    }
                    console.log('Row double-clicked:', item);

                    let userid = item.login_id;

                    document.getElementById('id').value = item.id;
                    document.getElementById('userid').value =   item.login_id;
                    document.getElementById('usernm').value =   item.Name;
                    document.getElementById('authType').value = item.group_id;
                    document.getElementById('email').value =    item.email;
                    document.getElementById('tel').value =      item.tel;
                    document.getElementById('divinm2').value =  item.divinm;
                    document.getElementById('agencycd').value = item.agencycd;

                    AjaxFunction.PostAjaxRequest('/api/system/user/modfind', true, 'application/json', true, userid, function (data) {
                        if (data.success) {

                            console.log('data.data', data.data);


                            $('#password').prop('readonly', true);

                            const parent = $('#dataList');
                            parent.empty();

                            const listLen = data.data.length;


                            for (let i = 0; i < listLen; i++) {
                                const li = $('<li>');

                                if (i !== 0) {
                                    li.addClass('new-fl-ac');
                                }

                                li.css('marginTop', '2px');


                                const firstSelectId = i === 0 ? 'firstSelect' : `firstSelect${i}`;
                                const secondSelectId = i === 0 ? 'secondSelect' : `secondSelect${i}`;
                                const thirdSelectId = i === 0 ? 'thirdSelect' : `thirdSelect${i}`;

                                const filrstSelect = createSelectElement(firstSelectId, 'spworkcd', 'updateNextSelect(this)', '8');
                                const secondSelect = createSelectElement(secondSelectId, 'spcompcd', 'updateNextSelect(this)', '9');
                                const thirdSelect = createSelectElement(thirdSelectId, 'spplancd', null, '7');

                                if (i === 0) {
                                    const button = createButtonElement('test', '발전시설 추가', 'black', '107px', 'addselectField(this)');
                                    li.append(filrstSelect).append(secondSelect).append(thirdSelect).append(button);
                                } else {
                                    const button = createButtonElement('test', '발전시설 삭제', 'red', '107px', 'deleteSelectField(this)');
                                    li.append(filrstSelect).append(secondSelect).append(thirdSelect).append(button);
                                }

                                parent.append(li);
                                $.ajax({
                                    url: '/user-codes/parent',
                                    type: 'GET',
                                    async: false,   // 기본값: true
                                    data: {parentId: 110},
                                    success: function (response) {
                                        console.log('Response from /user-codes/parent:', response);
                                        let selectElement = $('#' + firstSelectId);
                                        selectElement.empty(); // 이전 옵션 제거

                                        $.each(response, function (index, item) {



                                            selectElement.append($('<option>', {
                                                value: item.id,
                                                text: item.value
                                            }));

                                            selectElement.val()
                                        });
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        console.error('Error:', textStatus, errorThrown);
                                    }
                                });

                                console.log('ahahah: ', data.data[i]);
                                $('#' + firstSelectId).val(data.data[i].spworkid);
                                $('#' + firstSelectId).trigger('change');
                                $('#' + secondSelectId).val(data.data[i].spcompid);
                                $('#' + secondSelectId).trigger('change');
                                $('#' + thirdSelectId).val(data.data[i].spplanid);
                            }


                        } else {
                            Alert.alert('', data.message, function(){ $('#listTabLink').click()});

                        }
                    })

                  /*  //탭 수정으로 업더이트
                    updateTabLink('id');
                    let tabIds = '#tab2';
                    $(".tab-item").hide();
                    $(tabIds).show();

                    $("#listTabLink").parent().removeClass("active");
                    $("#inputTabLink").parent().addClass("active");*/
                }
            });



        }

        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        //검색
        function searchData() {
            let data = {
                'group': $('#cboUserGroup').val(),
                'keyword': $('#keyword').val(),
                'username': $('#username').val(),
                'divinm': $('#divinm').val()
            }

            let data2 = [];
            $.ajax({
                url: '/api/system/user/read',
                type: 'GET',
                data: data,
                success: function (data) {

                    let DataLength = 10 - data.data.length;
                    if(data.data.length < 10){
                        for(let i=0; i < DataLength; i++){
                            data.data.push('empty');
                        }
                    }

                    data2 = data.data;
                    viewdata = new wijmo.collections.CollectionView(data2);
                    theGrid.itemsSource = viewdata;
                },
                error: function (xhr, status, error) {
                    console.error('AJAX request error:', error);
                }
            });

            //grid_binding(result.data);
        }

        function grid_binding(data) {
            var inspecDto = data;
            var inspecData = [];
            var cnt = 1;
            for (let i = 0; i < inspecDto.length; i++) {
                inspecData.push({
                    id: inspecDto[i]["id"],
                    login_id: inspecDto[i]["login_id"],
                    Name: inspecDto[i]["Name"],
                    group_name: inspecDto[i]["group_name"],
                    group_id: inspecDto[i]["group_id"],
                    Value: inspecDto[i]["Value"],
                    divinm: inspecDto[i]["divinm"],
                    ranknm: inspecDto[i]["ranknm"],
                    is_active: inspecDto[i]["is_active"],
                    date_joined: inspecDto[i]["date_joined"],
                    email: inspecDto[i]["email"],
                    tel: inspecDto[i]["tel"],
                    agencycd: inspecDto[i]["agencycd"],
                });
                cnt++;
            }

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;
            viewdata.sourceCollection = inspecData;

            for (var i = 0; i < columns.length; i++) {
                var col = new wijmo.grid.Column(columns[i]);
                theGrid.columns.push(col);
            }
        }

        function createSelectElement(id, name, onChange, margin) {
            return $('<select>', {
                class: 'wp25 mg-r5',
                id: id,
                name: name,
                onchange: onChange
            }).append('<option></option>')
                .attr('style', `margin-right: ${margin}px !important;`);
        }

        function createButtonElement(name, text, color, width, onClick) {
            return $('<button>', {

                name: name,
                text: text,
                css: {
                    color: color,
                    width: width
                },
                onclick: onClick
            });
        }

        <!-- 점검자 추가 버튼 이벤트-->
        function addselectField(button) {
            // 새로운 td 요소를 생성합니다.
            var newTd = document.createElement('li');
            newTd.className = 'new-fl-ac';

            if (!window.cloneCounter) {
                window.cloneCounter = 1;
            } else {
                window.cloneCounter++;
            }

            // 새로운 input 요소를 생성합니다.
            var originalSelect1 = document.getElementById('firstSelect');
            var newInput = originalSelect1.cloneNode(true);
            newInput.name = 'spworkcd';
            newInput.id = originalSelect1.id + window.cloneCounter;
            newInput.style.setProperty('margin-right', '8px', 'important');
            newInput.type = 'select';

            var originalSelect2 = document.getElementById('secondSelect');
            var newInput2 = originalSelect2.cloneNode(true);
            newInput2.name = 'spcompcd';
            newInput2.style.setProperty('margin-right', '10px', 'important');
            newInput2.type = 'select';
            newInput2.id = originalSelect2.id + window.cloneCounter;

            var originalSelect3 = document.getElementById('thirdSelect');
            var newInput3 = originalSelect3.cloneNode(true);
            newInput3.name = 'spplancd';
            newInput3.style.setProperty('margin-right', '7px', 'important');
            // newInput2.className = 'wp100';
            newInput3.type = 'select';
            newInput3.id = originalSelect3.id + window.cloneCounter;

            // 삭제 버튼을 생성합니다.
            var deleteButton = document.createElement('button');
            deleteButton.textContent = '발전시설 삭제';
            deleteButton.onclick = function () {
                deleteSelectField(newInput); // 삭제 버튼을 클릭하면 해당 입력 필드를 삭제하는 함수 호출
                deleteSelectField(newInput2);
                deleteSelectField(newInput3);
            };
            deleteButton.className = 'btn';
            deleteButton.style.width = '107px';
            deleteButton.style.color = 'red';
            deleteButton.style.marginTop = '5px';
            // 새로운 td에 input 요소와 삭제 버튼을 추가합니다.
            newTd.appendChild(newInput);
            newTd.appendChild(newInput2);
            newTd.appendChild(newInput3);
            newTd.appendChild(deleteButton);

            // 클릭된 버튼의 부모 td 요소를 찾습니다.
            var parentTd = button.parentElement;

            // 부모 td 요소 다음에 새로운 td 요소를 추가합니다.
            parentTd.parentElement.insertBefore(newTd, parentTd.nextSibling);
        }

        function deleteSelectField(inputField) {
            // 입력 필드의 부모 요소(td)를 찾아서 삭제합니다.
            var tdToDelete = inputField.parentElement;
            tdToDelete.parentElement.removeChild(tdToDelete);
        }

        function clearForm(){
            ['id', 'userid', 'usernm', 'authType', 'email', 'tel', 'divinm2', 'agencycd', 'firstSelect', 'secondSelect', 'thirdSelect'].forEach(id => {
                document.getElementById(id).value = '';
            });

            updateTabLink('id');
            $('#password').prop('readonly', false);
            $('.new-fl-ac').remove();
        }

        function updateNextSelect(param) {
            let code = param.value;

            // param의 다음 형제 요소를 찾습니다.
            let nextSelect = $(param).next('select');

            console.log('code: ', code);

            if (nextSelect.length) {
                $.ajax({
                    url: '/user-codes/code',
                    type: 'GET',
                    async: false,
                    data: { code: code },
                    success: function (data) {
                        nextSelect.empty();
                        nextSelect.append('<option value="">선택하세요</option>');
                        data.forEach(function (item) {
                            nextSelect.append('<option value="' + item.id + '">' + item.value + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        // 통신 실패 시 처리


                        // 선택 옵션을 비우거나 기본 옵션을 설정할 수 있습니다.
                        nextSelect.empty();
                        nextSelect.append('<option value=""></option>');
                    }
                });
            } else {
                console.error('다음 select 요소를 찾을 수 없습니다.');
            }
        }

        //수정 (동기로 작업해서 화면을 다시 그려줘야 해서 소스가 길다)
        function modifyData() {
            let selectedItems = theGrid.selectedItems;
            console.log('selected: ', selectedItems);
            if (selectedItems[0] === 'empty' || selectedItems.length === 0) {
                Alert.alert('', '수정할 항목을 선택하세요.');
                return;
            }

            let userid = selectedItems[0].login_id;

            const selectedItem = selectedItems[0];
            document.getElementById('id').value = selectedItem.id;
            document.getElementById('userid').value = selectedItem.login_id;
            document.getElementById('usernm').value = selectedItem.Name;
            document.getElementById('authType').value = selectedItem.group_id;
            document.getElementById('email').value = selectedItem.email;
            document.getElementById('tel').value = selectedItem.tel;
            document.getElementById('divinm2').value = selectedItem.divinm;
            document.getElementById('agencycd').value = selectedItem.agencycd;

          /*  //탭 수정으로 업더이트
            updateTabLink('id');

            let tabIds = '#tab2';
            $(".tab-item").hide();
            $(tabIds).show();

            $("#listTabLink").parent().removeClass("active");
            $("#inputTabLink").parent().addClass("active");*/

            AjaxFunction.PostAjaxRequest('/api/system/user/modfind', true, 'application/json', true, userid, function (data) {
                if (data.success) {

                    console.log('data.data', data.data);

                  /*  let tabIds = '#tab2';
                    $(".tab-item").hide();
                    $(tabIds).show();

                    $("#listTabLink").parent().removeClass("active");
                    $("#inputTabLink").parent().addClass("active");
*/

                    $('#password').prop('readonly', true);

                    const parent = $('#dataList');
                    parent.empty();

                    const listLen = data.data.length;


                    for (let i = 0; i < listLen; i++) {
                        const li = $('<li>');

                        if (i !== 0) {
                            li.addClass('new-fl-ac');
                        }

                        li.css('marginTop', '2px');


                        const firstSelectId = i === 0 ? 'firstSelect' : `firstSelect${i}`;
                        const secondSelectId = i === 0 ? 'secondSelect' : `secondSelect${i}`;
                        const thirdSelectId = i === 0 ? 'thirdSelect' : `thirdSelect${i}`;

                        const filrstSelect = createSelectElement(firstSelectId, 'spworkcd', 'updateNextSelect(this)', '8');
                        const secondSelect = createSelectElement(secondSelectId, 'spcompcd', 'updateNextSelect(this)', '9');
                        const thirdSelect = createSelectElement(thirdSelectId, 'spplancd', null, '7');

                        if (i === 0) {
                            const button = createButtonElement('test', '발전시설 추가', 'black', '107px', 'addselectField(this)');
                            li.append(filrstSelect).append(secondSelect).append(thirdSelect).append(button);
                        } else {
                            const button = createButtonElement('test', '발전시설 삭제', 'red', '107px', 'deleteSelectField(this)');
                            li.append(filrstSelect).append(secondSelect).append(thirdSelect).append(button);
                        }

                        parent.append(li);
                        $.ajax({
                            url: '/user-codes/parent',
                            type: 'GET',
                            async: false,   // 기본값: true
                            data: {parentId: 110},
                            success: function (response) {
                                console.log('Response from /user-codes/parent:', response);
                                let selectElement = $('#' + firstSelectId);
                                selectElement.empty(); // 이전 옵션 제거

                                $.each(response, function (index, item) {

                                    selectElement.append($('<option>', {
                                        value: item.id,
                                        text: item.value
                                    }));

                                    selectElement.val()
                                });
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error('Error:', textStatus, errorThrown);
                            }
                        });

                        console.log('ahahah: ', data.data[i]);
                        $('#' + firstSelectId).val(data.data[i].spworkid).trigger('change');
                        $('#' + secondSelectId).val(data.data[i].spcompid).trigger('change');
                        $('#' + thirdSelectId).val(data.data[i].spplanid);

                    }


                } else {
                    Alert.alert('', data.message);

                }
            })

        }


        $(document).ready(function (e) {

            initializeSelect({
                url: '/user-auth/type',
                params: {},
                elementId: 'cboUserGroup',
                valueField: "id",
                textField: "name"
            })
            initializeSelect({
                url: '/user-auth/type',
                params: {},
                elementId: 'authType',
                valueField: "id",
                textField: "name"
            })
            initializeSelect({url: '/user-codes/parent', params: {parentId: 110}, elementId: 'firstSelect', valueField: "id"})
            initializeSelect({
                url: '/user-codes/parent',
                params: {parentId: 154},
                elementId: 'agencycd',
                valueField: "id"
            })


            //저장
            $('#btnSave').click(function () {
                if (!validateFields()) {
                    return false;
                }
                const emailInput = document.getElementById('email');
                const emailValue = emailInput.value.trim();

                if (!emailValidate(emailValue.trim())) {
                    Alert.alert('', '유효한 이메일 형식을 입력하세요.');
                    return false;
                }

                let id = document.getElementById('id').value.trim();
                let password = document.getElementById('password');
                let pwd = password.value.trim();
                if (id === undefined || id === '') {  //신규등록이므로 비밀번호 입력 체크
                    if (pwd === undefined || pwd === '') {
                        Alert.alert('', '비밀번호를 입력해주세요', function () {
                            password.focus();
                        })
                        return;
                    }
                }

                let spworkcdString = extractSelectValues('spworkcd');
                let spcompcdString = extractSelectValues('spcompcd');
                let spplancdString = extractSelectValues('spplancd');

                let spworknm = extractSelectTexts('spworkcd');
                let spcompnm = extractSelectTexts('spcompcd');
                let spplannm = extractSelectTexts('spplancd');



                let formData = new FormData();

                formData.append('id', id);
                formData.append('login_id', $('#userid').val());
                formData.append('Name', $('#usernm').val());
                formData.append('UserGroup_id', $('#authType').val());
                formData.append('password', pwd);
                formData.append('email', emailValue);
                formData.append('tel', $('#tel').val());
                formData.append('divinm', $('#divinm2').val());
                formData.append('agencycd', $('#agencycd').val());
                formData.append('_csrf', $('[name=_csrf]').val());
                formData.append('spworkcd', spworkcdString);
                formData.append('spcompcd', spcompcdString);
                formData.append('spplancd', spplancdString);
                formData.append('spworknm', spworknm);
                formData.append('spcompnm', spcompnm);
                formData.append('spplannm', spplannm);

                let bindingList = ['id', 'userid', 'usernm', 'authType', 'password', 'email', 'tel', 'divinm2', 'agencycd', 'firstSelect', 'secondSelect', 'thirdSelect'];
                AjaxFunction.PostAjaxRequest('/api/system/user/save', true, false, false, formData, function (response) {
                    if (response.success) {
                        Alert.alert('', response.message, function () {
                            $('#listTabLink').click();
                            searchData();
                        });
                        clearForm();

                    } else {
                        Alert.alert('', response.message);
                    }
                })
            });

            /*$('#inputTabLink').click(function(){
                let selectedItems = theGrid.selectedItems;
                if(selectedItems.length > 1){

                    Alert.alert('', '하나의 항목만 선택해주세요', function(){
                        $('#listTabLink').click();
                    });

                    return false;
                }
                const inputTabLink = document.getElementById('inputTabLink');
                if(selectedItems.length > 0) {

                    inputTabLink.textContent = '수정';
                    inputTabLink.title = '수정';

                    let userid = selectedItems[0].login_id;

                    function createSelectElement(id, name, onChange, margin) {
                        return $('<select>', {
                            class: 'wp25 mg-r5',
                            id: id,
                            name: name,
                            onchange: onChange
                        }).append('<option></option>')
                            .attr('style', `margin-right: ${margin}px !important;`);
                    }

                    function createButtonElement(name, text, color, width, onClick) {
                        return $('<button>', {

                            name: name,
                            text: text,
                            css: {
                                color: color,
                                width: width
                            },
                            onclick: onClick
                        });
                    }

                    AjaxFunction.PostAjaxRequest('/api/system/user/modfind', true, 'application/json', true, userid, function (data) {
                        if (data.success) {

                            console.log('data.data', data.data);

                            let tabIds = '#tab2';
                            $(".tab-item").hide();
                            $(tabIds).show();

                            $("#listTabLink").parent().removeClass("active");
                            $("#inputTabLink").parent().addClass("active");


                            document.getElementById('id').value = selectedItems[0].id;
                            document.getElementById('userid').value = selectedItems[0].login_id;
                            document.getElementById('usernm').value = selectedItems[0].Name;
                            document.getElementById('authType').value = selectedItems[0].group_id;
                            document.getElementById('email').value = selectedItems[0].email;
                            document.getElementById('tel').value = selectedItems[0].tel;
                            document.getElementById('divinm2').value = selectedItems[0].divinm;
                            document.getElementById('agencycd').value = selectedItems[0].agencycd;

                            $('#password').prop('readonly', true);

                            const parent = $('#dataList');
                            parent.empty();

                            const listLen = data.data.length;


                            for (let i = 0; i < listLen; i++) {
                                const li = $('<li>');

                                if (i !== 0) {
                                    li.addClass('new-fl-ac');
                                }

                                li.css('marginTop', '2px');


                                const firstSelectId = i === 0 ? 'firstSelect' : `firstSelect${i}`;
                                const secondSelectId = i === 0 ? 'secondSelect' : `secondSelect${i}`;
                                const thirdSelectId = i === 0 ? 'thirdSelect' : `thirdSelect${i}`;

                                const filrstSelect = createSelectElement(firstSelectId, 'spworkcd', 'updateNextSelect(this)', '8');
                                const secondSelect = createSelectElement(secondSelectId, 'spcompcd', 'updateNextSelect(this)', '9');
                                const thirdSelect = createSelectElement(thirdSelectId, 'spplancd', null, '7');

                                if (i === 0) {
                                    const button = createButtonElement('test', '발전시설 추가', 'black', '107px', 'addselectField(this)');
                                    li.append(filrstSelect).append(secondSelect).append(thirdSelect).append(button);
                                } else {
                                    const button = createButtonElement('test', '발전시설 삭제', 'red', '107px', 'deleteSelectField(this)');
                                    li.append(filrstSelect).append(secondSelect).append(thirdSelect).append(button);
                                }

                                parent.append(li);
                                $.ajax({
                                    url: '/user-codes/parent',
                                    type: 'GET',
                                    async: false,   // 기본값: true
                                    data: {parentId: 110},
                                    success: function (response) {
                                        console.log('Response from /user-codes/parent:', response);
                                        let selectElement = $('#' + firstSelectId);
                                        selectElement.empty(); // 이전 옵션 제거
                                        console.log('suucc', response);
                                        $.each(response, function (index, item) {

                                            console.log('화긴', item.code);

                                            selectElement.append($('<option>', {
                                                value: item.id,
                                                text: item.value
                                            }));

                                            selectElement.val()
                                        });
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        console.error('Error:', textStatus, errorThrown);
                                    }
                                });

                                $('#' + firstSelectId).val(data.data[i].spworkid);
                                $('#' + firstSelectId).trigger('change');
                                $('#' + secondSelectId).val(data.data[i].spcompid);
                                $('#' + secondSelectId).trigger('change');
                                $('#' + thirdSelectId).val(data.data[i].spplanid);
                            }

                            //탭 수정으로 업더이트
                            updateTabLink('id');
                        } else {
                            Alert.alert('', data.message);

                        }
                    })


                }else{
                    inputTabLink.textContent = '등록';
                    inputTabLink.title = '등록';
                }
            })*/


            $('#btnDelete').click(function () {
                let selectedItems = theGrid.selectedItems;



                if (selectedItems[0].id === undefined || selectedItems.length === 0) {
                    Alert.alert('', '삭제할 항목을 선택하세요.');
                    return;
                }
                console.log('zz', selectedItems)
                let delList = SelectItemPush(selectedItems, 'id');
                let del940List = SelectItemPush(selectedItems, 'login_id');
                console.log('삭제확인2', del940List);
                console.log('삭제확인', delList);
                Alert.confirm('', '삭제하시겠습니까?', function () {
                    let data = {
                        'id': JSON.stringify(delList),
                        'username': JSON.stringify(del940List),
                        '_csrf': csrfToken
                    }
                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', '삭제되었습니다.');
                            searchData();
                        }
                    }
                    AjaxUtil.postAsyncData('/api/system/user/delete', data, fnSuccess);
                })
            });

            $('#btnDelete2').click(function(){
                Alert.confirm('', '삭제하시겠습니까?', function () {
                    let data = {
                        'id': JSON.stringify($('#id').val()),
                        'username': JSON.stringify($('#userid').val()),
                        '_csrf': csrfToken
                    }
                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', '삭제되었습니다.');
                            clearForm();
                            $('listTabLink').click();
                            searchData();
                        }
                    }
                    AjaxUtil.postAsyncData('/api/system/user/delete', data, fnSuccess);
                })
            })
        });
    </script>
</th:block>

</html>