<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
<div class="content_wrap">
    <section class="section">
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="사용자 관리">사용자 관리</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>


        <div class="table_box search">
            <form id="searchForm" autocomplete="off">
                <div class="row">

                    <div class="col-12 col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="사용자 그룹">사용자 그룹</span>
                            </div>
                                <select class="form-control2" id="cboUserGroup" name="cboUserGroup"></select>
                        </div>
                    </div>

                    <div class="col-11 col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="이름">이름</span>
                            </div>
                                <input class="form-control2" id="txtName" name="txtName"/>
                        </div>
                    </div>

                    <div class="col-11 col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="사원번호">사원번호</span>
                            </div>
                                <input class="form-control2" id="username" name="username"/>
                        </div>
                    </div>

                    <div class="col-11 col-lg-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="부서">부서</span>
                            </div>
                                <select class="form-control2" id="txtDepart" name="txtDepart"></select>
                        </div>
                    </div>

                    <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </section>
    
    <section>
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="사용자 목록">사용자 목록</span>
                <button type="button" class="btn-default" id="btnExcel" title="엑셀 다운로드"><i class="fas fa-file-excel"></i></button>
            </div>
            <div class="h-400" data-ax5grid="user-grid" ></div>
        </div>
    </section>

    <section>
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="기본정보">기본정보</a></li>
                        <li><a href="#" data-tablink="#tab_user_grp" name="tab_user_grp" class="tab" data-labelCd="사용자 그룹">사용자 그룹</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab" id="tab_basic">
                    <div class="tab_con_box">
                        <div class="table_box">
                            <span class="right_align rpt" data-labelCd="사용자 상세 정보">사용자 상세 정보</span>
                            <button type="button" class="btn-default" id="btnNew" name="btnNew" title="신규"><i class="fas fa-plus"></i></button>
                            <button type="button" class="btn-danger" id="btnDel" title="삭제"><i class="fas fa-trash"></i></button>
                            <button type="button" class="btn-default" id="btnSave"  title="저장"><i class="fas fa-save"></i></button>
                            <button type="button" class="btn-default" id="btnPassSetting" ><i class="fas fa-cog"></i> 패스워드 설정</button>    
                        </div>
                   
                        <div class="table_box">
                            <form id="userForm">
                                <div class="table_box sub" id="detail_box">
                                    <div class="row">
                                        <input type="hidden" id="id" name="id" />
                    

                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="사번">사번</span>
                                                </div>
                                                <input type="text" class="form-control2 "  id="login_id" name="login_id" required disabled />
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="이름">이름</span>
                                                </div>
                                                <input type="text" class="form-control2 "  id="Name" name="Name" required disabled />
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="사용자그룹">사용자그룹</span>
                                                </div>
                                                <select class="form-control2 "  id="UserGroup_id" name="UserGroup_id" disabled></select>
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="소속 공장">소속 공장</span>
                                                </div>
                                                <select class="form-control2 "  id="Factory_id" name="Factory_id" disabled></select>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="부서">부서</span>
                                                </div>
                                                <select class="form-control2 "  id="Depart_id" name="Depart_id" disabled></select>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="Email">Email</span>
                                                </div>
                                                <input type="text" class="form-control2 "  id="email" name="email" required disabled />
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-3" >
                                            <div class="input-group" >
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text fit_box_t7" data-labelCd="언어">언어</span>
                                                </div>
                                                <select class="form-control2 "  id="lang_code" name="lang_code" disabled></select>
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 mt-5 tac" >
                                            <input type="checkbox" id="is_active" name="is_active" disabled />
                                            활성화 여부 
                                        </div>

                                    </div>
                                </div>
                            </form>
                         </div>
                     </div>
                     <br/><br/>
                </div>
                
                <div class="tab" id="tab_user_grp">
                    <input type="hidden" id="user_pk"/>
                    <div class="grid_box">
                        <div class="title_box">
                                <span class="right_align rpt" data-labelCd="사용자 그룹">사용자 그룹</span>
                            <button type="button" class="btn-default" id="btnUserGroupSave"><i class="fas fa-save"></i></button>
                        </div>
                        <div class="h-300" data-ax5grid="user_group_grid"></div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>

<script type="text/x-tmpl" id="passwordTemplate">
    <div class="content_wrap popup">
    <!--<header>
        <h4 id="popTitle">패스워드 설정</h4>
        <div class="popup_close_box"><button class="btn_popup_close" id="modal-close"><i class="fas fa-times"></i></button></div>
    </header>-->

    <section class="pt-2">
        <form id="passwordForm">
            <div class="table_box sub">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="text_left" style="line-height: 1.3">영어 대,소문자, 숫자, 특수문자를 모두 포함한 8~20 자리 사이의 패스워드를 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_t7" data-labelCd="패스워드">패스워드</span>
                            </div>
                             <input class="form-control2 " type="password" id="pass1" name="pass1" value=''  />
                        </div>
                    </div>
                    <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_t7" data-labelCd="패스워드 확인">패스워드 확인</span>
                        </div>
                         <input class="form-control2 " type="password" id="pass2" name="pass2" value=''  />
                    </div>
                </div>

                </div>
            </div>
        </form>
    </section>

    <section class="popupcontent" >
        <div class="popup_button_group">
            <button type="button" class="btn-default" id="btnPassSave" ><span data-labelCd="저장">저장</span></button>
            <button type="button" class="btn-default" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
        </div>
    </section>

    </div>
</script>
</th:block>

<th:block layout:fragment="scripts">
<script type="text/javascript">

    class UserPage {
        constructor() {
            this.grid = null;
            this.userGroupGrid = null;
            this.baseUrl = '/api/system/user';
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="user-grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                        _this.showDetailUser(e.item.id);
                        _this.showUserGroup(e.item.id);

                        $('#user_pk').val(e.item.id);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'login_id', label: '사원번호', width: 100, align: 'center' },
                    { key: 'Name', label: '이름', width: 120, align: 'center' },
                    { key: 'group_name', label: '사용자그룹', width: 120, align: 'left' },
                    { key: 'factory_name', label: '소속공장', width: 150, align: 'left',  },
                    { key: 'dept_name', label: '부서', width: 150, align: 'left', },
                    { key: 'lang_code', label: '언어', width: 100, align: 'center',  },
                    { key: 'is_active', label: '활성화', width: 100, align: 'center',  },
                    { key: 'date_joined', label: '생성일', width: 150, align: 'center', },
                ]
            };

            this.grid = new ax5.ui.grid(config);

            let userGroupConfig = {
                target: $('[data-ax5grid="user_group_grid"]'),
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 30, // body의 기본 높이
                    onClick: function (e) {
                        
                     
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'grp_name', label: '사용자 그룹명', width: 450, align: 'left' },
                    {
                        key: 'grp_check', label: '<span class="editable_clr">소속 여부</span>', width: 100, align: 'center',
                        editor: {
                            type: 'checkbox', config: {height: 15, trueValue: 'Y', falseValue: 'N'}
                        },
                     },
                ]
            }
            this.userGroupGrid = new ax5.ui.grid(userGroupConfig);
            this.grid_config2 = userGroupConfig;
            this.userGroupGrid.setData([]);

            AjaxUtil.fillSelectOptions($('#cboUserGroup'), 'user_group', 'all', false);
            AjaxUtil.fillSelectOptions($('#lang_code'), 'system_code', '', false, 'lang_code');

            this.initForm();
        }

        initForm() {
            AjaxUtil.fillSelectOptions($('#UserGroup_id'), 'user_group', '', false);
            AjaxUtil.fillSelectOptions($('#Factory_id'), 'factory', '', false);
            AjaxUtil.fillSelectOptions($('#Depart_id'), 'depart', 'choose', false);
        }

        setButtonState() {
            let pk = $('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);
                $('#btnPassSetting').prop('disabled', false);
            }
            else {
                $('#btnDel').prop('disabled', true);
                $('#btnPassSetting').prop('disabled', true);
            }
        }


        showDetailUser(idx) {
            let _this = this;
            let param = { 'id': idx, "action": 'detail' };
            let result = AjaxUtil.getSyncData(_this.baseUrl + '/detail', param);
            if (result.data != null) {
                FormUtil.BindDataForm(result.data, $('#userForm'));

                $('#description').text(result.data.description);

                if (result.data.is_active == true) {
                    $('#is_active').prop('checked', true);
                }
            }

            page.setButtonState();
        }

        searchDataBind() {
            let _this = this;


            let data = {
                'group': $('#cboUserGroup').val(),
                'keyword': $('#txtName').val(),
                'depart_id': $('#txtDepart').val(),
                'username': $('#username').val(),
                'action' : 'read'
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl + '/read', data);
            if (result.data != null) {
                let recordsTotal = result.data.length;
                _this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
                $('#user_pk').val('');
            }
            
            $('#userForm')[0].reset();
            $('#userForm').find('#id').val('');

            $('#detail_box').find('input, select').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            //page.setButtonDisable(false, true, true);
            page.setButtonState();
        }//searchDataBind

        saveUser() {
            let _this = this;
            //데이터입력체크루틴 누락
            let data = FormUtil.extractForm($('#userForm'));
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success("저장되었습니다."); // Notification
                    _this.searchDataBind();
                } else if (!res.success) {
                     Alert.alert('', res.message);
                }
            };
           AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
        }

        deleteUser() {
            let _this = this;
            let id = $('#userForm').find('#id').val();
            let data = { id: id };
            let fnsuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제했습니다.');
                    _this.searchDataBind();
                } else {
                    Alert.alert('', res.message);
                }

            };
            let result = AjaxUtil.postAsyncData(_this.baseUrl + '/delete', data, fnsuccess);
        }

        validatePassword(pw, options) {
            // default options (allows any password)
            var o = {
                lower: 0,
                upper: 0,
                alpha: 0, /* lower + upper */
                numeric: 0,
                special: 0,
                length: [0, Infinity],
                custom: [ /* regexes and/or functions */],
                badWords: [],
                badSequenceLength: 0,
                noQwertySequences: false,
                noSequential: false
            };

            for (var property in options)
                o[property] = options[property];

            var re = {
                lower: /[a-z]/g,
                upper: /[A-Z]/g,
                alpha: /[A-Z]/gi,
                numeric: /[0-9]/g,
                special: /[\W_]/g
            },
                rule, i;

            // enforce min/max length
            if (pw.length < o.length[0] || pw.length > o.length[1])
                return false;

            // enforce lower/upper/alpha/numeric/special rules
            for (rule in re) {
                if ((pw.match(re[rule]) || []).length < o[rule])
                    return false;
            }

            // enforce word ban (case insensitive)
            for (i = 0; i < o.badWords.length; i++) {
                if (pw.toLowerCase().indexOf(o.badWords[i].toLowerCase()) > -1)
                    return false;
            }

            // enforce the no sequential, identical characters rule
            if (o.noSequential && /([\S\s])\1/.test(pw))
                return false;

            // enforce alphanumeric/qwerty sequence ban rules
            if (o.badSequenceLength) {
                var lower = "abcdefghijklmnopqrstuvwxyz",
                    upper = lower.toUpperCase(),
                    numbers = "0123456789",
                    qwerty = "qwertyuiopasdfghjklzxcvbnm",
                    start = o.badSequenceLength - 1,
                    seq = "_" + pw.slice(0, start);
                for (i = start; i < pw.length; i++) {
                    seq = seq.slice(1) + pw.charAt(i);
                    if (
                        lower.indexOf(seq) > -1 ||
                        upper.indexOf(seq) > -1 ||
                        numbers.indexOf(seq) > -1 ||
                        (o.noQwertySequences && qwerty.indexOf(seq) > -1)
                    ) {
                        return false;
                    }
                }
            }
            // enforce custom regex/function rules
            for (i = 0; i < o.custom.length; i++) {
                rule = o.custom[i];
                if (rule instanceof RegExp) {
                    if (!rule.test(pw))
                        return false;
                } else if (rule instanceof Function) {
                    if (!rule(pw))
                        return false;
                }
            }

            // great success!
            return true;
        }

        showPassSetting(id) {
            let _this = this;

            let content = tmpl('passwordTemplate', {id:id});
            let $content = $(content);

            let popContainer = new PopupDraggable('패스워드 설정');
            popContainer.open({ width: 450, height: 210, $content });

            let $pass1 = $content.find('#pass1');
            let $pass2 = $content.find('#pass2');
            $content.find('#btnPassSave').click(function (e) {
                let p1 = $pass1.val();
                let p2 = $pass2.val();
                //패스워드 복잡도 체크 필요
                let passOption = {
                    length: [8, 20],
                    lower: 1,
                    upper: 1,
                    numeric: 1,
                    special: 1,
                    badWords: [],
                    badSequenceLength: 0
                };

                let pwd = $('#loginPwd').val();
                //let validationResult = _this.validatePassword(p1, passOption);
                //if (!validationResult) {
                //    Alert.alert('', '패스워드 정책위반');
                //    return;
                //}


                if (p1 != p2) {
                    Alert.alert('', "패스워드가 일치하지 않습니다.");
                } else {
                    let data = { id: id, pass1: p1, pass2: p2 };
                    let fncallback = function (res) {
                        if (res.success) {
                            Notify.success("저장되었습니다.");
                            popContainer.close();
                        } else {
                            Alert.alert('', res.message);
                        }
                    };
                    AjaxUtil.postAsyncData(_this.baseUrl + '/passSetting', data, fncallback);
                }
            });


        }



        showUserGroup(user_id) {
            let _this = this;
            let param = {
                'action': 'user_grp_list',
                'id': user_id,
            };
            
            let result = AjaxUtil.getSyncData(_this.baseUrl + '/user_grp_list', param);

            if (result.data) {
                let recordsTotal = result.data.length;
                this.userGroupGrid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: recordsTotal
                    }
                });
            }




            _this.userGroupGrid.list.forEach(function (item, idx) {
                if (item.grp_check == 'Y') {


                }
            })

        }


         saveUserGroup(user_id) {
            let _this = this;
            //let items = [];
            // $.each(_this.userGroupGrid.list, function (idx, item) {

            //    items.push({ grp_id: item.grp_id, 'grp_check': item.grp_check });
            //});
            let param = {
                Q: JSON.stringify(_this.userGroupGrid.getList()),
                'id': user_id
            };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('저장되었습니다.');
                    _this.searchDataBind();
                } else {
                    Alert.alert('', res.message);
                }
            }
            AjaxUtil.postAsyncData(_this.baseUrl + '/save_user_grp', param, fnSuccess);
        }




    }

    var page = null;

    $(document).ready(function (e) {
        page = new UserPage();
        page.searchDataBind();

        AjaxUtil.fillSelectOptions($('#txtDepart'), 'depart', 'all', '');

        $('#btnSearch').click(function (ex) {
            page.searchDataBind();
        });

        $('#cboUserGroup').change(function (ex) {
            page.searchDataBind();
        });
        
        $('#btnNew').click(function (e) {

            $('#userForm')[0].reset();
            $('#description').text('');
            $('#userForm').find('#id').val('');


            $('#userForm #code').attr('readonly', false);
            $('#userForm input, select').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            $('#userForm textarea').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });
            //page.setButtonDisable(true, false, true);
            page.setButtonState();


            //$('#userForm').reset();

        });

        $('#btnSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveUser() },
                function () { }
            );
        });

        $('#btnDel').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteUser() },
                function () { }
            );
        });

        $('.tab_links .tab').click(function (e) {
            let target = e.currentTarget.name;
            let user_pk = $('#user_pk').val();

            if (!user_pk) {
                return;
            }

            let pk = page.grid.getList('selected')[0].id;

            if (target == 'tab_user_grp') {
                setTimeout(function () {
                    page.showUserGroup(pk);
                    page.userGroupGrid.align(); 
                }, 500);
            }
        })

        //패스워드 설정
        $('#btnPassSetting').click(function (e) {
            let id = $('#userForm').find('#id').val();
            page.showPassSetting(id);
        });

        // 엑셀 다운로드
        $('#btnExcel').click(function (e) {
            page.grid.exportExcel('사용자정보.xls');
        });

        $('#btnUserGroupSave').click(function (e) {
            let pk = page.grid.getList('selected')[0].id;
            if (pk) {
                Alert.confirm('',
                    '저장하시겠습니까?',
                    function () { page.saveUserGroup(pk) },
                    function () { }
                )
            }

        });
    });
</script>

</th:block>
</html>