<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

            <!--- (레이아웃) Contents 영역 -->
            <div class="layout-contents">
                <!-- Page Title -->
                <div class="page-title-wrap">
                    <div class="left">
                        <h2>전기안전관리</h2>
                        <a title="북마크" class="bookmark toggle">
                            내메뉴
                        </a>
                    </div>
                    <ul class="page-navi">
                        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                        <li>점검관리</li>
                        <li>전기안전관리</li>
                    </ul>
                </div>
                <!-- Select -->
                <div class="search-wrap">
                    <ul>
                        <li>
                            <select title="지역">
                                <option>대구</option>
                            </select>
                        </li>
                        <li>
                            <select title="구">
                                <option>성서산단</option>
                            </select>
                        </li>
                        <li>
                            <select title="동">
                                <option>성서</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-wrap">
                    <ul class="tab-links">
                        <li>
                            <a href="#tab1" title="목록">목록</a>
                        </li>
                        <li>
                            <a href="#tab2" title="등록">등록</a>
                        </li>
                    </ul>
                    <div class="tab-contents">
                        <!-- Section -->
                        <section class="tab-item" id="tab1">
                            <div class="section-top">
                                <div class="search-wrap">
                                    <dl>
                                        <dt>
                                            등록일자<span class="eq">*</span>
                                        </dt>
                                        <dd>
                                            <ul class="date-box">
                                                <li>
                                                    <input type="date" id="startDate" name="startDate">
                                                    <label for="startDate" class="hide">시작일</label>
                                                </li>
                                                <li>
                                                    <input type="date" id="endDate" name="endDate">
                                                    <label for="endDate" class="hide">종료일</label>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="searchusr">
                                                점검명<span class="eq">*</span>
                                            </label>
                                        </dt>
                                        <dd>
                                            <div class="srch-box">
                                                <input type="text" id="searchusr" class="input-srch"
                                                       placeholder="점검명 검색">
                                                <a href="#a" class="btn-srch" title="검색" onclick="searchData()" onkeyup="searchData()"></a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a class="btn btn-excell" title="엑셀다운로드">
                                                <img src="/images/icon/ico-excell.svg" alt="엑셀 아이콘">
                                                엑셀다운로드
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-delete" title="삭제">
                                                <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-edit" title="수정">
                                                <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                                수정
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div> <!--//section-top end -->
                            <div class="container-fluid">
                                <p id="selectedItem"></p>
                                <div id="theGrid" style="max-height: 600px"></div>
                            </div>
                        </section>
                        <!-- Section -->
                        <section class="tab-item" id="tab2">
                            <div class="section-top">
                                <div class="title-wrap">
                                    <h3>전기안전점검 등록</h3>
                                </div>
                                <div class="button-wrap">
                                    <ul>
                                        <li>
                                            <a class="btn btn-excell" title="신규등록">
                                                <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                                신규등록
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-delete" title="삭제">
                                                <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                                삭제
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-edit" id="btnSave" title="저장">
                                                <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                                저장
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <table class="write-table">
                                    <form id="customForm">
                                        <caption>점검등록 테이블</caption>
                                        <colgroup>
                                            <col class="wp12">
                                            <col class="wp40">
                                            <col class="wp12">
                                            <col class="wp40">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>
                                                <label for="title">
                                                    점검명
                                                </label>
                                            </th>
                                            <td>
                                                <input type="text" id="title" class="wp100" placeholder="점검명">
                                            </td>
                                            <th>
                                                <label for="resistdt">
                                                    등록일자
                                                </label>
                                            </th>
                                            <td>
                                                <input type="date" id="resistdt">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="inspec_date1">
                                                    점검일자
                                                </label>
                                            </th>
                                            <td>
                                                <input type="date" id="inspec_date1">
                                            </td>
                                            <th>
                                                <label for="doc_select">
                                                    문서구분
                                                </label>
                                            </th>
                                            <td>
                                                <select id="doc_select" name="doc_select">
                                                    <option>전기설비점검결과표</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="inspec_loc">
                                                    점검장소
                                                </label>
                                            </th>
                                            <td>
                                                <select type="text" id="inspec_loc" class="wp100" placeholder="점검장소">
                                                    <option VALUE="KT대구물류센터 연료전지발전소">KT대구물류센터 연료전지발전소</option>
                                                </select>
                                            </td>
                                            <th>
                                                <label for="inspec_result">
                                                    점검결과
                                                </label>
                                            </th>
                                            <td>
                                                <select id="inspec_result" placeholder="점검결과" >
                                                    <option VALUE="양호">양호</option>
                                                    <option VALUE="좋음">좋음</option>
                                                    <option VALUE="나쁨">나쁨</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label for="endresult">
                                                    점검사항
                                                </label>
                                            </th>
                                            <td colspan="3">
                                                <div class="textarea-box">
                                                    <textarea id="endresult" placeholder="점검사항"></textarea>
                                                    <p class="text-count" id="text-count1">0/100</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                첨부파일
                                            </th>
                                            <td colspan="3">
                                                <div id="uploadComponent1" class="upload-component">
                                                    <div class="upload-filebox">
                                                        <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                                        <a class="btn" title="파일업로드">파일업로드</a>
                                                        <input type="file" id="fileInput1" class="fileInput" multiple>
                                                        <p>Maximun upload file size <span>1GiB</span></p>
                                                    </div>
                                                    <div class="upload-filelist">
                                                        <div class="title">
                                                            <h5>Files (0)</h5>
                                                            <a title="Delete all" class="btn-file-deleteall">Delete
                                                                all</a>
                                                        </div>
                                                        <ul class="filelist" id="filelist">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </form>
                                </table>
                            </div>
                        </section>
                    </div> <!--//tab-contens end-->
                </div> <!--//tab-wrap end-->
            </div> <!--//layout-contents end -->
            <footer>
                <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
            </footer>
        </div> <!-- //dashboard-layout-right end-->

    </div> <!-- //dashboard-layout-contents end-->

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];

            $.ajax({
                url: '/api/inspec/elec_safe/read',
                type: 'GET',
                async: false,
                success: function(data){
                    console.log('wijmo', data.data);
                    data2 = data.data;
                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: [
                    { binding: 'rownum', header: '순번', width: 80 ,align: 'center'},
                    { binding: 'registdt', header: '등록일자', width: 160, align: 'center' },
                    { binding: 'spworknm', header: '산단지역본부', width: 160, align: 'center' },
                    { binding: 'spcompnm', header: '산단명', width: 160, align: 'center' },
                    { binding: 'spplannm', header: '발전소명', width: 160, align: 'center' },
                    { binding: 'title', header: '점검명', width: 260, align: 'center' },
                    { binding: 'inspecresult', header: '점검결과', width: 160, align: 'center' },
                    { binding: 'inspecdt', header: '점검일자', width: 160, align: 'center' },
                    {
                        header: '첨부파일', binding: 'downloads', width: '*', align: 'center', cssClass: 'filedown',
                    }

                ],
                itemsSource: viewdata
            });


            // 선택이 변경될 때, 현재 항목 업데이트

            theGrid.rowHeaders.columns.splice(0,1);  //맨 앞에 헤더부분 없애기
        }
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        class ElecSafePage {
            constructor() {
                this.url = '/api/inspec/elec_safe';

            }

            // 정보 저장
            saveData() {
                let formData = new FormData($('#customForm')[0]);
                // let filesList = $('#uploadComponent1')[0].uploadedFiles;
                //
                // for (var i = 0; i < filesList.length; i++) {
                //     formData.append('filelist', filesList[i]);
                // }

                formData.append('title', $('#title').val());
                formData.append('resistdt', $('#resistdt').val());
                formData.append('inspec_date1', $('#inspec_date1').val());
                formData.append('inspec_loc', $('#inspec_loc').val());
                formData.append('inspec_result', $('#inspec_result').val());
                formData.append('endresult', $('#endresult').val());
                formData.append('_csrf', $('[name=_csrf]').val());

                $.ajax({
                    url: this.url + "/save",
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            Alert.alert('', '저장에 성공했습니다.' + response.message);

                        } else {
                            Alert.alert('', '저장에 실패했습니다. ' + response.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Alert.alert('', '에러가 발생하였습니다.');
                    }
                });
            }
        }

        $(document).ready(function (e) {

            var page = new ElecSafePage();


            $('#btnSave').click(function (e) {
                e.preventDefault();
                Alert.confirm('', '저장하시겠습니까?', function () {
                    page.saveData();

                });
            });
        });

        /* 점검년도 */
        const currentYear = new Date().getFullYear();
        const yearSelect = document.getElementById('inspec_year');
        const startYear = currentYear - 5; // 5년 전부터

        // 년도 옵션을 동적으로 생성합니다.
        for (let year = currentYear; year >= startYear; year--) {
            const option = document.createElement('option');
            option.value = year;
            option.textContent = year;
            yearSelect.appendChild(option);
        }

        // 기본 선택 년도를 현재 년도로 설정합니다.
        yearSelect.value = currentYear;

    </script>

</th:block>
</html>

