<th:block th:fragment="system_js">

<script th:inline="javascript">
var userinfo = {
    username: [[${userinfo.userProfile.name}]],    
    login_id: [[${userinfo.username}]],
    group_code: [[${userinfo.userProfile.userGroup.code}]],
    read_flag: [[${read_flag}]],
    write_flag: [[${write_flag}]],
    ip_address: "",
    crtfcKey: ""
};

var gui = {
    gui_code: [[${gui_code}]],
    template_key: [[${template_key}]],
    mqtt_host: [[${mqtt_host}]],
    mqtt_port: [[${mqtt_web_port}]],
    hmi_topic: [[${hmi_topic}]],
    action: [[${action}]],
    pk: [[${pk}]]
};

userinfo.can_read = function () {
    let result = false;
    if (userinfo.read_flag) {
        result = true;
    }
    return result;
};

userinfo.can_write = function () {
    let result = false;
    if (userinfo.write_flag) {
        result = true;
    }
    return result;
};
</script>
</th:block>