<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>순회점검등록</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>점검관리</li>
                <li>순회점검등록</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <input type="hidden" id="spuncode" name="spuncode" />


                <li>
                    <a href="#tab1" title="목록" id="listTabLink">목록</a>
                </li>
                <li>
                    <a href="#tab2" title="등록" id="inputTabLink">등록</a>
                </li>
            </ul>
            <div class="tab-contents" style="margin-bottom: 70px">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    등록일자<span class="eq">*</span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="searchfrdate" name="searchfrdate">
                                            <label for="searchfrdate" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="searchtodate" name="searchtodate">
                                            <label for="searchtodate" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="text1">
                                        점검자<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="searchusr" name="searchusr" class="input-srch" placeholder="점검자명 검색">
                                        <a href="#a" class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()"></a>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="flag">
                                        점검여부<span class="eq">*</span></dt>
                                </label>
                                <dd>
                                    <select id="flag" class="w120">
                                        <option value="">전체</option>
                                        <option value="Y">완료</option>
                                        <option value="N">미완료</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn modal_btn" title="How to Use">
                                        How to Use
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="승인" id="btnAppr">
                                        <img src="/images/icon/ico-save.svg" alt="엑셀 아이콘">
                                        승인
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-delete" title="삭제" id="btnDelete">
                                        <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                        삭제
                                    </a>
                                </li>
                                <li>
                                    <a  class="btn btn-edit" title="수정" onclick="modifyData()">
                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">
                                        수정
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-print" title="순회점검일지 출력" onclick="DownloadDoc()">
                                        <img src="/images/icon/ico-print.svg" alt="엑셀 아이콘">
                                        순회점검일지 출력
                                    </a>
                                </li>
                                <!-- 로딩 바 요소 -->
                                <div id="loadingBar">
                                    <div class="spinner"></div>
                                </div>
                            </ul>
                        </div>
                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>
                <!-- Section -->
                <section class="tab-item" id="tab2">
                    <div class="section-top">
                        <div class="title-wrap">
                            <h3>점검 등록</h3>
                        </div>
                        <div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-excell" title="신규등록" onclick="clearForm()">
                                        <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                        신규등록
                                    </a>
                                </li>
                                <!--<li>
                                    <a  class="btn btn-delete" title="삭제">
                                        <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                                        삭제
                                    </a>
                                </li>-->
                                <li>
                                    <a class="btn btn-edit" id="btnSave" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="write-table">
                            <caption>점검등록 테이블</caption>
                            <colgroup>
                                <col class="wp12">
                                <col class="wp40">
                                <col class="wp12">
                                <col class="wp40">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="supplier">
                                        도급계약명 수급사명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="supplier" name="supplier" class="wp100" maxlength="50" placeholder="도급계약명">
                                </td>
                                <th>
                                    <label for="checkdt">
                                        등록일자
                                    </label>
                                </th>
                                <td>
                                    <input type="date" id=checkdt name="checkdt" autocomplete="off">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="checkstdt">
                                        점검시작일자 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="datetime-local" id="checkstdt" name="checkstdt" autocomplete="off">
                                </td>
                                <th>
                                    <label for="checkendt">
                                        점검종료일자 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="datetime-local" id="checkendt" name="checkendt" autocomplete="off">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="checkusr">
                                        점검자
                                    </label>
                                </th>
                                <td>
                                    <div class="input-btnbox">
                                        <input type="text" id="checkusr" name="checkusr" class="wp100" placeholder="점검자" maxlength="40">
                                        <button onclick="addInputField(this)" class="mg-l8">점검자 추가</button>
                                    </div>
                                </td>
                                <th>
                                    <label for="checkarea">
                                        점검장소 <span class="req">*</span>
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="checkarea" name="checkarea" maxlength="100" class="wp100" placeholder="점검장소">
                                </td>
                            </tr>

                            <table style="margin: 15px 0px;" class="write-table doc-table">
                                <caption>sad</caption>
                                <colgroup>
                                    <col width="">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col" rowspan="2" style="width: 10%;">구분</th>
                                    <th scope="col" rowspan="2" style="width: 25%;">점검 사항</th>
                                    <th scope="col" rowspan="2" style="width: 8%;">점검 결과</th>
                                    <th scope="col" rowspan="2">개선 사항</th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="4"><span id="inspecdivision1">일반 점검 사항</span></td>
                                    <td>
                                        <span id="inspeccont1">ㅇ 작업환경 일반 사항<br>- 작업장 내부 적절한 조도 확보 여부<br>- 밀폐공간일 경우 유해가스 등 환기 여부</span>
                                        <input type="hidden" id="seq1" name="seq1" />
                                    </td>
                                    <td class="checkbox-cell"><span id="inspecresult1">O</span></td>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="inspecreform1" name="inspecreform1" maxlength="100" style="height: 60px;"></textarea>
                                            <p class="text-count" name="checkplan">0/100</p>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td><span id="inspeccont2">ㅇ 발전소 주변 유해위험 환경요소 점검<br>- 작업 또는 통행에 방해되는 폐기물 또는 적치물 방치 상태, 위험물/인화성물질 방치 상태 등</span>
                                        <input type="hidden" id="seq2" name="seq2" />
                                    </td>
                                    <td class="checkbox-cell"><span id="inspecresult2">O</span></td>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="inspecreform2" name="inspecreform2" maxlength="100" style="height: 60px;"></textarea>
                                            <p class="text-count" name="inspecreform2">0/100</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="inspeccont3">ㅇ 화재 등 위험상황 대비 관련 사항<br>- 소화기 등 비치 상태<br>- 화재 등 비상상황시 비상문, 비상대피로 확보</span>
                                        <input type="hidden" id="seq3" name="seq3" />
                                    </td>
                                    <td class="checkbox-cell"><span id="inspecresult3">O</span></td>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="inspecreform3" name="inspecreform3" maxlength="100" style="height: 60px;"></textarea>
                                            <p class="text-count" name="inspecreform3">0/100</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="inspeccont4">ㅇ 작업 전/후 정리정돈 등 환경정리 상태<br>- 작업전 작업환경 사전점검 실시<br>- 작업후 작업부산물 정리, 청소, 정리정돈 실시</span>
                                        <input type="hidden" id="seq4" name="seq4" />
                                    </td>
                                    <td class="checkbox-cell"><span id="inspecresult4">O</span></td>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="inspecreform4" name="inspecreform4" maxlength="100" style="height: 60px;"></textarea>
                                            <p class="text-count" name="inspecreform4">0/100</p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td rowspan="2"><span id="inspecdivision2">중점 점검 사항</span></td>
                                    <td>
                                        <span id="inspeccont5">ㅇ 전기작업 위험요소 점검<br>- 전기기기의 접지 상태 확인<br>- 작업 전 차단기 OFF 조치 등 전원 통전 확인</span>
                                        <input type="hidden" id="seq5" name="seq5" />
                                    </td>

                                    <td class="checkbox-cell"><span id="inspecresult5">O</span></td>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="inspecreform5" name="inspecreform5" maxlength="100" style="height: 60px;"></textarea>
                                            <p class="text-count" id="text-count2" name="checkplan">0/100</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="inspeccont6">ㅇ 고소작업 위험요소 점검<br>- 작업전 사다리 상태 점검<br>- 사다리 활용 작업시 2인 1조 작업 및 최상단  발판 금지</span>
                                        <input type="hidden" id="seq6" name="seq6" />
                                    </td>
                                    <td class="checkbox-cell"><span id="inspecresult6">O</span></td>
                                    <td>
                                        <div class="textarea-box">
                                            <textarea id="inspecreform6" name="inspecreform4" maxlength="100" style="height: 60px;"></textarea>
                                            <p class="text-count" name="inspecreform4">0/100</p>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <tr>
                                <th>
                                    첨부파일
                                </th>
                                <td colspan="3">
                                    <div id="uploadComponent1" class="upload-component">
                                        <div class="upload-filebox">
                                            <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                            <a class="btn" title="파일업로드">파일업로드</a>
                                            <input type="file" id="fileInput1" class="fileInput" multiple>
                                            <p>Maximun upload file size <span>1GiB</span></p>
                                        </div>
                                        <div class="upload-filelist">
                                            <div class="title">
                                                <h5>Files (0)</h5>
                                                <a title="Delete all" class="btn-file-deleteall">Delete
                                                    all</a>
                                            </div>
                                            <ul class="filelist" id="filelist">
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <!-- 팝업 -->
    <div class="modal">
        <div class="popup-wrapper w700" id="popup1">
            <div class="popup-title">
                <h3>점검일지 업로드</h3>
                <a title="팝업닫기" onclick="closePopup()" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="table-wrap">
                    <table class="write-table">
                        <caption>점검등록 테이블</caption>
                        <colgroup>
                            <col class="wp20">
                            <col class="wp80">
                        </colgroup>
                        <input type="hidden" id="popup-spuncode">
                        <tbody>
                        <tr>
                            <th>
                                <label for="date6">등록일자</label>
                            </th>
                            <td>
                                <div class="input-clear">
                                    <input type="text" id="popup-date" readonly>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="popup-checkusr">점검자</label>
                            </th>
                            <td>
                                <div class="input-clear">
                                    <input type="text" id="popup-checkusr" readonly class="wp60" placeholder="점검자">
                                    <span class="btn-clear">×</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="popuptext2">점검장소</label>
                            </th>
                            <td>
                                <div class="input-clear">
                                    <input type="text" id="popup-checkarea" readonly class="wp100" placeholder="점검장소">
                                    <span class="btn-clear">×</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td>
                                <div id="uploadComponent2" class="upload-component">
                                    <div class="upload-filebox" id="dropZone">
                                        <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                                        <a class="btn" title="파일업로드">파일업로드</a>
                                        <input type="file" id="fileInput2" name="filelist2"  class="fileInput2">
                                        <p id="fileNameDisplay">Maximun upload file size 1GiB</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="popup-button">
                <button onclick="closePopup()" style="border: 1px solid #03428E !important; font-size: 15px !important;">취소</button>
                <button onclick="saveFile()" style="border: 1px solid #03428E !important;color: white;background: #03428E !important;font-size: 15px !important;">저장</button>
            </div>
        </div>
    </div>


    <!-- 사용법 팝업 -->
    <div class="modal2">
        <div class="modal_popup">
            <h3 style="text-align: center; margin-bottom: 20px">화면 설명서(목록탭)</h3>
            <img src="/images/순회점검%20(2).png" style="margin-bottom: 20px" />
            <p style="margin-bottom: 8px">1. 등록 일자, 점검자, 점검 여부 등의 조건을 통해 검색하여 조회할 수 있습니다.</p>
            <p style="margin-bottom: 8px">2. 그리드 좌측에 선택기를 통하여 하나 혹은 여러 개를 선택하여 삭제할 수 있습니다.</p>
            <p style="margin-bottom: 8px">3. 그리드 좌측에 선택기를 통하여 하나를 선택하여 수정할 수 있습니다. 등록탭이 수정탭으로 변경하며 이동됩니다.</p>
            <p style="margin-bottom: 8px">4. 그리드 좌측에 선택기를 통하여 하나 혹은 여러 개를 선택하여 출력할 수 있습니다. 등록할 때의 정보와 이미지 파일을 바탕으로 PDF 파일로 변환되어 압축파일로 다운로드 됩니다.</p>
            <p style="margin-bottom: 8px">5. 그리드의 칼럼은 일자순 혹은 숫자 순 혹은 글자 순으로 정렬할 수 있습니다.</p>
            <p style="margin-bottom: 8px">6. 버튼 클릭시 모달창이 나오며 하나의 PDF파일을 등록할 수 있습니다. (그 외 정보는 변경불가능)</p>
            <p style="margin-bottom: 8px">7. 버튼 클릭시 등록한 pdf파일을 다운로드 받을 수 있습니다.</p>

            <h3 style="text-align: center; margin: 20px auto">화면 설명서(등록탭)</h3>
            <img src="/images/순회점검_등록%20(1).png" style="margin-bottom: 20px" />
            <p style="margin-bottom: 8px">1. 수급사명, 점검장소는 입력칸입니다. 등록일자, 점검시작일자, 점검종료일자는 달력 아이콘을 누르면 달력이 나와 날짜 선택이 가능합니다. 점검자는 우측에 점검자 추가 버튼을 통해 추가 가능합니다.</p>
            <p style="margin-bottom: 8px">2. 점검결과부분은 클릭하면 O 혹은 X로 변경됩니다. 개선사항은 입력칸입니다.</p>
            <p style="margin-bottom: 8px">3. 파일업로드를 클릭하여 여러개의 파일을 업로드 가능합니다. (Drag&Drop 지원) 하단의 내가 올린 파일목록을 볼 수 있습니다.</p>
            <p style="margin-bottom: 8px">4. 정보입력이 완료되었다면 저장버튼을 클릭하여 저장됩니다.</p>

            <h3 style="text-align: center; margin: 20px auto">화면 설명서(수정탭)</h3>
            <img src="/images/순회점검_수정%20(1).png" style="margin-bottom: 20px" />
            <p style="margin-bottom: 8px">1. 목록탭에서 하나의 게시물을 선택하여 수정버튼을 클릭시 기존에 등록이었던 텍스트가 수정으로 변경됩니다.</p>
            <p style="margin-bottom: 8px">2. 저장시에 입력했던 입력 사항이 나오며 수정을 원할 경우 변경하면 됩니다.</p>
            <p style="margin-bottom: 8px">3. 저장시에 입력했던 입력 사항이 나오며 수정을 원할 경우 변경하면 됩니다.</p>
            <p style="margin-bottom: 8px">4. 저장시에 저장했던 파일목록들이 나오며 수정을 원할 경우 추가 및 삭제를 통해 첨부된 파일을 수정 할 수 있습니다.</p>
            <p style="margin-bottom: 8px">5. 정보들을 모두 입력완료되었다면 저장 버튼을 클릭할시 변경된 사항이 저장됩니다.</p>
            <p style="margin-bottom: 8px">6. 신규등록 버튼을 클릭시 등록탭으로 변경되며 수정에서 등록기능으로 변경됩니다.</p>

            <button style="border: 1px solid #03428E !important; font-size: 15px !important; position: absolute; top: 10px; right: 10px" class="close_btn">닫기</button>
        </div>
    </div>

</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        const modal2 = document.querySelector('.modal2');
        const modalOpen = document.querySelector('.modal_btn');
        const modalClose = document.querySelector('.close_btn');

        //열기 버튼을 눌렀을 때 모달팝업이 열림
        modalOpen.addEventListener('click',function(){
            //display 속성을 block로 변경
            modal2.style.display = 'block';
        });
        //닫기 버튼을 눌렀을 때 모달팝업이 닫힘
        modalClose.addEventListener('click',function(){
            //display 속성을 none으로 변경
            modal2.style.display = 'none';
        });


        var theGrid;
        var viewdata;
        let selectedFiles = [];
        let SelectItem;
        let csrfToken = $("[name=_csrf]").val();

        var columns = [
            { binding: 'spworknm', header: '지역명', align: 'center', width: '0.5*', minWidth: 140 },
            { binding: 'spcompnm', header: '산단명', align: 'center', width: '0.5*', minWidth: 140 },
            { binding: 'spplannm', header: '발전소명', align: 'center', width: '*', minWidth: 140 },
            { binding: 'checkdt', header: '등록일자', align: 'center', width: '*', minWidth: 130 },
            { binding: 'checkusr', header: '점검자', align: 'center', width: '0.5*', minWidth: 130 },
            { binding: 'checkarea', header: '점검장소', align: 'center', width: '*', minWidth: 200 },
            { binding: 'checktmdt', header: '점검시간', align: 'center', width: '*', minWidth: 250 },
            { binding: 'downloads', header: '다운로드', align: 'center', width: '*', minWidth: 200 },
            { binding: 'upload', header: '점검일지 업로드', align: 'center', width: '*', minWidth: 140 },
            { binding: 'fileornm', header: '대표파일명', align: 'center', width: 0, minWidth: 0, maxWidth: 0 },
            /*{ binding: 'downloads', header: '다운로드', align: 'center', width: '*', minWidth: 200,
                cellTemplate: /!*'<a title="다운로드" class="btn-filedown">다운로드</a>'*!/
                    wijmo.grid.cellmaker.CellMaker.makeButton({
                        text: '<a title="다운로드" class="btn-filedown">다운로드</a>',
                        cssClass: 'fileuploaders',
                        click: (e, ctx) => {

                            FileDownload(ctx);
                        },
                    })
            },*/
            /*{
                header: '점검일지 업로드', binding: 'upload', width: '*', minWidth: 140, align: 'center',
                cellTemplate: /!*'<a title="업로드" onclick="showPopup()" class="btn btn-popup-open" data-popup="popup1">업로드</a>'*!/
                    wijmo.grid.cellmaker.CellMaker.makeButton({
                        text: '<a title="업로드" class="btn btn-popup-open" data-popup="popup1">업로드</a>',
                        cssClass: 'fileuploaders',
                        click: (e, ctx) => {
                            showPopup(ctx);
                        }
                    })


            }*/
        ];



        /**점검일지 업로드(파일만 전송)**/
        function saveFile(){
            let file = document.getElementById('fileInput2');
            let formData = new FormData();

            if(file.files.length === 0){
                Alert.alert('', '파일을 첨부해주세요.');
                return false;
            }

            formData.append('file', file.files[0]);
            formData.append('_csrf', csrfToken);
            formData.append('spuncode', $('#popup-spuncode').val());

            AjaxFunction.PostAjaxRequest(
                '/api/inspec_report/filesave',
                true, // async
                false, // contentType
                false, // processData
                formData,
                function (res){
                    Alert.alert('', res.message);
                    closePopup();
                    searchData();
                },
                fnFailure
            );
        }

        function clearForm(){
            ['supplier', 'checkdt', 'checkstdt', 'checkendt', 'checkusr', 'checkarea',
                'inspecreform1', 'inspecreform2', 'inspecreform3', 'inspecreform4', 'inspecreform5', 'inspecreform6'
            ].forEach(id => {
                document.getElementById(id).value = '';
            });

            ['inspecresult1', 'inspecresult2', 'inspecresult3', 'inspecresult4', 'inspecresult5', 'inspecresult6'
            ].forEach(id => {
                document.getElementById(id).textContent = 'O';
            });
            $('#spuncode').val('');
            $('.filelist').empty();



            uploadedFiles = [];
            deletedFiles = [];
            updateTabLink('spuncode');
            updateFileCount();
            resetFileInput($('.fileInput'));

        }
        // 파일 인풋 초기화
        function resetFileInput($input) {
            $input.val('');
        }

        function submitTextarea(event){
            let key = event.key || event.keyCode;

            if(key === 'Enter' || key == 13){
                searchData();
            }
        }

        let searchusrval = document.getElementById('searchusr');
        searchusrval.addEventListener('keyup', event => submitTextarea(event))


        function closePopup(){

            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 애니메이션을 위한 클래스 제거
            modal.classList.remove('show');
            modalContent.classList.remove('show');

            // 애니메이션이 끝난 후 모달을 숨기기 위해 타임아웃 설정
            setTimeout(() => {
                modal.style.display = 'none';
                modalContent.style.display = 'none';
            }, 300); // 애니메이션 지속 시간 (0.3초)과 동일하게 설정
        }

        function showPopup(rowIndex){

            let item = theGrid.rows[rowIndex].dataItem;
            let fileNameDisplay = document.getElementById('fileNameDisplay');

            $('#popup-date').val(item.checkdt);
            $('#popup-checkusr').val(item.checkusr);
            $('#popup-checkarea').val(item.checkarea);
            $('#popup-spuncode').val(item.spuncode);

            if(item.fileornm){
                fileNameDisplay.textContent = item.fileornm;
            }else{
                fileNameDisplay.textContent = 'Maxium upload file size 1GiB';
            }
            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 모달과 콘텐츠를 표시
            modal.style.display = 'block';
            modalContent.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            });
        }


        function FileDownload(rowIndex){
            //let spuncode = { spuncode: ctx.item.spuncode };

            var item = theGrid.rows[rowIndex].dataItem;
            // 다운로드 로직 처리


            let spuncode = { spuncode: item.spuncode }

            postFetchRequest('/api/inspec_report/FileDownload', spuncode, function(blob) {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'modified_documents.pdf'; // 다운로드 받을 zip 파일 이름
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url); // URL 객체 해제
            }, function(error) {
                console.error('There was a problem with the fetch operation:', error);
                Alert.alert('', error.message);
            });
        }

        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let searchusr = $('#searchusr').val();

            $.ajax({
                url: '/api/inspec_report/read',
                type: 'GET',
                data: {
                    'searchusr' : searchusr,

                },
                async: false,
                success: function(data){

                    let DataLength = 10 - data.data.length;

                    if(data.data.length < 10){

                        for(let i=0; i < DataLength; i++){
                            data.data.push('empty');
                        }
                    }
                    data2 = data.data;

                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                allowSorting: 'MultiColumn',
                isReadOnly: true,
                selectionMode: wijmo.grid.SelectionMode.Row, // 행 단위 선택
                itemsSource: viewdata,
                formatItem: function(s, e) {
                    if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                        var col = s.columns[e.col];
                        var item = s.rows[e.row].dataItem;
                        if (col.binding === 'downloads') {
                            if (item && item.downloads) {
                                e.cell.innerHTML = '<a class="btn-filedown" onclick="FileDownload(' + e.row + ')">다운로드</a>';
                            } else {
                                e.cell.innerHTML = ''; // 다운로드 버튼이 표시되지 않도록 빈 문자열 설정
                            }
                        }else if(col.binding === 'upload') {
                            if (item && item.upload) {
                                e.cell.innerHTML = '<button type="button" class="wj-cell-maker fileuploaders"><a title="업로드" class="btn btn-popup-open" onclick="showPopup(' + e.row + ')" data-popup="popup1">업로드</a></button>';
                            } else {
                                e.cell.innerHTML = ''; // 다운로드 버튼이 표시되지 않도록 빈 문자열 설정
                            }
                        }
                    }
                }
            });

            /*theGrid.formatItem.addHandler(function (s, e) {
                console.log("s: ", s)

                /!*if(s._rows)*!/
            })*/

            let selector = new wijmo.grid.selector.Selector(theGrid, {
                itemChecked: (e, ctx) => {
                    SelectItem = theGrid.rows.filter(r => r.isSelected);

                }
            })

            theGrid.hostElement.addEventListener('dblclick', function(e){
                let hitTest = theGrid.hitTest(e);
                if (hitTest.cellType === wijmo.grid.CellType.Cell) {
                    let row = hitTest.row;
                    let item = theGrid.rows[row].dataItem;
                    console.log('Row double-clicked:', item);
                    console.log('Row double-clicked22:', SelectItem);

                    if(item === 'empty' || item.checkdt === undefined){ return; }

                    if(theGrid.rows.filter(r => r.isSelected).length > 0){
                        console.log('선택값: ', theGrid.rows.filter(r => r.isSelected))
                        Alert.alert('', '선택기에 선택된 값이 있습니다.');
                        return false;
                    }
                    let spuncode = item.spuncode;
                    let jsonSpunCode = JSON.stringify(spuncode);

                    AjaxFunction.PostAjaxRequest('/api/inspec_report/modfind', false, 'application/json', true, jsonSpunCode, function (data) {

                        let inputFields = document.querySelectorAll('.addusr');
                        if (inputFields) {

                            inputFields.forEach(r => {
                                deleteInputField(r);
                            })

                        }

                        let data2 = data.data;
                        console.log('data2', data2);
                        $('#inputTabLink').click();

                        let str = data2.checkdt;
                        let year = str.substring(0, 4);
                        let month = str.substring(4, 6);
                        let day = str.substring(6, 8);

                        let formattedDate = `${year}-${month}-${day}`;

                        document.getElementById('spuncode').value = data2.spuncode;
                        document.getElementById('supplier').value = data2.supplier;
                        document.getElementById('checkdt').value = formattedDate;
                        document.getElementById('checkstdt').value = data2.checkstdt;
                        document.getElementById('checkendt').value = data2.checkendt;
                        document.getElementById('checkusr').value = data2.checkusr;
                        document.getElementById('checkusr').value = data2.checkusr;
                        document.getElementById('checkarea').value = data2.checkarea;



                        console.log()
                        for (let i = 0; i < data2.inspecitem.length; i++) {
                            updateElementText('inspecresult', i, data2.inspecitem[i].inspecresult);
                            updateElementText('inspecreform', i, data2.inspecitem[i].inspecreform);

                            let str = "seq" + (i+1);
                            document.getElementById(str).value = data2.inspecitem[i].seq;

                        }


                        //탭 수정으로 업더이트
                        updateTabLink('spuncode');

                        let fileList = Array.isArray(data2.filelist) ? data2.filelist : [];
                        deletedFiles = [];
                        uploadedFiles = [];
                        $('.filelist').empty(); // 파일 리스트 초기화

                        fileList.forEach(file => {
                            let newFile = {
                                name: file.fileornm,
                                size: file.filesize,
                                type: file.fileextns,
                                spuncode_id: file.spuncode_id,
                                checkseq: file.checkseq,
                                filepath: file.filepath,
                                filesvnm: file.filesvnm

                            };
                            uploadedFiles.push(newFile); // 파일 리스트에 추가
                        });
                        console.log('파일목록확인', uploadedFiles)
                        updateFileListUI();
                        updateFileCount();

                    }, fnFailure)

                }
            })

            // 선택이 변경될 때, 현재 항목 업데이트

            //theGrid.rowHeaders.columns.splice(0,1);  //맨 앞에 헤더부분 없애기
        }
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        let filelist = [];



        //검색
        function searchData(){
            let data = {
                'searchusr' : $('#searchusr').val(),
                'searchfrdate': $('#searchfrdate').val(),
                'searchtodate': $('#searchtodate').val(),
                'searchflag' : $('#flag').val()
            }
            let data2 = [];
            let result =  AjaxUtil.getSyncData('/api/inspec_report/read', data);
            //선택기 그리드면 이거
            if(result.success){
                console.log(result.data);

                let DataLength = 10 - result.data.length;

                if(result.data.length < 10){
                    for(let i=0; i < DataLength; i++){
                        result.data.push('empty');
                    }
                }

                grid_binding(result.data);
            }

            /*if(result.success){
                console.log(result.data);
                let DataLength = 10 - result.data.length;
                if(result.data.length < 10){
                    for(let i=0; i < DataLength; i++){
                        result.data.push('empty');
                    }
                }
                data2 = result.data
                viewdata = new wijmo.collections.CollectionView(data2);
                theGrid.itemsSource = viewdata;

                let selector = new wijmo.grid.selector.Selector(theGrid, {
                    itemChecked: (e, ctx) => {
                        // 선택된 항목들을 초기화 (선택 해제)
                        theGrid.select(-1, -1);  // 그리드에서 모든 행의 선택을 해제

                    }
                });

                SelectItem = undefined;

                //grid_binding(result.data);
            }*/
        }

        function grid_binding(data){
            var inspecDto = data;
            var inspecData = [];
            var cnt = 1;
            for (let i = 0; i < inspecDto.length; i++) {
                inspecData.push({
                    spuncode: inspecDto[i]["spuncode"],
                    spworknm: inspecDto[i]["spworknm"],
                    spcompnm: inspecDto[i]["spcompnm"],
                    spplannm: inspecDto[i]["spplannm"],
                    checkdt: inspecDto[i]["checkdt"],
                    checkusr: inspecDto[i]["checkusr"],
                    checkarea: inspecDto[i]["checkarea"],
                    checktmdt: inspecDto[i]["checktmdt"],
                    downloads: inspecDto[i]["downloads"],
                    upload:    inspecDto[i]["upload"],
                    fileornm:  inspecDto[i]["fileornm"]

                });
                cnt++;
            }

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;
            viewdata.sourceCollection = inspecData;


            for (var i = 0; i < columns.length; i++) {
                var col = new wijmo.grid.Column(columns[i]);
                theGrid.columns.push(col);
            }
            SelectItem = undefined;


        }
        /*function SelectItemPush(){

            let selectedList = [];
            for(let i = 0; i < SelectItem.length; i++){
                selectedList.push(SelectItem[i]._data.spuncode);
            }
            return selectedList;
        }*/



        function DownloadDoc() {

            if(SelectItem === undefined || SelectItem.length === 0){
                Alert.alert('', '출력할 항목을 선택하세요.');
                return;
            }

            if(!checkEmptySelectedItem(SelectItem, 'checkdt')){
                Alert.alert('', '빈 값은 불가능합니다.');
                return;
            }

            // 로딩 바 표시
            showLoadingBar();
            let selectedList = SelectItemPush(SelectItem, '_data.spuncode');

            postFetchRequest('/api/inspec_report/download-docs', selectedList, function(blob) {



                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'modified_documents.zip'; // 다운로드 받을 zip 파일 이름
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url); // URL 객체 해제


            }, function(error) {
                console.error('There was a problem with the fetch operation:', error);
                Alert.alert('', "File download failed!");

            });


        }


        //리팩터링 코드
        function updateElementText(elementIdPrefix, index, textContent) {
            let elementId = elementIdPrefix + (index + 1);
            let element = document.getElementById(elementId);
            console.log('element: ', element);
            console.log('textContent: ', textContent);

            if (element) {
                if (element.tagName.toLowerCase() === 'input' || element.tagName.toLowerCase() === 'textarea') {
                    element.value = textContent;
                } else {
                    element.textContent = textContent;
                }
            } else {
                console.warn(`Element with id ${elementId} not found.`);
            }
        }


        function modifyData(){

            if(SelectItem === undefined || SelectItem.length === 0){
                Alert.alert('', '수정할 항목을 선택하세요.');
                return;
            }else if(SelectItem.length > 1){
                Alert.alert('', '하나의 항목만 선택해주세요');
                return;
            }
            let selectedItem = SelectItem[0];

            console.log('현재', selectedItem);
            console.log('현재2', SelectItem);

            let spuncode = selectedItem._data.spuncode;

            if(!selectedItem._data.spuncode){
                Alert.alert('', '수정할 게시물이 없습니다.', function () {

                });
                return false;
            }
            let jsonSpunCode = JSON.stringify(spuncode);
            AjaxFunction.PostAjaxRequest('/api/inspec_report/modfind', false, 'application/json', true, jsonSpunCode, function (data) {
                let data2 = data.data;
                console.log('data2', data2);
                $('#inputTabLink').click();

                let str = data2.checkdt;
                let year = str.substring(0, 4);
                let month = str.substring(4, 6);
                let day = str.substring(6, 8);

                let formattedDate = `${year}-${month}-${day}`;

                document.getElementById('spuncode').value = data2.spuncode;
                document.getElementById('supplier').value = data2.supplier;
                document.getElementById('checkdt').value = formattedDate;
                document.getElementById('checkstdt').value = data2.checkstdt;
                document.getElementById('checkendt').value = data2.checkendt;
                document.getElementById('checkusr').value = data2.checkusr;
                document.getElementById('checkusr').value = data2.checkusr;
                document.getElementById('checkarea').value = data2.checkarea;



                console.log()
                for (let i = 0; i < data2.inspecitem.length; i++) {
                    updateElementText('inspecresult', i, data2.inspecitem[i].inspecresult);
                    updateElementText('inspecreform', i, data2.inspecitem[i].inspecreform);

                    let str = "seq" + (i+1);
                    document.getElementById(str).value = data2.inspecitem[i].seq;

                }


                //탭 수정으로 업더이트
                updateTabLink('spuncode');

                let fileList = Array.isArray(data2.filelist) ? data2.filelist : [];
                deletedFiles = [];
                uploadedFiles = [];
                $('.filelist').empty(); // 파일 리스트 초기화

                fileList.forEach(file => {
                    let newFile = {
                        name: file.fileornm,
                        size: file.filesize,
                        type: file.fileextns,
                        spuncode_id: file.spuncode_id,
                        checkseq: file.checkseq,
                        filepath: file.filepath,
                        filesvnm: file.filesvnm

                    };
                    uploadedFiles.push(newFile); // 파일 리스트에 추가
                });
                console.log('파일목록확인', uploadedFiles)
                updateFileListUI();
                updateFileCount();

            }, fnFailure)

        }

        //이거는 따로 못뺀다.
        function updateFileCount() {
            const fileCount = uploadedFiles.length;
            $('.upload-filelist .title h5').text(`Files (${fileCount})`);
        }


        document.addEventListener("DOMContentLoaded", function() {
            updateTabLink('spuncode');
        });

        let fnSuccess = function (res){
            Alert.alert('', res.message, function(){
                $('#listTabLink').click();
                searchData();
                clearForm();

                let inputFields = document.querySelectorAll('.addusr');
                if (inputFields) {

                    inputFields.forEach(r => {
                        deleteInputField(r);
                    })

                }
            });
        }


        let fnFailure = function(){
            Alert.alert('', '에러가발생하였습니다.');
        }

        $(document).ready(function (e) {

            const fileInput = document.getElementById('fileInput2');
            const fileNameDisplay = document.getElementById('fileNameDisplay');
            const dropZone = document.getElementById('dropZone');

            function updateFileName() {
                const files = fileInput.files;
                if (files.length > 0) {
                    fileNameDisplay.textContent = files[0].name;
                } else {
                    fileNameDisplay.textContent = 'Maximum upload file size 1GiB';
                }
            }

            fileInput.addEventListener('change', updateFileName);

            // 드래그 앤 드롭 이벤트 핸들러
            dropZone.addEventListener('dragover', (event) => {
                event.preventDefault();
                dropZone.classList.add('dragover');
            });

            dropZone.addEventListener('dragleave', (event) => {
                event.preventDefault();
                dropZone.classList.remove('dragover');
            });

            dropZone.addEventListener('drop', (event) => {
                event.preventDefault();
                dropZone.classList.remove('dragover');

                const files = event.dataTransfer.files;
                if (files.length > 0) {
                    fileInput.files = files; // 파일 입력 요소에 파일 설정
                    updateFileName(); // 파일명 업데이트
                }
            });



            // 저장 시작
            $('#btnSave').click(function (e){


                Alert.confirm('', '저장하시겠습니까?', function() {

                        let formData = new FormData();

                        // 점검항목 값 가져오기
                        const table = document.querySelector('table.doc-table');
                        const rows = table.querySelectorAll('tbody tr');
                        let results = [];
                        let currentDivision = '';

                        rows.forEach((row, index)=> {
                            let cells = row.querySelectorAll('td');

                            // Check if the first cell has rowspan attribute, indicating a new division
                            if (cells[0].hasAttribute('rowspan')) {
                                currentDivision = cells[0].innerText.trim();
                            } else {
                                cells = Array.from(cells);
                                cells.unshift(document.createElement('td')); // Insert a placeholder cell
                            }

                            const inspectionItem = cells[1].innerText.trim().replace(/\n/g, ' ');
                            const inspectionResult = cells[2].innerText.trim();
                            const improvement = cells[3].querySelector('textarea').value;

                            const seqId = `seq${index + 1}`;
                            const seqElement = document.getElementById(seqId);
                            let seqValue = '';

                            if(seqElement){
                                seqValue = seqElement.value.trim();
                            }

                            const combinedText = `${currentDivision}@ ${inspectionItem}@ ${inspectionResult}@ ${improvement}@ ${seqValue}`;
                            console.log('combinedText: ', combinedText);
                            formData.append('doc-list', combinedText);



                            results.push(combinedText);
                        });
                        // 점검항목 값 가져오기 끝, 코드작성 의도 -> 점검항목이 나중에 바뀌고 갯수도 바뀌고 했을때 동적으로 서버에 값을 넘기고 서버에서 분기해서 처리함
                        console.log('파일확인2', uploadedFiles)
                        for (let i = 0; i < uploadedFiles.length; i++) {
                            formData.append('filelist', uploadedFiles[i]);
                        }

                        let SpunCodeValue = $('#spuncode').val();
                        let randomString;

                        if(SpunCodeValue === ""){
                            randomString = generateRandomStringWithDate();
                        }else{
                            randomString = SpunCodeValue;
                        }


                        var inputs = document.querySelectorAll('input[name="checkusr"]');
                        var values = [];

                        inputs.forEach(function (input) {
                            values.push(input.value);

                        })

                        var checkusrString = values.join(',');


                        // 다른 데이터를 FormData에 추가합니다.
                        formData.append('supplier', $('#supplier').val());
                        formData.append('checkdt', $('#checkdt').val());
                        formData.append('checkstdt', $('#checkstdt').val());
                        formData.append('checkendt', $('#checkendt').val());
                        formData.append('checkusr', checkusrString); // 이미 문자열로 변환된 checkusr
                        formData.append('checkarea', $('#checkarea').val());
                        formData.append('randomuuid', randomString);
                        //formData.append('_csrf', $('[name=_csrf]').val());
                        formData.append('_csrf', csrfToken);
                        formData.append('ReformList', $('#inspecreform1').val());
                        formData.append('ReformList', $('#inspecreform2').val());
                        formData.append('ReformList', $('#inspecreform3').val());
                        formData.append('ReformList', $('#inspecreform4').val());
                        formData.append('ReformList', $('#inspecreform5').val());


                        // 삭제된 파일 목록 추가
                        deletedFiles.forEach((file, index) => {
                            formData.append('deletedFiles', new Blob([JSON.stringify(file)], { type: 'application/json' }));
                        });

                        AjaxFunction.PostAjaxRequest('/api/inspec_report/save', true, false, false, formData, fnSuccess, fnFailure)

                    },

                )
            })

            //승인
            $('#btnAppr').click(function (e){
                if(SelectItem === undefined || SelectItem.length === 0){
                    Alert.alert('', '승인할 항목을 선택하세요.');
                    return;
                }

                if(!checkEmptySelectedItem(SelectItem, 'checkdt')){
                    Alert.alert('', '빈 값은 불가능합니다.');
                    return;
                }

                let apprList = [];

                apprList = SelectItemPush(SelectItem, '_data.spuncode');


                Alert.confirm('', '승인하시겠습니까?', function () {
                    let data = {
                        'spuncode': JSON.stringify(apprList),
                        '_csrf': csrfToken
                    }
                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', '처리되었습니다.');
                            searchData();
                        }
                    }
                    AjaxUtil.postAsyncData('/api/inspec_report/approve', data, fnSuccess);
                })
            })

            //삭제
            $('#btnDelete').click(function (e) {
                console.log('z', SelectItem);
                if(SelectItem === undefined || SelectItem.length === 0){
                    Alert.alert('', '삭제할 항목을 선택하세요.');
                    return;
                }
                if(!checkEmptySelectedItem(SelectItem, 'checkdt')){
                    Alert.alert('', '빈 항목은 불가합니다.');
                    return;
                }


                let delList = [];

                delList = SelectItemPush(SelectItem, '_data.spuncode');

                console.log('삭제확인', delList);
                Alert.confirm('', '삭제하시겠습니까?', function () {
                    let data = {
                        'spuncode': JSON.stringify(delList),
                        '_csrf': csrfToken
                    }
                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', '삭제되었습니다.');
                            searchData();
                        }
                    }
                    AjaxUtil.postAsyncData('/api/inspec_report/delete', data, fnSuccess);
                })
            })
        });
    </script>
</th:block>
</html>