<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">


    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>순회점검 통계</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>점검관리</li>
                <li>순회점검 관리</li>
                <li>순회점검 통계</li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tab-wrap" style="margin-bottom: 80px">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="순회점검 통계">순회점검 통계</a>
                </li>

            </ul>
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab1">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    <label for="text1">
                                        조회기간<span class="eq">*</span>
                                    </label>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li style="cursor: default; list-style-image: none;">
                                            <input type="date" id="searchfrdate" name="searchfrdate">
                                            <label for="searchfrdate" class="hide"></label>
                                        </li>
                                        <li style="cursor: default; list-style-image: none;">
                                            <input type="date" id="searchtodate" name="searchtodate">
                                            <label for="searchtodate" class="hide"></label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="select1">
                                        기간<span class="eq">*</span></label></dt>

                                <dd>
                                    <select id="select1" class="w120">
                                        <option>월별</option>
                                        <option>분기별</option>
                                        <option>일별</option>
                                        <option>년별</option>
                                    </select>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label for="text1">
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <div class="input-clear"></div>
                                        <a href="#a" class="btn-srch" id="searchgrid" title="검색" onclick="searchData()" onkeyup="searchData()" style="border-radius: 7px;"></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!--<div class="button-wrap">
                            <ul>
                                <li>
                                    <a class="btn btn-save" title="저장">
                                        <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                        저장
                                    </a>
                                </li>
                            </ul>
                        </div>-->
                    </div> <!--//section-top end -->
                    <div class="row">
                        <div class="wp60 mg-r20" style="border: 1px solid black; width: 80% !important; height: 523px;">
                            <img src="/images/순회점검통계그래프2.png"/>
                        </div>
                        <div class="col wp40" style="width: 20% !important;">
                            <div class="section">
                                <div class="table-wrap">
                                    <div class="container-fluid">
                                        <p id="selectedItem"></p>
                                        <div id="theGrid" style="height: 523px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section -->

                <!-- Section -->


            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <!-- 팝업 -->

</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader" ></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box" ></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;
        let selectedFiles = [];
        let SelectItem;
        let csrfToken = $("[name=_csrf]").val();

        var columns = [
            { binding: 'date', header: '일자', width: '*', minWidth: 140 },
            { binding: 'baljun', header: '2024', width: '*', minWidth: 140 },

        ];



        /**점검일지 업로드(파일만 전송)**/
        function saveFile(){
            let file = document.getElementById('fileInput2');
            let formData = new FormData();

            console.log('file123', file.files);

            if(file.files.length === 0){
                Alert.alert('', '파일을 첨부해주세요.');
                return false;
            }

            formData.append('file', file.files[0]);
            //formData.append('_csrf', $('[name=_csrf]').val());
            formData.append('_csrf', csrfToken);
            formData.append('spuncode', $('#popup-spuncode').val());

            $.ajax({
                url: '/api/inspec_report/filesave',
                type: 'POST',
                data: formData,
                processData: false,  // 기본적으로 jQuery는 데이터를 문자열로 변환하려고 하므로 이를 비활성화
                contentType: false,  // 기본적으로 jQuery는 Content-Type을 설정하려고 하므로 이를 비활성화
                success: function (response) {
                    if (response.success) {
                        Alert.alert('', response.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Alert.alert('', '에러가발생하였습니다.');
                }
            });
        }




        function submitTextarea(event){
            let key = event.key || event.keyCode;

            if(key === 'Enter' || key == 13){
                searchData();
            }
        }




        function closePopup(){
            /*const modal2 = document.querySelector('.modal');
            const modalOpen = document.querySelector('.popup-wrapper');
            modal2.style.display = 'none';
            modalOpen.style.display = 'none';*/
            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 애니메이션을 위한 클래스 제거
            modal.classList.remove('show');
            modalContent.classList.remove('show');

            // 애니메이션이 끝난 후 모달을 숨기기 위해 타임아웃 설정
            setTimeout(() => {
                modal.style.display = 'none';
                modalContent.style.display = 'none';
            }, 300); // 애니메이션 지속 시간 (0.3초)과 동일하게 설정
        }

        function showPopup(ctx){

            $('#popup-date').val(ctx.item.checkdt);
            $('#popup-checkusr').val(ctx.item.checkusr);
            $('#popup-checkarea').val(ctx.item.checkarea);
            $('#popup-spuncode').val(ctx.item.spuncode);

            const modal = document.querySelector('.modal');
            const modalContent = document.querySelector('.popup-wrapper');

            // 모달과 콘텐츠를 표시
            modal.style.display = 'block';
            modalContent.style.display = 'block';

            // 애니메이션을 위한 클래스 추가
            requestAnimationFrame(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            });



        }

        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            let data2 = [];
            let searchusr = $('#searchusr').val();

            data2.push({
                date: '24.01',
                baljun: '661'
            })

            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })
            data2.push({
                date: '24.01',
                baljun: '661'
            })



            viewdata = new wijmo.collections.CollectionView(data2);
            // 데이터 그리드에 바인딩
            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                itemsSource: viewdata
            });

            theGrid.columnFooters.rows.push(new wijmo.grid.GroupRow());
            theGrid.bottomLeftCells.setCellData(0, 0, 'Σ');
            theGrid.columnFooters.setCellData(0, 0, '계');
            theGrid.rowHeaders.columns.splice(0, 1);





            // 선택이 변경될 때, 현재 항목 업데이트

            //theGrid.rowHeaders.columns.splice(0,1);  //맨 앞에 헤더부분 없애기
        }
        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->

        <!-- 점검자 추가 버튼 이벤트-->
        function addInputField(button) {
            // 새로운 td 요소를 생성합니다.
            var newTd = document.createElement('div');
            newTd.className = 'input-btnbox';

            // 새로운 input 요소를 생성합니다.
            var newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.className = 'wp100';
            newInput.placeholder = '점검자';
            newInput.name = 'checkusr'
            newInput.maxLength = 5;

            // 삭제 버튼을 생성합니다.
            var deleteButton = document.createElement('button');
            deleteButton.textContent = '점검자 삭제';
            deleteButton.onclick = function() {
                deleteInputField(newInput); // 삭제 버튼을 클릭하면 해당 입력 필드를 삭제하는 함수 호출
            };
            deleteButton.style.marginLeft = '8px'; // 삭제 버튼에 직접 style 속성을 사용하여 margin-left을 설정합니다.
            deleteButton.style.color = 'red';
            deleteButton.style.marginTop = '5px';
            // 새로운 td에 input 요소와 삭제 버튼을 추가합니다.
            newTd.appendChild(newInput);
            newTd.appendChild(deleteButton);

            // 클릭된 버튼의 부모 td 요소를 찾습니다.
            var parentTd = button.parentElement;

            // 부모 td 요소 다음에 새로운 td 요소를 추가합니다.
            parentTd.parentElement.insertBefore(newTd, parentTd.nextSibling);
        }

        function deleteInputField(inputField) {
            // 입력 필드의 부모 요소(td)를 찾아서 삭제합니다.
            var tdToDelete = inputField.parentElement;
            tdToDelete.parentElement.removeChild(tdToDelete);
        }

        <!-- 점검자 추가 버튼 이벤트 끝-->

        let filelist = [];



        //검색
        function searchData(){
            let data = {
                'searchusr' : $('#searchusr').val(),
                'searchfrdate': $('#searchfrdate').val(),
                'searchtodate': $('#searchtodate').val()
            }

            let result =  AjaxUtil.getSyncData('/api/inspec_report/read', data);

            if(result.success){
                console.log(result.data);
                grid_binding(result.data);
            }
        }

        function grid_binding(data){
            var inspecDto = data;
            var inspecData = [];
            var cnt = 1;
            for (var i = 0; i < inspecDto.length; i++) {
                inspecData.push({
                    spuncode: inspecDto[i]["spuncode"],
                    spworknm: inspecDto[i]["spworknm"],
                    spcompnm: inspecDto[i]["spcompnm"],
                    spplannm: inspecDto[i]["spplannm"],
                    checkdt: inspecDto[i]["checkdt"],
                    checkusr: inspecDto[i]["checkusr"],
                    checkarea: inspecDto[i]["checkarea"],
                    checktmdt: inspecDto[i]["checktmdt"],

                });
                cnt++;
            }

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;
            viewdata.sourceCollection = inspecData;

            for (var i = 0; i < columns.length; i++) {
                var col = new wijmo.grid.Column(columns[i]);
                theGrid.columns.push(col);
            }


        }
        function SelectItemPush(){

            let selectedList = [];
            for(let i = 0; i < SelectItem.length; i++){
                selectedList.push(SelectItem[i]._data.spuncode);
            }
            return selectedList;
        }

        function DownloadDoc() {

            let selectedList = SelectItemPush();


            console.log('selected', selectedList);

            //csrf토큰은 바디가 아니라 헤더에 포함하는거구나 기억해두자 개념이 부족하다.
            fetch('/api/inspec_report/download-docs', {
                method: 'POST',
                headers: {
                    "Content-Type" : "application/json",
                    "X-CSRF-TOKEN": csrfToken
                },
                body: JSON.stringify(selectedList)  //JSON으로 전송된다.
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'modified_documents.zip'; // 다운로드 받을 zip 파일 이름
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url); // URL 객체 해제
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert("File download failed!");
                });
        }


        $(document).ready(function (e) {

            const fileInput = document.getElementById('fileInput2');
            const fileNameDisplay = document.getElementById('fileNameDisplay');
            const dropZone = document.getElementById('dropZone');


            //점검결과 클릭시 텍스트 순환
            $('.checkbox-cell').click(function() {
                const span = $(this).find('span');
                if (span.text() === 'X') {
                    span.text('O');
                } else if (span.text() === 'O') {
                    span.text('X');
                }
            });



            // 저장 시작
            $('#btnSave').click(function (e){


                Alert.confirm('', '저장하시겠습니까?', function() {

                        let formData = new FormData();

                        // 점검항목 값 가져오기
                        const table = document.querySelector('table.doc-table');
                        const rows = table.querySelectorAll('tbody tr');
                        let results = [];
                        let currentDivision = '';

                        rows.forEach(row => {
                            let cells = row.querySelectorAll('td');

                            // Check if the first cell has rowspan attribute, indicating a new division
                            if (cells[0].hasAttribute('rowspan')) {
                                currentDivision = cells[0].innerText.trim();
                            } else {
                                cells = Array.from(cells);
                                cells.unshift(document.createElement('td')); // Insert a placeholder cell
                            }

                            const inspectionItem = cells[1].innerText.trim().replace(/\n/g, ' ');
                            const inspectionResult = cells[2].innerText.trim();
                            const improvement = cells[3].querySelector('textarea').value.trim();

                            const combinedText = `${currentDivision}@ ${inspectionItem}@ ${inspectionResult}@ ${improvement}`;
                            console.log('combinedText: ', combinedText);
                            formData.append('doc-list', combinedText);

                            results.push(combinedText);
                        });
                        // 점검항목 값 가져오기 끝, 코드작성 의도 -> 점검항목이 나중에 바뀌고 갯수도 바뀌고 했을때 동적으로 서버에 값을 넘기고 서버에서 분기해서 처리함

                        for (let i = 0; i < uploadedFiles.length; i++) {
                            formData.append('filelist', uploadedFiles[i]);
                        }

                        const randomString = generateRandomStringWithDate();

                        var inputs = document.querySelectorAll('input[name="checkusr"]');
                        var values = [];

                        inputs.forEach(function (input) {
                            values.push(input.value);

                        })

                        var checkusrString = values.join(',');


                        // 다른 데이터를 FormData에 추가합니다.
                        formData.append('supplier', $('#supplier').val());
                        formData.append('checkdt', $('#checkdt').val());
                        formData.append('checkstdt', $('#checkstdt').val());
                        formData.append('checkendt', $('#checkendt').val());
                        formData.append('checkusr', checkusrString); // 이미 문자열로 변환된 checkusr
                        formData.append('checkarea', $('#checkarea').val());
                        formData.append('randomuuid', randomString);
                        //formData.append('_csrf', $('[name=_csrf]').val());
                        formData.append('_csrf', csrfToken);
                        formData.append('ReformList', $('#inspecreform1').val());
                        formData.append('ReformList', $('#inspecreform2').val());
                        formData.append('ReformList', $('#inspecreform3').val());
                        formData.append('ReformList', $('#inspecreform4').val());
                        formData.append('ReformList', $('#inspecreform5').val());


                        $.ajax({
                            url: '/api/inspec_report/save',
                            type: 'POST',
                            data: formData,
                            processData: false,  // 기본적으로 jQuery는 데이터를 문자열로 변환하려고 하므로 이를 비활성화
                            contentType: false,  // 기본적으로 jQuery는 Content-Type을 설정하려고 하므로 이를 비활성화
                            success: function (response) {
                                if (response.success) {
                                    Alert.alert('', response.message);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                Alert.alert('', '에러가발생하였습니다.');
                            }
                        });


                    },
                    function () {
                    }
                )
            })


            //삭제
            $('#btnDelete').click(function (e) {

                let delList = [];

                delList = SelectItemPush();

                console.log('삭제확인', delList);
                Alert.confirm('', '삭제하시겠습니까?', function () {

                    let data = {
                        'spuncode': JSON.stringify(delList),
                        '_csrf': csrfToken
                    }

                    let fnSuccess = function (res) {
                        if (res.success) {
                            Alert.alert('', '삭제되었습니다.');
                            searchData();
                        }
                    }

                    AjaxUtil.postAsyncData('/api/inspec_report/delete', data, fnSuccess);


                })
            })


        });
    </script>
</th:block>

</html>