<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
<div class="content_wrap">
    <section class="section ">

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="업체별 월수주량">업체별 월수주량</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderRefresh" title="새로고침"><i class="fas fa-undo-alt"></i></button>
        </div>


        <div class="table_box search" >
        <form id="searchForm" autocomplete="off">

            <div class="row" >

                <div class="col-6 col-md-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="연도">연도</span>
                        </div>
                        <select class="form-control2" id="cboYear" name="cboYear" ></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="업체">업체</span>
                        </div>
                        <select class="form-control2" id="cboCompany" name="cboCompany" ></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="제품그룹">제품그룹</span>
                        </div>
                        <select class="form-control2" id="cboMatGrp" name="cboMatGrp" ></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-xl-2" >
                    <div class="input-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="조회데이터">조회데이터</span>
                        </div>
                        <select class="form-control2" id="cboDataDiv" name="cboDataDiv" >
                            <option value="qty">수량</option>
                            <option value="money">금액</option>
                        </select>
                    </div>
                </div>

                <div class="col-1" >
                    <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                </div> 

            </div>
        </form>

        </div>
    </section>

    <section class="section ">
        <div class="grid_box">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="업체별 수주량">업체별 수주량</span>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>

            </div>

            <div class=" h-600" data-ax5grid="suju-month-grid">
            </div>
        </div>
    </section>
</div>
</th:block>
<th:block layout:fragment="scripts">
<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
<script type="text/javascript">
    class SujuMonthPage {
        constructor() {
            this.grid = null;
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="suju-month-grid"]'),
                sortable: true,
                frozenColumnIndex: 7, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: true, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                    },
                    mergeCells: ['mat_grp_name','mat_code','mat_name','unit_name']
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
               columns: [
                    { key: 'mat_grp_name', label: '제품그룹', width: 100, align: 'center'},
                    { key: 'mat_code', label: '제품코드', width: 150, align: 'center'},
                    { key: 'mat_name', label: '제품명', width: 150, align: 'left' },
                    { key: 'unit_name', label: '단위', width: 70, align: 'center', sortable: false },
                    {  key: 'year_qty_sum', label: '연수주량', width: 100, align: 'right', formatter: 'money' },
                    {  key: 'year_money_sum', label: '연수주액', width: 100, align: 'right', formatter: 'money' },
                    { key: 'company_name', label: '업체', width: 200, align: 'left', sortable: false },
                   {
                       key: 'mon_1', label: '1월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_2', label: '2월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_3', label: '3월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_4', label: '4월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_5', label: '5월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_6', label: '6월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_7', label: '7월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_8', label: '8월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_9', label: '9월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_10', label: '10월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_11', label: '11월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                   {
                       key: 'mon_12', label: '12월', width: 80, align: 'right', sortable: false,
                       formatter: 'money'
                   },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config; 

        }

        searchMainData() {
            let url = '/api/summary/suju_month_summary/read'
            let data = {
				'cboYear' : $("#cboYear").val(),
				'cboCompany' : $("#cboCompany").val(),
				'cboMatGrp' : $("#cboMatGrp").val(),
				'cboDataDiv' : $("#cboDataDiv").val()
			}
            let result = AjaxUtil.getSyncData(url, data);
            if (result != null) {
                this.grid.setData({
                    list: result.data,
                    page: {
                        display: true,
                        totalElements: result.length,
                    },
                });
            }
        }

        //엑셀다운로드
        exportExcel() {
            var targetview = this.grid;
            // 현재 html코드로 데이터 만들어 확장자만 xls로 변경해주고 있음
            targetview.exportExcel('월수주량.xls');
        }
    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new SujuMonthPage();
        AjaxUtil.fillSelectOptions($('#searchForm').find('#cboMatGrp'), 'material_group', 'all', false, 'product');
        AjaxUtil.fillSelectOptions($('#searchForm').find('#cboYear'), 'data_year', '', false);

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        page.searchMainData();

            // 검색
        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });
        //cboCompany
        AjaxUtil.fillSelectOptions($('#cboCompany'), 'company', 'all', '');

        //엑셀
        $('#btnExcel').click(function (e) {
            page.exportExcel();
        });


        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

    });


</script>
</th:block>